!!! 5
%html
    %head

        /= SCRIPTS
        %script{src:"lib/jquery.js"}
        %script{src:"lib/underscore.js"}
        %script{src:"highlight.js"}
        %script{src:"diff.js"}
        %script{src:"main.js"}

        /= STYLES
        %link{href:'style.css',rel:'stylesheet'}
        %link{href:'style.less',rel:'stylesheet/less'}
        %link{href:'http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css',rel:'stylesheet',type:'text/css'}
        %link{href:'http://fonts.googleapis.com/css?family=Varela+Round',rel:'stylesheet',type:'text/css'}
        %link{href:"diff.css",rel:"stylesheet"}
    %body
        /= HEADER
        #header
            #title.h RPI Data Structures
            #user.h.header-button
                user
                %i.fa.fa-caret-down
            #assignment.h.header-button
                [0] Diff Test
                %i.fa.fa-caret-down
        /= BODY
        #container.h
            #diff0.diff
            #diff1.diff

        / HIDDEN ELEMENTS

        / Dropdown box
        #dropdown
            #dd0.dropdown-item [0] Diff Test
            #dd1.dropdown-item [1] Diff Test
            #dd2.dropdown-item [2] Diff Test
            #dd3.dropdown-item [3] Diff Test
            #dd4.dropdown-item [4] Diff Test

        /= SCRIPTS TO LOAD LATER
        %script{src:'lib/less-debug.js'}
        %script{src:'lib/less.min.js'}