.h,
.diff {
  display: inline-block;
}
body,
html {
  margin: 0px;
  padding: 0px;
  min-width: 1200px;
  text-align: center;
  font-family: 'Varela Round', sans-serif;
  color: #ffffff;
  overflow-horizontal: hidden;
  background-color: #eeeeee;
}
#container {
  width: 1200px;
  vertical-align: top;
}
#header {
  height: 80px;
  background-color: #fd9883;
  text-align: center;
  border-bottom: 2px #ee7f6d solid;
}
#title {
  width: 600px;
  font-size: 24px;
  height: 80px;
  line-height: 80px;
  text-align: left;
  margin-left: 100px;
  float: left;
}
.header-button {
  margin-top: 20px;
  margin-right: 10px;
  width: 150px;
  height: 40px;
  line-height: 40px;
  float: right;
  background-color: #ee7f6d;
  border-radius: 2px;
}
.header-button:hover {
  background-color: #e9573f;
  cursor: pointer;
}
.header-button i {
  margin-left: 10px;
}
#user {
  margin-right: 100px;
}
#dropdown {
  width: 200px;
  background-color: #fc6e51;
  position: absolute;
  display: inline-block;
  box-shadow: #ee7f6d 0px 0px 4px;
  opacity: 0;
}
.dropdown-item {
  height: 40px;
  line-height: 40px;
  padding: 5px;
}
.dropdown-item:hover {
  background-color: #ef8776;
  cursor: pointer;
}
.diff {
  width: 530px;
  overflow: hidden;
  background-color: #fff;
  margin: 10px;
  margin-top: 30px;
  box-shadow: 0px 0px 5px #bbbbbb;
  vertical-align: top;
  color: #888;
}