<style>
    div.page-content {
        max-height: 50em;
        overflow: scroll;
        position: relative;
    }

    #late-day-table .headcol {
        position: sticky;
        left: 0;
        background: var(--standard-hover-light-gray);
    }

    #late-day-table thead tr {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    #late-day-table tbody tr:nth-child(odd) td.headcol {
        background: white;
    }
</style>

<div id="message"></div>
<div class="content">
    <div class="column-wrapper" style="margin: 1em 0;">
        <h1 style="margin:0px;">Late Days Forensics</h1>

        <div id="rebuild-status-panel" style="left:0px;display:none">
            <span id="rebuild-status-label">Build Status: </span>
            <div id="rebuild-status"></div>
        </div>

        <div class="column-wrapper">
            <button class="btn btn-default key_to_click" tabindex="0" id="calculate-btn" onclick="calculateLateDayCache()">Calculate Info</button>
            <button class="btn btn-danger key_to_click" tabindex="0" id="flush-btn" onclick="flushLateDayCache()">Delete All</button>
            </form>
        </div>
    </div>

    <p>
        Use this table to determine each students late day usage. Cells represent the number of late days left and the change in late days at the gradeable/late day update.
    </p>
    <br>
    <p>
        This will be represented by: Late Days Remaining (Change in Late Days).
    </p>
    <br>

    <div class="page-content">{{ include('admin/late_days_forensics/LateDaysForensicsTablePlugin.twig') }}</div>
</div>
