<div class="content">
  <h1>
    Office Hours/Lab Queue Sutdent Statistics
  </h1>

  <a id="view-queue" class="btn btn-primary filter_btn" type="button" href="{{base_url}}">
    Back to Queue
  </a>
  <a id="view-stats" class="btn btn-default filter_btn" type="button" href="{{base_url}}/stats">
    View Queue Stats
  </a>
  <br>
  <br>

  <h2>Student Data:</h2>
  <table class="table">
    <thead>
      <tr>
        {% for key, item in student_data[0] %}
          {% if key != 'user_id' %}
            <th style="padding:.4rem">{{viewer.statNiceName(key)}}</th>
          {% endif %}
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for student in student_data %}
        <tr>
          {% for key, item in student %}
            {% if key != 'user_id' %}
              <td>{{item}}</td>
            {% endif %}
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
