/*@import url(https://fonts.googleapis.com/css?family=Inconsolata);*/
.missing {
    background-color: #fedede;
}
.diff div {
    text-align: left;
}
.line {
    height: 20px;
    line-height: 20px;
    font-family: 'Inconsolata', monospace;
    /*white-space: pre;*/

    margin-right: 10px;
    /*  font-family: "Courier New", Courier, monospace; */
}
.line_number {
    display: inline-block;
    width: 40px;
    text-align: center;
    background-color: #f2f2f2;
    opacity: .55;
    margin-right: 10px;
    float: left;
}

.mono{
    white-space: pre;
    float: left;
    font-family: 'Inconsolata', monospace;

}

.odd-line {
    background-color: #f8f8f8;
}
.bad-line {
    background-color: #fedede;
}
.bad-seg {
    background-color: #fffdbe;
    border-radius: 5px;
    padding-top:2px;
    padding-bottom: :2px;
}
.line-hover {
    background-color: #ddf;
    cursor: pointer;
}

#instructorInput {
    display: inline;
}

#studentInput {
    display: inline;
}
