version: 2
updates:
  - package-ecosystem: "composer"
    directory: "/site"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "10:00"
    open-pull-requests-limit: 15
    labels:
      - dependencies
    versioning-strategy: increase
    commit-message:
      prefix: "[Dependency] "
      prefix-development: "[DevDependency] "
  - package-ecosystem: "npm"
    directory: "/site"
    schedule:
      interval: "weekly"
        day: "monday"
        time: "10:00"
    open-pull-requests-limit: 15
    labels:
      - dependencies
    commit-message:
      prefix: "[Dependency] "
      prefix-development: "[DevDependency] "
  - package-ecosystem: pip
    directory: "/.setup/pip/"
    schedule:
      interval: "weekly"
        day: "monday"
        time: "10:00"
    open-pull-requests-limit: 15
    labels:
      - dependencies
    commit-message:
      prefix: "[Dependency] "
  - package-ecosystem: "github-actions"
      directory: "/"
      schedule:
        interval: "weekly"
          day: "monday"
          time: "10:00"
      open-pull-requests-limit: 15

