version: 2
updates:
  - package-ecosystem: "composer"
    directory: "/site"
    schedule:
      interval: "monthly"
    labels:
      - dependencies
    versioning-strategy: increase
    commit-message:
      prefix: "[Dependency] "
      prefix-development: "[DevDependency] "
  - package-ecosystem: "npm"
    directory: "/site"
    schedule:
      interval: "monthly"
    labels:
      - dependencies
    commit-message:
      prefix: "[Dependency] "
      prefix-development: "[DevDependency] "
  - package-ecosystem: pip
    directories:
      - "/.setup/pip/"
      - "/python_submitty_utils/"
    schedule:
      interval: "monthly"
    labels:
      - dependencies
    commit-message:
      prefix: "[Dependency] "
  - package-ecosystem: "github-actions"
    directories:
      - "/"
      - "/.github/actions/e2e-Setup-Composite"
    schedule:
      interval: "monthly"
    labels:
      - dependencies
    commit-message:
      prefix: "[DevDependency] "
