# Requirements.txt for the entire project

# Migrator module depends on:
# docker & sqlalchemy

# Auto-grader module depends on:
# sqlalchemy & paramiko & docker & python-dateutil & submitty_util (internal)

# Submitty util module depends on:

# For QR bulk upload
opencv-python-headless==4.6.0.66

# jsonschema & jsonref & pytz & tzlocal
pytz==2023.3 # Submitty-util specific.


python-pam==2.0.2
ruamel.yaml==0.17.32
psycopg2-binary==2.9.6
sqlalchemy==1.4.29
pylint==2.17.2
psutil==5.9.5
python-dateutil==2.8.2
watchdog==3.0.0
xlsx2csv==0.8.1
pause==0.3
paramiko==3.3.1
tzlocal==2.1
PyPDF2==3.0.1
distro==1.8.0
jsonschema==4.19.0
jsonref==1.1.0
docker==6.1.2
urllib3==2.0.4

# Python3 implementation of python-clang bindings (may not work < 6.0)
clang==14.0

# Python libraries for QR bulk upload
pyzbar==0.1.9
pdf2image==1.16.3
numpy==1.24.3

# python libraries for OCR for digit recognition
onnx==1.14.0
onnxruntime==1.15.1
