# Requirements.txt for the entire project

# Migrator module depends on:
# docker & sqlalchemy

# Auto-grader module depends on:
# sqlalchemy & paramiko & docker & python-dateutil & submitty_util (internal)

# Submitty util module depends on:

# For QR bulk upload
opencv-python-headless==4.6.0.66

# jsonschema & jsonref & pytz & tzlocal
pytz==2022.2.1 # Submitty-util specific.

python-pam==1.8.4
ruamel.yaml==0.17.21
psycopg2-binary==2.9.3
sqlalchemy==1.4.29
pylint==2.13.9
psutil==5.9.2
python-dateutil==2.8.2
watchdog==2.1.9
xlsx2csv==0.8.0
pause==0.3
paramiko==2.11.0
tzlocal==2.1
PyPDF2==2.10.9
distro==1.7.0
jsonschema==3.2.0
jsonref==0.2
docker==5.0.3

# For Lichen / Plagiarism Detection
parso==0.8.3

# Python3 implementation of python-clang bindings (may not work < 6.0)
clang==14.0

# Python libraries for QR bulk upload
pyzbar==0.1.9
pdf2image==1.16.0
numpy==1.23.2

# python libraries for OCR for digit recognition
onnx==1.12.0
onnxruntime==1.11.1
