# ignore everything by default
**

# allow parent directories of utils
!site/
!.setup/
!.setup/pip/
!python_submitty_utils/

# allow the composer / package lock and json
!site/composer.json
!site/composer.lock
!site/package.json
!site/package-lock.json

!.setup/pip/dev_requirements.txt
!.setup/pip/system_requirements.txt

# allow python_submitty_utils
!python_submitty_utils/**

# allow docker related files
!Dockerfile
!.dockerignore
