# submitty_test .dockerignore
.git
.github
.env

# editors / os stuff
.idea
.vscode
.vs
.DS_Store
*.autosave
*.orig*
*~

# caches, etc
*.o
*.pyc
__pycache__/
*.aux
*.log
*.out
*.synctex.gz
.coverage

# vendor / node_modules installed inside the image so no need to share
site/vendor/
site/node_modules/
