[flake8]
max-line-length = 88
exclude=
    .git,
    .setup/bin,
    .setup/CONFIGURE_SUBMITTY.py,
    .setup/update_database.py,
    bin/extract_notes_page.py,
    bin/generate_repos.py,
    bin/grading_done.py,
    bin/left_right_parse.py,
    bin/make_assignments_txt_file.py,
    bin/make_generated_output.py,
    bin/read_iclicker_ids.py,
    bin/regrade.py,
    grading/python/submitty_router.py,
    grading/json_syntax_checker.py
    migration/migrator/migrations,
    more_autograding_examples,
    ParseLogFiles,
    sample_files,
    autograder/autograder/__init__.py,
    autograder/autograder/grade_item.py,
    autograder/autograder/insert_database_version_data.py,
    autograder/autograder/packer_unpacker.py,
    autograder/autograder/autograding_utils.py,
    autograder/autograder/testcase.py,
    autograder/autograder/execution_environments/container_network.py,
    autograder/autograder/execution_environments/__init__.py,
    autograder/autograder/execution_environments/jailed_sandbox.py,
    autograder/autograder/execution_environments/secure_execution_environment.py,
    sbin/shipper_utils/systemctl_wrapper.py,
    sbin/shipper_utils/update_and_install_workers.py,
    sbin/submitty_daemon_jobs/submitty_jobs/jobs.py,
    sbin/adduser.py,
    sbin/adduser_course.py,
    sbin/anonymize.py,
    sbin/anonymize_autograding_logs.py,
    sbin/authentication.py,
    sbin/build_config_upload.py,
    sbin/check_everything.py,
    sbin/compare_reuploads.py,
    sbin/count_autograding_logs.py,
    sbin/get_version_details.py,
    sbin/killall.py,
    sbin/run_lichen_plagiarism.py,
    sbin/submitty_autograding_shipper.py,
    sbin/submitty_autograding_worker.py,
    sbin/untrusted_canary.py,
    tests
