[flake8]
max-line-length = 88
exclude=
    .git,
    .setup/bin,
    .setup/CONFIGURE_SUBMITTY.py,
    .setup/update_database.py,
    bin/extract_notes_page.py,
    bin/generate_repos.py,
    bin/grading_done.py,
    bin/left_right_parse.py,
    bin/make_assignments_txt_file.py,
    bin/read_iclicker_ids.py,
    bin/regrade.py,
    grading/python/submitty_router.py,
    grading/json_syntax_checker.py
    junit_test_runner,
    migration/test,
    migration/migrator/migrations,
    more_autograding_examples,
    ParseLogFiles,
    python_submitty_utils/setup.py,
    python_submitty_utils/submitty_utils/__init__.py,
    python_submitty_utils/submitty_utils/dateutils.py,
    python_submitty_utils/submitty_utils/glob.py,
    python_submitty_utils/submitty_utils/user.py,
    python_submitty_utils/tests/__init__.py,
    python_submitty_utils/tests/test_glob.py,
    python_submitty_utils/tests/test_user.py,
    sample_files,
    autograder/autograder/__init__.py,
    autograder/autograder/grade_item.py,
    autograder/autograder/grade_item_main_runner.py,
    autograder/autograder/grade_items_logging.py,
    autograder/autograder/insert_database_version_data.py,
    autograder/autograder/packer_unpacker.py,
    autograder/autograder/write_grade_history.py,
    sbin/shipper_utils/systemctl_wrapper.py,
    sbin/shipper_utils/update_and_install_workers.py,
    sbin/submitty_daemon_jobs/submitty_daemon_jobs.py,
    sbin/submitty_daemon_jobs/submitty_jobs/__init__.py,
    sbin/submitty_daemon_jobs/submitty_jobs/handler.py,
    sbin/submitty_daemon_jobs/submitty_jobs/jobs.py,
    sbin/adduser.py,
    sbin/anonymize.py,
    sbin/anonymize_autograding_logs.py,
    sbin/authentication.py,
    sbin/build_config_upload.py,
    sbin/check_everything.py,
    sbin/compare_reuploads.py,
    sbin/count_autograding_logs.py,
    sbin/get_version_details.py,
    sbin/killall.py,
    sbin/run_lichen_plagiarism.py,
    sbin/sendEmail.py,
    sbin/submitty_autograding_shipper.py,
    sbin/submitty_autograding_worker.py,
    sbin/untrusted_canary.py,
    site,
    site_internal,
    tests
