/.idea/
/output/
/site/tests/report/
/.vagrant/

selenium*.jar
.DS_Store
*.autosave
*.orig*
*~
*.o

*.pyc
*.aux
*.log
*.out
*.synctex.gz

/site/config/*
!/site/config/master_template.ini
!/site/config/course_template.ini

vendor/
# Because we're supporting both PHP 5.5 and 7.0 which requires two different PHPUnit versions, we end up with having
# to then have two different composer.json files depending on the version. This means that that we don't want to
# necessarily lock the composer dependencies as it'll break the CI for the other version.
composer.lock

db_update.php
.setup/data/random_users.txt
.vscode
*.egg-info/
site/app/models/Gradeable.php
site/app/views/grading/ElectronicGraderView.php
