# Set the default behavior to override developer's core.autocrlf setting.
# Default is 'lf' (Unix) to ensure consistency with running on Ubuntu Linux.
* eol=lf

# Explicitly declare 'eol=lf' for files you want to always be normalized on
# checkout.
*.c eol=lf
*.cgi eol=lf
*.cpp eol=lf
*.conf eol=lf
*.css eol=lf
*.h eol=lf
*.html eol=lf
*.js eol=lf
*.json eol=lf
*.md eol=lf
*.php eol=lf
*.pl eol=lf 
*.py eol=lf
*.sh eol=lf
*.sql eol=lf
*.txt eol=lf
*.xml eol=lf
*.yaml eol=lf
*.csv eol=lf
Vagrantfile eol=lf
setcsvfields eol=lf

# Denote all files that are truly binary and should not be modified.
# NOTE: *.odt, *.ods, *.odp are open file formats used by
# Open Office, Libre Office, Google Docs, etc.
*.zip binary
*.pdf binary
*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.icons binary
*.doc binary
*.docx binary
*.odt binary
*.xls binary
*.xlsx binary
*.ods binary
*.pptx binary
*.ppt binary
*.odp binary
*.cls binary
*.tex binary
*.out binary
