.DS_Store
*.autosave
*.orig*
/output/
*~
*.o
INSTALL.sh
/.vagrant
*.zip

/.idea

/tests/report
selenium*.jar

logs/
*.csv

*.pyc

TAGradingServer/toolbox/configs/*
!TAGradingServer/toolbox/configs/master_template.php
!TAGradingServer/toolbox/configs/sample_course.php
!TAGradingServer/toolbox/configs/course_template.php

/site/config/*
!/site/config/master_template.ini
!/site/config/course_template.ini

vendor/
# Because we're supporting both PHP 5.5 and 7.0 which requires two different PHPUnit versions, we end up with having
# to then have two different composer.json files depending on the version. This means that that we don't want to
# necessarily lock the composer dependencies as it'll break the CI for the other version.
composer.lock

*.aux
*.log
*.out
*.synctex.gz

db_update.php