.DS_Store
*.autosave
*.orig*
public/
output/
*~
*.o
INSTALL.sh
.vagrant
*.zip

.idea

tests/report
selenium*.jar

logs/
*.csv

*.pyc

TAGradingServer/toolbox/configs/*
!TAGradingServer/toolbox/configs/master_template.php
!TAGradingServer/toolbox/configs/sample_course.php
!TAGradingServer/toolbox/configs/course_template.php

site/config/*
!site/config/master_template.ini
!site/config/course_template.ini

vendor/
composer.lock

*.aux
*.log
*.out
*.synctex.gz

db_update.php