# Override local user's core.autocrlf setting so that code files will always
# have 'lf' line endings (Unix style) as needed by Ubuntu Linux.  This is
# particularly important for Windows developers working with a Vagrant VM.

# For all files, set default 'lf' line endings.
* eol=lf

# To be thorough, set specific code and text data files to 'lf' line endings.
*.c eol=lf
*.cgi eol=lf
*.cpp eol=lf
*.conf eol=lf
*.css eol=lf
*.csv eol=lf
*.h eol=lf
*.html eol=lf
*.ini eol=lf
*.js eol=lf
*.json eol=lf
*.md eol=lf
*.php eol=lf
*.pl eol=lf 
*.py eol=lf
*.sh eol=lf
*.sql eol=lf
*.txt eol=lf
*.xml eol=lf
*.yaml eol=lf
Vagrantfile eol=lf

# Files marked 'binary' are not modified.
# NOTE: *.odt, *.ods, *.odp are open file formats used by
# Open Office, Libre Office, Google Docs, etc.
*.zip binary
*.pdf binary
*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.icons binary
*.doc binary
*.docx binary
*.odt binary
*.xls binary
*.xlsx binary
*.ods binary
*.pptx binary
*.ppt binary
*.odp binary
*.cls binary
*.tex binary
*.out binary
*.eot binary
*.ttf binary
*.woff binary
*.woff2 binary
