[MASTER]
ignore=
    .git,
    code_watcher.py,
    init_auto_rainbow.py,
    input_forum_data.py,
    reset_system.py,
    reupload_generate_csv.py,
    reupload_old_assignments.py,
    course_create_gradeables.py,
    track_git_version.py,
    CONFIGURE_SUBMITTY.py,
    update_database.py,
    extract_notes_page.py,
    generate_repos.py,
    left_right_parse.py,
    make_assignments_txt_file.py,
    make_generated_output.py,
    regrade.py,
    submitty_router.py,
    json_syntax_checker.py,
    migration/migrator/migrations,
    more_autograding_examples,
    ParseLogFiles,
    sample_files,
    systemctl_wrapper.py,
    update_and_install_workers.py,
    anonymize_autograding_logs.py,
    build_config_upload.py,
    check_everything.py,
    compare_reuploads.py,
    count_autograding_logs.py,
    untrusted_canary.py,
    tests

[FORMAT]
max-line-length=100
