[MASTER]
# The ignored folders are at the bottom of the ignore list
ignore=
    .git,
    autograding_utils.py,
    auto_rainbow_scheduler.py,
    auto_rainbow_grades.py,
    authentication.py,
    anonymize.py,
    adduser.py,
    adduser_course.py,
    code_watcher.py,
    comment_count.py,
    config.py,
    config_syntax_check.py,
    container_network.py,
    check_wip.py,
    check_everything.py,
    compare_reuploads.py,
    count_autograding_logs.py,
    create_untrusted_users.py,
    course_create_gradeables.py,
    cleanup_old_email.py,
    database_queries.py,
    delete_expired_sessions.py,
    docker_command_wrapper.py,
    init_auto_rainbow.py,
    input_forum_data.py,
    reset_system.py,
    reupload_generate_csv.py,
    reupload_old_assignments.py,
    run_shellcheck.py,
    restart_shipper_and_all_workers.py,
    regrade.py,
    recreate_submissions.py,
    track_git_version.py,
    CONFIGURE_SUBMITTY.py,
    update_database.py,
    extract_notes_page.py,
    rlimit_utils.py,
    grading_done.py,
    grade_item.py,
    get_sysinfo.py,
    generate_repos.py,
    generate_workers.py,
    generate_grade_summaries.py,
    get_version_details.py,
    left_right_parse.py,
    make_assignments_txt_file.py,
    make_generated_output.py,
    run_migrator.py,
    submitty_router.py,
    submitty_autograding_shipper.py,
    submitty_autograding_worker.py,
    setup_sample_user_data.py,
    secure_execution_environment.py,
    sample_upload.py,
    submitty_daemon_jobs.py,
    scheduler.py,
    send_email.py,
    setup_sample_emails.py,
    setup_sample_courses.py,
    insert_database_version_data.py,
    json_syntax_checker.py,
    jailed_sandbox.py,
    packer_unpacker.py,
    populate_office_hours_queue.py,
    partial_reset.py,
    systemctl_wrapper.py,
    set_allowed_mins.py,
    update_and_install_workers.py,
    anonymize_autograding_logs.py,
    build_config_upload.py,
    killall.py,
    untrusted_canary.py,
    testcase.py,
    update_repo_version.py
    migrations,
    sample_files,
    sample_courses,
    ParseLogFiles,
    more_autograding_examples,
    dateutils.py,
    ssh_proxy_jump.py,
    db_utils.py,
    user.py,
    submitty_schema_validator.py,
    string_utils.py,
    test_db_utils.py,
    test_string_utils.py,
    test_submitty_schema_validator.py,
    test_dateutils.py,
    test_user.py,
    update_repo_version.py,
    test_logger.py,
    test_submitty_autograding_shipper.py,
    test_write_grade_history.py,
    test_scheduler.py,
    test_loader.py,
    test_status.py,
    test_migrate.py,
    test_dump.py,
    test_migrate_environment_down.py,
    helpers.py,
    test_config.py,
    test_rollback.py,
    test_main.py,
    test_init.py,
    test_db.py,
    test_migrate_environment_up.py,
    test_create.py,
    test_dumper.py,
    test_cli.py,
    test_handle_migration.py,
    test_print_status.py,
    test_load_triggers.py,
    loader.py,
    cli.py,
    db.py,
    dumper.py,
    handler.py
    write_to_log.py,
    submitty_ocr.py,
    bulk_upload_split.py,
    bulk_qr_split.py,
    test_bulk_pdf_split.py,
    base_testcase.py,
    test_grade_inquiry.py,
    test_forum.py,
    test_office_hours_queue.py,
    test_homepage.py,
    test_submission.py,
    base_testcase.py,
    python_submitty_utils,
    lib.py,
    test_prev_next.py,
    run.py,
    test_sample.py

ignore-paths=
    migration/migrator/main.py,
    sbin/submitty_daemon_jobs/submitty_jobs,
    sbin\submitty_daemon_jobs\tests,
    tests\integrationTests,
    tests\integrationTests\tests\choice_of_language,
    tests\integrationTests\tests\comment_count
    


ignored-modules=docker,
                requests,
                sqlalchemy

[FORMAT]
max-line-length=100

[MESSAGES CONTROL]
disable=too-many-arguments,
        too-many-locals,
        too-few-public-methods,
