[MASTER]
ignore-paths=
    site/node_modules,
    more_autograding_examples,
    generate_workers.py,
    grading/json_syntax_checker.py,
    grading/python/submitty_router.py,
    bin/regrade.py,
    bin/grading_done.py,
    bin/set_allowed_mins.py,
    bin/extract_notes_page.py,
    bin/make_generated_output.py,
    bin/comment_count.py,
    bin/left_right_parse.py,
    bin/make_assignments_txt_file.py,
    bin/generate_repos.py,
    bin/config_syntax_check.py,
    autograder/submitty_autograding_shipper.py,
    autograder/submitty_autograding_worker.py,
    autograder/autograder/insert_database_version_data.py,
    autograder/autograder/config.py,
    autograder/autograder/testcase.py,
    autograder/autograder/packer_unpacker.py,
    autograder/autograder/scheduler.py,
    autograder/autograder/autograding_utils.py,
    autograder/autograder/grade_item.py,
    autograder/autograder/execution_environments/rlimit_utils.py,
    autograder/autograder/execution_environments/jailed_sandbox.py,
    autograder/autograder/execution_environments/container_network.py,
    autograder/autograder/execution_environments/secure_execution_environment.py,
    autograder/tests/test_write_grade_history.py,
    autograder/tests/test_scheduler.py,
    autograder/tests/test_submitty_autograding_shipper.py,
    autograder/tests/test_logger.py,
    run_shellcheck.py,
    sbin/adduser_course.py,
    sbin/cleanup_old_email.py,
    sbin/check_everything.py,
    sbin/database_queries.py,
    sbin/anonymize_autograding_logs.py,
    sbin/generate_grade_summaries.py,
    sbin/auto_rainbow_scheduler.py,
    sbin/compare_reuploads.py,
    sbin/build_config_upload.py,
    sbin/authentication.py,
    sbin/count_autograding_logs.py,
    sbin/restart_shipper_and_all_workers.py,
    sbin/adduser.py,
    sbin/anonymize.py,
    sbin/auto_rainbow_grades.py,
    sbin/send_email.py,
    sbin/get_version_details.py,
    sbin/delete_expired_sessions.py,
    sbin/killall.py,
    sbin/submitty_daemon_jobs/tests,
    sbin/submitty_daemon_jobs/submitty_jobs,
    sbin/shipper_utils/systemctl_wrapper.py,
    sbin/shipper_utils/get_sysinfo.py,
    sbin/shipper_utils/update_and_install_workers.py,
    sbin/shipper_utils/docker_command_wrapper.py,
    tests/rainbowGrades/test_sample.py,
    tests/integrationTests/run.py,
    tests/integrationTests/lib.py,
    tests/integrationTests/tests,
    tests/e2e/test_office_hours_queue.py,
    tests/e2e/base_testcase.py,
    tests/e2e/test_forum.py,
    tests/e2e/test_submission.py,
    tests/e2e/test_homepage.py,
    tests/e2e/test_prev_next.py,
    tests/e2e/test_grade_inquiry.py,
    python_submitty_utils/submitty_utils/user.py,
    python_submitty_utils/submitty_utils/ssh_proxy_jump.py,
    python_submitty_utils/submitty_utils/dateutils.py,
    python_submitty_utils/submitty_utils/submitty_schema_validator.py,
    python_submitty_utils/tests/test_dateutils.py,
    python_submitty_utils/tests/test_user.py,
    python_submitty_utils/tests/test_string_utils.py,
    python_submitty_utils/tests/test_submitty_schema_validator.py,
    python_submitty_utils/tests/test_db_utils.py,
    .setup/CONFIGURE_SUBMITTY.py,
    .setup/update_database.py,
    .setup/bin/sample_courses,
    .setup/bin/init_auto_rainbow.py,
    .setup/bin/recreate_submissions.py,
    .setup/bin/populate_office_hours_queue.py,
    .setup/bin/track_git_version.py,
    .setup/bin/reupload_old_assignments.py,
    .setup/bin/create_untrusted_users.py,
    .setup/bin/partial_reset.py,
    .setup/bin/update_repo_version.py,
    .setup/bin/reset_system.py,
    .setup/bin/code_watcher.py,
    .setup/bin/setup_sample_emails.py,
    .setup/bin/setup_sample_user_data.py,
    .setup/bin/input_forum_data.py,
    .setup/bin/reupload_generate_csv.py,
    .setup/bin/setup_sample_courses.py,
    .setup/bin/sample_courses/utils/create_or_generate.py,
    .setup/bin/sample_courses/utils/__init__.py,
    .setup/bin/sample_courses/models/__init__.py,
    .setup/bin/sample_courses/models/gradeable.py,
    .setup/bin/sample_courses/models/component.py,
    .setup/bin/sample_courses/models/course/course_utils.py,
    .setup/bin/sample_courses/models/course/__init__.py,
    .setup/bin/sample_courses/models/course/course_data.py,
    .setup/bin/sample_courses/models/course/course_create.py,
    .setup/bin/sample_courses/models/course/course_create_gradeables.py,
    .setup/bin/sample_courses/models/course/course_generate_utils.py,
    .setup/testing/check_wip.py,
    .github/bin/label_abandoned_prs.py,
    migration/run_migrator.py,
    migration/migrator/db.py,
    migration/migrator/cli.py,
    migration/migrator/loader.py,
    migration/migrator/main.py,
    migration/tests/__init__.py,
    migration/tests/test_rollback.py,
    migration/tests/test_loader.py,
    migration/tests/test_print_status.py,
    migration/tests/test_db.py,
    migration/tests/test_status.py,
    migration/tests/test_migrate_environment_down.py,
    migration/tests/test_config.py,
    migration/tests/test_dump.py,
    migration/tests/test_load_triggers.py,
    migration/tests/test_create.py,
    migration/tests/test_migrate.py,
    migration/tests/test_cli.py,
    migration/tests/test_migrate_environment_up.py,
    migration/tests/helpers.py,
    migration/tests/test_main.py,
    migration/tests/test_init.py,
    migration/tests/test_handle_migration.py,
    migration/tests/test_dumper.py,
    sample_files/sample_CSV/test_grades.py,
    sample_files/sample_CSV/verify.py,
    site/cypress/fixtures

[FORMAT]
max-line-length=100

[MESSAGES CONTROL]
disable=
    too-many-arguments,
    too-many-locals,
    too-few-public-methods,
    missing-module-docstring,
    unspecified-encoding,
    missing-function-docstring,
    wrong-import-order,
    too-many-branches,

