language: php
sudo: true
dist: trusty

# We use build stages (https://docs.travis-ci.com/user/build-stages/) to allow us to
# create a matrix of firstly building and testing various PHP targets in several ways
# (lint, unit test, e2e test) and then test out various C++ compilers to ensure our
# best compatibility.
jobs:
  fast_finish: true
  allow_failures:
    - php: 7.2

  include:
    # Warm up the pip and composer caches to use it for the rest of the build stages
    - &00-cache
      stage: 00 warm up cache
      php: 7.0
      before_install: source ${TRAVIS_BUILD_DIR}/.setup/travis/before_install.sh
      install:
        - travis_retry composer install --prefer-dist --no-interaction
        - pip3 install -U pip
        - pip3 install python-pam
        - pip3 install PyYAML
        - pip3 install psycopg2-binary
        - pip3 install sqlalchemy
        - pip3 install pylint_runner
        - pip3 install python-dateutil
        - pip3 install selenium
      script: skip
    - <<: *00-cache
      php: 7.1
    - <<: *00-cache
      php: 7.2

    # Lint the codebase to ensure that the code is compliant to our system
    - &01-lint
      stage: 01 lint
      php: 7.0
      script:
        - find -L . -path ./vendor -prune -o -name '*.php' -print0 | xargs -0 -n 1 -P 4 php -l
    - <<: *01-lint
      php: 7.1
    - <<: *01-lint
      php: 7.2

    - &02-unit
      stage: 02 unit test
      php: 7.0
      script:
        - vendor/bin/phpunit --version
        - vendor/bin/phpunit --configuration tests/phpunit.xml
      after_success:
        - travis_retry php vendor/bin/coveralls -v
    - <<: *02-unit
      php: 7.1
    - <<: *02-unit
      php: 7.2

    - &03-e2e
      stage: 03 e2e test
      php: 7.0
      addons:
        postgresql: "9.5"
      script: skip
    - <<: *03-e2e
      php: 7.1
      addons:
        postgresql: "9.5"
    - <<: *03-e2e
      php: 7.2
      addons:
        postgresql: "9.5"

    - &04-integration
      stage: Integration test
      language: cpp
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-5
      env:
        - MATRIX_EVAL="CC=gcc-5 && CXX=g++-5"
      script: skip
    - <<: *04-integration
      addons:
        apt:
          packages:
            - g++-6
      env:
        - MATRIX_EVAL="CC=gcc-6 && CXX=g++-6"

cache:
  pip: true
  directories:
    - vendor
    - ${HOME}/.composer/cache
    - ${HOME}/.cache/pip

notifications:
  email: false
