.h,
.diff {
  display: inline-block;
}
body,
html {
  margin: 0px;
  padding: 0px;
  min-width: 1200px;
  text-align: center;
  font-family: 'Varela Round', sans-serif;
  color: #ffffff;
  overflow-horizontal: hidden;
  background-color: #eeeeee;
}
#container {
  width: 1200px;
  vertical-align: top;
}
#header {
  height: 80px;
  background-color: #fd9883;
  text-align: center;
  border-bottom: 2px #ee7f6d solid;
}
#title {
  width: 600px;
  font-size: 24px;
  height: 80px;
  line-height: 80px;
  text-align: left;
  margin-left: 100px;
  float: left;
}
.header-button {
  margin-top: 20px;
  margin-right: 10px;
  width: 150px;
  height: 40px;
  line-height: 40px;
  float: right;
  background-color: #ee7f6d;
  border-radius: 2px;
}
.header-button:hover {
  background-color: #e9573f;
  cursor: pointer;
}
.header-button i {
  margin-left: 10px;
}
#user {
  margin-right: 100px;
}
.diff {
  width: 530px;
  overflow: hidden;
  background-color: #fff;
  margin: 10px;
  margin-top: 30px;
  box-shadow: 0px 0px 5px #bbbbbb;
  color: #888;
}
.diff div {
  text-align: left;
}
.line {
  height: 30px;
  line-height: 30px;
}
.line_number {
  display: inline-block;
  width: 40px;
  text-align: center;
  background-color: #f2f2f2;
  opacity: .75;
  margin-right: 10px;
}
.odd-line {
  background-color: #f8f8f8;
}
.bad-line {
  background-color: #fedede;
}
.bad-seg {
  background-color: #dedefe;
  border-radius: 5px;
  padding: 2px;
  margin: -2px;
}
.line-hover {
  background-color: #dfd;
  cursor: pointer;
}
