body {
    overflow: scroll;
}

input[readonly] {
    background-color: #999999;
}

select {
    margin-top:7px;
    width: 60px;
    min-width: 60px;
}

#container-rubric {
    width:1200px;
    margin:100px auto;
    margin-top: 130px;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,0.3);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;outline: 0;
    -webkit-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
    box-shadow: 0 3px 7px rgba(0,0,0,0.3);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.question-icon {
    display: block;
    float: left;
    margin-top: 5px;
    margin-left: 5px;
    position: relative;
    overflow: hidden;
}

.question-icon-cross {
    max-width: none;
    position: absolute;
    top:0;
    left:-313px;
}

.question-icon-up {
    max-width: none;
    position: absolute;
    top: -96px;
    left: -290px;
}

.question-icon-down {
    max-width: none;
    position: absolute;
    top: -96px;
    left: -313px;
}

.ui_tpicker_unit_hide {
    display: none;
}

/* align the radio, buttons and checkboxes with labels */
input[type="radio"],input[type="checkbox"] {
    margin-top: -1px;
    vertical-align: middle;
}

fieldset {
    margin: 8px;
    border: 1px solid silver;
    padding: 8px;    
    border-radius: 4px;
}

legend{
    padding: 2px;  
    font-size: 12pt;
}

.nav-bar-item {
    cursor: pointer;
    padding-right: 20px;
}

.date_picker {
    cursor: auto;
    background-color: #FFF;
    width: 250px;
}