input[readonly] {
    background:rgba(0,0,0,0);
    border:none;
}

input[disabled] {
    background: #999;
}

#gradeable-dates input[type="text"] {
    width: 200px;
}

select {
    margin-top:7px;
    width: -webkit-fill-available;
    width: -moz-available;
    width:  fill-available;
    min-width: 60px;
}

.question-icon {
    display: block;
    float: left;
    margin-top: 5px;
    margin-left: 5px;
    position: relative;
    overflow: hidden;
}

.question-icon-cross {
    max-width: none;
    position: absolute;
    top:0;
    left:-313px;
}

.question-icon-up {
    max-width: none;
    position: absolute;
    top: -96px;
    left: -290px;
}

.question-icon-down {
    max-width: none;
    position: absolute;
    top: -96px;
    left: -313px;
}

.ui_tpicker_unit_hide {
    display: none;
}

.nav-bar {
    cursor: pointer;
    vertical-align: center;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: green;
}

/* align the radio, buttons and checkboxes with labels */
input[type="radio"],input[type="checkbox"] {
    margin-top: -1px;
    vertical-align: middle;
}

fieldset {
    padding: 8px;
    border-radius: 4px;
    display: block;
}

#electronic_file {
    padding-left: 20px;
}

legend{
    padding: 2px;
    font-size: 12pt;
}

.table-wrapper {
    position: relative;
}
.table-scroll {
    width: 1150px;
    overflow-x: auto;
    margin-top: 20px;
}
.table-wrapper table {
    width:100%;
}

table#grader-history th, table#grader-history td {
    padding: 8px;
    border: 3px solid black;
    text-align: center;
}

#late-days-message {
    font-style: italic;
}

#timezone-container {
    float: right;
}

#repository {
    margin-top: 20px;
}

div.log-container {
    margin-top: 20px;
}

div.btn-container {
    margin-top: 5px;
    margin-bottom: 5px;
}

#team-settings-container {
    margin-top: 10px;
}

.disabled-btn{
    background-color:#d4d4d4 ;
    color: #5a5a5a ;
    cursor: default;
}
.normal-btn{
    background-color: #d0d0d0 ;
    color: #111111 ;
    border:solid 1px rgba(0,0,0,0.75);
}
.normal-btn:hover{
    border: none;
}

.active-btn{
    background-color: #008000;
    color: #ffffff;
    border: none;
}

