input[readonly] {
    background:var(--default-white);
    border:none;
}

input[disabled] {
    background: var(--standard-medium-gray);
}

#gradeable-dates input[type="text"] {
    width: 200px;
}

select {
    margin-top:7px;
    width: -webkit-fill-available;
    width: -moz-available;
    width:  fill-available;
    min-width: 60px;
}

.question-icon {
    display: block;
    float: left;
    margin-top: 5px;
    margin-left: 5px;
    position: relative;
    overflow: hidden;
}

.question-icon-cross {
    max-width: none;
    position: absolute;
    top:0;
    left:-313px;
}

.question-icon-up {
    max-width: none;
    position: absolute;
    top: -96px;
    left: -290px;
}

.question-icon-down {
    max-width: none;
    position: absolute;
    top: -96px;
    left: -313px;
}

.ui_tpicker_unit_hide {
    display: none;
}

.tab-bar-wrapper {
    border-bottom: 1px solid gray;
    display: flex;
    height: 35px;
}

.peer-button {
    background-color: var(--standard-plum-purple);
    color: white;
}

a.nav-bar {
    padding: 6px 12px;
    text-decoration: none;
    background-color: var(--default-white);
    color: var(--text-black);
    border-radius: 6px 6px 0 0;
}

a.nav-bar.normal-btn:hover {
    background-color: var(--standard-pastel-blue);
    color: var(--text-black);
    border: 1px solid gray;
    border-bottom: none;
}

a.nav-bar.disabled-btn {
    color: var(--standard-medium-dark-gray) ;
    cursor: default;
    border: none !important;
    pointer-events: none;
}

a.nav-bar.normal-btn {
    background-color: var(--default-white) ;
    color: var(--text-black);
    border: 1px solid gray;
    border-bottom: none;
}

a.nav-bar.active-btn {
    background-color: var(--submitty-logo-blue);
    color: var(--btn-text-white);
    font-weight: bold;
}

/* align the radio, buttons and checkboxes with labels */
input[type="radio"],input[type="checkbox"] {
    margin-top: -1px;
    vertical-align: middle;
}

.settings {
    padding: 8px;
    border-radius: 4px;
}

#electronic_file {
    padding-left: 20px;
}

.settings-description {
    padding: 2px;
    font-size: 12pt;
}

.table-wrapper {
    position: relative;
}
.table-scroll {
    width: 1150px;
    overflow-x: auto;
    margin-top: 20px;
}
.table-wrapper table {
    width:100%;
}

table#grader-history th, table#grader-history td {
    padding: 8px;
    border: 3px solid var(--text-black);
    text-align: center;
}

#late-days-message {
    font-style: italic;
}

#timezone-container {
    float: right;
}

#repository {
    margin-top: 20px;
}

.config_search_error {
    font-weight:normal;
    /* color is danger-red from colors.css can be changed when available */
    color: var(--danger-red);

}

div.log-container {
    margin-top: 20px;
}

div.btn-container {
    margin-top: 5px;
    margin-bottom: 5px;
}

#regrade_request_enable_container {
    margin-top: 10px;
}

#discussion_grading_enable_container {
    margin-top: 10px;
}

#team-settings-container {
    margin-top: 10px;
}

#rebuild-status-panel {
    display: inline-block;
    background-color: lightgrey;
    color: var(--btn-text-black);

    position: relative;
    top: 5px;
    left: 50px;
    height: 34px;
    width: auto;

    padding: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
}

#rebuild-gradeable-button {
    float: left;
    display: inline-block;
}

#rebuild-status-label {
    display: inline-block;
}

#rebuild-status {
    display: inline-block;
    margin: auto;
}

#rebuild-log-button {
    display: inline-block;
    padding-left: 55px;
    position: relative;
    top: 5px;
    float: right;
}
