input[readonly]:not(.btn-danger) {
    background: var(--default-white);
    border: none;
}

input[disabled]:not(#admin-gradeable-peers-submit) {
    background: var(--standard-medium-gray);
}

[data-theme="dark"] input[disabled]:not(#admin-gradeable-peers-submit) {
    background: var(--standard-dark-gray);
}

input.readonly.peerstudents {
    border: 1px solid var(--standard-light-gray);
    background-color: var(--standard-pale-gray);
    cursor: not-allowed;
    color: var(--btn-text-black);
}

#gradeable-dates input[type="text"] {
    width: 200px;
}

/* stylelint-disable-next-line no-descending-specificity */
input[type="text"]:invalid {
    background-color: var(--alert-invalid-entry-pink);
}

/* stylelint-disable-next-line no-descending-specificity */
[data-theme="dark"] input[type="text"]:invalid {
    background-color: var(--alert-danger-red);
}

[data-theme="dark"] input[type="text"]:invalid::placeholder {
    color: var(--alert-invalid-entry-pink);
}

select {
    margin-top: 7px;
    width: available;
    min-width: 60px;
}

.question-icon {
    display: block;
    float: left;
    margin-top: 5px;
    margin-left: 5px;
    position: relative;
    overflow: hidden;
}

.question-icon-cross {
    max-width: none;
    position: absolute;
    top: 0;
    left: -313px;
}

.question-icon-up {
    max-width: none;
    position: absolute;
    top: -96px;
    left: -290px;
}

.question-icon-down {
    max-width: none;
    position: absolute;
    top: -96px;
    left: -313px;
}
/* stylelint-disable-next-line selector-class-pattern */
.ui_tpicker_unit_hide {
    display: none;
}

.tab-bar-wrapper {
    border-bottom: 1px solid var(--standard-medium-gray);
    display: flex;
    height: 35px;
}

.peer-button {
    background-color: var(--standard-plum-purple);
    color: white;
}

.new-gradeable {
    font-family: monospace;
}

a.nav-bar {
    padding: 6px 12px;
    text-decoration: none;
    background-color: var(--default-white);
    color: var(--text-black);
    border-radius: 6px 6px 0 0;
}

a.nav-bar.normal-btn:hover {
    background-color: var(--standard-pastel-blue);
    color: var(--text-black);
    border: 1px solid var(--standard-medium-gray);
    border-bottom: none;
}

a.nav-bar.disabled-btn {
    color: var(--standard-medium-dark-gray);
    cursor: default;
    /* stylelint-disable-next-line declaration-no-important */
    border: none !important;
    pointer-events: none;
}

/* stylelint-disable-next-line no-descending-specificity */
a.nav-bar.normal-btn {
    background-color: var(--default-white);
    color: var(--text-black);
    border: 1px solid var(--standard-medium-gray);
    border-bottom: none;
}

a.nav-bar.active-btn {
    background-color: var(--submitty-logo-blue);
    color: var(--btn-text-white);
    font-weight: bold;
}

/* align the radio, buttons and checkboxes with labels */
input[type="radio"],
input[type="checkbox"] {
    margin-top: -1px;
    vertical-align: middle;
}

.settings {
    padding: 8px;
    border-radius: 4px;
}

/* stylelint-disable-next-line selector-id-pattern */
#electronic_file {
    padding-left: 20px;
}

.settings-description {
    padding: 2px;
    font-size: 12pt;
}

.table-wrapper {
    position: relative;
}

.table-scroll {
    width: 1150px;
    overflow-x: auto;
    margin-top: 20px;
}

.table-wrapper table {
    width: 100%;
}

table#grader-history th,
table#grader-history td {
    padding: 8px;
    border: 3px solid var(--text-black);
    text-align: center;
}

#checkpoint-numeric-gradeables-message {
    font-style: italic;
    font-weight: bold;
}

#late-days-message {
    font-style: italic;
    font-weight: bold;
}

#timezone-container {
    float: right;
}

#repository {
    margin-top: 20px;
}

/* stylelint-disable-next-line selector-class-pattern */
.config_search_error {
    font-weight: normal;

    /* color is danger-red from colors.css can be changed when available */
    color: var(--danger-red);
}

div.log-container {
    margin-top: 20px;
}

div.btn-container {
    margin-top: 5px;
    margin-bottom: 5px;
}

/* stylelint-disable-next-line selector-id-pattern */
#grade_inquiry_enable_container {
    margin-top: 10px;
}

/* stylelint-disable-next-line selector-id-pattern */
#discussion_grading_enable_container {
    margin-top: 10px;
}

#team-settings-container,
#subdirectory-settings-container {
    margin-top: 10px;
}

#rebuild-status-panel {
    display: inline-block;
    background-color: var(--standard-light-gray);
    color: var(--btn-text-black);
    position: relative;
    top: 5px;
    left: 50px;
    height: 34px;
    width: auto;
    padding: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
}

.popup-form .left-panel {
    width: 50%;
    display: inline-block;
}

.popup-form .right-panel {
    width: calc(50% - 10px);
    display: inline-block;
    vertical-align: top;
}

#rebuild-gradeable-button {
    float: left;
    display: inline-block;
}

#rebuild-status-label {
    display: inline-block;
}

#rebuild-status {
    display: inline-block;
    margin: auto;
}

#rebuild-log-button {
    display: inline-block;
    padding-left: 55px;
    position: relative;
    top: 5px;
    float: right;
}

/* stylelint-disable-next-line selector-id-pattern */
#zip_link_limited {
    text-decoration: none;
    color: var(--btn-text-white);
    padding: 10px;
    padding-left: 0;
}

/* stylelint-disable-next-line selector-id-pattern */
#zip_link_full {
    text-decoration: none;
    color: var(--btn-default-text);
    padding: 10px;
    padding-left: 0;
}

/* stylelint-disable-next-line selector-id-pattern */
#details_button {
    padding-right: 0;
}

form.dropdown {
    text-align: left;
    padding-top: 8px;
}

.notebook-builder-info {
    margin-top: 30px;
    margin-bottom: 30px;
}

.notebook-builder-info div {
    margin-top: 10px;
    margin-bottom: 10px;
}

.select-label-itempool {
    padding-left: 0;
}

select[name="component-itempool"] {
    margin-bottom: 15px;
    padding-right: 0;
}

.drop-down {
    display: inline-block;
    width: 64%;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px var(--default-black);
}

/* stylelint-disable-next-line selector-id-pattern */
#custom_marks_warning {
    color: var(--standard-vibrant-red);
    font-style: italic;
}

.warning-banner {
    display: none;
    margin: 0 0 1em;
    background-color: var(--standard-vibrant-yellow);
    color: var(--default-black);
}

.date-warning {
    display: none;
}
