#login-box {
    flex-grow: 0;
}

#login-box h1 {
    /* stylelint-disable-next-line declaration-no-important */
    margin: 0 0 20px !important;
}

#login {
    margin: 0;
}

#login > * {
    margin-bottom: 1em;
    width: 100%;
    font-size: 1.1em;
}

#login label {
    display: flex;
    flex-direction: column;
}

#login input[type="text"],
#login input[type="password"] {
    padding: 1.1em;
}

#login .inline-label {
    display: block;
}

#login input[type="submit"] {
    padding: 0.5em 1em;
}

@media (min-width: 768px) {
    #login-box {
        margin: 30px auto;
        min-width: 450px;
        width: 30%;
        height: fit-content;
    }

    #login input[type="submit"] {
        width: auto;
    }
}

#saml-login {
    color: var(--btn-text-white);
}

.hidden-helper {
    display: none;
    padding: 10px;
    font-size: small;
}

.display-box input {
    display: block;
    width: 100%;
}

.display-box {
    margin-bottom: 1em;
}

.requirements-button {
    display: inline-block;
    font-weight: 400;
    color: var(--standard-medium-dark-gray);
    text-align: center;
    vertical-align: text-top;
    background-color: transparent;
    border: 1px solid;
    padding: 0.2rem;
    font-size: x-small;
    line-height: 1;
    border-radius: 0.25rem;
    cursor: pointer;
}

.requirements-list {
    margin-left: 15px;
}