.config-header-div {
    display: flex;
}

.config-header {
    flex-grow: 1;
}

.back-to-submissions-btn {
    margin-top: 6px;
}

.choose-file-input {
    width: 400px;
}

.upload-buttons-padding {
    padding-top: 24px;
}

.upload-button {
    background-color: var(--good-green);
    color: var(--always-default-white);
}

.upload-button:hover {
    background-color: var(--hover-good-green);
    color: var(--always-default-white);
}

.cancel-upload-button {
    background-color: var(--danger-red);
    color: var(--always-default-white);
}

.cancel-upload-button:hover {
    background-color: var(--focus-danger-red);
    color: var(--always-default-white);
}

.config-button-disabled {
    background-color: inherit;
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;
}
