.config-header-div {
    display: flex;
}

.config-header {
    flex-grow: 1;
}

.back-to-submissions-btn {
    margin-top: 6px;
}

.choose-file-input {
    width: 400px;
}

.upload-buttons-padding {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 16px;
    align-items: center;
}

.upload-button {
    background-color: var(--good-green);
    color: var(--always-default-white);
}

.upload-button:hover {
    background-color: var(--hover-good-green);
    color: var(--always-default-white);
}

.cancel-upload-button {
    background-color: var(--danger-red);
    color: var(--always-default-white);
}

.cancel-upload-button:hover {
    background-color: var(--focus-danger-red);
    color: var(--always-default-white);
}

.config-button-disabled {
    background-color: inherit;
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;
}

.config-actions-group {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-right: 12px;
}

.config-action-button {
    cursor: pointer;
    padding: 4px 8px;
    border-radius: 4px;
    transition: background-color 0.2s;
    color: var(--always-default-blue);
    text-decoration: none;
}

.config-action-button:hover {
    background-color: rgb(0 0 0 / 5%);
    color: var(--always-default-blue);
}

.config-action-button:focus {
    outline: 2px solid var(--always-default-blue);
    outline-offset: 2px;
}
