.right-boarder {
    border-right: 1px solid var(--text-black);
}

#autograding-status-table {
    border: 1px solid var(--text-black);
    padding-right: 30px;
}

#course-table > *,
#machine-table > *{
    text-align: left;
}

#toggle-btn {
    margin: 1em 0 1em 0;
}
