/* the entire table of calendar */
.table-calendar {
    text-align: left;
    border: 1px solid var(--default-black);
}

/* the title at the top of the calendar table, showing month, year */
.cal-navigation {
    margin-bottom: 0;
    margin-top: 3px;
}

.cal-title {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
}

.cal-month-title {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    width: auto;
    height: 50px;
    background: 1px solid var(--standard-light-gray);
    padding: 0;
    font-family: "Source Sans Pro", sans-serif;
    color: var(--text-black);
}

.cal-year-title {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    width: 65px;
    height: 50px;
    background: 1px solid var(--standard-light-gray);
    padding: 0;
    font-family: "Source Sans Pro", sans-serif;
    color: var(--text-black);
}

[data-theme="dark"] .dropdown-custom option {
    background-color: var(--background-blue);
}

.cal-btn {
    font-size: 28px;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
    user-select: none;
}

a.cal-btn {
    color: var(--text-black);
}

a.cal-btn:hover {
    color: var(--text-black);
    background: var(--selected-nav-sidebar);
    border-radius: 20%;
}

a.cal-btn:visited {
    color: var(--text-black);
}

a.cal-btn:focus {
    color: var(--text-black);
}

.cal-next-btn {
    margin-left: 20px;
}

.cal-prev-btn {
    margin-right: 20px;
}

#prev-month-switch {
    text-align: right;
}

#next-month-switch {
    text-align: left;
}

#calendar-item-type-edit {
    float: right;
}

#calendar-today-button {
    float: right;
    margin-right: 10px;
}

.cal-toolbar {
    margin-bottom: 2px;
    margin-top: 0;
}

/* the row of Monday, Tuesday, ... */
.cal-week-title-row {
    margin-bottom: 20px;
}

.cal-week-title {
    padding-left: 3px;
}

.cal-week-title-sun {
    width: 12%;
}

.cal-week-title-mon {
    width: 15%;
}

.cal-week-title-tue {
    width: 15%;
}

.cal-week-title-wed {
    width: 16%;
}

.cal-week-title-thu {
    width: 15%;
}

.cal-week-title-fri {
    width: 15%;
}

.cal-week-title-sat {
    width: 12%;
}

/* the day number in each cell */
.cal-day-title {
    font-style: italic;
    font-weight: bold;
}

/* the day number in each cell if the day is the current date */
.cal-today-title {
    background: var(--actionable-blue);
    color: var(--btn-text-white);
    font-style: normal;
    border-radius: 50%;
    padding-left: 3px;
    padding-right: 3px;
}

/* the day number in each cell if the day belongs to prev/next month of the month the calendar is viewing */
.cal-next-month-date {
    color: var(--standard-medium-dark-gray);
    font-style: italic;
    font-weight: bold;
}

/* the cell of each table in the calendar, representing a date */
.cal-day-cell {
    min-height: 100px;
    max-height: 195px;
    height: 100px;
}

.cal-day-cell-twoweek {
    min-height: 100px;
    max-height: 390px;
    height: 200px;
}

.cal-day-cell-week {
    min-height: 100px;
    max-height: 780px;
    height: 400px;
}

.cal-cell-expand {
    height: 195px;
}

/* area in each day cell that lists the items (gradeables, etc) */
.cal-cell-items-panel {
    max-height: 160px;
    width: 100%;
    display: block;
    overflow: hidden auto;
}

/* each item in the day cell */
.cal-gradeable-item {
    /* stylelint-disable-next-line declaration-no-important */
    color: var(--text-black) !important;
    margin: 1px;
    text-decoration: none;
    white-space: normal;
    font-size: 100%;
    font-weight: normal;
    line-height: normal;
    text-align: left;
    vertical-align: baseline;
    padding: 0 0 0 5px;
    display: block;
    width: 98%;
    user-select: none;
    background-image: none;
    border-radius: 4px;
    box-shadow:
        0 1px 1px 0 var(--box-shadow-very-transparent),
        0 2px 1px -1px var(--box-shadow-very-transparent),
        0 1px 3px 0 var(--box-shadow-slightly-transparent);
}

/* each item in the day cell as a button */
a.cal-gradeable-item:hover {
    cursor: pointer;
}

/* Item colors */

/** Pure Text **/
a.cal-gradeable-status-text {
    color: var(--text-black);
    padding: 0;
    border: none;
    box-shadow: none;
    cursor: default;
}

a.cal-gradeable-status-text:hover {
    color: var(--text-black);
    padding: 0;
    cursor: default;
    border: none;
}

a.cal-gradeable-status-text:focus {
    color: var(--text-black);
    padding: 0;
    border: none;
}

/** Announcement **/
a.cal-gradeable-status-ann {
    padding: 0;
    font-style: italic;
    border-style: solid;
    border-width: 3px;
    box-shadow: none;
    cursor: default;
}

a.cal-gradeable-status-ann:hover {
    cursor: default;
    padding: 0;
    font-style: italic;
    border-style: solid;
    /* stylelint-disable-next-line declaration-no-important */
    border-width: 3px !important;
}

a.cal-gradeable-status-ann:focus {
    padding: 0;
    font-style: italic;
    border: none;
}

/** Link **/
a.cal-gradeable-status-link {
    color: var(--external-link-blue);
    padding: 0;
    text-decoration: underline;
    border: none;
    box-shadow: none;
}

a.cal-gradeable-status-link:hover {
    color: var(--external-link-hover);
    padding: 0;
    border: none;
}

a.cal-gradeable-status-link:focus {
    color: var(--external-link-active);
    padding: 0;
    border: none;
}

.calendar-color-blue {
    background-color: var(--standard-medium-vibrant-blue);
    /* stylelint-disable-next-line declaration-no-important */
    color: var(--text-black) !important;
}

/* creating/editing calendar event */
div.calendar-submit {
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 5px;
}
div.calendar-submit label {
    text-align: right;
}
div.calendar-submit label::after {
    content: ":";
}

/* Calendar Options Menu */
div.filter-courses-menu {
    display: inline-grid;
    line-height: 1.5;
}

div.options-colors {
    display: grid;
}

div.cal-option-area {
    margin-top: 0.3rem;
}

h2.cal-options-section-head {
    margin-top: 0;
}

label.course-color-label {
    margin-right: 0.2rem;
}

.line-break {
    margin-bottom: 0;
    margin-top: 0.3rem;
}

/* Calendar Legend */
div.cal-legend {
    display: flex;
    margin-top: 0.3rem;
    padding: 0.3rem;
    border-radius: 4px 4px 0 0;
    border: 1px solid var(--default-black);
    border-bottom: none;
    background-color: var(--standard-hover-light-gray);
}

div.legend-color {
    width: 1rem;
    height: 1rem;
    border: 1px solid var(--default-black);
    border-radius: 4px;
}

.legend-label {
    padding-left: 0.3rem;
    padding-right: 1rem;
}

@media (max-width: 800px) {
    #calendar-list {
        margin: 0;
    }

    #calendar-list td:nth-of-type(1)::before {
        content: "Course";
    }
    #calendar-list td:nth-of-type(2)::before {
        content: "Gradeable";
    }
    #calendar-list td:nth-of-type(3)::before {
        content: "Submission Closes";
    }

    #calendar-list thead {
        display: none;
    }
}
