.chatroom-container {
    width: 60%;
    box-shadow: 0 0 2px 0 var(--default-black);
    left: 30%;
    transform: translate(30%, 0);
}

.chatroom-header {
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    box-shadow: 0 4px 2px -2px rgb(0 0 0 / 20%);
}

.chatroom-title {
    font-size: 1.3rem;
    padding-left: 1rem;
}

.leave-room {
    float: right;
    margin-right: 1rem;
}

.messages-area {
    overflow-y: auto;
    height: 38rem;
    margin-left: 1rem;
}

.message-container {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    margin-right: 1rem;
}

.message-container:hover {
    background-color: var(--standard-hover-light-gray);
}

.message-header {
    margin-bottom: 3px;
    margin-left: 0.5rem;
}

.user-icon {
    margin-right: 0.5rem;
}

.sender-name {
    font-weight: bold;
}

.timestamp {
    color: var(--subheading-underscore-grey);
    font-size: 0.8rem;
    margin-left: 3px;
}

.message-content {
    max-width: 90%;
    word-break: break-word;
    margin-left: 0.5rem;
}

.input-container {
    display: flex;
    align-items: center;
    border-top: 1px solid #e0e0e0;
    box-shadow: 0 -2px 10px 0 rgb(0 0 0 / 5%);
    padding: 0.5rem;
}

.message-input {
    border-radius: 5px;
    outline: none;
    resize: none;
    overflow: hidden;
    font-size: 15px;
    min-width: 85%;
    margin-left: 1rem;
}

.message-input:focus {
    background-color: var(--standard-hover-light-gray);
}

.send-message-btn {
    margin-left: 1rem;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
}