.cm-spell-error {
    /* stylelint-disable-next-line declaration-no-important */
    background: transparent !important;
    text-decoration: var(--standard-vibrant-red) dotted underline;
    text-underline-position: under;
}

/* override monokai's highlighting to make it a bluish color with more contrast against text and background */

/* disabling stylelint as we're overriding CodeMirror, and have no control over how it's named its classes */
/* stylelint-disable */
.cm-s-monokai .CodeMirror-line::selection,
.cm-s-monokai .CodeMirror-line > span::selection,
.cm-s-monokai .CodeMirror-line > span > span::selection {
    background: var(--standard-medium-blue);
}
.cm-s-monokai .CodeMirror-line::-moz-selection,
.cm-s-monokai .CodeMirror-line > span::-moz-selection,
.cm-s-monokai .CodeMirror-line > span > span::-moz-selection {
    background: var(--standard-medium-blue);
}

.cm-s-monokai div.CodeMirror-selected {
    background: var(--standard-medium-blue);
}
/* stylelint-enable */
