#config {
    display: flex;
    flex-direction: column;
}

#config h2 {
    margin: 0;
}

#config .option.row {
    align-items: center;
}

#config textarea {
    min-height: 7em;
}

.config-row {
    flex: 1 0 auto;
    margin: 0 0 1em;
}

.checkbox-row {
    display: flex;
    align-items: center;
}

.checkbox-row input[type="checkbox"] {
    flex: none;
    margin-right: 1em;
}

#email-seating-assignment a {
    width: 100%;
}

#instructor-seating {
    display: flex;
    flex-wrap: wrap;
}

#room-seating-gradeable-id {
    flex: 1 0 60%;
}

#seating-only-label {
    margin: 0;
}

#seating-only-label input[type="checkbox"] {
    margin: 5px !important;
}

#vcs-options label {
    display: flex;
    align-items: center;
    margin: 0;
}

@media (min-width: 541px) {
    #room-seating-gradeable-id {
        flex: none;
    }

    #seating-only-label {
        margin: 0 0 0 1em;
    }

    #email-seating-assignment {
        display: flex;
    }

    #email-seating-assignment a {
        width: auto;
    }
}
