.content {
    padding: 20px 10px;
}

#details-table tbody.details-info-header {
    font-size: 15px;
}

#details-table tbody.details-info-header .info td {
    padding-left: 20px;
}

.expand-icon, .collapse-icon {
    display: none;
    position: absolute;
    transform: translate(50%,-50%);
    font-size: 1rem;
    top: 33%;
    left: 0;
}

.collapse-icon {
    left: 2%;
}

.details-header-row {
    justify-content: space-between;
    margin-bottom: 5px;
}

.markers-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.details-action-box {
    padding: 10px 0;
    display: flex;
    flex-direction: column-reverse;
}

.details-action-box > * {
    margin-top: 0;
    white-space: initial;
}

#details-legend {
    width: 100%;
    padding: 6px 6px 6px 0;
    justify-self: flex-end;
    border: 1px solid var(--standard-medium-gray);
    border-radius: 4px;
}

#details-legend li i {
    margin-right: 6px;
}

.action-btn-cont {
    display:flex;
    width: 100%;
    flex-direction: row;
    justify-self: flex-end;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 0;
}

.action-btn-cont a {
    padding: 12px;
    flex: 1;
    margin-right: 10px;
    border: 1px solid var(--standard-medium-gray);
}

.action-btn-cont a:last-child {
    margin-right: 0;
}

#details-table#details-table td::before {
    font-size: 1rem;
    color: var(--text-black);
}

@media (max-width: 950px) {
    table.table,
    .table thead,
    .table tbody,
    .table th,
    .table td,
    .table tr {
        display: block;
        border: none;
    }
    /* Hide table headers */
    #details-table thead tr {
        background: none;
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0,0,0,0);
        border: 0;
    }

    #details-table tr {
        margin-top: 1em;
        background: none !important;
    }

    #details-table td {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 4px 8px;
    }

    .details-action-box {
        justify-content: space-between;
    }

    #details-table tbody.panel-head-active {
        background: var(--submitty-logo-blue);
        color: white;
    }

    .panel-head-active .expand-icon, .collapse-icon {
        display: inline;
    }

    .panel-head-active .collapse-icon, .expand-icon {
        display: none;
    }

    #details-table .details-content td:nth-of-type(1) { display: none; }
    /*
        The content for the ':before' will be added through details.js
        That is ...
        #details-table td:nth-of-type(2):before { content: "User ID"; }
     */

    #details-table tr:nth-child(even) td {
        background: var(--standard-hover-light-gray);
    }

    #details-table tr:nth-child(odd) td {
        background: var(--standard-light-gray);
    }

    #details-table td:before {
        padding-right: 1em;
        font-weight: bold;
    }

    #details-table tbody.details-content {
        display: none;
    }

    #details-table tbody.panel-content-active {
        display: block;
    }

    #details-table .details-info-header,
    #details-table .empty-info-header {
        padding: 10px 0;
        position: relative;
        margin: 15px 0;
        background-color: var(--alert-background-blue);
        transition: 0.2s;
        cursor: pointer;
    }

    #details-table .empty-info-header tr td {
        display: block;
        background: none;
    }

    #details-table tbody.details-info-header:hover {
        background-color: var(--standard-medium-blue);
        color: white;
        transform: translate(0, -5px);
    }

    .details-info-header .info,
    #details-table .details-info-header .info td:nth-of-type(1) {
        display: block;
        background: transparent;
    }
    #details-table .info {
        margin-top: 0;
    }
}

@media (min-width: 401px) {
    .content {
        padding: 30px;
    }

    #details-table tbody.details-info-header {
        font-size: 1rem;
    }

    #details-table tbody.details-info-header .info td {
        padding: 0 25px;
    }

    .expand-icon, .collapse-icon {
        font-size: 30px;
        top: 50%;
        left: 3%;
    }

    .collapse-icon {
        left: 4%;
    }
}

@media (min-width: 660px) {
    .markers-container {
        width: unset;
    }

    #details-legend {
        width: unset;
    }

    .action-btn-cont {
        flex-direction: column;
        width: unset;
        margin: 0 5px;
    }

    .action-btn-cont a {
        margin-right: 0;
        flex: unset;
    }

    .action-btn-cont a:first-child {
        margin-bottom: 10px;
    }
}

@media (min-width: 780px) {
    #details-table tbody.details-info-header .info td {
        padding: 0;
    }

    .details-action-box {
        flex-direction: row-reverse;
    }

    .details-action-box > * {
        margin-top: 0;
    }
}

@media (min-width: 951px) {
    .details-action-box > * {
        margin-right: 5px;
    }

    #details-table td:before {
        content: none !important;
    }

    .markers-container {
        width: unset;
    }

    #details-table td:nth-of-type(1) { display: table-cell; }

    #details-table tbody.details-content {
        display: contents !important;
    }
}

.randomize_cancel_btn{
    float: left;
}
