.content {
    padding: 20px 10px;
}

#details-table tbody.details-info-header {
    font-size: 15px;
}

#details-table tbody.details-info-header .info td {
    padding-left: 20px;
}

/* stylelint-disable-next-line no-descending-specificity */
#details-table tbody.details-content td {
    text-align: center;
}

.expand-icon,
.collapse-icon {
    position: absolute;
    transform: translate(50%, -50%);
    font-size: 30px;
    top: 50%;
    left: 3%;
}

.collapse-icon {
    left: 2%;
}

.details-header-row {
    justify-content: space-between;
    margin-bottom: 5px;
}

.markers-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.details-action-box {
    padding: 10px 0;
    display: flex;
    flex-direction: column-reverse;
}

.details-warning-box {
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

.details-warning-highlight {
    background-color: var(--standard-vibrant-orange);
}

.details-warning-neutral {
    background-color: var(--standard-hover-light-gray);
}

.details-action-box > * {
    margin-top: 0;
    white-space: initial;
}

#details-legend {
    width: 100%;
    padding: 6px 6px 6px 0;
    justify-self: flex-end;
    border: 1px solid var(--standard-medium-gray);
    border-radius: 4px;
}

#details-legend li i {
    margin-right: 6px;
}

.row-wrapper {
    display: flex;
    flex-direction: column;
    float: right;
}

#details-table#details-table td::before {
    font-size: 1rem;
    color: var(--text-black);
}

/* stylelint-disable-next-line no-descending-specificity */
.panel-head-active .expand-icon,
.collapse-icon {
    display: inline;
}

/* stylelint-disable-next-line no-descending-specificity */
.panel-head-active .collapse-icon,
/* stylelint-disable-next-line no-descending-specificity */
.expand-icon {
    display: none;
}

@media (max-width: 950px) {
    table.table,
    .table thead,
    .table tbody,
    .table th,
    .table td,
    .table tr {
        display: block;
        border: none;
    }

    /* Hide table headers */
    #details-table thead tr {
        background: none;
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
    }

    /* stylelint-disable-next-line no-descending-specificity */
    #details-table tr {
        margin-top: 1em;
        /* stylelint-disable-next-line declaration-no-important */
        background: none !important;
    }

    #details-table td {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 4px 8px;
    }

    .details-action-box {
        justify-content: space-between;
    }

    #details-table tbody.panel-head-active {
        background: var(--submitty-logo-blue);
        color: var(--default-white);
    }

    #details-table .details-content td:nth-of-type(1) {
        display: none;
    }

    /*
        The content for the ':before' will be added through details.js
        That is ...
        #details-table td:nth-of-type(2):before { content: "User ID"; }
     */

    /* stylelint-disable-next-line no-descending-specificity */
    #details-table tr:nth-child(even) td {
        background: var(--standard-hover-light-gray);
    }

    /* stylelint-disable-next-line no-descending-specificity */
    #details-table tr:nth-child(odd) td {
        background: var(--standard-light-gray);
    }

    #details-table td::before {
        padding-right: 1em;
        font-weight: bold;
    }

    #details-table tbody.details-content {
        display: none;
    }

    #details-table tbody.panel-content-active {
        display: block;
    }

    #details-table .details-info-header,
    #details-table .empty-info-header {
        padding: 10px 0;
        position: relative;
        margin: 15px 0;
        background-color: var(--alert-background-blue);
        transition: 0.2s;
        cursor: pointer;
    }

    /* stylelint-disable-next-line no-descending-specificity */
    #details-table .empty-info-header tr td {
        display: block;
        background: none;
    }

    #details-table tbody.details-info-header:hover {
        background-color: var(--standard-medium-blue);
        color: var(--default-white);
        transform: translate(0, -5px);
    }

    .details-info-header .info,
    #details-table .details-info-header .info td:nth-of-type(1) {
        display: block;
        background: transparent;
    }

    #details-table .info {
        margin-top: 0;
    }
}

@media (min-width: 401px) {
    .content {
        padding: 30px;
    }

    #details-table tbody.details-info-header {
        font-size: 1rem;
    }

    #details-table tbody.details-info-header .info td {
        padding: 0 25px;
    }

    .collapse-icon {
        left: 4%;
    }
}

@media (min-width: 660px) {
    .markers-container {
        width: unset;
    }

    #details-legend {
        width: 300px;
    }
}

@media (min-width: 780px) {
    #details-table tbody.details-info-header .info td {
        padding: 0;
    }

    .details-action-box {
        flex-direction: row-reverse;
    }

    .details-action-box > * {
        margin-top: 0;
    }

    .markers-container {
        display: flex;
        grid-template-columns: 60% 40%;
        gap: 10px;
    }

    #details-legend {
        width: unset;
    }

    .column-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    .action-btn-cont {
        margin: 0;
        width: unset;
    }
}

@media (min-width: 951px) {
    .details-action-box > * {
        margin-right: 5px;
    }

    #details-table td::before {
        /* stylelint-disable-next-line declaration-no-important */
        content: none !important;
    }

    .markers-container {
        width: 100%;
    }

    #details-table td:nth-of-type(1) {
        display: table-cell;
    }

    #details-table .details-info-header {
        cursor: pointer;
        position: relative;
    }

    #details-table
        .details-info-header:not(.panel-head-active)
        tr:last-of-type
        > td {
        border-bottom: 1px solid var(--standard-hover-light-gray);
    }
}

/* stylelint-disable-next-line selector-class-pattern */
.randomize_cancel_btn {
    float: left;
}

/* stylelint-disable-next-line selector-class-pattern */
.gradeable_message li {
    margin-left: 30px;
    margin-bottom: 10px;
}

.inquiry-only-disabled {
    /* stylelint-disable-next-line declaration-no-important */
    display: none !important; /* Overrides .show() and .hide() to avoid withdrawn students without grade inquiries being visibile */
}
