@import url("google/inconsolata.css");

.diff-container {
    background-color: var(--standard-pale-gray);
    border: 1px solid var(--standard-light-gray);
    width: 100%;
}

.diff-code {
    font-family: monospace;
    color: var(--btn-text-black);
}

.diff-code .row {
    width: 100%;
}

.diff-code .bad {
    background-color: var(--alert-background-bronze);
}

.highlight-hover {
    background-color: var(--standard-light-blue-gray) !important;
}

.highlight-char {
    background-color: var(--focus-danger-red);
}

.line_number {
    color: gray;
    border-right: 1px solid lightgrey;
    text-align: right;
    width: auto;
}

.line_number, .line_code {
    vertical-align: top;
    max-height: 20px !important;
    height: 20px !important;
    font-family: "Courier New", Courier, monospace;
    font-size: 16px;
    line-height: 20px !important;
    padding: 0 5px 0 5px;
}

.line_code_inner {
    max-height: 20px !important;
    height: 20px !important;
    line-height: 20px !important;
    padding: 0 !important;
    overflow-x: scroll !important;
}

.line_code {
    white-space: pre;
    padding-left: 10px;
}

.diff-code .whitespace {
    border: 1px solid var(--standard-deep-blue);
}
