@import url("google/inconsolata.css");

.diff-container-box {
    display: grid;
    overflow: auto;
    background-color: var(--standard-pale-gray);
    border: 1px solid var(--standard-light-gray);
}

.diff-code {
    font-family: monospace;
    color: var(--diff-char);
    background-color: var(--diff-background-all);
    line-height: 1.8;
}

.diff-code .row {
    width: 100%;
}

.diff-code .bad-actual {
    background-color: var(--diff-background-actual);
    color: var(--diff-char);
}

.diff-code .bad-expected {
    background-color: var(--diff-background-expected);
    color: var(--diff-char);
}

.highlight-hover {
    /* stylelint-disable-next-line declaration-no-important */
    background-color: var(--standard-light-blue-gray) !important;
}

.highlight-char-actual {
    background-color: var(--diff-char-background-actual);
}

.highlight-char-expected {
    background-color: var(--diff-char-background-expected);
}

/* stylelint-disable-next-line selector-class-pattern */
.line_number {
    color: var(--standard-medium-gray);
    border-right: 1px solid var(--standard-light-gray);
    text-align: right;
    width: auto;
}

/* stylelint-disable selector-class-pattern */

/* Not sure why the linter can't use disable-next-line here... */
.line_number,
.line_code {
    vertical-align: top;
    /* stylelint-disable-next-line declaration-no-important */
    max-height: 20px !important;
    /* stylelint-disable-next-line declaration-no-important */
    height: 20px !important;
    font-family: "Courier New", Courier, monospace;
    font-size: 16px;
    /* stylelint-disable-next-line declaration-no-important */
    line-height: 20px !important;
    padding: 0 5px;
}
/* stylelint-enable selector-class-pattern */

/* stylelint-disable-next-line selector-class-pattern */
.line_code_inner {
    /* stylelint-disable-next-line declaration-no-important */
    max-height: 20px !important;
    /* stylelint-disable-next-line declaration-no-important */
    height: 20px !important;
    /* stylelint-disable-next-line declaration-no-important */
    line-height: 20px !important;
    /* stylelint-disable-next-line declaration-no-important */
    padding: 0 !important;
    /* stylelint-disable-next-line declaration-no-important */
    overflow-x: scroll !important;
}

/* stylelint-disable-next-line selector-class-pattern */
.line_code {
    white-space: pre;
    padding-left: 10px;
}

.diff-code .whitespace {
    border: 1px solid var(--standard-deep-blue);
}

.autocheck-header {
    margin-top: 5px;
    margin-bottom: 2px;
}

.autocheck-header-button {
    display: flex;
    flex-direction: row-reverse;
    height: auto;
}

.autocheck-header-button a {
    white-space: break-spaces;
}

.autograding-action-wrapper {
    margin: 10px;
}

.autograding-action-header {
    margin-top: 5px;
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: bold;
}

.autograding-action-body {
    font-family: monospace;
    color: var(--btn-text-black);
    font-size: 16px;
}
