@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700");
@import url("https://fonts.googleapis.com/css?family=Inconsolata");

@font-face {
    font-family: 'Grand Hotel';
    src: url('../fonts/grand-hotel/GrandHotel-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.diff-container {
    background-color: #F8F8F8;
    border: 1px solid #ddd;
    width: 100%;
}

.diff-code {
    font-family: monospace;
}

.diff-code .row {
    width: 100%;
}

.diff-code .bad {
    background-color: #fdffe0;
}

.diff-code .highlight {

}

.upperinfo {
    clear: both;
    margin-bottom: 40px;
}

.upperinfo-left {
    float: left;
    margin-bottom: 0px !important;
}

.upperinfo-right {
    float: right;
    margin-bottom: 0px !important;
}

.highlight-hover {
    background-color: #ddf !important;
}

.highlight-char {
    background-color: #fe5b5b;
}

.line_number {
    color: gray;
    border-right: 1px solid lightgrey;
    float: left;
    text-align: right;
    width: auto;
}

.line_number, .line_code {
    vertical-align: top;
    max-height: 20px !important;
    height: 20px !important;
    font-family: 'Inconsolata', monospace !important;
    font-size: 16px;
    line-height: 20px !important;
    padding: 0 5px 0 5px;
}

.line_code_inner {
    max-height: 20px !important;
    height: 20px !important;
    line-height: 20px !important;
    padding: 0 !important;
    overflow-x: scroll !important;
}

.line_code {
    white-space: pre;
    padding-left: 10px;
}