.access-grading td,
.access-grading i {
    background: var(--standard-focus-cornflower-blue) !important;
}

#student-table td:nth-of-type(1) { display: none; }
#student-table .td-registration-section::before { content: "Registration Section"; }
#student-table .td-student-id::before { content: "User ID"; }
#student-table .td-given-name::before { content: "First Name"; }
#student-table .td-family-name::before { content: "Last Name"; }
#student-table .td-pronouns::before { content: "Pronouns"; }
#student-table .td-rotating-section::before { content: "Rotating Section"; }
#student-table .td-manual-registration::before { content: "Manual Registration"; }
#student-table .td-view-grades::before { content: "View Grades"; }
#student-table .td-late-days::before { content: "View Late Days"; }
#student-table .td-registration-type::before { content: "Registration Type"; }
#student-table .td-edit-student::before { content: "Edit Student"; }
#student-table .td-delete-student::before { content: "Delete Student"; }

#grader-table td:nth-of-type(1) { display: none; }
#grader-table td:nth-of-type(2)::before { content: "User ID"; }
#grader-table td:nth-of-type(3)::before { content: "First Name"; }
#grader-table td:nth-of-type(4)::before { content: "Last Name"; }
#grader-table td:nth-of-type(5)::before { content: "User Group"; }
#grader-table td:nth-of-type(6)::before { content: "Registration Sections"; }
#grader-table td:nth-of-type(7)::before { content: "Edit Student"; }

#toggle-columns-form .toggle-columns-menu{
    display: grid;
}

#toggle-columns-form .toggle-columns-instructions{
    margin-bottom: 1vh;
}

#toggle-columns-form .toggle-checkbox-area {
    display: table-cell;
    vertical-align: middle;
}

#toggle-columns-form .toggle-all-buttons {
    margin-top: 1vh;
}

@media (width >= 831px) {
    .directory-table tbody {
        counter-reset: student;
    }

    .directory-table tr:not(.info) {
        counter-increment: student;
    }

    .directory-table tr:not(.info) > td:nth-child(1)::after {
        content: counter(student);
        padding: 0 1em;
    }

    #student-table td:nth-of-type(1) { display: table-cell; }
    #grader-table td:nth-of-type(1) { display: table-cell; }

    tr.access-grading {
        background: var(--standard-focus-cornflower-blue) !important;
    }
}
