.access-grading td, .access-grading i {
    background: var(--standard-focus-cornflowe-blue) !important;
}

#student-table td:nth-of-type(1) { display: none; }
#student-table td:nth-of-type(2):before { content: "Registration Section"; }
#student-table td:nth-of-type(3):before { content: "User ID"; }
#student-table td:nth-of-type(4):before { content: "First Name"; }
#student-table td:nth-of-type(5):before { content: "Last Name"; }
#student-table td:nth-of-type(6):before { content: "Rotating Section"; }
#student-table td:nth-of-type(7):before { content: "Manual Registration"; }
#student-table td:nth-of-type(8):before { content: "Edit Student"; }

#grader-table td:nth-of-type(1) { display: none; }
#grader-table td:nth-of-type(2):before { content: "User ID"; }
#grader-table td:nth-of-type(3):before { content: "First Name"; }
#grader-table td:nth-of-type(4):before { content: "Last Name"; }
#grader-table td:nth-of-type(5):before { content: "User Group"; }
#grader-table td:nth-of-type(6):before { content: "Registration Sections"; }
#grader-table td:nth-of-type(7):before { content: "Edit Student"; }

@media (min-width: 831px) {
    .directory-table tbody {
        counter-reset: student;
    }

    .directory-table tr:not(.info) {
        counter-increment: student;
    }

    .directory-table tr:not(.info)>td:nth-child(1)::after {
        content: counter(student);
        padding: 0 1em;
    }

    #student-table td:nth-of-type(1) { display: table-cell; }
    #grader-table td:nth-of-type(1) { display: table-cell; }

    tr.access-grading {
        background: var(--standard-focus-cornflowe-blue) !important;
    }
}
