#tag-list,
#capabilities-list {
    margin-left: 20px;
}

.docker-header {
    display: inline-block;
    margin-right: 10px;
}

.docker-images-container > div {
    padding: 10px;
    margin-top: 10px;
}

.docker-table,
.machine-table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.docker-table td,
.docker-table th,
.machine-table td,
.machine-table th {
    border: 1px solid #dddddd;
    padding: 8px;
}

.docker-table th,
.machine-table th {
    text-align: left;
}

.docker-table td,
.machine-table td {
    text-align: center;
    vertical-align: middle;
}

.machine {
    font-size: 2em;
}

[data-enabled="false"] {
    background-color: var(--danger-red);
}

/* desktop view */
@media (min-width: 550px) {
    .docker-images-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        grid-gap: 1rem;
    }

    .docker-images-container > div {
        padding: 10px;
    }
}

.docker-table td:nth-of-type(1)::before { content: "Image Name"; }
.docker-table td:nth-of-type(2)::before { content: "ID"; }
.docker-table td:nth-of-type(3)::before { content: "Size"; }
.docker-table td:nth-of-type(4)::before { content: "Tag"; }
.docker-table td:nth-of-type(5)::before { content: "Created Date"; }
.docker-table td:nth-of-type(6)::before { content: "Alias"; }
.docker-table td:nth-of-type(7)::before { content: "Capabilities Containing This Image"; }

.docker-table tr:nth-child(even) td {
    background: var(--standard-hover-light-gray);
}

.docker-table tr:nth-child(odd) td {
    background: var(--standard-light-gray);
}

.send-button {
    float: right;
    margin-top: 1%;
}

.fully-transparent {
    background: transparent !important;
}

.filter-buttons {
    color: var(--text-black);
}

.filter-buttons:hover,
.filter-buttons:focus {
    color: var(--text-black);
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.filter {
    margin-bottom: 1em;
}

.docker-warning {
    margin-bottom: 1em;
    padding: 10px;
}
