#tag-list, #capabilities-list {
    margin-left: 20px;
}

.docker-header {
    display: inline-block;
    margin-right: 10px;
}

.docker-images-container > div {
    padding: 10px;
    margin-top: 10px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid #dddddd;
    padding: 8px;
}

th {
    text-align: left;
}

td {
    text-align: center;
}

.image {
    border: 1px solid #dddddd;
    border-radius: 8px;
    padding: 8px;
    margin: 0.5em 0.5em 0 0.5em;
}

.machine {
    font-size: 2em;
}
[data-enabled="false"] {
    background-color: var(--danger-red);
}

/* desktop view */
@media (min-width: 550px) {
    .docker-images-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        grid-gap: 1rem;
    }

    .docker-images-container > div {
        padding: 10px;
    }
}
