.tag-list,
#capabilities-list {
    margin-left: 20px;
}

.docker-header {
    display: inline-block;
    margin-right: 10px;
}

.docker-images-container > div {
    padding: 10px;
    margin-top: 10px;
}

.docker-table,
.machine-table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.docker-table td,
.docker-table th,
.machine-table td,
.machine-table th {
    border: 1px solid var(--standard-light-gray);
    padding: 8px;
}

.docker-table th,
.machine-table th {
    text-align: center;
}

.docker-table td,
.machine-table td {
    text-align: center;
    vertical-align: middle;
}

.machine {
    font-size: 2em;
}

[data-enabled="false"] {
    background-color: var(--danger-red);
}

.docker-status-bar {
    border: none;
    background-color: var(--standard-hover-light-gray);
    padding: 5px 5px 5px 20px;
    margin-top: 10px;
    border-radius: 25px;
}

#status-head {
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

#build-buttons {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

@media (max-width: 700px) {
    #status-head {
        flex-flow: column wrap;
        justify-content: start;
    }
    #status-head > div {
        width: 100%;
        margin: 3px 0;
    }
}

#docker-status-label {
    font-weight: bold;
}

#docker-status-badge {
    display: inline-block;
    margin-left: 10px;
}

#docker-status-buttons {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    border: none;
}

#show-docker-log-button {
    display: none;
    margin-left: 10px;
}

#docker-status-log {
    display: none;
    margin: 10px 0;
    overflow: auto;
    width: 100%;
}

/* desktop view */
@media (min-width: 550px) {
    .docker-images-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        gap: 1rem;
    }

    .docker-images-container > div {
        padding: 10px;
    }
}

.docker-table td:nth-of-type(1)::before {
    content: "Image Name";
}
.docker-table td:nth-of-type(2)::before {
    content: "ID";
}
.docker-table td:nth-of-type(3)::before {
    content: "Size";
}
.docker-table td:nth-of-type(4)::before {
    content: "Tag";
}
.docker-table td:nth-of-type(5)::before {
    content: "Created Date";
}
.docker-table td:nth-of-type(6)::before {
    content: "Alias";
}
.docker-table td:nth-of-type(7)::before {
    content: "Capabilities Containing This Image";
}

.send-button {
    float: right;
    margin-top: 1%;
}

.fully-transparent {
    /* stylelint-disable-next-line declaration-no-important */
    background: transparent !important;
}

.filter-buttons {
    color: var(--default-black);
}

.filter-buttons:hover,
.filter-buttons:focus {
    color: var(--text-black);
    opacity: 0.8;
}

.filter {
    margin-bottom: 1em;
}

.docker-warning,
#docker-name-example {
    margin-bottom: 1em;
    padding: 10px;
}

.error-log {
    width: 100%;
    height: fit-content;
    white-space: normal;
    padding: 1em;
    background: var(--standard-light-gray);
}

.status {
    pointer-events: none;
    cursor: default;
}
