.btn{
    min-width: 100%;
    text-align: left;
}
.expand{
    display: none;
}
.status{
    list-style: none;
}
.status-error{
    background-color: var(--danger-red);
}
.status-warning{
    background-color: var(--active-warning-brown);
}
.status-success{
    background-color: var(--alert-success-green);
}
.status-container{
    margin-top: 1vh;
    margin-bottom: 1vh;
}
div{
    word-wrap: break-word;
}