.status-btn {
    min-width: 140px;
    height: 7vh;
    margin-left: 10px;
}

.button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin: auto;
    gap: 15px;
}

.expand {
    display: none;
    padding: 1vh;
    margin-top: 0.5em;
}

.status {
    list-style: none;
    border: 1px solid var(--text-black);
}

.status-error {
    background-color: var(--danger-red);
    color: var(--text-white);
}

.status-warning {
    background-color: transparent;
}

.status-success {
    background-color: var(--good-green);
    color: var(--text-white);
}

.status-container {
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.status-message {
    overflow-wrap: break-word;
}

.divider {
    border-top: 1px solid var(--default-black);
}

.pagination {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.page-item {
    display: inline;
    height: fit-content;
}

.page-btn {
    background-color: transparent;
    color: var(--text-black);
    font-size: 16px;
}

.selected {
    color: var(--text-white);
    background-color: var(--text-black);
}

.first-btn,
.last-btn {
    background-color: transparent;
    font-size: 16px;
    color: var(--text-black);
    height: fit-content;
}

#page-num {
    appearance: textfield;
    margin: 0;
    width: 5vw;
}

#page-num::-webkit-outer-spin-button,
#page-num::-webkit-inner-spin-button {
    appearance: none;
}

.loading-animation {
    border: 16px solid var(--text-black); /* Light grey */
    border-top: 16px solid var(--actionable-blue); /* Blue */
    border-radius: 50%;
    animation: spin 2s linear infinite;
    width: 130px;
    height: 130px;
    margin: 2em auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
