.btn{
    position: absolute;
    min-width: 10%;
    height: 5vh;
    top: 0px;
    right: 0px;
}
.button-container{
    position: relative;
    height: 5vh;
    margin: auto;
    display: inline-flexbox;
}
.expand{
    display: none;
    padding: 1vh;
}
.status{
    list-style: none;
    border: 1px solid black;
}
.status-error{
    background-color: var(--danger-red);
}
.status-warning{
    background-color: transparent;
}
.status-success{
    background-color: var(--good-green);
}
.status-container{
    margin-top: 1vh;
    margin-bottom: 1vh;
}
div{
    word-wrap: break-word;
}
.divider{
    border-top: 1px solid black;
}