.status-btn {
    position: absolute;
    min-width: 10%;
    height: 7vh;
    top: 0;
    right: 0;
}

.button-container {
    position: relative;
    margin: auto;
    display: inline-flexbox;
}

.expand {
    display: none;
    padding: 1vh;
    margin-top: 0.5em;
}

.status {
    list-style: none;
    border: 1px solid var(--text-black);
}

.status-error {
    background-color: var(--danger-red);
    color: var(--text-white);
}

.status-warning {
    background-color: transparent;
}

.status-success {
    background-color: var(--good-green);
    color: var(--text-white);
}

.status-container {
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.status-message {
    word-wrap: break-word;
}

.divider {
    border-top: 1px solid black;
}

.pagination {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.page-item {
    display: inline;
    height: fit-content;
}

.page-btn {
    background-color: var(--text-black);
    color: var(--focus-actionable-blue);
    border: 1px solid var(--text-black);
    font-size: 16px;
}

.selected {
    color: var(--text-white);
    background-color: var(--text-black);
}

.first-btn,
.last-btn {
    background-color: transparent;
    font-size: 16px;
    color: var(--text-black);
    height: fit-content;
}
