fieldset {
    margin: 1em 0;
}

.exception-form label {
    display: flex;
    flex: 1 0 auto;
    align-items: center;
    flex-wrap: wrap;
    margin: 0.5em 0;
}

.single-student input {
    width: 100%;
}

#due-date-label {
    margin: 0.5em 0;
}

#gradeable-select {
    /* stylelint-disable-next-line declaration-no-important */
    width: 100% !important;
}

#extensions-table td:nth-of-type(1)::before {
    content: "Student ID";
}
#extensions-table td:nth-of-type(2)::before {
    content: "Given Name";
}
#extensions-table td:nth-of-type(3)::before {
    content: "Family Name";
}
#extensions-table td:nth-of-type(4)::before {
    content: "Number of Days of Extension";
}
#extensions-table td:nth-of-type(5)::before {
    content: "Delete";
}

@media (min-width: 768px) {
    #extensions-table {
        text-align: left;
    }

    .single-student label {
        flex: 0 0 0;
        width: 420px;
        justify-content: space-between;
    }

    .single-student input {
        width: auto;
    }
}
