#upload-boxes {
    display: table;
    border-spacing: 5px;
    width:100%;
}

.file-input {
    cursor: pointer;
    text-align: center;
    border: dashed 2px var(--standard-light-gray);
    display:table-cell;
    height: 20px;
}

.file-input input[type="file"] {
    display: none;
}

.file-input .label {
    font-weight: 700;
    font-size: 1.2em;
    padding: 1em;
    display: block;
    cursor: pointer;
}

/* Give file submission boxes a blue outline when they have focus (for VPAT compliance) */
#upload-boxes > div:focus {
    outline: 2px solid var(--standard-focus-cornflowe-blue);
}

.openAllDiv {
    color: var(--file-browser-blue);
}
