body {min-width: 925px;}

.forum_content {
    flex-grow: 1;
    padding: 0px;
}

.forum_show_threads {
    overflow: hidden;
    flex-direction: column;
    display: flex;
}

.pre_forum {
    font-family: inherit;
}

#forum_bar {
    margin-right: 10px;
    padding-left:15px;
    margin-top: 10px;
}

#thread_list {
    padding-right: 0px;
    overflow-y: auto;
}

#posts_list {
    overflow-y: auto;
}

.first_post .post_content{
    padding-left:20px;
    margin-top: 10px;
}

.post_content {
    margin-right: 5px;
}
.post_viewed_btn {
    background-color: #dcdcdcb5 !important;
}

.first_post .post_button {
}

#post_user_id {
    left:5px;
}

.post_button {
    position:relative;
    right: 5px;
    margin-left:5px;
}

.post_box {
    position: relative;
    box-shadow: 0 2px 15px -5px #888888;
    padding:7px;
    margin-top: 20px;
    word-wrap: break-word;
    overflow-y: auto;
    overflow-x: hidden;
}

.post_box a {
    text-decoration: underline;
}

.first_post{
    padding-left: 10px !important;
    margin-top: 0px !important;
}

.thread_box {
    padding:5px;
    overflow-y: auto;
    word-wrap: break-word;
}

#thread_list a {
    text-decoration: none;
    color: initial;
}

.create_thread_button {
    border-radius: 3px;
    width: 100%;
    min-width: 40px;
    min-height: 40px;
    position: relative;
    background: rgba(255,255,255,0.8);
    box-shadow: 2px 2px 4px -3px #dddddd;
}

.reply-box{
    display: none;
    margin-right: 15px;
    margin-bottom: 60px;
}
