.float-right {
    float: right;
}

/* stylelint-disable-next-line selector-class-pattern */
.forum_content {
    flex-grow: 1;
    padding: 0;
}

/* stylelint-disable-next-line selector-class-pattern */
.forum_show_threads {
    overflow: visible;
    flex-direction: column;
    display: flex;
}

.content h2 {
    margin-bottom: 10px;
}

/* stylelint-disable-next-line selector-class-pattern */
.forum_bar {
    margin-right: 10px;
    padding-left: 15px;
    margin-top: 10px;
    min-height: 30px;
}

/* stylelint-disable-next-line selector-id-pattern */
#thread_list {
    padding-right: 0;
    overflow-y: auto;
    height: 100%;
    max-height: 81vh;
}

/* stylelint-disable-next-line selector-id-pattern */
#posts_list {
    overflow-y: auto;
    max-height: 81vh;
}

/* stylelint-disable-next-line selector-class-pattern */
.first_post .post_content {
    margin-top: 10px;
}

/* stylelint-disable-next-line selector-class-pattern, no-descending-specificity */
.post_content {
    display: flex;
    margin-right: 5px;
    margin-top: 5px;
    white-space: pre-wrap;
    overflow-x: auto;
    padding-bottom: 1em;
}

/* stylelint-disable-next-line selector-class-pattern */
.post_viewed_btn {
    background-color: var(--standard-light-gray);
}

/* stylelint-disable-next-line selector-class-pattern */
.post_user_id {
    left: 5px;
}

/* stylelint-disable-next-line selector-class-pattern */
.post_button {
    position: relative;
    right: 5px;
    margin-left: 5px;
}

/* stylelint-disable-next-line selector-class-pattern */
.post_box {
    position: relative;
    box-shadow: 0 2px 15px -5px var(--standard-medium-gray);
    padding: 7px;
    margin-top: 20px;
    word-wrap: break-word;
    overflow: hidden auto;
}

/* stylelint-disable-next-line selector-class-pattern */
.post_box a {
    text-decoration: none;
}

/* stylelint-disable-next-line selector-class-pattern */
.first_post {
    padding-left: 10px;
    margin-top: 0;
}

/* stylelint-disable-next-line selector-class-pattern */
.thread_box {
    padding: 5px;
    overflow-y: auto;
    word-wrap: break-word;
    align-items: stretch;
}

/* stylelint-disable-next-line selector-class-pattern */
.thread_box h5 {
    font-weight: normal;
}

/* stylelint-disable-next-line selector-id-pattern */
#thread_list a {
    text-decoration: none;
    color: var(--text-black);
}

/* stylelint-disable-next-line selector-class-pattern */
.create_thread_button {
    border-radius: 3px;
    width: 100%;
    min-width: 40px;
    min-height: 40px;
    position: relative;
    background: var(--btn-default-white);
    box-shadow: 2px 2px 4px -3px var(--standard-light-gray);
}

.reply-box {
    display: none;
    margin-right: 15px;
    margin-bottom: 60px;
}

/* stylelint-disable-next-line selector-id-pattern */
#new_category_text {
    resize: none;
}

#ui-category-list {
    padding-left: 1em;
}

.category-color-picker {
    color: white;
    font-size: 14px;
    height: 18px;
    padding: 0;
}

.categorylistitem-desc span {
    word-wrap: break-word;
}

.categorylistitem-editdesc input {
    padding: 0;
}

.category-item-box {
    background-color: var(--standard-pale-gray);
}

.category-button {
    color: var(--standard-gray-black);
}

.edit-catergoty-name {
    background-color: var(--always-default-white);
}

.create-post-head {
    max-width: 95%;
    display: inline-block;
    word-wrap: break-word;
    margin-top: 10px;
    margin-left: 5px;
    font-size: 1.17em;
}

.active-thread-remove-announcement {
    display: inline-block;
    color: var(--standard-medium-orange);
}

.active-thread-announcement-expiring {
    position: relative;
    display: inline-block;
    color: var(--standard-tangerine-yellow);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.active-thread-announcement {
    position: relative;
    display: inline-block;
    color: var(--submitty-logo-blue);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.not-active-thread-announcement,
.current-favorite,
.pinned-thread {
    position: relative;
    display: inline-block;
    color: var(--standard-medium-orange);
}

.not-active-thread-announcement {
    position: relative;
    display: inline-block;
    color: var(--standard-hover-light-gray);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--standard-gray-black);
}

.not-active-thread-announcement i.fas,
.pinned-thread i.fas {
    color: var(--standard-pale-gray);
    -webkit-text-stroke: 1px var(--standard-gray-black);
}

.not-active-thread-announcement:hover {
    text-shadow: gold 0 0 5px;
}

/* stylelint-disable-next-line selector-class-pattern */
.golden_hover {
    color: var(--standard-pale-gray);
}

.red-hover:hover {
    text-shadow: var(--standard-medium-red) 0 0 5px;
}


/* stylelint-disable-next-line selector-class-pattern */
.reverse_golden_hover {
    color: var(--standard-tangerine-yellow);
}

.text-decoration-none {
    text-decoration: none;
}


.post-action-container {
    margin-top: 8px;
    margin-left: 10px;
    float: right;
    white-space: nowrap;
}

.post-email-toggle,
.post-user-info {
    margin-right: 2px;
    display: inline-block;
}

.upduck-container{
    display: inline-block;
    align-items: center;
    justify-content: center;
}

.upduck-button {
    position: relative;
    display: inline-block;
    background: none; 
    border: none; 
    padding: 0; 
    cursor: pointer; 
    outline: none;
    vertical-align: middle;
}

.like-counter{
    font-size: 15px;
    margin-left: 4px;
    margin-right: 3px; 
    vertical-align: middle;
}

.delete-post-button,
.edit-post-button {
    position: relative;
    display: inline-block;
}

.delete-post-button {
    bottom: 1px;
}

.last-edit {
    position: relative;
}

.forum-file-open {
    text-decoration: none;
    display: inline-block;
    white-space: nowrap;
}

.current-favorite i.fas,
.active-thread-remove-announcement i.fas,
.active-thread-remove-expiring-announcement i.fas {
    position: relative;
    display: inline-block;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--standard-gray-black);
}

.current-favorite i.fas {
    color: var(--standard-medium-red);
}

.active-thread-remove-expiring-announcement i.fas {
    color: var(--standard-tangerine-yellow);
}

.active-thread-remove-announcement i.fas {
    color: var(--submitty-logo-blue);
}

.active-thread-remove-expiring-announcement:hover, .active-thread-remove-announcement:hover, .current-favorite:hover {
    text-shadow: var(--default-black) 0 0 5px;
}

.red-hover:hover, .not-active-thread-announcement:hover, .active-thread-remove-expiring-announcement:hover, .active-thread-remove-announcement:hover, .current-favorite:hover {
    display: inline-block;
    transform: translateY(-2px);
}

[data-theme="dark"] .active-thread-remove-expiring-announcement:hover, [data-theme="dark"] .active-thread-remove-announcement:hover, [data-theme="dark"] .current-favorite:hover {
    text-shadow: var(--text-black) 0 0 5px;
}

/* stylelint-disable-next-line selector-id-pattern */
#thread_form {
    margin-right: 15px;
    margin-left: 15px;
}

#display-existing-attachments {
    display: block;
    float: none;
    overflow: hidden;
}

.file-upload-table.edit-imgs-table {
    margin-left: 0;
    margin-right: auto;
}

.create-thread-title {
    margin-left: 15px;
    margin-bottom: 10px;
}

.content.create-thread-message {
    border: solid var(--standard-tangerine-yellow) 4px;
    margin: 15px;
    padding: 20px;
    word-break: break-word;
}

.thread-announcement,
.thread-announcement-expiring,
.thread-favorite,
.thread-merged,
.thread-locked {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--standard-gray-black);
}

.thread-announcement {
    color: var(--submitty-logo-blue);
    order: 0;
}

.thread-announcement-expiring {
    color: var(--standard-tangerine-yellow);
    order: 1;
}

.thread-favorite {
    color: var(--standard-medium-red);
    order: 2;
}

.thread-merged {
    color: var(--standard-pale-gray);
    order: 3;
}

.thread-locked {
    color: var(--standard-pale-gray);
    order: 4;
}

.thread-status {
    margin-top: -3px;
    padding-left: 3px;
    order: -1;
}

.thead-content {
    font-weight: normal;
}

/* stylelint-disable-next-line selector-class-pattern */
.post_reply_form {
    margin-right: 17px;
}

.height-auto {
    height: auto;
}

.inline-block {
    display: inline-block;
}

#unread {
    margin-right: 15px;
    display: inline-block;
}

/* stylelint-disable selector-class-pattern, selector-id-pattern */
.forum_bar div div.col-6,
#search_block div div,
.forum_bar div div.col-5 {
    padding: 0;
    top: 0;
    display: flex;
    align-items: center;
    gap: 5px;
    flex-wrap: nowrap;
    width: auto;
}
/* stylelint-enable selector-class-pattern, selector-id-pattern */

/* stylelint-disable-next-line selector-id-pattern */
#search_block div div.col-6 {
    margin-right: 5px;
}

/* stylelint-disable-next-line selector-id-pattern */
#search_block div div.col-6 input {
    width: 100%;
    height: 34px;
}

/* stylelint-disable-next-line selector-id-pattern, no-descending-specificity */
#search_block div {
    position: relative;
    top: 3px;
}

.more-dropdown {
    position: absolute;
    right: 118px;
    top: 3px;
}

#post-hr {
    border-top: 1px solid var(--standard-medium-gray);
    margin-bottom: 5px;
}

.history-container {
    margin-left: 0;
    display: none;
}

.history-container hr {
    margin-bottom: 3px;
}

.history-container span {
    margin-top: 8px;
    margin-left: 10px;
    float: right;
}

/* stylelint-disable-next-line selector-type-no-unknown */
.history-container span h7 {
    position: relative;
    right: 5px;
}

.history-attachment-table {
    background-color: var(--attachment-box-color);
    border: 1px solid var(--standard-light-gray);
}

.attachment-name-history {
    vertical-align: middle;
}

.history-attachment-btn {
    vertical-align: bottom;
    float: right;
}

.history-buffer {
    margin-bottom: 3px;
    margin-top: 1.5em;
}

/* stylelint-disable-next-line selector-id-pattern */
#merge_thread_parent {
    width: 200px;
}

.hoverable:hover {
    filter: brightness(85%);
    transition: all 0.5s ease;
}

.cursor-pointer {
    cursor: pointer;
}

#search-hr {
    padding-bottom: 20px;
    text-align: center;
    margin-top: 20px;
}

#thread-container {
    position: relative;
    height: 81vh;
    overflow-y: hidden;
}

.stats-table-container {
    padding-left: 20px;
    padding-bottom: 10px;
    border-radius: 3px;
    padding-right: 20px;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.right-zero {
    right: 0;
}

#merge-thread-btn {
    position: absolute;
    right: 0;
    top: 3px;
    display: inline-block;
}

/* stylelint-disable-next-line selector-id-pattern */
#label_lock_thread {
    position: absolute;
    right: 0;
    display: inline-block;
    margin: 0 2px;
}

/* stylelint-disable selector-class-pattern */
.thread-announcement-checkbox,
.pinThread-checkbox {
    margin-left: 15px;
    display: inline-block;
}
/* stylelint-enable selector-class-pattern */

/* stylelint-disable selector-id-pattern */
.thread-anon-checkbox,
#thread_status {
    display: inline-block;
}
/* stylelint-enable selector-id-pattern */

.new-thread-settings-wrapper {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 5px;
}

.email-announcement-checkbox {
    margin-right: 18px;
    display: inline-block;
}

.thread-attachment-container,
.thread-category-container {
    margin-bottom: 10px;
    position: relative;
    display: block;
}

.category-list-no-element {
    margin-left: 1em;
}

.thread-list-item {
    font-weight: bold;
    display: block;
    margin-bottom: 0.5em;
}

.thread-content {
    display: block;
    margin-bottom: 0.25em;
    word-break: break-all;
}

.attachment-btn {
    text-decoration: none;
    display: inline-block;
    white-space: nowrap;
}

.attachment-badge {
    float: right;
    margin-right: 0;
    min-width: 5px;
}

.attachment-well {
    display: none;
    text-align: -moz-center;
    text-align: -webkit-center;
    margin-top: 10px;
}

.attachment-div {
    text-align: center;
}

.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: var(--attachment-box-color);
    border: 1px solid var(--standard-light-gray);
    border-radius: 4px;
    box-shadow: inset 0 1px 1px var(--btn-default-hover);
}

.well blockquote {
    border-color: var(--standard-light-gray);
}

.well-lg {
    padding: 24px;
    border-radius: 6px;
}

.well-sm {
    padding: 9px;
    border-radius: 3px;
}

.attachment-img {
    border: 1px solid var(--standard-light-gray);
    border-radius: 4px;
    padding: 5px;
    max-width: 400px;
    display: block;
    height: auto;
}

.attachment-img:hover {
    box-shadow: 0 0 2px 1px var(--standard-gray-blue);
    cursor: pointer;
}
/* stylelint-disable-next-line selector-id-pattern */
#forum_filter_bar {
    margin-left: 15px;
    margin-top: 10px;
    font-size: small;
    display: none;
}
/* stylelint-disable-next-line selector-class-pattern */
.post_content pre {
    white-space: pre-wrap;
}
/* stylelint-disable-next-line selector-class-pattern */
.post_content p img {
    max-width: 100%;
}

/* stylelint-disable-next-line selector-class-pattern */
.post_content p:first-child {
    margin-top: 0;
}

/* stylelint-disable-next-line selector-class-pattern */
.post_content p:last-child {
    margin-bottom: 0;
}

.markdown-inactive {
    color: var(--standard-light-gray);
}

.markdown-active {
    color: var(--submitty-logo-blue);
}
/* stylelint-disable-next-line selector-id-pattern */
#clear_filter_button,
#unread {
    display: none;
}

.filter-active,
.filter-active:hover {
    background: var(--actionable-blue);
    color: var(--always-default-white);
}

.filter-inactive {
    background: var(--always-default-white);
    color: var(--actionable-blue);
}

[data-theme="dark"] .filter-inactive {
    background: var(--btn-default-white);
    color: var(--default-black);
}

.thread-resolved {
    color: var(--good-green);
    margin-right: 0;
    font-size: 1.5em;
}

.thread-unresolved {
    color: var(--standard-tangerine-yellow);
    margin-right: 5px;
    font-size: 1.8em;
}

.category-sortable {
    background-color: var(--always-default-white);
}
/* stylelint-disable selector-class-pattern */
[data-theme="dark"] .post_box,
[data-theme="dark"] .create_thread_button,
[data-theme="dark"] .well {
    box-shadow: none;
}
/* stylelint-enable selector-class-pattern */
/* stylelint-disable-next-line selector-class-pattern */
[data-theme="dark"] .post_box:not(.important) {
    border: 1px solid var(--standard-light-medium-gray);
}

.thread-box-full {
    padding: 10px 20px;
    margin: 5px auto;
    border: 1px solid var(--standard-medium-gray);
}
/* stylelint-disable-next-line selector-class-pattern */
.thread_box .flex-row,
.thread-box-full .flex-row {
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
}
/* stylelint-disable-next-line selector-class-pattern */
.content .thread_box_link {
    text-decoration: none;
    color: var(--text-black);
}

.thread-title-cont {
    flex: 3;
}

/* stylelint-disable custom-property-empty-line-before, declaration-empty-line-before */
.thread-icons-cont {
    flex: 1;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 3px;
    max-width: 40%;
    --custom-spacing: 0px;
    margin-top: var(--custom-spacing);
}

.thread-icons-cont:empty {
    display: none;
}

.thread-info-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    --custom-spacing: 16px;
    column-gap: var(--custom-spacing);
}
/* stylelint-enable custom-property-empty-line-before, declaration-empty-line-before */

.sub-info-container {
    display: flex;
    flex-grow: 1;
    column-gap: 16px;
    justify-content: space-between;
    align-items: center;
}

.count-container {
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
}

.thread-action-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: auto;
}

/* stylelint-disable custom-property-empty-line-before, declaration-empty-line-before */
.thread-date {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: smaller;
    font-weight: normal;
    --custom-spacing: 0px;
    margin-top: var(--custom-spacing);
}
/* stylelint-enable custom-property-empty-line-before, declaration-empty-line-before */

/* stylelint-disable-next-line selector-class-pattern */
.viewed_post {
    background-color: var(--default-white);
}

/* TODO: MAKE THIS CASCADE */
.deleted {
    background-color: var(--deleted-discussion-post-grey);
    color: var(--text-black);
}

.deleted-unviewed {
    background-color: var(--deleted-and-unviewed-thread) !important;
    color: var(--text-black) !important;
}

.deleted.active {
    background-color: var(--deleted-discussion-post-grey);
}

/* stylelint-disable-next-line selector-class-pattern */
.new_post {
    background-color: var(--viewed-content);
}

/* stylelint-disable selector-class-pattern */
.post_box.important.new_post,
.post_box.new_post.important-new {
    background-color: var(--viewed-content);
    border-style: solid;
    border-width: 4px;
    border-color: var(--important-post);
}
/* stylelint-enable selector-class-pattern */


.important {
    /* THIS IS WHERE THE BACKGROUND COLOR FOR POSTS IS */
    border-style: solid;
    border-width: 4px;
    border-color: var(--important-post); /* gold */
}

.active {
    background-color: var(--default-white);

    /*    color: #4a4a4a; */
    border: 4px solid var(--submitty-logo-blue);
}

/* stylelint-disable-next-line selector-class-pattern */
.new_thread {
    background-color: var(--viewed-content);
    color: var(--text-black);
}

.markdown-toggle {
    margin-right: 10px;
    padding: unset;
    cursor: pointer;
}

.button-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.liked-by-instructor {
    margin-left: 5px;
    font-size: 15px;
    vertical-align: middle;
    font-style: italic;
    color: var(--upduck-yellow);
    font-weight: bold;
    white-space: nowrap;
}

.pinned-thread {
    display: inline-block;
    padding: 5px;
    cursor: pointer;
}

.pinned-thread .fa-ellipsis-v {
    font-size: 1.2em;
    color: var(--standard-pale-gray);
}

.custom-dropdown-menu {
    background-color: var(--default-white);
    border: 1px solid var(--solution-text-background);
    border-radius: 4px; /* Rounded corners */
}

.custom-dropdown-menu a.dropdown-item {
    color: var(--standard-gray-black);
    display: block;
    font-size: 14px;
}
