body {
    font-family: "Source Sans Pro", sans-serif;
    margin: 0;
    min-height: 100vh;
    position: relative;
    display: flex;
    background: var(--background-blue);
    color: var(--text-black);

    /* overflow-x: hidden; */
}

#submitty-body {
    flex: 1 1 auto;
    width: 100%;
}

nav {
    background: var(--default-white);
    font-size: 1.5em;
    font-weight: bold;
    min-height: min-content;
}

nav a,
nav a:link,
nav a:visited {
    color: var(--text-black);
    text-decoration: underline;
}

nav a:hover {
    text-decoration: none;
}

nav a > i.fa,
nav a > i.fas,
nav a > i.f {
    font-size: 20px;
}

#nav-links {
    display: flex;
    align-items: center;
    padding: 5px;
    flex-grow: 1;
}

#home-button {
    margin-right: 0;
}

#breadcrumbs {
    display: flex;
    width: 1px;
    flex: 1 1 auto;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 70px;
}

@media (max-width: 541px) {
    #breadcrumbs {
        padding-left: 0;
        padding-right: 0;
    }
}

#breadcrumbs > *:not(:last-child) {
    padding-right: 7px;
    display: none;
}

.centered-icon {
    line-height: inherit;
}

.external-breadcrumb {
    padding-left: 7px;
}

.breadcrumb-heading {
    font-size: 24px;
}

#logout-button {
    margin: 15px;
    text-decoration: none;
}

#logo-box {
    display: none;
}

.system-message {
    width: 100%;
    text-align: center;
    margin: auto;
    font-size: 1.5em;
    font-weight: bold;
}

.inner-message {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 !important;
    padding: 8px 14px !important;
}

#wrapper {
    display: flex;
    flex-grow: 1;
    min-height: max-content;
}

main {
    width: 100%;
    min-width: 0;
    position: relative;
}

footer {
    text-align: center;
    width: 100%;
    padding: 10px;
}

/* stylelint-disable-next-line no-descending-specificity */
footer a {
    text-decoration: none !important;
}

footer .footer-separator {
    padding: 0 8px;
}

#moorthy-duck {
    display: block;
}

@media (max-width: 541px) {
    #moorthy-duck {
        display: none;
    }

    footer {
        font-size: 14px;
    }
}

@media (min-width: 541px) {
    #home-button,
    #logout-button {
        display: none;
    }

    #logo-box {
        display: block;
        z-index: 0;
    }

    #logo-submitty,
    #logo-submitty-light {
        height: 80px;
    }

    /* specificity less than no @media since :not stated (for speed) */
    #breadcrumbs > * {
        display: block !important;
    }

    #messages {
        z-index: 999;
        position: fixed;
        top: 40px;
        left: 50%;
        width: 30%;
        min-width: 450px;
        transform: translateX(-50%);
    }
}

.loading-bar-wrapper {
    padding-left: 3px;
    margin-bottom: 5px;
    display: none;
}

#loading-bar-percentage {
    margin-left: 10px;
}



#club-banners {
    border-style: double;
    border-width: 5px;
    width: 800px;
    height: 70px;
}



@keyframes slide {
    0% { transform: translateX(100%); }
    100% { transform: translateX(0%); }
}


.banner {
    position: relative;
    overflow: hidden;
    margin-left: 50px;
    margin-right: 50px;
    z-index: 999;
}

.breadcrumb-title {
    position: relative;
    z-index: 9999;
}

.banner img {
    display: none;
    object-fit: cover;
    border-style: double;
    border-width: 5px;
}

.banner img.active {
    display: block;
}

.delete-button {
    position: absolute;
    top: -3px;
    right: -3px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    background-color: rgba(0 0 0 / 50%);
    border-radius: 50%;
}

.prev-button,
.next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding: 0.5rem;
    background-color: rgba(0 0 0 / 50%);
    border-radius: 50%;
}



.prev-button {
    left: 10px;
    border-radius: 0% 50% 50% 0%;
}

.next-button {
    right: 10px;
    border-radius: 50% 0% 0% 50%;
}


/* Styling for the speech bubble */
.speech-bubble {
    position: relative;
    background-color: #FFFFFF;
    color: #000000;
    border: 2px solid #000000;
    border-radius: 15px;
    left: -10px;
    padding: 10px;
    top: 7px;
    font-size: 7px;
}

.triangle {
    width: 0;
    height: 0;
    background-color: transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 15px solid #000000; /* Use the same background color as the circle */
    position: relative;
    top: -15px;
    left: 50px;
    transform: rotate(-90deg);
}

/* Styling for the speech pointer (triangle) on the right */
.speech-bubble::after {
    position: relative;
    background-color: #FFFFFF;
    color: #000000;
    border: 2px solid #000000;
    border-radius: 15px;
    padding: 10px;
    font-size: 16px;
}

@keyframes rocking {
  0% {
    transform: rotateZ(-10deg);
  }
  50% {
    transform: rotateZ(10deg);
  }
  100% {
    transform: rotateZ(-10deg);
  }
}