body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    min-height: 100vh;
    position: relative;
    display: flex;
    background: var(--background-blue);
    color: var(--text-black);
    /*overflow-x: hidden;*/
}

#submitty-body {
    flex: 1 1 auto;
    width: 100%;
}

nav {
    background: var(--default-white);
    font-size: 1.5em;
    font-weight: bold;
    min-height: min-content;
    min-height: -moz-min-content;
}

nav a,
nav a:link,
nav a:visited {
    color: var(--text-black);
    text-decoration: underline;
}

nav a:hover {
    text-decoration: none;
}

nav a > i.fa,
nav a > i.fas,
nav a > i.f {
    font-size: 20px;
}

#nav-links {
    display: flex;
    align-items: center;
    padding: 5px;
    flex-grow: 1;
}

#home-button {
    margin-right: 0;
}

#breadcrumbs {
    display: flex;
    width: 1px;
    flex: 1 1 auto;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 70px;
}
@media (max-width: 541px) {
    #breadcrumbs {
        padding-left: 0;
        padding-right: 0;
    }
}

#breadcrumbs > *:not(:last-child) {
    padding-right: 7px;
    display: none;
}

.external-breadcrumb {
    padding-left: 7px;
}

.breadcrumb_heading{
  font-size: 24px
}

#logout-button {
    margin: 15px;
    text-decoration: none;
}

#logo-box {
    display: none;
}

.system-message {
    width: 100%;
    text-align: center;
    margin: auto;
    font-size: 1.5em;
    font-weight: bold;
}

.inner-message {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 !important;
    padding: 8px 14px !important;
}

#wrapper {
    display: flex;
    flex-grow: 1;
}

main {
    width: 100%;
    min-width: 0;
    position: relative;
    min-width: 0;
}

footer {
    text-align: center;
    width: 100%;
    padding: 10px;
}

footer a {
    text-decoration: none !important;
}

footer .footer-separator {
    padding: 0 8px;
}

#moorthy-duck{
    display: block;
}

@media (max-width: 541px) {
    #moorthy-duck{
        display: none;
    }
    footer {
        font-size: 14px;
    }
}

@media (min-width: 541px) {
    #home-button, #logout-button {
        display: none;
    }

    #logo-box {
        display: block;
    }

    #logo-submitty, #logo-submitty-light {
      height: 80px;
    }

    /* specificity less than no @media since :not stated (for speed) */
    #breadcrumbs > * {
        display: block !important;
    }

    #messages {
        z-index: 999;
        position: fixed;
        top: 40px;
        left: 50%;
        width: 30%;
        min-width: 450px;
        transform: translateX(-50%);
    }
}

.loading-bar-wrapper{
    padding-left: 3px;
    margin-bottom: 5px;
    display: none;
}

#loading-bar-percentage{
    margin-left: 10px;
}
