.component-tabs {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.component-tab-icon.fa-exclamation {
    color: var(--error-alert-dark-red);
}

.component-tab-icon.fa-check {
    color: var(--standard-dark-green);
}

.grade-inquiry-header-div {
    display: flex;
    margin-top: 10px;
}

.grade-inquiry-status {
    margin-left: 5px;
}

.grade_inquiry {
    display: none;
}

.post_box {
    padding: 20px;
}

.reply-text-form {
    margin-top: 10px;
}
