fieldset {
    margin: 1em 0;
}

h1 {
    font-weight: 500;
}

#gradeOverrideForm label {
    display: flex;
    flex: 1 0 auto;
    align-items: center;
    flex-wrap: wrap;
    margin: 0.5em 0;
}

#g_id {
    width: 100%;
    margin-top: 10px;
}

textarea {
    height: 60px;
    resize: vertical;
}

.single-student input,
textarea,
#gradeOverrideForm button,
#gradeOverrideForm input {
    width: 100%;
}

/* Adding Content for the 'before' pseudo element */

#grade-override-table td:nth-of-type(1)::before { content: "Student ID"; }
#grade-override-table td:nth-of-type(2)::before { content: "First Name"; }
#grade-override-table td:nth-of-type(3)::before { content: "Last Name"; }
#grade-override-table td:nth-of-type(4)::before { content: "Marks"; }
#grade-override-table td:nth-of-type(5)::before { content: "Comments"; }
#grade-override-table td:nth-of-type(6)::before { content: "Delete"; }

@media (min-width: 541px) {
    h1 {
        font-weight: bold;
    }
}

@media (min-width: 768px) {
    .single-student label {
        flex: 0 0 0;
        width: 420px;
        justify-content: space-between;
    }

    #gradeOverrideForm label span,
    #gradeOverrideForm label input,
    #gradeOverrideForm label textarea {
        flex: 1;
    }

    .single-student input,
    textarea,
    #gradeOverrideForm button,
    #gradeOverrideForm input {
        width: auto;
    }
}

@media (min-width: 830px) {
    #grade-override-table {
        text-align: left;
    }

    #grade-override-table caption {
        border-bottom: 1px solid #ddd;
    }
}
