fieldset {
    margin: 1em 0;
}

h1 {
    font-weight: 500;
}

/* stylelint-disable-next-line selector-id-pattern */
#gradeOverrideForm label {
    display: flex;
    flex: 1 0 auto;
    align-items: center;
    flex-wrap: wrap;
    margin: 0.5em 0;
}

/* stylelint-disable-next-line selector-id-pattern */
#g_id {
    width: 100%;
    margin-top: 10px;
}

textarea {
    height: 60px;
    resize: vertical;
}

/* stylelint-disable selector-id-pattern */
.single-student input,
textarea,
#gradeOverrideForm button,
#gradeOverrideForm input {
    width: 100%;
}
/* stylelint-enable selector-id-pattern */

/* Adding Content for the 'before' pseudo element */

#grade-override-table td:nth-of-type(1)::before {
    content: "Student ID";
}
#grade-override-table td:nth-of-type(2)::before {
    content: "Given Name";
}
#grade-override-table td:nth-of-type(3)::before {
    content: "Family Name";
}
#grade-override-table td:nth-of-type(4)::before {
    content: "Marks";
}
#grade-override-table td:nth-of-type(5)::before {
    content: "Comments";
}
#grade-override-table td:nth-of-type(6)::before {
    content: "Delete";
}

@media (min-width: 541px) {
    h1 {
        font-weight: bold;
    }
}

@media (min-width: 768px) {
    .single-student label {
        flex: 0 0 0;
        width: 420px;
        justify-content: space-between;
    }

    /* stylelint-disable selector-id-pattern */
    #gradeOverrideForm label span,
    #gradeOverrideForm label input,
    #gradeOverrideForm label textarea {
        flex: 1;
    }
    /* stylelint-enable selector-id-pattern */

    /* stylelint-disable selector-id-pattern, no-descending-specificity */
    .single-student input,
    textarea,
    #gradeOverrideForm button,
    #gradeOverrideForm input {
        width: auto;
    }
    /* stylelint-enable selector-id-pattern, no-descending-specificity */
}

@media (min-width: 830px) {
    #grade-override-table {
        text-align: left;
    }

    #grade-override-table caption {
        border-bottom: 1px solid #dddddd;
    }
}
