#courses h2 {
    margin: 0;
}

.course-list li {
    margin: 3px 0;
}

.btn-course {
    text-align: left;
    padding: 6px 10px;
    white-space: normal;
    word-wrap: break-word;
}

li {
    margin-top: 4px;
    margin-bottom: 4px;
}

select {
    width: 100%;
}

#user_card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#user_card_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#user_card_info a {
    align-self: center;
}

.div_with_drop_down {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

#utc_offset_stub {
    font-style: italic;
}

.edit_user_row {
    display: flex;
    flex-direction: row;
}

#user_settings_modal h2 {
    margin-bottom: 10px;
}

#user_settings_modal input[type='file'] {
    margin-top: 10px;
}
