#courses h2 {
    margin: 0;
}

#course-list li {
    margin: 3px 0;
}

.btn-course {
    text-align: left;
    padding: 6px 10px;
    white-space: normal;
    word-wrap: break-word;
}

[data-theme="dark"] .light_mode_toggle, .dark_mode_toggle{
  display: block!important;
  margin: 0px;
}

[data-theme="dark"] .dark_mode_toggle, .light_mode_toggle {
  display: none!important;
}
