#courses h2 {
    margin: 0;
}

.course-list li {
    margin: 3px 0;
}

.btn-course {
    text-align: left;
    padding: 6px 10px;
    white-space: normal;
    word-wrap: break-word;
}


#club_banners {
    border-style: double;
    border-width: 5px;
    width: 800px;
    height: 70px;
}




.banner {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-bottom: 0; /* Adjust the margin-bottom value */
}

.banner img {
  display: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-style: double;
  border-width: 5px;
}

.banner img.active {
  display: block;
}

.delete-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  background-color: rgba(0,0,0,.5);
  border-radius: 50%;
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  background-color: rgba(0,0,0,.5);
  border-radius: 50%;
}



.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}
