.leaderboard-tab-bar-wrapper {
    display: flex;
    height: 35px;
}

.leaderboard-nav {
    padding: 0.1rem 0.5rem 0;
    text-decoration: none;
    background-color: var(--default-white);
    color: var(--text-black);
    border-radius: 6px;
    border: 1px solid gray;
    margin: 0 0.2rem 0.1rem;
    margin-right: 0;
    overflow-wrap: break-word;
}

.leaderboard-nav.normal-btn {
    background-color: var(--default-white);
    color: var(--text-black);
    border: 1px solid gray;
}

.leaderboard-nav.active-btn {
    background-color: var(--submitty-logo-blue);
    color: var(--btn-text-white);
    font-weight: bold;
}

.leaderboard-nav.unselected-btn:hover {
    background-color: var(--standard-pastel-blue);
    color: var(--text-black);
    border: 1px solid gray;
}

#leaderboard-table {
    border-top: 1px solid gray;
    margin-top: 0.5rem;
}

#leaderboard-table .leaderboard-grader {
    background: var(--alert-border-blue);
}

#leaderboard-table .leaderboard-you {
    background: var(--alert-border-bronze);
}
