/*
 * This file defines a standardized set of styling rules for html elements which have been converted from
 * markdown to html using our markdown parser.
 *
 * To utilize these rules simply add 'markdown' to the class attribute of the parent container which holds the
 * converted markdown.
 *
 * Beware when making changes here, as your changes are likely to affect the look and feel of several pages on submitty.
 */

.markdown {
    font-family: 'Source Sans Pro', 'sans-serif';
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
    margin: 0
}

.markdown p {
    margin-top: 12px;
    margin-bottom: 12px;
    white-space: pre-wrap;
}

.markdown ol,
.markdown ul {
    margin-bottom: 12px;
    white-space: normal;
    padding-left: 15px;
}

.markdown li {
    margin-left: 25px;
    white-space: normal;
}

.markdown table {
    border-collapse: collapse;
    border: 1px solid var(--text-black);
}

.markdown pre {
    background: var(--code-box-background-light-gray);
    color: var(--code-box-font-color-dark-gray);
}

.markdown pre + pre {
    border-top: 1px dashed var(--text-black);
}

.markdown code {
    display: block;
    padding: 1em;
    overflow-x: scroll;
} 

.markdown th {
    border: 1px solid var(--text-black);
}

.markdown td {
    border: 1px solid var(--text-black);
}

.markdown-preview {
    border: 1px solid var(--standard-light-gray);
    background-color: var(--standard-input-background);
    border-radius: 4px;
    padding: 4px 6px;
    height: auto !important;
    overflow: scroll;
    resize: none;
    max-height: 300px;
}

.markdown-area textarea {
    resize: vertical;
    min-height: 100px;
    max-height: 300px;
    width: -webkit-fill-available;
}

.btn-markdown {
    margin: 5px;
}