/*
 * This file defines a standardized set of styling rules for html elements which have been converted from
 * markdown to html using our markdown parser.
 *
 * To utilize these rules simply add 'markdown' to the class attribute of the parent container which holds the
 * converted markdown.
 *
 * Beware when making changes here, as your changes are likely to affect the look and feel of several pages on submitty.
 */

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
    margin: 0
}

.markdown p {
    margin-top: 12px;
    margin-bottom: 12px;
    white-space: pre-wrap;
}

.markdown ol,
.markdown ul {
    margin-bottom: 12px;
    white-space: normal;
    padding-left: 15px;
}

.markdown li {
    margin-left: 25px;
    white-space: normal;
}

.markdown table {
    border-collapse: collapse;
    border: 1px solid var(--text-black);
}

.markdown th {
    border: 1px solid var(--text-black);
}

.markdown td {
    border: 1px solid var(--text-black);
}

.markdown-preview {
    border: 1px solid var(--standard-light-gray);
    background-color: var(--standard-input-background);
    border-radius: 4px;
    padding: 4px 6px;
    height: auto !important;
    overflow: scroll;
}

.btn-markdown {
    margin: 5px;
}