.course-section-heading {
    font-size: 22px;
    font-weight: 600;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -30px;
    padding: 9px 30px;
    border-bottom: 1px solid var(--standard-light-gray);
}

.gradeable-row {
    padding: 18px 0;
    border-bottom: 1px solid var(--standard-light-gray);
}

#gradeables-content.content {
    padding-bottom: 0;
}

.gradeable-row:nth-last-child(1) {
    border: none;
}

.no-assignments-message {
    padding-bottom: 30px;
    padding-left: 0;
}

.course-main {
    display: flex;
    align-items: center;
    font-size: 0px;
    margin-bottom: 9px;
    padding-bottom: 5px;
}

.course-main i.fas {
    margin: 0 5px;
}

.course-main a.fas {
    font-size: 18px;
    padding-right: 10px;
    float: left;
}

.collapse-icon, .expand-icon {
    margin-left: -10px;
    display: none;
}

.course-main .course-title {
    font-size: 18px;
    margin: 0 5px;
    display: table;
}

.course-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12px;
    margin: 3px 0;
    min-height: 100%;
    min-width: 100%;
}

.btn-nav-open {
    display: none;
}

.course-section-title {
    display: inline;
}

@media (max-width: 401px) {
    .course-section-heading,
    .course-main .course-title {
        font-size: 16px;
    }
    .course-button .btn, .subtitle {
        font-size: 12px;
    }
}

@media (max-width: 950px) {
    .course-section-heading {
        margin: 10px 0;
        font-weight: 400;
        background-color: var(--alert-background-blue);
        transition: 0.2s;
        border: none;
    }

    .course-section-heading:hover {
        background: var(--standard-medium-blue);
        color: white;
        transform: translate(0, -5px);
    }

    .course-section {
       display: none;
    }

    .panel-head-active {
        background: var(--submitty-logo-blue);
        color: white;
    }

    .panel-head-active .expand-icon, .collapse-icon {
        display: inline;
    }

    .panel-head-active .collapse-icon, .expand-icon {
        display: none;
    }

    .panel-active {
        display: block;
    }
}

@media (min-width: 950px) {
    #gradeables {
        display: table;
        width: 100%;
        border-collapse: collapse;
    }

    .course-section-heading {
        margin: 0;
        padding: 0;
        display: table-row-group;
    }

    .course-section {
        display: table-row-group!important;
    }

    .gradeable-row {
        border: none;
        display: table-row;
        justify-content: space-between;
    }

    .course-main, .course-button {
        display: table-cell;
        vertical-align: middle;
    }
    
    .course-main {
        padding: 9px;
        min-width: 220px;
        /* webkit tables cannot shrink to fit content; it must take a percentage width value */
        width: 40%;
        /* this is the logical behavior, that firefox will render (max width overrides width) */
        max-width: max-content;
    }

    .course-button {
        padding: 10px;
        text-align: center;
        width: 220px;
        min-width: min-content;
        max-width: max-content;
    }

    .btn-nav {
        margin: auto;
    }

    .btn-nav-open {
        display: flex;
        max-width: 85px;
        min-width: 0;
        min-height: 50px;
        justify-content: center;
        padding: 5px !important;
    }

    .course-main .button-placeholder {
        display: inline-block;
        width: 33px;
    }

    .course-button {
        max-width: 95%;
        margin: auto;
    }
}
