/**
 * Styles common to all notebook builder widgets
 */
.notebook-builder-widget {
    border: 3px solid var(--viewed_content);
    background-color: var(--viewed_content);
    border-radius: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.heading-container {
    display: flex;
    flex-direction: column;
}

.widget-main {
    padding: 10px;
    margin-right: 10px;
    width: 100%;
}

.widget-controls {
    display: flex;
    flex-direction: column;
    border: 3px solid white;
    border-radius: 25px;
    background-color: white;
    justify-content: space-around;
}

.widget-controls input[type='button'] {
    margin: 10px;
}

.interactive-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

/**
 * Selector widget styles
 */
.selector-widget {
    display: flex;
    flex-direction: column;
}

.selector-widget select {
    margin-top: 0;
    width: 90%;
}

/**
 * Markdown widget styles
 */
.markdown-widget textarea {
    width: 100%;
    margin-right: 10px
}

/**
 * Short answer widget styles
 */
.short-answer-widget .interactive-container form div {
    margin: 10px;
    display: flex;
    align-items: center;
}

/**
 * Multiple choice widget styles
 */
.multiple-choice-widget td {
    text-align: center;
}

.multiple-choice-options {
    flex-grow: 1;
}

.multiple-choice-options table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 10px;
}

.multiple-choice-options table input {
    width: 80%;
}

.multiple-choice-config {
    display: flex;
    align-items: center;
}

.multiple-choice-config fieldset {
    display: flex;
    flex-direction: column;
    text-align: right;
}