/* Hides elements on the page before they have been fully loaded */
.page_loading {
    visibility: hidden;
}

td{
  vertical-align: middle;
}

th{
  vertical-align: middle;
}

.filter_btn{
  margin-bottom: .5rem;
}

/*
  This will hide elements on phones. This is useful for extra content that
  is not normally needed such as a user id
*/
@media only screen and (max-width: 479px) {

    /* Put this on elements you dont need on mobile */
    .mobile-hide {
        display: none !important;
    }

    .finish_helping_btn{
      white-space: normal;
      width: 5rem;
    }

    .filter_settings_btn{
      width: 4rem;
    }

    .content{
      padding: 20px;
    }
}

/* Put this on elements you dont need on desktop */
@media only screen and (min-width: 480px) {
    .desktop-hide {
        display: none !important;
    }
}

.current_queue_row, a > i.fas{
  color: var(--btn-text-black);
}

.announcement-setting {
    min-height: 7em;
    flex: 1 0 auto;
    margin: 0 0 1em;
    width: 100%;
}

#announcement {
  background: var(--standard-light-gray);
  padding: .75rem;
}

.fully-transparent {
    background:transparent!important;
    color:white;
}

.filter-buttons:hover, .filter-buttons:focus{
    opacity: 0.8;
    filter: alpha(opacity=80);
}
