body {
    background-color: rgba(255, 255, 255, 0.0);
    background: rgba(255, 255, 255, 0.0);
}

div#header {
    background-color: rgba(255, 255, 255, 0.7);
}

div#footer {
    background-color: rgba(255, 255, 255, 0.7);
}

div.content {
    background-color: rgba(255, 255, 255, 0.7);
}
