/* ==== Main Page =========================================================== */
.nav-buttons .btn-primary {
    white-space: normal;
}

th {
    padding: 0 0.25em;
}

.plag-table-cont {
    margin-top: 24px;
    width: 100%;
}

.plag-table-cont th {
    white-space: nowrap;
}

.config-id-title {
    color: var(--standard-medium-gray);
    font-weight: normal;
}

#result-title-bar {
    margin-bottom: 10px;
}

.run-log-data {
    text-align: left;
    width: inherit;
    background-color: var(--table-info);
}

td {
    border-left-style: none;
    border-right-style: none;
}

.padded-icon-column {
    /* stylelint-disable-next-line declaration-no-important */
    padding: 0 0.5em !important;
}

.unviewed {
    background-color: var(--viewed-content);
}

.unviewed td:first-child {
    border-left: 3px solid var(--actionable-blue);
}

.run-log-data pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: auto;
    max-height: 20em;
    max-width: 100%;
}

/* ==== Configuration form page ============================================= */
.plag-data-group {
    display: flex;
    flex-direction: column;
    margin: 26px 0;
}

.plag-data-label {
    flex: 1;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 0.2rem;
}

input[type="radio"] {
    margin-left: 0;
}

.plag-data-group .plag-data {
    flex: 1;
}

input[type="text"],
textarea {
    width: 100%;
}

.delete-btn {
    padding-left: 0.5em;
}

input[type="text"]:invalid {
    background-color: var(--alert-invalid-entry-pink);
}

[data-theme="dark"] input[type="text"]:invalid {
    background-color: var(--alert-danger-red);
}

[data-theme="dark"] input[type="text"]:invalid::placeholder {
    color: var(--alert-invalid-entry-pink);
}

#other-gradeable-div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    padding-bottom: 30px;
}

#other-gradeable-div select {
    width: calc(100% / 3 - 10px);
    margin-right: 0.2em;
    margin-top: 0.5em;
}

#other-gradeable-paths {
    height: 4em;
}

#current-code-file,
#provided-code-file,
#other-gradeable-div {
    display: none;
}

#ignore-others-list {
    flex-grow: 100;
    margin-left: 0.5em;
}

#ignore-others-container {
    display: inline-flex;
}

.radio-label-pair {
    margin-left: 0.5em;
    display: inline-flex;
    align-items: center;
}

.radio-label-pair:first-of-type {
    margin-left: 0;
}

.right {
    float: right;
}

.low-margin-top {
    margin-top: 5px;
}

/* ==== Results Page ======================================================== */
.color-pickers > input[type="color"] {
    width: 50px;
    margin-top: 0.2em;
    margin-right: 0.2em;
}

.match-style {
    border-right: 1px solid var(--text-white);
}

.specific-match-style {
    border-right: 1px solid var(--text-white);
}

.common-code-style {
    border-right: 1px solid var(--text-white);
}

.provided-code-style {
    border-right: 1px solid var(--text-white);
}

.selected-style-red {
    border-right: 1px solid var(--text-white);
}

.selected-style-blue {
    border-right: 1px solid var(--text-white);
}

.plagiarism-result-cont {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
    margin: 0 20px 0 0;
}

.plag-table-no-cont {
    padding-top: 20px;
    padding-left: 5px;
}

main#main.full-screen-mode {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 10;
    height: 100vh;
    width: 100vw;
}

main#main.full-screen-mode .plagiarism-result-cont {
    margin: 0;
}

.full-screen-btn {
    margin-left: 10px;
}

.plagiarism-result-cont.content hr {
    margin: 1px 0;
}

.code-cont {
    position: relative;
    height: inherit;
    overflow-y: hidden;
}

.code-cont .sub {
    height: 100%;
    width: 100%;
    display: flex;
}

.code-cont .sub-item {
    line-height: 1.5em;
    overflow: auto;
    padding: 5px;
    border: 2px solid #555555;
    background: white;
    min-width: 100px;
}

.loading-animation {
    border: 5px solid var(--standard-dark-gray);
    border-top: 5px solid rgb(0 0 0 / 0%);
    border-radius: 50%;
    animation: spin 0.7s linear infinite;
    width: 3em;
    height: 3em;
    position: absolute;
    top: calc(50% - 1.5em);
    z-index: 1000;
}

.loading-animation.left-loader {
    left: calc(25% - 7px - 1.5em);
}

.loading-animation.right-loader {
    left: calc(75% - 7px - 1.5em);
}

.left-sub-item-middle,
.right-sub-item-middle {
    height: 100%;
}

.left-sub-item {
    width: calc(50% - 7px);
}

.right-sub-item {
    flex: 1 1 0;
}

.blurry {
    filter: blur(1px);
}

.plag-drag-bar {
    height: 100%;
    width: 14px;
    position: relative;
    cursor: col-resize;
}

.plag-drag-bar::after {
    content: "";
    width: 7px;
    height: 25%;
    max-height: 120px;
    border-radius: 10px;
    background: var(--submitty-logo-blue);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.plag-drag-bar:hover::after {
    width: 9px;
}

.plag-results-header-right {
    float: right;
}

#popup-to-show-matches-id {
    display: none;
    position: fixed;
}

.ui-menu-item:hover {
    background-color: var(--selected-nav-sidebar);
}

.plag-legend {
    text-shadow: 0 0 3px var(--text-black);
    margin-left: 5px;
}

[data-theme="dark"] .plag-legend {
    text-shadow: 0 0 3px transparent;
}

@media (max-width: 660px) {
    .nav-buttons a {
        width: 100%;
    }

    #users-with-plagiarism.plag-flex a,
    #users-with-plagiarism.plag-flex span {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 660px) {
    #save-configuration-form {
        width: 80%;
    }

    .plag-flex-row {
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-top: 10px;
    }

    .plag-flex-row:last-of-type {
        margin-bottom: 10px;
    }

    .plag-flex-row .user1-select {
        width: calc(100% - 7px);
    }

    .plag-flex-row .user2-select {
        width: calc(100% - 7px);
        margin-left: 7px;
    }

    .plag-flex-item {
        flex: 1;
        white-space: nowrap;
    }
}
