/* Main Page */
.nav-buttons .btn-primary {
    white-space: normal;
}

.plag-table-cont {
    margin-top: 24px;
}

.sub table {
    border-collapse: separate;
    border-spacing: 15px 10px;
}

td .plag-action-btn-cont {
    display: flex;
}

td .plag-action-btn-cont a:not(:last-child) {
    margin-right: 40px;
}
/* Configuration form page */
.plag-data-group {
    display: flex;
    flex-direction: column;
    margin: 26px 0;
}

.plag-data-group .plag-data-label{
    flex: 1;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 15px;
}

input[type="radio"] {
    margin-left: 0;
}

.plag-data-group .plag-data {
   flex: 1;
}

input[type="text"], select {
    width: 100%;
}

#prev_gradeable_div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    padding-bottom: 30px;
}

#prev_gradeable_div select {
    width: calc(100% / 3 - 10px);
    margin: 5px;
}

#prev_gradeable_div select:nth-child(3n+2) {
    margin-left: 0;
}

#prev_gradeable_div select:nth-child(3n+1) {
    margin-right: 0;
}

#ignore_submission_div {
    position: relative;
    padding-bottom: 30px;
}

.low-margin-top {
    margin-top: 5px;
}

.add-more {
    position: absolute;
    bottom: 0;
    left: 0;
}

.fa-plus-square {
    margin-right: 10px;
}

@media (max-width: 768px) {
    .nav-buttons a {
        width: 100%;
    }

    .plag-table {
        width: 100%;
    }

    .plag-table tbody {
        display: block;
    }

    .plag-table tbody tr {
       display: flex;
       flex-direction: column;
       border-bottom: 1px solid;
       padding: 15px 0;
    }

    .plag-table tbody tr td {
        padding: 2px 8px;
        margin: 2px 0;
    }
}

@media (min-width: 768px) {
    #save-configuration-form {
        width: 80%;
    }

    td .plag-action-btn-cont a:not(:last-child) {
        margin-right: 20px;
    }

    .plag-data-group {
        flex-direction: row;
    }
}
