/* Main Page */
.nav-buttons .btn-primary {
    white-space: normal;
}

.plag-table-cont {
    margin-top: 24px;
    width: 100%;
}

.plag-table-cont th {
    white-space: nowrap;
}

td .plag-action-btn-cont {
    display: flex;
}

td .plag-action-btn-cont a:not(:last-child) {
    margin-right: 40px;
}

.run-log-data {
    text-align: left;
    width: inherit;
    background-color: var(--table-info);
}

.run-log-data pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: auto;
    max-height: 20em;
    max-width: 100%;
}

/* Configuration form page */
.plag-data-group {
    display: flex;
    flex-direction: column;
    margin: 26px 0;
}

.plag-data-label {
    flex: 1;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 0.2rem;
}

input[type="radio"] {
    margin-left: 0;
}

.plag-data-group .plag-data {
   flex: 1;
}

input[type="text"] {
    width: 100%;
}

.deletable-text {
    width: calc(100% - 2em) !important;
}

.delete-btn {
    padding-left: 5px;
}

input[type=text]:invalid {
    background-color: var(--alert-invalid-entry-pink);
}

[data-theme="dark"] input[type=text]:invalid {
    background-color: var(--alert-danger-red);
}

[data-theme="dark"] input[type=text]:invalid::placeholder {
    color: var(--alert-invalid-entry-pink);
}

#prev-gradeable-div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    padding-bottom: 30px;
}

#prev-gradeable-div select {
    width: calc(100% / 3 - 10px);
    margin: 5px;
}

#prev-gradeable-div select:nth-child(3n+2) {
    margin-left: 0;
}

#prev-gradeable-div select:nth-child(3n+1) {
    margin-right: 0;
}

#current-code-file, #provided-code-file, #prev-gradeable-div {
    display: none;
}

#ignore-others-list {
    flex-grow: 100;
    margin-left: 0.5em;
}

#ignore-others-container {
    display: inline-flex;
}

.radio-label-pair {
    margin-left: 0.5em;
    display: inline-flex;
    align-items: center;
}

.radio-label-pair:first-of-type {
    margin-left: 0;
}

.right {
    float: right;
}

.low-margin-top {
    margin-top: 5px;
}

.add-more {
    position: absolute;
    bottom: 0;
    left: 0;
}

.plag-data-group .fa-plus-square {
    margin-right: 10px;
}

/* Results Page */
.plagiarism-result-cont {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
    margin: 0 20px 0 0;
}

.plag-table-no-cont {
    padding-top: 20px;
    padding-left: 5px;
}

main#main.full-screen-mode {
    position: absolute;
    top: 0;
    left: 0;
    margin:0;
    z-index: 10;
    height: 100vh;
    width:100vw;
}

main#main.full-screen-mode .plagiarism-result-cont {
    margin:0;
}

.full-screen-btn {
    margin-left: 10px;
}

.plagiarism-result-cont.content hr {
    margin: 1px 0;
}

.code-cont {
    position:relative;
    height: inherit;
    overflow-y:hidden;
}

.code-cont .sub {
    height: 100%;
    width:100%;
    display: flex;
}

.code-cont .sub-item {
    line-height:1.5em;
    overflow:auto;
    padding:5px;
    border: 2px solid #555;
    background:white;
    min-width: 100px;
}

.left-sub-item {
    width: 49%;
}

.right-sub-item {
    flex: 1 1 0%;
}

.plag-drag-bar {
    height: 100%;
    width: 20px;
    position: relative;
    cursor: col-resize;
}

.plag-drag-bar:after {
    content: "";
    width: 10px;
    height: 25%;
    max-height: 120px;
    border-radius: 10px;
    background: var(--submitty-logo-blue);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.plag-drag-bar:hover:after {
    filter: blur(5px);
}

.plag-results-header-right {
    float: right;
}

#popup_to_show_matches_id {
    display: none;
    top: 0;
    left: 0;
    width: auto;
    position: fixed;
}

.ui-menu-item:hover {
    background-color: var(--selected-nav-sidebar);
}

.plag-legend {
    text-shadow: 0 0 3px var(--text-black);
    margin-left: 5px;
}

[data-theme="dark"] .plag-legend {
    text-shadow: 0 0 3px transparent;

}

@media (max-width: 660px) {
    .nav-buttons a {
        width: 100%;
    }

    #users_with_plagiarism.plag-flex a,
    #users_with_plagiarism.plag-flex span {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 660px) {

    #save-configuration-form {
        width: 80%;
    }

    .plag-flex-row {
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-top: 10px;
    }

    .plag-flex-row:last-of-type {
        margin-bottom: 10px;
    }

    .plag-flex-row .user1-select {
        width: calc(100% - 10px);
    }

    .plag-flex-row .user2-select {
        width: calc(100% - 10px);
        margin-left: 10px;
    }

    .plag-flex-item {
        flex: 1;
        white-space: nowrap;
    }

    /*td .plag-action-btn-cont a:not(:last-child) {*/
    /*    margin-right: 20px;*/
    /*}*/

    /*.plag-data-group {*/
    /*    flex-direction: row;*/
    /*}*/

    /*select[name="user_id_1"], a.toggle {*/
    /*    max-width: 150px;*/
    /*}*/
}
