.dropdown-wrapper h2 {
    display: inline;
    margin: 0;
}

.dropdown-bar {
    padding: 0 0 20px;
}

.dropdown-btn {
    float: right;
    font-size: 31px;
}

.dropdown-btn .down {
    transform: rotate(90deg);
}

.option-title {
    font-weight: bold;
}

.poll-type-option {
    padding-bottom: 10px;
}

.poll-type-description {
    padding-left: 25px;
    color: var(--text-black);
}

.move-btn {
    background: transparent;
    padding: 10px;
    display: inline-block;
    border: var(--text-black);
    border-style: solid;
    border-radius: 5px;
    cursor: pointer;
}

.radio p {
    display: inline;
}

input[type="radio"][disabled=""]:checked::before {
    content: "";
    display: block;
    position: relative;
    top: 3px;
    left: 3px;
    width: 7px;
    height: 7px;
    border-radius: 100%;
    background: var(--standard-medium-dark-gray);
}

.active {
    background: var(--always-default-white);
}

form {
    display: inline;
}

#poll-name-container {
    display: inline-flex;
    width: 100%;
    align-items: center;
}

#poll-name {
    flex-grow: 100;
    margin-left: 0.5em;
}
