.dropdown_wrapper h2 {
    display: inline;
    margin: 0px;
}

.dropdown_arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.dropdown-btn {
    background: transparent;
    border: none !important;
    padding: 4px 0px 0px 0px !important;
    float: right;
}

.move-arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 6px;
}

.move-btn {
    background: transparent;
    border: none !important;
    padding: 0px 10px 0px 10px !important;
}

.dropdown-btn .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.dropdown-btn .down, .move-btn .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.dropdown-btn .up, .move-btn .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.dropdown-btn .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}