.dropdown-wrapper h2 {
    display: inline;
    margin: 0;
}

.dropdown-bar {
    padding: 0 0 20px 0;
}

.dropdown-btn {
    float: right;
    font-size: 31px;
}

.dropdown-btn .down{
    transform: rotate(90deg);
}

.move-btn {
    background: transparent;
    padding: 10px;
    display: inline-block;
    border: var(--text-black);
    border-style: solid;
    border-radius: 5px;
    cursor: pointer;
}

.radio p {
    display: inline;
}

input[type="radio"][disabled=""]:checked:before {
    content: "";
    display: block;
    position: relative;
    top: 3px;
    left: 3px;
    width: 7px;
    height: 7px;
    border-radius: 100%;
    background: var(--standard-medium-dark-gray);
}

.active {
    background: var(--always-default-white);
}
