/* stylelint-disable-next-line selector-class-pattern */
.customization_item {
    border: 2px solid var(--viewed-content);
    padding: 5px;
    padding-left: 20px;
    margin-top: 10px;
    border-radius: 25px;
}

/* stylelint-disable-next-line selector-class-pattern */
.customization_item h2 {
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 1.2em;
    font-style: italic;
}

/* stylelint-disable-next-line selector-class-pattern */
.customization_item h3 {
    font-size: 1.1em;
}

/* stylelint-disable-next-line selector-id-pattern */
#cust_messages_textarea {
    width: 80%;
    height: 10vh;
    margin-top: 10px;
}

/* stylelint-disable-next-line selector-id-pattern */
#buckets_available_list li {
    font-weight: bold;
    list-style-type: none;
}

/* stylelint-disable-next-line selector-id-pattern */
#buckets_used_list li {
    font-style: italic;
    list-style-type: none;
}

/* stylelint-disable-next-line selector-class-pattern */
.bucket_detail_div {
    padding: 3px;
}

/* stylelint-disable-next-line selector-class-pattern */
.bucket_detail_div:nth-child(2n) {
    background-color: var(--standard-mediumorchid);
}

/* stylelint-disable-next-line selector-class-pattern */
.bucket_detail_div:nth-child(2n+1) {
    background-color: var(--standard-lightskyblue);
}

/* stylelint-disable-next-line selector-id-pattern */
#save_status_container {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: var(--standard-hover-light-gray);
    border: none;
    flex-wrap: wrap;
}

/* stylelint-disable-next-line selector-id-pattern */
#status_head {
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: nowrap;
}

/* stylelint-disable-next-line selector-id-pattern */
@media (max-width: 700px) {
/* stylelint-disable-next-line selector-id-pattern */    
    #status_head {
        flex-wrap: wrap;
        justify-content: start;
        flex-direction: column;
    }

/* stylelint-disable-next-line selector-id-pattern */    
    #status_head > div {
        width: 100%;
        margin: 3px 0;
    }
}

/* stylelint-disable-next-line selector-id-pattern */
#status_label {
    font-weight: bold;
}

/* stylelint-disable-next-line selector-id-pattern */
#save_status {
    display: inline;
}

/* stylelint-disable-next-line selector-id-pattern */
#save_status_buttons {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    border: none;
}

/* stylelint-disable-next-line selector-id-pattern */
#save_status_buttons input {
    margin-right: 10px;
}

/* stylelint-disable-next-line selector-id-pattern */
#show_log_button {
    display: none;
}

/* stylelint-disable-next-line selector-id-pattern */
#save_status_log {
    display: none;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: auto;
    width: 100%;  
}

/* status-log-scrollbar */
/* stylelint-disable-next-line selector-id-pattern */
#save_status_log::-webkit-scrollbar {
    height: 4px;
    width: 4px;
    border-radius: 2px;
}

/* stylelint-disable-next-line selector-id-pattern */
#save_status_log::-webkit-scrollbar-track {
    background: var(--standard-light-gray);
    border-radius: 2px;
}

/* stylelint-disable-next-line selector-id-pattern */
#save_status_log::-webkit-scrollbar-thumb {
    background: var(--standard-medium-gray);
    border-radius: 2px;
}

/* stylelint-disable-next-line selector-id-pattern */
#save_status_log::-webkit-scrollbar-thumb:hover {
    background: var(--subtle-grey-background);
}

/* stylelint-disable-next-line selector-id-pattern */
#limited_func_messages p {
    margin: 12px;
}

.fa-gradeable-curve {
    margin-right: 5px;
}

.fa-rb {
    color: black;
}

.fa-rb:hover {
    color: red;
}

.gradeable-li {
    display: flex;
    flex-direction: row;
    margin: 3px;
    align-items: center;
}

.gradeable-li-right-of-input {
    display: flex;
    flex-direction: column;
}

.rainbow-grades-warning-triangle {
    margin-right: 5px;
    padding-bottom: 2px;
    display: none;
    color: var(--standard-vibrant-yellow);
    position: relative;
    border-bottom: 1px dotted var(--standard-vibrant-yellow);
}

[data-theme="dark"] .rainbow-grades-warning-triangle {
    color: var(--standard-light-yellow);
    border-bottom: 1px dotted var(--standard-light-yellow);
}

.rainbow-grades-warning-triangle > .tooltiptext.tooltipbottom {
    margin-left: -110px;
    margin-top: 25px;
    font-family: "Source Sans Pro", sans-serif;
    color: var(--text-white);
    font-size: 16px;
    padding: 5px;
}

[data-theme="dark"] .rainbow-grades-warning-triangle > .tooltiptext.tooltipbottom {
    color: var(--text-black);
}

.rainbow-grades-warning-triangle > .tooltiptext.tooltipbottom::after {
    content: "";
    position: absolute;
    top: -14%;
    right: 50%;
    border: 9px solid transparent;
    border-bottom-color: var(--standard-dark-gray);
}

.gradeable-li-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.gradeable-id {
    margin-left: 5px;
}

.gradeable-li-curve {
    display: none;
}

/* stylelint-disable-next-line no-descending-specificity */
.gradeable-li-curve input {
    width: 50px;
}

hr {
    margin: 7px 10px;
    border-top: 1px solid var(--viewed-content);
}

/* stylelint-disable-next-line selector-class-pattern */
.rg_info_message {
    margin-bottom: 10px;
    max-width: 800px;
}

/* stylelint-disable-next-line selector-id-pattern */
#rg_web_ui {
    display: none;
}

.override {
    color: var(--active-warning-brown) !important;
}

[data-theme="dark"] .override {
    color: var(--standard-vibrant-orange) !important;
}

div:has(.override) ~ div.gradeable-li-right-of-input .rainbow-grades-warning-triangle {
    display: inline-block;
}

.input-field {
    display: flex;
    align-items: center;
}

.input-boxes {
    display: inline-grid;
    grid-template-columns: auto auto; /* two columns */
    grid-gap: 0 0.2em;
}

.input-label {
    padding: 4px 6px;
}

#manual-grading-note {
    width: 32.5em;
}

#manual-grading-table,
#performance-warnings-table {
    text-align: left;
}

.select2 {
    display: inline-block !important;
    width: 38% !important;
}

#gradeables .gradeable-custom-item-input {
    width: 3em;
}

[id^="gradeable-pts-div-"],
[id^="gradeable-percents-div-"] {
    margin-right: 2em;
}

[id^="gradeable-percents-div-"] {
    display: none;
}

#btn-build-customization {
    border: none;
    margin-right: 10px;
}
