#rainbow-grades > table {
    /* stylelint-disable-next-line color-named */
    color: black;
}

#rainbow-grades-header > .btn-wrapper {
    margin: auto;
}

#rainbow-grades-last-update {
    float: right;
}

.rg-build-notice-error {
    background-color: var(--standard-light-red);
}

.rg-build-notice-warning {
    background-color: var(--standard-light-yellow-brown);
}