#rainbow-grades > table {
    /* stylelint-disable-next-line color-named */
    color: black;
}

#rainbow-grades-header > .btn-wrapper {
    margin: auto;
}

#rainbow-grades-last-update {
    float: right;
}
