/* stylelint-disable selector-class-pattern -- Select2 internal classes */
.select2-container .select2-selection,
.select2-container .select2-selection__rendered,
.select2-container .select2-selection__arrow,
.select2-container .select2-selection--single .select2-selection__rendered,
.select2-container .select2-dropdown,
.select2-container .select2-dropdown .select2-search .select2-search__field {
    color: var(--text-black);
    background-color: var(--default-white);
}

/* stylelint-disable selector-descendant-combinator-no-non-space -- line too long */
.select2-container
    .select2-dropdown
    .select2-results__options
    .select2-results__option.select2-results__option--selected {
    background-color: var(--submitty-logo-blue);
}

/* stylelint-disable-next-line selector-id-pattern */
#select2-time_zone_drop_down-container.select2-selection__rendered {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: var(--standard-dark-gray);
}

/* stylelint-disable-next-line selector-id-pattern */
[data-theme="dark"]
#select2-time_zone_drop_down-container.select2-selection__rendered {
    color: var(--text-black);
}
