@import url("reset.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700");
@import url("https://fonts.googleapis.com/css?family=Inconsolata");

@font-face {
    font-family: 'Grand Hotel';
    src: url('../fonts/grand-hotel/GrandHotel-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

html {
    height: 100%;
}

body {

    /* OLD SEAFOAM GREEN COLOR */
    /* background-color: #B6CECE; */

    /* Submitty Logo blue */
    /* background-color: #0a6496; */

    /* A lighter shade of blue grey */
    background: #b8d5e5;
    /* a gradient! */

    background: linear-gradient(#0a6496, #b8d5e5);
    background-attachment: fixed;

    font-family: 'Source Sans Pro', sans-serif;
    height: 100%;
    position: relative;
}

a, a:hover, a:link, a:visited {
    cursor: pointer;
    text-decoration: none;
}

a,
a:visited,
a:link,
a.external,
a.external:visited,
a.external:link {
    color: #000000;
}

a:hover,
a.external:hover {
    color: #2627ee;
}

/****************************
 * INPUT STYLES
 ***************************/

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
    height: 20px;
    padding: 4px 6px;
    font-size: 14px;
    line-height: 20px;
    color: #555555;
    vertical-align: middle;
    border: 1px solid #ccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    width: auto;
}

input.readonly {
    background-color: #f2f2f2;
    cursor: not-allowed;
}

select {
    padding: 5px 35px 5px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    height: 34px;
    background: #FFF;
    background-size: 20px;
}

input[type="checkbox"]{
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #FFF;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    border: 1px solid #000000;
    transition: all .2s linear;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

input[type="checkbox"]:checked{
    background-color: #3093FC;
}

/* this requires loading the FontAwesome CSS from the CDN before loading the server.css */
input[type="checkbox"]:checked:before {
    font-family: FontAwesome;
    content: "\f00c";
    color: #FFF;
    font-size: 18px
}

input[type="checkbox"]:focus{
    outline: 0 none;
    box-shadow: none;
}

select.disabled,
textarea.disabled,
input.disabled {
    background-color: lightgrey;
}

/****************************
 * TABLE STYLES
 ***************************/
table {
}

table a{
    text-decoration: none;
}

table tr.table-header {
    border-bottom: 1px solid black;
}

.table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.table tr {

}

.table td {
    padding: 5px;
    border-top: 1px solid #dddddd;
}

.table-bordered {
    border: 1px solid #AAAAAA;
    border-collapse: separate;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.table-striped>tbody>tr:nth-child(even) {
    background: #ededed;
}

.table-striped>tbody>tr:nth-child(odd) {
    background: #ffffff;
}

.table>thead>tr {
    background: #E1E1E1;
}

.table>tbody>tr.info {
    background-color: #d9edf7;
}

.floating-thead,
.floating-header {
    position: fixed;
    top: 0;
    visibility: hidden;
}

.floating-thead > td,
.floating-header > td {
    display: table-cell;
    text-align: center;
}

.tr-vertically-centered > td {
    vertical-align: middle;
}

/**********************************************************/

#container {
    min-height: 100%;
    margin: 0 auto -60px;
}

#nav {
    background-color: #000000;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 9999;
    font-size: 15px;
    font-weight: 600;
    margin-left:-1px;
}

#nav ul {
  background-color: #000000;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;

}

#nav li {
    float: left;
}

#nav li:hover, .dropdown:hover .dropbtn {
    background-color: gray;
    cursor: pointer;
}

#nav li a, .dropbtn {
    color: #FFFFFF;
    text-decoration: none;
    /*display: inline-block;*/
    display: block;
    padding: 5px 10px;
}

#nav li a {
    width: 100%;
    height: 100%;
}

#nav li a:hover {
    text-decoration: none;
}

#nav li.dropdown {
    display: inline-block;
}

#nav .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#nav .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    text-align: left;
}

#nav .dropdown-content a:hover {
    background-color: #d1d1d1;
    width: 130px;
}

#nav .dropdown:hover .dropdown-content {
    display: block;
}

#header {
    background-color: #edf6f6;
    min-height: 125px;
    height: auto;
    width: 100%;
    box-shadow: 0 2px 15px -5px #888888;
    font-family: 'Open Sans Condensed', sans-serif;
}

#header-text {

    font-weight: 300;
    display: inline-block;

    margin-top: 25px;
    margin-left: 20px;
}

#header a,
#header a:link,
#header a:visited {
    color: #000;
    text-decoration: underline;
}

#header a:hover {
    text-decoration: none;
}

#logo-submitty {
    float: right;
    margin-right: 10px;
    height: 125px;
    width: 357px;
    background: url('../img/submitty_logo.png') no-repeat;
    background-size: 357px 125px;

}

.content {
    box-shadow: 0 2px 15px -5px #888888;
    background-color: #E9EFEF;
    border-radius: 3px;
    padding: 2%;
    margin: 2% 15px;
}

.content h2 {
    margin-bottom: 20px;
}

#footer {
    margin-top: 30px;
    z-index: 9999;
}

#push, #footer {
    height: 20px;
}

#footer a {
    color: #000000;
}

#footer a:hover {
    color: #4078c0;
}

#footer {
    background-color: #edf6f6;
    position: relative;
    width: 100%;
    padding: 5px 0;
    text-align: center;
    clear: both;
}

#footer #copyright {
    margin-right: 5px;
}

#footer #github {
    margin-left: 5px;
}

#copyright > a {
    color: #4078c0;
}

#copyright > a:hover {
    text-decoration: underline;
}

.sub {
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.sub::after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.panel {
    background-color: #FAFCFC;
    margin: 1%;
    padding: 1%;
}

.spacer30 {
    height: 30px;
}

.clear {
    clear: both;
    border-bottom: 1px solid lightgrey;
    padding-top: 20px;
}

#page-info {
    visibility: visible;
    display: none;
    position: absolute;
    top: 40px;
    left: 40px;
    z-index:1000;
    background: #fff;
    border: 1px solid #000;
    width: 80%;
    overflow-y: scroll;
    padding: 5px;
}

.fa-green {
    color: green;
}

.fa-red {
    color: red;
}

#alerts {

}

#messages {
    position: fixed;
    top: 40px;
    left: 50%;
    width: 40%;
    margin-left: -20%;
}

.inner-message {
    margin: 0 auto 10px;
}

.message-close {
    float: right;
    margin-right: -20px;
    cursor: pointer;
}

.option {
    margin-bottom: 40px;
}

.option-desc {
    width: 60%;
}

.option-title {
    font-weight: bold;
    font-size: 18px;
}

.option-alt {
    font-style: italic;
}

.option-input {
    float: right;
    margin-top: 10px;
    width: 40%;
}

.option-input > textarea,
.option-input > input[type="text"] {
    width: 95%;
}

.option-small-input > textarea,
.option-small-input > input[type="text"] {
    width: 99%;
    padding-right: 1px;
    padding-left: 1px;
}

.option-small-output > input[type="text"] {
    width: 99%;
    padding-right: 1px;
    padding-left: 1px;
    border:none;
    background: transparent;
}

.post-panel-btn {
    height: 20px;
    padding-right: 10px;
}

#login {
    margin: auto;
    width: 50%;
}

#login input[type="text"],
#login input[type="password"] {
    width: 50%;
    margin-bottom: 5px;
}

.label {
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    margin-top: 5px;
    margin-right: 0;
    margin-left: 0;
}

.green-message {
    font-style: italic;
    font-weight: bold;
    color: #008800;
}

.blue-message {
    font-style: italic;
    font-weight: bold;
    color: #0a6496;
}

.red-message {
    font-style: italic;
    font-weight: bold;
    color: #af0000;
}

.yellow-message {
    font-style: italic;
    font-weight: bold;
    color: #ff9900;
}

.black-message {
    font-style: italic;
    font-weight: bold;
    color: #000000;
}

.sub-text {
    margin-left: 20px;
    margin-top: 10px;
}

.box {
    border-radius: 3px;
    border: 1px solid #dddddd;
    width: 100%;
    margin-top: 3px;
    margin-bottom: 3px;
    position: relative;
    float: left;
    background: rgba(255,255,255,0.8);
    box-shadow: 2px 2px 4px -3px #dddddd;
    padding: 5px 5px 10px;
}

.active {
    background-color: #21C2F6;
}

.important {
    /* THIS IS WHERE THE BACKGROUND COLOR FOR POSTS IS */
    border-style: solid;
    border-width: 4px;
    border-color: #ffd700; /* gold */
}

.viewed {
    color: #888888;
}

.box-title > h4 {
    margin-left: 20px;
}

.box > h4 {
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 10px;
}
.box-block {
    vertical-align: top;
    margin-left: 10px;
    padding: 10px;
}

.box-block > h4 {
    margin-bottom: 10px;
}

.box-block > code,
.box-block > pre {
    padding: 10px;
    background-color: #F8F8F8;
    border: 1px solid #ddd;
    white-space: pre;
}

.half {
    float: left;
    width: 48%;
    margin-right: 10px;
}

.diff-element {
    float: left;
    margin-right: 20px;
}

.badge {
    float: left;
    display: inline-block;
    width: 70px;
    padding: 3px 7px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #999;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 20px;
}

.no-badge {
    width: 85px;
    height: 10px;
    margin-right: 20px;
    margin-left: 10px;
    float: left;
}

.green-background {
    background-color: #006600;
}

.yellow-background {
    background-color: #eac73d;
    color: #000000;
}

.red-background {
    background-color: #c00000;
}

.italics {
    font-style: italic;
    text-decoration: none;
}

.gradeable_list{
	width: 100%;
    padding: 0px 50px 50px;
    font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	text-align: left !important;
}

.gradeable_list tr:nth-child(odd),
.gradeable_list tr:nth-child(even) {
/*    background-color: #E9EFEF*/
}

.gradeable_comment {
    word-break: break-word;
    white-space: pre-wrap;
}

#search_wrapper{
    background-color: #E9EFEF;
    border-radius: 3px;
}

#forum_wrapper{
    height: 70vh;
    margin-left:20px;
    margin-right:20px;
    
}

.thread_list {
    display:inline-block;
    width:25%; 
    background-color: #E9EFEF;
    box-shadow: 0 2px 15px -5px #888888;
    margin-right:2px; 
    overflow-y: auto;
    height: 100%;
    float: left;
    border-radius: 3px;
}

.posts_list {
    padding-right: 20px;
    padding-left: 20px;
    overflow: auto;
    height: 100%;
    width: 100%;
    box-shadow: 0 2px 15px -5px #888888;
    background-color: #E9EFEF;
    border-radius: 3px;
}

.first_post .post_content{
    padding-left:20px;
    margin-top: 10px;
}

.post_content {
    margin-right: 40px;
}

.first_post .post_button {
}

#post_user_id {
    left:5px;
}

.post_button {
    position:relative;
    right: 5px;
    margin-left:5px;
}

.post_box {
    position: relative;
    box-shadow: 0 2px 15px -5px #888888;
    padding:5px;
    margin-top: 20px;
    word-wrap: break-word;
    border-radius: 3px;
    background-color:white;
    overflow: auto;
}

.post_box a {
    text-decoration: underline;
}

.first_post{
    padding-left: 10px !important;
    margin-top: 0px !important;
    margin-left: -20px !important;
    margin-right: -20px !important;
    border-radius: 0 !important;
}

.thread_box {
    padding:5px;
    overflow-y: auto;
    word-wrap: break-word;
    
}

.create_thread_button {
    border-radius: 3px;
    width: 100%;
    min-width: 40px;
    min-height: 40px;
    position: relative;
    background: rgba(255,255,255,0.8);
    box-shadow: 2px 2px 4px -3px #dddddd;
}

table .colspan{
	padding: 10px;
	font-size: 28px;
	font-weight: 600;
}
table .bar{
	height:20px;
}
table .gradeable_title {
	padding-left: 50px;
}

table .has-url:hover {
	cursor: pointer;
	color: #3232FF;
}
table .student .gradeable_title {
	width: 45%;
}
table .student .date {
	width: 30%;
}
table .student .option {
	width: 25%;
}
table .ta .gradeable_title{
	width: 25%;
}
table .ta .date{
	width: 25%;
	text-align: center;
}
table .ta .option{
	width: 12.5%;
}
table .instructor .gradeable_title{
	width: 25%;
}
table .instructor .date{
	width: 15%;
}
table .instructor .option{
	width: 10%;
}
table .instructor .two-options{
	width: 15%;
}

.nav_header{
  text-align:center;
  background-color:#bfbfbf;
}

.nav-buttons {
    float: right;
}

.btn-nav {
    width:100%;
    padding: 0px !important; 
    padding-top: 10px !important; 
    padding-bottom: 10px !important;
}

.cat-selected:hover {
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.cat-notselected:hover {
    opacity: 0.8;
    filter: alpha(opacity=80);
}

#ui-category-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60%;
}

#ui-category-list li {
    border-style: solid;
    border-color: LightGray;
    border-width: thin;
    border-radius: 0.3em;
    margin: 0.3em 0.1em 0.3em 0.1em;
    padding: 0.2em;
    height: 18px;
}

#ui-category-list .handle {
    opacity: 0.8;
    filter: alpha(opacity=80);
}

#ui-category-list .handle:hover {
 cursor: move;
}

.rainbow {
    background: -moz-linear-gradient( left ,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 255, 0, 1) 15%,
    rgba(0, 255, 0, 1) 30%,
    rgba(0, 255, 255, 1) 50%,
    rgba(0, 0, 255, 1) 65%,
    rgba(255, 0, 255, 1) 80%,
    rgba(255, 0, 0, 1) 100%);
    background: #337ab7 -webkit-gradient(linear,  left top,  right bottom,
    color-stop(0%, rgba(255, 0, 0, 0.4)),
    color-stop(15%, rgba(255, 255, 0, 0.4)),
    color-stop(30%, rgba(0, 255, 0, 0.4)),
    color-stop(50%, rgba(0, 255, 155, 0.4)),
    color-stop(65%, rgba(0, 0, 255, 0.4)),
    color-stop(80%, rgba(255, 0, 255, 0.4)),
    color-stop(100%, rgba(255, 0, 0, 0.4)));
}

.popup-form {
    z-index: 2000;
    position: fixed;
    top: 10%;
    left: 50%;
    width: 680px;
    /*height: 300px;*/
    margin-left: -340px;
    background: #FFFFFF;
    border: 1px solid #000000;
    padding: 10px;
    display: none;
}

.popup-form div {
    width: 30%;
    display: inline-block;
    vertical-align: top;
    padding-right: 10px;
    padding-bottom: 10px;
}

.popup-form > div > input[type="text"] {
    width: 95%;
}

.reply-box{
    display: none;
    margin-right: 15px;
    margin-bottom: 60px;
}

.cell-all,
.cell-grade {
    cursor: pointer;
}

.cell-grade {
    border-left: 1px solid #dddddd;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.late-box {
    background:#d9534f;
    padding:3px;
    margin-top:3px;
    margin-bottom:3px;
    margin-left:5%;
    margin-right:5%;
    border-radius:4px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 220px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    margin-left: -240px;
    margin-top: -35px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 12px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 40%;
    right: -4%;
    border: 5px solid transparent;
    border-left-color: #555;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/*
The styles used in the admin gradeable page
*/
div.gradeable_display {
    text-align: left; 
    font-size: 8px; 
    padding-left: 5px;
}

textarea.comment_display {
    resize: none; 
    width: 75%;
}

/*
end of styles used in the admin gradeable page
*/

.required::-webkit-input-placeholder { color: red; }
.required:-moz-placeholder { color: red; }
.required::-moz-placeholder { color: red; }
.required:-ms-input-placeholder { color: red; }
