@import url("reset.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700");
@import url("https://fonts.googleapis.com/css?family=Inconsolata");
@import url("bootstrap.css");
@font-face {
    font-family: 'Grand Hotel';
    src: url('../fonts/grand-hotel/GrandHotel-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

html {
    height: 100%;
}

body {
    background-color: #B6CECE;
    font-family: 'Source Sans Pro', sans-serif;
    height: 100%;
    position: relative;
}

table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

table tr.table-header {
    border-bottom: 1px solid black;
}

a, a:hover, a:link, a:visited {
    text-decoration: none;
}

/**
 * INPUT STYLES
 */
input {
    border: 1px solid #ccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

input[type="checkbox"] {
    cursor: pointer;
}

input[type="text"] {
    width: 100%;
}

textarea {
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

}

#container {
    min-height: 100%;
    margin: 0 auto -30px;
}

#nav {
    background-color: #000000;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 9999;
    /*height: 32px;*/
}

#nav ul {

}

#nav li {
    float: left;
    list-style-type: none;
}

#nav li:hover, .dropdown:hover .dropbtn {
    background-color: gray;
    /*cursor: pointer;*/
}

#nav li a, .dropbtn {
    color: #FFFFFF;
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
}

#nav li a {
    width: 100%;
    height: 100%;
}

#nav li a:hover {
    text-decoration: none;
}

#nav li.dropdown {
    display: inline-block;
}

#nav .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#nav .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    text-align: left;
}

#nav .dropdown-content a:hover {
    background-color: #d1d1d1;
    width: 130px;
}

#nav .dropdown:hover .dropdown-content {
    display: block;
}

#nav-clear {
    height: 32px;
}

#header {
    background-color: #edf6f6;
    height: 125px;
    /*text-align: center;*/
    box-shadow: 0 2px 15px -5px #888888;
    font-family: 'Open Sans Condensed', sans-serif;
}

#header-text {
    font-weight: 300;
    display: inline-block;
    margin-top: 25px;
    margin-left: 20px;
}

#header a,
#header a:link,
#header a:visited {
    color: #000;
}

#logo-text {
    float: right;
    margin-top: 10px;
    margin-right: 30px;
}

#logo-text h1 {
    display: block;
    font-size: 100px !important;
    line-height: 80px;
    letter-spacing: -1px;
    text-align: center;
    clear: both;
    font-family: 'Grand Hotel', serif;
}

#logo-text h2 {
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: 13px !important;
    font-weight: 300;
    text-align: center;
    padding-right: 20px;
    clear: both;
    position: relative;
}

.content {
    box-shadow: 0 2px 15px -5px #888888;
    background-color: #E9EFEF;
    border-radius: 3px;
    padding: 2%;
    margin: 2% 15px;
}

#footer {
    margin-top: 30px;
}

#push, #footer {
    height: 20px;
}

#footer a {
    color: #000000;
}

#footer a:hover {
    color: #4078c0;
}

#footer {
    background-color: #edf6f6;
    position: relative;
    width: 100%;
    padding: 5px 0;
    text-align: center;
    clear: both;
}

#footer #copyright {
    margin-right: 15px;
}

.sub {
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.sub::after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.panel {
    background-color: #FAFCFC;
    margin: 1%;
    padding: 1%;
}

.spacer30 {
    height: 30px;
}

.clear {
    clear: both;
    border-bottom: 1px solid lightgrey;
    padding-top: 20px;
}

#page-info {
    visibility: hidden;
    position: absolute;
    top: 40px;
    left: 40px;
    z-index:1000;
    background: #fff;
    border: 1px solid #000;
    width: 80%;
    overflow-y: scroll;
    padding: 5px;
}

.fa-green {
    color: green;
}

.fa-red {
    color: red;
}

#alerts {

}

#messages {
    position: fixed;
    top: 40px;
    left: 50%;
    width: 40%;
    margin-left: -20%;
}

.inner-message {
    margin: 0 auto 10px;
}

.message-close {
    float: right;
    margin-right: -20px;
    cursor: pointer;
}

.option {
    margin-bottom: 20px;
}

.option-desc {
    width: 70%;
}

.option-title {
    font-weight: bold;
    font-size: 18px;
}

.option-alt {
    font-style: italic;
}

.option-input {
    float: right;
    margin-top: 10px;
    width: 30%;
}

.post-panel-btn {
    height: 20px;
    padding-right: 10px;
}

#login {
    margin: auto;
    width: 50%;
}

#login input[type="text"],
#login input[type="password"] {
    width: 50%;
    font-size: 14pt;
    padding: 5px;
    margin-bottom: 5px;
}

select {
    margin: 0 10px;
    padding: 5px 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    height: 34px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #fff;
}

.label {
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    margin-top: 5px;
    margin-right: 0;
    margin-left: 0;
}

.green-message {
    font-style: italic;
    font-weight: bold;
    color: #008800;
}

.red-message {
    font-style: italic;
    color: #af0000;
}

.sub-text {
    margin-left: 20px;
    margin-top: 10px;
}

.box {
    border-radius: 3px;
    border: 1px solid #dddddd;
    width: 100%;
    margin-top: 3px;
    margin-bottom: 3px;
    position: relative;
    float: left;
    background: rgba(255,255,255,0.8);
    box-shadow: 2px 2px 4px -3px #dddddd;
    padding: 5px 5px 10px;
}

.box-title {
    margin-top: 10px;
}

.box > h4 {
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 10px;
}
.box-block {
    vertical-align: top;
    margin-left: 10px;
    padding: 10px;
}

.box-block > h4 {
    margin-bottom: 10px;
}

.box-block > code,
.box-block > pre {
    padding: 10px;
    background-color: #F8F8F8;
    border: 1px solid #ddd;
    white-space: pre;
}

.half {
    width: 48%;
    margin-right: 10px;
}

.diff-element {
    float: left;
    margin-right: 20px;
}

.badge {
    float: left;
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #999;
    border-radius: 10px;
    margin-right: 20px;
    margin-left: 10px;
}

.green-background {
    background-color: #006600;
}

.yellow-background {
    background-color: #eac73d;
    color: #000000;
}

.red-background {
    background-color: #c00000;
}

.italics {
    font-style: italic;
    text-decoration: none;
}