sidebar {
    display: none;
}

@media (min-width: 541px) {
    sidebar {
        display: block;
        margin: 0 -30px 0 0;
        transition: margin-right 0.3s ease-out;
        padding-top: 30px;
        width: 250px;
        min-width: 250px;
    }

    sidebar hr {
        margin: 6px 15px;
    }

    sidebar i  {
        transition: margin 0.3s ease-out;
        color: #000;
        width: 30px;
        min-width: 30px;
        text-align: center;
        margin: 0 0 0 15px;
    }

    sidebar li {
        list-style: none;
    }
        
    sidebar li .nav-row {
        padding: 6px 0;
        width: 100%;
        display: flex;
    }

    sidebar li.heading {
        font-weight: bold;
        font-variant: all-small-caps;
        font-size: 20px;
    }    

    sidebar .icon-title {
        margin-right: 15px;
        min-width: 100%;
    }

    sidebar .notification-badge {
        margin: 0 6px;
    }

    sidebar a {
        text-decoration: none;
    }
        
    sidebar a .icon-title {
        color: #006398;
    }
    
    sidebar a .icon-title:hover {
        color: #002334;
    }
    
    sidebar a .icon-title:active {
        color: #790000;
    }

    sidebar li .selected {
        background-color: #d9e1e2;
    }

    sidebar a.selected .icon-title {
        color: #000;
        font-weight: bold;
    }

    /* for collapsed, shift margin over so that we don't have partially rendered text and we maintain height */

    sidebar.collapsed {
        margin-right: -220px; /* 60px left after 250+30-220 */
    }

    sidebar.collapsed a {
        width: 60px;
    }
    
    sidebar.collapsed i {
        padding: 2px 0px;
        margin: 0 15px;
    }

    sidebar.collapsed .icon-title {
        visibility: hidden;
    }

    sidebar.collapsed hr {
        margin: 6px 205px 6px 15px; /* 15px on either side */
    }
    
    /* put it on top of the icon */
    sidebar.collapsed .notification-badge {
        font-size: 12px;
        position: absolute;
        margin: 12px 0 0 32px;
    }
}