.column-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.row-wrapper {
    display: flex;
    flex-direction: column;
}

th {
    background: var(--standard-light-gray);
}

tr > th:first-child,
tr > td:first-child {
    position: sticky;
    left: 0;
    border-left: 1px solid var(--standard-medium-gray);
}

tr > th:nth-child(2),
tr > td:nth-child(2) {
    position: sticky;
    left: 1.25rem;
}

tr > th:nth-child(3),
tr > td:nth-child(3) {
    position: sticky;
    left: 5.25rem;
}

tr > th:nth-child(4),
tr > td:nth-child(4) {
    position: sticky;
    left: 10.75rem;
}

tr > th:nth-child(5),
tr > td:nth-child(5) {
    position: sticky;
    left: 16.75rem;
    border-right: 1px solid var(--standard-medium-gray);
}

.highlighted-row td:nth-child(n + 1):nth-child(-n + 5) {
    /* stylelint-disable-next-line declaration-no-important */
    background: var(--standard-focus-cornflower-blue) !important ;
}

tr:nth-child(odd) td:nth-child(n + 1):nth-child(-n + 5) {
    background: var(--default-white);
}

tr:nth-child(even) td:nth-child(n + 1):nth-child(-n + 5) {
    background: var(--standard-hover-light-gray);
}

#data-table td:focus,
#data-table textarea:focus,
#data-table input:focus {
    outline: 3px dashed var(--standard-medium-blue);
}

#data-table textarea[data-typing="true"]:focus,
#data-table input[data-typing="true"]:focus {
    outline-style: solid;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    display: none;
}

.sticky-top {
    position: fixed;
    top: 0;
}

.sticky-top label,
.sticky-top .not-sticky {
    /* stylelint-disable-next-line declaration-no-important */
    display: none !important;
}

.scrollable-table {
    overflow-x: auto;
}

.simple-key-full-credit,
.simple-full-credit {
    color: var(--simple-full-credit-dark-blue);
}

.simple-key-half-credit,
.simple-half-credit {
    color: var(--simple-half-credit-light-blue);
}

.simple-key-save-error,
.simple-save-error {
    color: var(--simple-save-error-red);
}

.simple-key-no-credit,
.simple-key-full-credit,
.simple-key-half-credit,
.simple-key-save-error {
    min-width: 3.5rem;
    margin-right: 1.25rem;
    display: inline-block;
    text-align: center;
}

/* styling for fields that aren't icons */
.simple-full-credit:not(i) {
    background-color: var(--simple-full-credit-dark-blue);
}

.simple-half-credit:not(i) {
    background-color: var(--simple-half-credit-light-blue);
}

.simple-save-error:not(i) {
    background-color: var(--simple-save-error-red);
}

.simple-icon {
    transform: scaleX(3);
    width: 20px;
}

#details-legend li {
    font-size: 0.9em;
}

.cell-grade {
    border-left: 1px solid var(--standard-medium-gray);
}

.cell-text-entry {
    overflow-y: scroll;
    resize: vertical;
    min-height: 30px;
    cursor: text;
}

.cell-checkpoint {
    cursor: pointer;
}

.simple-grade-grader,
.simple-grade-date {
    display: none;
}
