.column-wrapper {
    display:flex; 
    justify-content: space-between;
    align-items: flex-end;
}

.row-wrapper {
    display:flex; 
    flex-direction:column;
}

#data-table td:focus, #data-table input:focus {
    outline: 3px dashed var(--standard-medium-blue);
}

.sticky-top {
    position: fixed;
    top: 0;
}

.sticky-top label, .sticky-top .not-sticky {
    display: none !important;
}

.simple-full-credit {
    color: #149bdf;
}

.simple-half-credit {
    color: #88d0f4;
}

.simple-save-error {
    color: #DA4F49;
}

.simple-icon {
    transform: scaleX(3);
    width: 20px;
    margin-left: 20px;
    z-index: 2;
}

#details-legend li {
    margin-right: 6px;
    font-size: 0.9em;
}