.column-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.row-wrapper {
    display: flex;
    flex-direction: column;
}

#data-table td:focus,
#data-table input:focus {
    outline: 3px dashed var(--standard-medium-blue);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    display: none;
}

.sticky-top {
    position: fixed;
    top: 0;
}

.sticky-top label,
.sticky-top .not-sticky {
    display: none !important;
}

.scrollable-table{
    overflow-x: auto;
}
th{
    background: var(--standard-light-gray);
}

tr>th:first-child,tr>td:first-child
{
    position: sticky;
    left: 0rem;
  }
tr>th:nth-child(2),tr>td:nth-child(2)
{
    position: sticky;
    left: 1.25rem;
  }
tr>th:nth-child(3),tr>td:nth-child(3)
{
    position: sticky;
    left: 5.25rem;
  }
tr>th:nth-child(4),tr>td:nth-child(4)
{
    position: sticky;
    left: 10.75rem;
  }
tr>th:nth-child(5),tr>td:nth-child(5)
 {
    position: sticky;
    left: 16.75rem;
    border-right: 1px solid var(--standard-medium-gray);
  }
  
  tr:nth-child(odd) td {
    background: white;
 }
 
 tr:nth-child(even) td {
    background: var(--standard-light-gray);
 }
  
.simple-full-credit {
    color: var(--simple-full-credit-dark-blue);
}

.simple-half-credit {
    color: var(--simple-half-credit-light-blue);
}

.simple-save-error {
    color: var(--simple-save-error-red);
}

/* styling for fields that aren't icons */
.simple-full-credit:not(i) {
    background-color: var(--simple-full-credit-dark-blue);
}

.simple-half-credit:not(i) {
    background-color: var(--simple-half-credit-light-blue);
}

.simple-save-error:not(i) {
    background-color: var(--simple-save-error-red);
}

.simple-icon {
    transform: scaleX(3);
    width: 20px;
    margin-left: 20px;
}

#details-legend li {
    margin-right: 6px;
    font-size: 0.9em;
}
