.column-wrapper {
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
}

.row-wrapper {
    display:flex;
    flex-direction:column;
}

#data-table td:focus, #data-table input:focus {
    outline: 3px dashed var(--standard-medium-blue);
}

.sticky-top {
    position: fixed;
    top: 0;
}

.sticky-top label, .sticky-top .not-sticky {
    display: none !important;
}

./*resizeable-textarea {
    display: block;
    width: 99%;
    resize: vertical;
    min-height: 1.2em;
    line-height: 1.2em;
    text-align: left;
    border-width: 1px;
    border-style: solid;
    border-color: lightgray;
    padding: 0.25em;
    border-radius: 0.25em;
}

.resizeable-textarea[contenteditable]:empty::before {
  content: "_";
  color: transparent;
}
*/
