#toolbox-textarea {
    width: 100%;
    min-height: 300px;
    resize: vertical;
}

#toolbox-namearea {
    width: 25%;
    min-height: 25px;
    resize: vertical;
}

#query-results {
    overflow-x: auto;
}
