#no-students {
    padding: 1em;
    text-align: center;
}

#student-table {
    text-align: center;
    border: 1px solid var(--standard-hover-light-gray);
}

caption {
    padding: 0.5em;
    font-weight: bold;
    font-size: 1.2em;
    width: 100%;
    display: block;
}

#student-table th {
    padding: 5px;
}

.section-break {
    border-top: 1px solid var(--standard-hover-light-gray);
    font-weight: normal;
}

.access-grading td, .access-grading i {
    background: var(--standard-focus-cornflowe-blue) !important;
}

#edit-user-form {
    display: flex;
    flex-wrap: wrap;
}

#edit-user-form > label {
    flex: 1 0 34%;
    margin: 6px;
    min-width: 200px;
}

#edit-user-form label input[type="text"], 
#edit-user-form label input[type="password"], 
#edit-user-form label select {
    display: flex;
    width: 100%;
}

#user-form-assigned-sections {
    display: flex;
    flex-direction: column;
    margin: 6px 0;
}

@media (max-width: 800px) {
    #student-table {
        border: none;
    }
    
    .section-break {
        padding: 0.5em;
    }

    #student-table td:nth-of-type(1):before { content: "Registration Section"; }
    #student-table td:nth-of-type(2):before { content: "User ID"; }
    #student-table td:nth-of-type(3):before { content: "First Name"; }
    #student-table td:nth-of-type(4):before { content: "Last Name"; }
    #student-table td:nth-of-type(5):before { content: "Rotating Section"; }
    #student-table td:nth-of-type(6):before { content: "Manual Registration"; }
    #student-table td:nth-of-type(7):before { content: "Edit Student"; }
} 

@media (min-width: 801px) {
    caption {
        display: table-caption;
    }

    tbody {
        counter-reset: student;
    }
    
    tr:not(.info) {
        counter-increment: student;
    }
    
    tr:not(.info)::before {
        content: counter(student);
        padding: 0 1em;
    }

    thead tr::before {
        visibility: hidden;
    }

    tr.access-grading {
        background: var(--standard-focus-cornflowe-blue) !important;
    }
}