#gradeable-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#gradeable-info > * {
    margin: 0;
}

#gradeable-info-due-dates {
    text-align: right;
    margin-left: auto;
}

#error-message {
    text-align: left;
    margin-left: auto;
    margin-right: 50%;
}

#submission-form > * {
    margin: 1.5em 0;
}

.github-id {
    width: 16%;
}

.codebox {
    border: 1px solid var(--standard-light-gray);
}

.upload-message p {
    font-style: italic;
}

#upload-boxes {
    display: flex;
    width: 100%;
}

.upload-box {
    flex: 1;
    cursor: pointer;
    text-align: center;
    border: dashed 2px var(--standard-light-gray);
    display: block;
    min-height: 150px;
    margin: 3px;
}

#gradeable-submission-cont #submit {
    /* stylelint-disable-next-line declaration-no-important */
    color: white !important;
}

#submitted-files > .flex-row {
    margin-top: 5px;
}

#submitted-files .flex-row > span:first-child {
    min-width: 0;
    word-break: break-all;
}

#version-cont {
    display: flex;
    flex-wrap: wrap;
}

#version-cont > * {
    margin-bottom: 10px;
}

/* stylelint-disable-next-line selector-id-pattern */
#submission_header {
    margin-right: 10px;
}

/* stylelint-disable-next-line no-descending-specificity */
.submission-details .flex-row > span:nth-child(2) {
    text-align: right;
}

.btn-no-pointer {
  pointer-events: none;
}

#gradeable-info h1 {
    margin-right: auto;
}

#gradeable-progress-bar {
    width: 5%;
    height: 20px;
    background-color: var(--standard-dark-green);
    border-radius: 10px;
}

#gradeable-progress {
    width: 100%;
    background-color: var(--standard-medium-gray);
    padding: 3px;
    border-radius: 13px;
}

.notebook-submit-popup {
    z-index: 2;
    border-radius: 1rem;
    padding: 1rem;
    background-color: var(--standard-light-medium-gray);
    display: none;
    position: fixed;
    top: 0;
    right: 2rem;
}

@media (max-width: 401px) {
    .grade-results {
        display: flex;
        flex-direction: column;
    }

    .grade-results .badge {
        margin: 5px;
    }

    /* stylelint-disable-next-line no-descending-specificity */
    .badge {
        margin-left: 5px;
    }

    .grade-results .box-info {
        margin-left: 5px;
    }
}

@media (max-width: 541px) {
    #gradeable-info h1 {
        font-size: 1.3rem;
        font-weight: initial;
    }

    #gradeable-info h2 {
        font-size: 1.1rem;
        font-weight: initial;
    }

    #gradeable-info p {
        font-size: 1rem;
        font-weight: initial;
    }

    #submission-form {
        font-weight: initial;
        font-size: 0.8rem;
    }

    #submission-mode label {
        display: block;
    }

    #upload-boxes {
        flex-direction: column;
    }

    #upload-boxes .upload-box:last-child {
        margin-bottom: 10px;
    }

    /* stylelint-disable-next-line no-descending-specificity */
    .upload-box {
        margin-top: 10px;
    }

    .upload-box h2.label {
        font-size: 1.1rem;
        font-weight: initial;
    }

    .content h3,
    .content h4 {
        font-weight: 500;
    }

    [id^="content_"] textarea {
        width: 100%;
    }
}

@media (max-width: 950px) {
    #submission-version-select {
        width: 100%;
    }
}
