#bar_wrapper {
     position:relative;
     height: 41px;
     width: 533px;
     top: -90px;
     left: 45%;
     background-color: #edf6f6;
     cursor: move;
     z-index:40;
     border: solid 6px #FFD700;
}

#footer {
    z-index: 20;
}

.draggable_content{
    width: 100%;
    height:100%;
    overflow: auto;
}

.grading_toolbar {
    position:relative;
    display: block;
    float: left;
    width: 291px;
    padding-top:3px;
    padding-bottom:3px;
    background-color: #edf6f6;
}

.grading_toolbar i:not(.icon-disabled):hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px 5px yellow;
    background-color: yellow;
}

.banner {
    border: solid 6px #FFD700;
    position:relative;
    display: block;
    float: left;
    width: 290px;
    height: 25px;
    top: 2px;
    left: 120px;
    padding-top:3px;
    padding-bottom:3px;
    text-align: center;
    vertical-align: middle;
    line-height: 25px;  
    font-weight:    bold;
    background-color: red;
}

.icon-auto-grading-results {
    background: url('../img/glyphicons-40-notes.png') no-repeat;
    display: inline-block;
    height: 22px;
    width: 22px;
    margin: 5px;
}
.icon-selected.fa-list-alt {
    box-shadow: 0px 0px 3px 3px #fd4472;
    background-color: #fd4472;
}

.icon-grading-panel {
    background: url('../img/glyphicons-151-edit.png') no-repeat;
    display: inline-block;
    height: 22px;
    width: 22px;
    margin: 5px;
}
.icon-selected.fa-pencil-square-o {
    box-shadow: 0px 0px 3px 3px #00e08e;
    background-color: #00e08e;
}

.icon-files {
    background: url('../img/glyphicons-145-folder-open.png') no-repeat;
    display: inline-block;
    height: 22px;
    width: 22px;
    margin: 5px;
}
.icon-selected.fa-folder-open {
    box-shadow: 0px 0px 3px 3px #00b3fa;
    background-color: #00b3fa;
}

.icon-status {
    background: url('../img/glyphicons-4-user.png') no-repeat;
    display: inline-block;
    height: 22px;
    width: 22px;
    margin: 5px;
}
.icon-selected.fa-user {
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.4);
    background-color: rgba(0, 0, 0, 0.4);
}

.icon-selected.fa-wrench {
    box-shadow: 0px 0px 3px 3px #bbbbbb;
    background-color: #bbbbbb;
}

.icon-refresh{
    background: url('../img/refresh-page-option.png') no-repeat;
    background-size: 100%;
    display: inline-block;
    height: 22px;
    width: 22px;
    margin: 5px;
}

.icon-left {
    background: url('../img/glyphicons-225-chevron-left.png') no-repeat;
    display: inline-block;
    height: 22px;
    width: 22px;
    margin: 5px;
}

.icon-right {
    background: url('../img/glyphicons-224-chevron-right.png') no-repeat;
    display: inline-block;
    height: 22px;
    width: 22px;
    margin: 5px;
}

.icon-home {
    background: url('../img/glyphicons-21-home.png') no-repeat -2px -1px;
    display: inline-block;
    height: 22px;
    width: 22px;
    margin: 5px;
}

.progress_bar {
    position: relative;
    height: 31px;
    width: 230px;
    float: right;
    background-color: #edf6f6;
    border: 5px solid #edf6f6;
}

progress {
    border-radius: 2px;
}

progress::-webkit-progress-value {
    background: #1E90FF;
}

.draggable {
}

.rubric_panel {
    font-size: 90%;
    cursor: move;
    position: absolute;
    background-color: #E9EFEF;
    display: none;
    z-index: 30;
    overflow:hidden;
    opacity: 0.95;
}

#autograding_results.rubric_panel {
    border:5px solid #c40233 ;
}

#grading_rubric.rubric_panel {
    border:5px solid #00a368;
}

#submission_browser.rubric_panel {
    border:5px solid #0088bf ;
}

#student_info.rubric_panel {
    border:5px solid black;
}

.grading_label {
    display: inline-block;
    padding: 10px;
    font-weight: bold;
    font-size: 16pt;
}

.inner-container {
    margin-top: 0px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.file-viewer{
    margin-right: 10px;
    cursor: pointer;
}

.file-viewer a,
.file-viewer a:link,
.file-viewer a:visited,
.file-viewer a:active {
    color: #005c83;
}

.file-viewer a:hover {
    color: #6db7ff;
    text-decoration: none;
}

.div-viewer{
    float: left;
    margin-right: 10px;
    cursor: pointer;
}

.div-viewer a,
.div-viewer a:link,
.div-viewer a:visited,
.div-viewer a:active {
    color: #005c83;
}

.div-viewer a:hover {
    color: #6db7ff;
    text-decoration: none;
}

.icon-header {
    font-size: 27px;
    position: relative;
    padding: 3px;
    margin: 1px;
}

.icon-folder-closed {
    background: url('../img/glyphicons-halflings.png') no-repeat -384px -120px;
    color: rgb(51, 51, 51);
    display: inline-block;
    height: 14px;
    width: 14px;
}

.icon-folder-open {
    background: url('../img/glyphicons-halflings.png') no-repeat -410px -120px;
    color: rgb(51, 51, 51);
    display: inline-block;
    height: 14px;
    width: 14px;
}

.icon-plus {
    background-image: url('../img/glyphicons-halflings.png');
    background-position: 0px -96px;
    background-repeat: no-repeat;
    color: rgb(51, 51, 51);
    display: inline-block;
    height: 14px;
    width: 14px;
}

.icon-minus {
    background-image: url('../img/glyphicons-halflings.png');
    background-position: -24px -96px;
    background-repeat: no-repeat;
    color: rgb(51, 51, 51);
    display: inline-block;
    height: 14px;
    width: 14px;
}

.icon-got-this-mark {
    visibility: visible; 
    cursor: pointer; 
    position: relative; 
    top: 2px; 
    left: 1%;
}

.rubric-title {
    width: 100%;
    margin-left: 0;
    margin-bottom: 20px;
    float: left;
    text-align: left;
}

.rubric-table {
    border: 1px solid #dddddd;
    border-collapse: collapse;
    -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
            border-radius: 4px;
}

.rubric-table th, 
.rubric-table td {
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
}

.rubric-table th {
  font-weight: bold;
}

.rubric-table thead th {
  vertical-align: bottom;
}

.rubric-table caption + thead tr:first-child th,
.rubric-table caption + thead tr:first-child td,
.rubric-table colgroup + thead tr:first-child th,
.rubric-table colgroup + thead tr:first-child td,
.rubric-table thead:first-child tr:first-child th,
.rubric-table thead:first-child tr:first-child td {
  border-top: 0;
}

.rubric-table tbody > tr:nth-child(odd) > td,
.rubric-table tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}

.rubric-textarea {
    width:95%;
    height:100%;
    min-height:20px;
    float:left;
    word-break: break-word;
    white-space: pre-line;
    cursor: pointer;
}

.ta-rubric-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 4px;
}

.ta-rubric-table th, 
.ta-rubric-table td {
    padding: 5px;
    vertical-align: top;
    border: 1px solid #dddddd;
}

.ta-rubric-table th {
  font-weight: bold;
}

.ta-rubric-table thead th {
  vertical-align: bottom;
}

.ta-rubric-table caption + thead tr:first-child th,
.ta-rubric-table caption + thead tr:first-child td,
.ta-rubric-table colgroup + thead tr:first-child th,
.ta-rubric-table colgroup + thead tr:first-child td,
.ta-rubric-table thead:first-child tr:first-child th,
.ta-rubric-table thead:first-child tr:first-child td {
  border-top: 0;
}

.ta-rubric-table-background {
    background-color: #b3b3b3;
}

tr.is_publish {
    background-color: #81D4FA;
}

.btn-large {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 17px;
    padding: 16px;
}

#settings-content {
    height: 400px;
    padding-top: 1em;
    overflow-y: auto;
}

#hotkeys-list {
    width: 100%;
    border-collapse: collapse;
}

#hotkeys-list tr {
    border: 1px solid #ddd;
    border-left: none;
    border-right: none;
}

#hotkeys-list tr:nth-child(even) {
    background-color: #eee;
}

#hotkeys-list td {
    padding: 4px;
}

.remap-button {
    width: 100%;
    text-align: center;
}
