#bar_wrapper {
     position: absolute;
     height: 41px;
     width: 650px;
     top: -90px;
     left: 45%;
     background-color: var(--standard-pale-blue-gray);
     cursor: move;
     z-index:40;
     border: solid 6px var(--important-post);
     box-sizing: content-box;
}

#footer {
    z-index: 20;
}

.draggable_content{
    width: 100%;
    height:100%;
    overflow: auto;
}

.grading_toolbar {
     position:relative;
     display: block;
     float: left;
     padding-top:3px;
     padding-bottom:3px;
     background-color: #var(--standard-pale-blue-gray);
 }

.grading_toolbar i:not(.icon-disabled):hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px 5px var(--standard-vibrant-yellow);
    background-color: yellow;
}

.banner {
    border: solid 6px var(--important-post);
    position:relative;
    display: block;
    float: left;
    width: 400px;
    height: 25px;
    top: 2px;
    left: 120px;
    padding-top:3px;
    padding-bottom:3px;
    text-align: center;
    vertical-align: middle;
    line-height: 25px;
    font-weight:    bold;
    background-color: var(--badge-backgroud-red);
}

.info_banner {
    border: solid 6px var(--important-post);
    position:relative;
    display: block;
    float: left;
    width: 400px;
    height: 25px;
    top: 2px;
    left: 120px;
    padding-top:3px;
    padding-bottom:3px;
    text-align: center;
    vertical-align: middle;
    line-height: 25px;
    font-weight:    bold;
}

.icon-auto-grading-results {
    background: url('../img/glyphicons-40-notes.png') no-repeat;
    display: inline-block;
    height: 22px;
    width: 22px;
    margin: 5px;
}
.icon-selected.fa-list {
    box-shadow: 0px 0px 3px 3px var(--standard-vibrant-pink);
    background-color: var(--standard-vibrant-pink);
}

.icon-grading-panel {
    background: url('../img/glyphicons-151-edit.png') no-repeat;
    display: inline-block;
    height: 22px;
    width: 22px;
    margin: 5px;
}
.icon-selected.fa-edit {
    box-shadow: 0px 0px 3px 3px var(--standard-mint-green);
    background-color: var(--standard-mint-green);
}

.icon-selected.fa-comment-alt {
    box-shadow: 0px 0px 3px 3px var(--standard-light-seafoam);
    background-color: var(--standard-light-seafoam);
}

.icon-files {
    background: url('../img/glyphicons-145-folder-open.png') no-repeat;
    display: inline-block;
    height: 22px;
    width: 22px;
    margin: 5px;
}
.icon-selected.fa-folder-open {
    box-shadow: 0px 0px 3px 3px var(--standard-aqua);
    background-color: var(--standard-aqua);
}

.icon-status {
    background: url('../img/glyphicons-4-user.png') no-repeat;
    display: inline-block;
    height: 22px;
    width: 22px;
    margin: 5px;
}
.icon-selected.fa-user {
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.4);
    background-color: rgba(0, 0, 0, 0.4);
}
.icon-selected.fa-users {
    box-shadow: 0px 0px 3px 3px var(--standard-plum-purple);
    background-color: var(--standard-plum-purple);
}
.icon-selected.grade_inquiry_icon{
    box-shadow: 0px 0px 3px 3px var(--standard-vibrant-orange);
    background-color: var(--standard-vibrant-orange);
}
.icon-header {
    text-align: center;
    width: 1em;
}

.icon-selected.fa-wrench {
    box-shadow: 0px 0px 3px 3px var(--standard-light-medium-gray);
    background-color: var(--standard-light-medium-gray);
}

.icon-refresh{
    background: url('../img/refresh-page-option.png') no-repeat;
    background-size: 100%;
    display: inline-block;
    height: 22px;
    width: 22px;
    margin: 5px;
}

.icon-left {
    background: url('../img/glyphicons-225-chevron-left.png') no-repeat;
    display: inline-block;
    height: 22px;
    width: 22px;
    margin: 5px;
}

.icon-right {
    background: url('../img/glyphicons-224-chevron-right.png') no-repeat;
    display: inline-block;
    height: 22px;
    width: 22px;
    margin: 5px;
}

.icon-home {
    background: url('../img/glyphicons-21-home.png') no-repeat -2px -1px;
    display: inline-block;
    height: 22px;
    width: 22px;
    margin: 5px;
}

.progress_bar {
    position: relative;
    height: 31px;
    width: 190px;
    float: right;
    background-color: var(--standard-pale-blue-gray);
    border: 5px solid var(--standard-pale-blue-gray);
}

progress {
    border-radius: 2px;
}

progress::-webkit-progress-value {
    background: var(--standard-medium-vibrant-blue);
}

.draggable {
}

.rubric_panel {
    font-size: 90%;
    cursor: move;
    position: absolute;
    background-color: var(--standard-pale-blue-gray);
    display: none;
    z-index: 30;
    overflow:hidden;
    opacity: 0.95;
}

#autograding_results.rubric_panel {
    border:5px solid var(--standard-vibrant-pink-red);
}

#grading_rubric.rubric_panel {
    border:5px solid var(--standard-dark-mint-green);
}

#submission_browser.rubric_panel {
    border:5px solid var(--standard-gray-blue);
}
#regrade_info.rubric_panel {
    border:5px solid var(--standard-vibrant-orange);
}
#student_info.rubric_panel {
    border:5px solid var(--text-black);
}
#peer_info.rubric_panel {
    border:5px solid var(--standard-plum-purple);
}

.grading_label {
    display: inline-block;
    padding: 10px;
    font-weight: bold;
    font-size: 16pt;
}

.file-viewer{
    margin-right: 10px;
    cursor: pointer;
}

.file-viewer a,
.file-viewer a:link,
.file-viewer a:visited,
.file-viewer a:active {
    color: var(--file-browser-blue);
}

.file-viewer a:hover {
    color: #6db7ff;
    text-decoration: none;
}

.div-viewer{
    float: left;
    margin-right: 10px;
    cursor: pointer;
}

.div-viewer a,
.div-viewer a:link,
.div-viewer a:visited,
.div-viewer a:active {
    color: var(--file-browser-blue);
}

.div-viewer a:hover {
    color: #6db7ff;
    text-decoration: none;
}

.icon-header {
    font-size: 27px;
    position: relative;
    padding: 3px;
    margin: 1px;
    color: var(--text-black);
}

.icon-folder-closed {
    background: url('../img/glyphicons-halflings.png') no-repeat -384px -120px;
    color: rgb(51, 51, 51);
    display: inline-block;
    height: 14px;
    width: 14px;
}

.icon-folder-open {
    background: url('../img/glyphicons-halflings.png') no-repeat -410px -120px;
    color: rgb(51, 51, 51);
    display: inline-block;
    height: 14px;
    width: 14px;
}

.icon-plus {
    background-image: url('../img/glyphicons-halflings.png');
    background-position: 0px -96px;
    background-repeat: no-repeat;
    color: rgb(51, 51, 51);
    display: inline-block;
    height: 14px;
    width: 14px;
}

.icon-minus {
    background-image: url('../img/glyphicons-halflings.png');
    background-position: -24px -96px;
    background-repeat: no-repeat;
    color: rgb(51, 51, 51);
    display: inline-block;
    height: 14px;
    width: 14px;
}

.icon-mark-stats {
    visibility: visible;
    cursor: pointer;
    position: relative;
    top: 2px;
    left: 1%;
}

.rubric-title {
    width: 100%;
    margin-left: 0;
    margin-bottom: 20px;
    float: left;
    text-align: left;
}

#overall-comment-collapsed {
    padding: 0 0 0 20px;
    max-height: 100px;
    overflow-x: hidden;
    overlfow-y: scroll;
    width: 100%;
    overflow-wrap: break-word;
}

.ta-rubric-table {
    border-collapse: collapse;
    border-radius: 4px;
}

tr.is_publish {
    background-color: #81D4FA;
}

.btn-large {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 17px;
    padding: 16px;
}

#regrade_request_box.rubric_panel{
    border:5px solid #f47a42 ;
}

#settings-content {
    height: 400px;
    padding-top: 1em;
    overflow-y: auto;
}

#hotkeys-list {
    width: 100%;
    border-collapse: collapse;
}

#hotkeys-list tr {
    border: 1px solid #ddd;
    border-left: none;
    border-right: none;
}

#hotkeys-list tr:nth-child(even) {
    background-color: var(--alternating-row-color-light);
}

#hotkeys-list td {
    padding: 4px;
}

.remap-button {
    width: 100%;
    text-align: center;
}

/* Gradeable */

#no-manual-grading-container {
    margin: 15px;
}

.overall-comment-top-row {
    margin-bottom: 10px;
}

.overall-comment-status {
    text-align: right
}

.gradeable .general-comment {
    background-color:var(--overall-comment);
}

.gradeable .general-comment-entry {
    width: 100%;
    min-height:100px;
    resize: vertical;
}

#rubric-container {
    padding: 0 10px 0 10px;
}

.gradeable .row-wrap {
    flex-wrap: wrap-reverse;
}

.vertical-center {
    align-items: center;
}

.gradeable .hidden {
    display: none;
}

/* Components */

.gradeable .component {
    cursor: default;
}

.gradeable .peer-border {
    border: 3px solid var(--standard-plum-purple);
}

.gradeable .component .badge-container.edit-mode {
    min-width: 170px;
}

.gradeable .version-warning {
    color:var(--error-alert-dark-red);
    font-weight: bold;
    font-size:medium;
}

.gradeable .graded-by {
    font-style: italic;
    padding-right: 10px;
    display: inline-flex;
    justify-content: flex-end;
}

.gradeable .ta-student-comment {
    color: var(--grading-note);
}

.gradeable .verify-container {
    display: inline;
    color: red;
}

.gradeable div.component-container {
    display: flex;
}

.gradeable .edit-component-container .content-block textarea {
    width: 100%;
    resize: vertical;
}

.gradeable .edit-component-container .content-block input[type=text] {
    width: 100%;
}

.gradeable .edit-component-container .content-block div.page-label {
    display: inline-flex;
    align-items: center;
}

.gradeable .component div.point-values {
    padding: 2px;
    margin-right: 10px;
}

.gradeable .component div.point-input-container {
    padding-right: 2px;
}

.gradeable .component .col {
    align-items: center;
    display: inline-flex;
}

.gradeable .component .point-input-container {
    max-width: 90px;
}

.gradeable .component .point-input-container input {
    width: 100%;
}

.gradeable .component input.page-number {
    width: 50px;
}

.gradeable .component .page-number-view {
    padding-left: 10px;
}

.gradeable .component .box-title input[type=number] {
    text-align: right;
}

.gradeable .component .badge {
    min-width: 80px;
}

.gradeable .edit-component-container .right-block {
    align-items: center;
    display: inline-flex;
}

.gradeable .edit-component-container .reorder-component-container {
    display: inline-flex;
    justify-content: center;
    width: 30px;
}

.gradeable .col-label-fixed {
    flex-grow: 0;
    display: inline-flex;
    align-items: center;
    width: 120px;
}

.gradeable .point-input-row .col-label-fixed {
    width: 220px;
}

.gradeable .tight-right {
    padding-right: 0;
}

.gradeable .count-type-row {
    min-height: 30px;
}

.gradeable .component .header-block {
    cursor: pointer;
}

.gradeable .component .row.divider {
    background: #DDD;
    height: 2px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.gradeable .component .content-block {
}

.gradeable .ta-rubric-table,
.gradeable .received-marks-list {
    padding: 8px 0px;
    margin: 0 -5px;
}

.gradeable .done-container {
    float: right;
}

.gradeable .done-button {
    color: green;
}

.gradeable .cancel-container {
    float: right;
}

.gradeable .cancel-button {
    color: red;
}

/* Marks */

.gradeable span.col-no-gutters {
    padding-left: 1px;
    padding-right: 1px;
    display: inline-flex;
    align-items: center;
}

.gradeable .mark-container {
    min-height: 28px;
    border-bottom: 1px solid #999;
    padding: 3px;
}

.gradeable .mark-container:last-child {
    border-bottom: none;
}

.gradeable .container.box-title {
    padding-left: 5px;
}

.gradeable .mark-selector {
    width: 20px;
    height: 20px;
    margin: 2px;
    border: 2px solid var(--text-black);
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
}

.gradeable .mark-selector.mark-selected {
    color: var(--text-white);
    background-color: var(--checkbox-black);
}

.gradeable .mark-selector.hidden {
    display: none;
}

.gradeable .reorder-mark-container.hidden {
    visibility: hidden;
}

.gradeable .mark-container span {
    display: inline-flex;
    box-sizing: content-box;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.gradeable .mark-container span.mark-points {
    width: 60px;
    justify-content: flex-end;
}

.gradeable .mark-container span.mark-title {
    justify-content: flex-start;
}

.gradeable .mark-container input, .gradeable .mark-container textarea {
    box-sizing: border-box;
}

.gradeable .mark-container span.mark-title textarea {
    width: 100%;
    resize: none;
    min-height: 20px;
}

.gradeable .mark-container .mark-points input {
    text-align: right;
    width: 100%;
    margin: 2px;
}

.gradeable .mark-container input:disabled {
    background-color: transparent;
    border: none;
}

.gradeable .mark-container.mark-publish {
    background-color: #bde;
}

.gradeable .mark-disabled span {
    cursor: not-allowed;
    opacity: 0.3;
}

.gradeable .mark-deleted {
    background: #FFAAAA
}

.gradeable .custom-mark-error {
    border-color: #F00;
    background-color: #FEE;
}

.gradeable .mark-deleted span.delete-mark-container {
    display: none;
}

.gradeable span.restore-mark-container {
    display: none;
}

.gradeable .mark-deleted span.restore-mark-container {
    display: inherit;
}

.gradeable span.reorder-mark-container {
    min-width: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.gradeable span.mark-tools {
    min-width: 20px;
    width: 20px;
    text-align: right;
    opacity: 1.0;
}

.gradeable .mark-uneditable {
    cursor: default;
    border: none;
    outline: none;
    background-color: initial;
}

.mark-container .col-sm input {
    width: 100%;
    margin: 2px;
}

.gradeable .add-new-mark {
    margin-left: 25px;
}

.gradeable .received-marks-list.container {
    padding-left: 15px;
    padding-top: 0;
}

.gradeable .received-marks-list.container .row .col-no-gutters.point-value,
.gradeable .received-marks-list.container .row .col-no-gutters.indicator {
    display: inline-flex;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    width: 30px;
}

.gradeable .received-marks-list.container .row .col-no-gutters.point-value {
    justify-content: flex-end;
}

.gradeable .received-marks-list.container .row .col-no-gutters.indicator {
    justify-content: center;
}

/* Mark conflict popup */

#mark-conflict-popup div.mark-conflict-row {
    margin-top: 5px;
    margin-bottom: 5px;
}

#mark-conflict-popup .mark-conflict-row span {
    padding: 3px;
    border-width: 2px;
    margin: 0;
    display: inline-flex;
    align-items: center;
}

#mark-conflict-popup .mark-conflict-row .button-container {
    width: 150px;
}

#mark-conflict-popup .mark-conflict-row .button-container input {
    width: 100%;
}

#mark-conflict-popup .mark-conflict-row.mark-resolved,
#mark-conflict-popup .mark-conflict-row.hidden {
    display: none;
}

#mark-conflict-popup .conflict-resolve-progress {
    width: fit-content;
    margin: 0 auto;
}

#mark-conflict-popup .mark-conflict-container {
    margin-top: 25px;
}

/*Submission Panel CSS*/

#submission_browser {
    left:15px;
    bottom:40px;
    width:48%;
    height:30%;
    overflow: hidden;
}

#discussion_browser {
    left:15px;
    bottom:40px;
    width:48%;
    height:30%;
    overflow: hidden;
}

#discussion_browser.rubric_panel {
    border:5px solid var(--standard-light-seafoam);
}

#directory_view {
    position:relative;
    float:left;
    width:100%;
}

#changeCodeStyle {
    display:inline-block;
}
