#wrapper {
    /* stylelint-disable-next-line declaration-no-important */
    min-height: 0 !important;
}

.hotkeys-button {
    width: 125px;
}

.key_to_click:focus-visible,
.rubric-interactive-element:focus-visible,
[tabindex="0"]:focus-visible,
button:focus-visible,
.btn:focus-visible {
    outline: 2px solid #0056b3;
    outline-offset: 2px;
}
