
.toggle-columns-menu{
    display: grid;
}

.toggle-columns-instructions{
    margin-bottom: 1vh;
}

.toggle-checkbox-area {
    display: table-cell;
    vertical-align: middle;
}

.toggle-all-buttons {
    margin-top: 1vh;
}