#edit-user-form-content {
    display: flex;
    flex-wrap: wrap;
}

#edit-user-form-content > label, #edit-user-form-content > a {
    flex: 1 0 34%;
    margin: 6px;
    min-width: 200px;
}

#edit-user-form-content > label.full-width, #edit-user-form-content > a.full-width {
    flex: 1 0 70%;
}

#edit-user-form-content label input[type="text"],
#edit-user-form-content label input[type="password"],
#edit-user-form-content label select {
    display: flex;
    width: 100%;
}

#user-form-assigned-sections {
    display: flex;
    flex-direction: column;
    margin: 6px 0;
}

input[type=text]:valid {
    background-color: transparent;
 }

input[type=text]:invalid {
    background-color: var(--alert-invalid-entry-pink);
}
