.user-info-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
    flex-wrap: wrap;
}

#user-card {
    flex: 1;
    max-width: 100%;
}

#user-card-img {
    flex: 1;
    margin-bottom: 20px;
    text-align: center;
    padding-left: 25px;
}

.user-info-title {
    font-weight: 600;
    margin-bottom: 20px;
}

.user-info {
    margin-bottom: 40px;
}

.user-img-cont {
    width: 200px;
    height: 200px;
    display: block;
    margin: 10px auto 20px;
    position: relative;
    border: 2px solid;
    border-radius: 15px;
    padding: 12px;
}

.user-img-cont img {
    height: 100%;
    max-width: 100%;
}

.user-img-view-only .user-img-cont {
    width: 160px;
    height: 160px;
}

.center-img-tag {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 24px;
    transform: translate(-50%, -50%);
}

.edit-user-img {
    display: block;
    margin-bottom: 20px;
}

#flagged-message {
    display: none;
}

#flagged-message.show {
    display: inline;
}

/* stylelint-disable selector-id-pattern */
#basic_info span:first-of-type,
#time_zone_selector_label a {
    margin-right: 15px;
}
/* stylelint-enable selector-id-pattern */

.flex-row-col {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.user-info .flex-row {
    margin: 10px 0;
}

.user-info .label {
    font-weight: normal;
    margin: 0;
}

.user-info .tip-note {
    font-size: 14px;
    color: var(--standard-medium-blue);
    display: block;
}

.flex-row-col label,
.flex-row-col select {
    flex: 1;
    min-width: 0;
}

/* stylelint-disable-next-line selector-id-pattern */
#theme_value {
    text-transform: capitalize;
}

#user-secondary-email-change {
    width: 20em;
}

.icon {
    /* stylelint-disable-next-line declaration-no-important */
    background: none !important;
    border: none;
    /* stylelint-disable-next-line declaration-no-important */
    padding: 0 !important;
    color: var(--external-link-blue);
    text-decoration: none;
    /* stylelint-disable-next-line declaration-no-important */
    font-family: "Source Sans Pro", sans-serif !important;
    font-size: 100%;
    cursor: pointer;
}

.fas {
    color: var(--btn-default-text);
}

.fas:hover {
    color: var(--external-link-blue);
}

@media (max-width: 401px) {
    .content {
        margin: 10px 0 0;
    }

    /* stylelint-disable selector-id-pattern */
    #basic_info span:first-of-type,
    #time_zone_selector_label a {
        margin-right: 4px;
    }
    /* stylelint-enable selector-id-pattern */
}

@media (max-width: 541px) {
    .flex-row-col {
        flex-direction: column;
    }

    #auth-tokens-btn {
        margin-bottom: 10px;
    }
}
