.user-info-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    flex-wrap: wrap;
}

#user-card, #user-card-img {
    flex: 1
}

#user-card-img {
    margin-bottom: 20px;
}

.user-info-title {
    font-weight: 600;
    margin-bottom: 20px;
}

.user-info {
    margin-bottom: 40px;
}

#user-card-img {
    text-align: center;
    padding-left: 25px;
}

.user-img-cont {
    width: 200px;
    height: 200px;
    display: block;
    margin: 10px auto 20px;
    position: relative;
    border: 2px solid;
    border-radius: 15px;
    padding: 12px;
}

.user-img-cont span {}

.user-img-cont img {
    height: 100%;
    max-width: 100%;
}

.user-img-view-only .user-img-cont {
    width: 160px;
    height: 160px;
}

.center-img-tag {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 24px;
    transform: translate(-50%, -50%);
}

.edit-user-img {
    display: block;
    margin-bottom: 20px;
}

#basic_info span:first-of-type {
    margin-right: 15px;
}

.flex-row-col {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.user-info .flex-row {
    margin: 10px 0;
}

.flex-row-col span:first-child, .flex-row-col label {
    font-weight: 500;
}

.flex-row-col label, .flex-row-col select {
    flex: 1;
    min-width: 0;
}

#time_zone_selector_label a {
    margin-left: 15px;
}

#theme_value {
    text-transform: capitalize;
}

@media (max-width: 401px) {
    .content {
        margin: 10px 0 0 0;
    }
}

@media (max-width: 541px) {
    .flex-row-col {
        flex-direction: column;
    }
}
