#container {
	display: table;
}

#container > div {
	display: table-row;
}

#container > div > div {
	float: left;
    display: table-column;
}


#lower-left-container {
	width: 60px;
	float: left;
}

#lower-right-container {
	margin-left: 70px;
}