#container {
    display: flex;
    width: 100%;
    margin: 0 0 -60px 0;
    flex-direction: column;
}

#container #upper-container, #container #lower-container {
    display: flex;
    flex-direction: row;
}

#container #upper-left-container, #container #lower-left-container {
    min-width: 20%;
}

#container #upper-right-container, #container #lower-right-container {
    flex-grow: 2;
}
