#container {
    display: flex;
    flex-direction: column;
}

#container #center-container {
    display: flex;
    flex-direction: row;
}

#site-body {
    flex-grow: 2;
}

#container iframe#upper-container, #container iframe#lower-container {
    height: 60px;
}

#container iframe#left-container, #container iframe#right-container {
    width: 200px;
}
