<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.5/phpunit.xsd"
        bootstrap="bootstrap.php"
        colors="true"
        verbose="true">
    <testsuites>
        <testsuite name="Application Tests">
            <directory suffix="Tester.php">lib</directory>
        </testsuite>
    </testsuites>

    <logging>
        <log type="coverage-html" target="report" />
    </logging>
</phpunit>