{% extends 'generic/Popup.twig' %}
{% block popup_id %}add-new-term{% endblock %}
{% block title %}Add New Term{% endblock %}
{% block form %}
    <form method="post" action="{{ add_term_url }}">
        {{ parent() }}
    </form>
{% endblock %}
{% block body %}
    <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
    <div class="flex-col my-3">
        <div class="row">
            <label class="col-md-6" for="term-id">
                <div class="row">
                    <span class="col-md-5">Term id:</span>
                    <input type="text" name="term_id" placeholder="s20" id="term-id" class="col-md-6" required/>
                </div>
            </label>
            <label class="col-md-6" for="start-date">
                <div class="row">
                    <span class="col-md-5">Start Date:</span>
                    <input type="date" name="start_date" id="start-date" class="col-md-6" required/>
                </div>
            </label>
        </div>
        <div class="row">
            <label class="col-md-6 mt-3" for="term-name">
                <div class="row">
                    <span class="col-md-5">Term name:</span>
                    <input type="text" name="term_name" placeholder="Spring 2020" id="term-name" class="col-md-6" required/>
                </div>
            </label>
            <label class="col-md-6 mt-3" for="end-date">
                <div class="row">
                    <span class="col-md-5">End Date:</span>
                    <input type="date" name="end_date" id="end-date" class="col-md-6" required/>
                </div>
            </label>
        </div>
    </div>
{% endblock %}
{% block buttons %}
    {{ block('close_button') }}
    <input class="btn btn-primary" type="submit" value="Submit" />
{% endblock %}
