<div class="content">
    <h1>API Token</h1>

    <p>
        To get your token, press the Get Token button below.
        Retrieving your API token will invalidate any previous token
        generated. If you wish to invalidate your token without generating
        a new one, press the Invalidate Current Token button.
    </p>
    <br>
    <p>
        Learn more about the API <a href="https://api.submitty.org/">here</a>.
    </p>

    <br>

    <form method="POST" action="/api_token">
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
        <button type="submit" class="btn btn-primary">Get Token</button>
    </form>

    <form method="POST" action="/api_token/invalidate">
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
        <button type="submit" class="btn btn-danger">Invalidate Current Token</button>
    </form>

    {% if token is not null %}
        <p>Your token:</p>
        <samp>{{ token }}</samp>
    {% endif %}
</div>
