<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

<div class="content shadow" id="login-box">
    <h1 id="login-guest">Login</h1>
    <!--
    <em>Note: Registered students have not yet been uploaded to the Submitty course databases.  Please check back later.</em>
    -->
    <form action="{{ login_url }}" method="post" id="login">
        <input type="text" name="user_id" onchange="$(this).val($(this).val().trim())" placeholder="User ID" required autofocus/>
        <input type="password" name="password" placeholder="Password" required />
        <label for="stay_logged_in">Stay Logged In <input type="checkbox" name="stay_logged_in" id="stay_logged_in" checked /></label>
        <input type="submit" name="login" value="Login" class="btn btn-primary" />
    </form>
</div>
