<div class="row">
    <div class="col-sm"></div>
    <div class="content" id="login-box">
        <h1 id="login-guest">Submitty Login</h1>
        <!--
        <em>Note: Registered students have not yet been uploaded to the Submitty course databases.  Please check back later.</em>
        -->
        <form action="{{ site_url }}" method="post" id="login">
            <input type="hidden" name="component" value="authentication" />
            <input type="hidden" name="page" value="checkLogin" />
            {% for key, value in old %}
                <input type='hidden' name='old_{{ key }}' value='{{ value }}' />
            {% endfor %}
            <input type="text" name="user_id" placeholder="User ID" required autofocus/><br />
            <input type="password" name="password" placeholder="Password" required /><br />
            <label for="stay_logged_in">Stay Logged In</label> <input type="checkbox" name="stay_logged_in" id="stay_logged_in" checked /><br />
            <input type="submit" name="login" value="Login" class="btn btn-primary" />
        </form>
    </div>
    <div class="col-sm"></div>
</div>
