{% extends 'generic/Popup.twig' %}
{% block popup_id %}show-banner{% endblock %}
{% block title %}New Event Happening!{% endblock %}
{% block body %}
    <input type="hidden" name="csrf_token" value="ok" />

    <a  id = "linking" href = "#">
    <img id= "theImage" src = "#" />
    </a>

{% endblock %}
{% block buttons %}
    {{ block('close_button') }}
{% endblock %}
