{% extends 'generic/Popup.twig' %}
{% block popup_id %}change-password-form{% endblock %}
{% block title %}Change Password{% endblock %}
{% block body %}
    <p>&emsp;</p>
    <input type="hidden" name="csrf_token" value="{{ core.getCsrfToken() }}" />
    <div>
        Password: <input type="password" name="new_password"/>
        Confirm: <input type="password" name="confirm_new_password"/>
    </div>
{% endblock %}
{% block form %}
    <form method="post" action="{{ core.buildUrl({'page': 'change_password'}) }}">
        {{ parent() }}
    </form>
{% endblock %}
{% block buttons %}
    {{ block('close_button') }}
    <input class="btn btn-primary" type="submit" value="Submit" />
{% endblock %}
