{% extends 'generic/Popup.twig' %}
{% block popup_id %}change-password-form{% endblock %}
{% block title %}Change Password{% endblock %}
{% block body %}
    <p>&emsp;</p>
    <input type="hidden" name="csrf_token" value="{{ core.getCsrfToken() }}" />
    <div>
        <label for="new_password">Password:</label> <input type="password" name="new_password" id="new_password" />
        <label for="confirm_new_password">Confirm:</label> <input type="password" name="confirm_new_password" id="confirm_new_password" />
    </div>
{% endblock %}
{% block form %}
    <form method="post" action="{{ core.buildNewUrl(['home', 'change_password']) }}">
        {{ parent() }}
    </form>
{% endblock %}
{% block buttons %}
    {{ block('close_button') }}
    <input class="btn btn-primary" type="submit" value="Submit" />
{% endblock %}
