{% extends 'generic/Popup.twig' %}
{% block popup_id %}new-auth-token-form{% endblock %}
{% block title %}Create Git Auth Token{% endblock %}
{% block body %}
    <p class="std-margin">
        Below you can create a new Git auth token. Please read the documentation
        <a href="https://submitty.org/student/submission/version_control" target="_blank">here</a>
        to learn more about how to use your auth token.
    </p>

    <div class="flex-col">
        <input type="text" hidden name="csrf_token" value="{{ csrf_token }}" />
        <label for="new-auth-token-name">Name (e.g. Laptop, Desktop, etc):</label>
        <input type="text" name="name" id="new-auth-token-name">

        <label for="new-auth-token-expiration">Expiration</label>
        <select name="expiration" id="new-auth-token-expiration">
            <option value="1">One Month</option>
            <option value="6">Six Months</option>
            <option value="12">One Year</option>
            <option value="0">Never Expires</option>
        </select>
    </div>

{% endblock %}
{% block form %}
    <form method="post">
        {{ parent() }}
    </form>
{% endblock %}
{% block buttons %}
    {{ block('close_button') }}
    <input class="btn btn-primary" type="submit" value="Submit" />
{% endblock %}
