<div class="content shadow" id="login-box">
    <div id="login-guest">
        {% include "misc/Markdown.twig" with {
            "content": signup_content
        } only %}
    </div>

    <form action="{{ signup_url }}" method="post" id="login">
        <label><p style="display:block">Email <i style="font-style:normal;" class="fa-question-circle hover-marker-email"></i></p>
            <div class="hidden-helper" id="email-helper">
                Accepted Email Extensions:<br/>
                {% for email, bool in requirements['email'] %}
                    @{{ email }}<br/>
                {% endfor %}
            </div>
            <input type="text" name="email" required />
        </label>
        <label>
            <p style="display:block">User ID <i style="font-style:normal;" class="fa-question-circle hover-marker-userid"></i></p>
            <div class="hidden-helper" id="userid-helper">
                UserID Requirements:<br/>
                {% if requirements['user_id']['all'] == true %}
                    All user ids of {{ requirements['user_id']['length'] == -1 ? 'any length' : "length:  requirements['user_id']['length']" }} are accepted
                {% elseif requirements['user_id']['require_name'] == true %}
                    Must start with {{ requirements['user_id']['name_requirements']['givenname_first'] ? (requirements['user_id']['name_requirements']['given_name'] + 'characters of your given name') : (requirements['user_id']['name_requirements']['family_name'] + 'characters of your family name')}}
                {% elseif requirements['user_id']['require_email'] == true %}

              
                {% endif %}
            </div>
            <input type="text" name="user_id" required />
        </label>
        <label>
            Given Name
            <input type="text" name="given_name" required />
        </label>
        <label>
            Family Name
            <input type="text" name="family_name" required />
        </label>
        <label>
           <p style="display:block">Password <i style="font-style:normal;" class="fa-question-circle hover-marker-password"></i></p>
            <div class="hidden-helper" id="password-helper">
                Password Requires at least:<br/>
                1 Capital Letter<br/>
                1 Lowercase Letter<br/>
                1 Number<br/>
                1 Special Character<br/>
                12 Characters<br/>
            </div>
            <input type="password" name="password" required />
        </label>
        <label>
            Re-Enter Password
            <input type="password" name="confirm_password" required />
        </label>
        <input type="submit" name="signup" value="Sign Up" class="btn btn-primary" />
    </form>
</div>


<script>

$('.hover-marker-password').hover(()=>{
    $('#password-helper').show();
}, ()=>{
    $('#password-helper').hide();
})

$('.hover-marker-email').hover(()=>{
    $('#email-helper').show();
}, ()=>{
    $('#email-helper').hide();
})

$('.hover-marker-userid').hover(()=>{
    $('#userid-helper').show();
}, ()=>{
    $('#userid-helper').hide();
})

</script>

