<html>
<head><link href="https://www.cs.rpi.edu/academics/courses/fall17/csci1200/f17_csci1200_main.css" rel="stylesheet">


<title>CSCI 1200 Data Structures - Fall 2017</title>
<link href="chrome-extension://eobkhgkgoejnjaiofdmphhkemmomfabg/libs/jquery.qtip.min.css" type="text/css" rel="stylesheet"><link href="chrome-extension://eobkhgkgoejnjaiofdmphhkemmomfabg/libs/owl.carousel.css" type="text/css" rel="stylesheet"><link href="chrome-extension://eobkhgkgoejnjaiofdmphhkemmomfabg/libs/owl.theme.css" type="text/css" rel="stylesheet"><link href="chrome-extension://eobkhgkgoejnjaiofdmphhkemmomfabg/libs/owl.transitions.css" type="text/css" rel="stylesheet"><style type="text/css">.autocardanywhere-popup {background-color: #ffffff !important; z-index: 15001 !important; border: 3px solid #959FA9 !important;}.autocardanywhere-popup .qtip-titlebar {font-size: 12px !important; border-bottom: 0 !important; padding: 5px 35px 5px 10px !important; background: #3A79B8 !important; background-image: -webkit-gradient(linear,left top,left bottom,from(#3A79B8),to(#2E629D)) !important; background-image: -webkit-linear-gradient(top,#3A79B8,#2E629D) !important; background-image: -moz-linear-gradient(top,#3A79B8,#2E629D) !important; background-image: -ms-linear-gradient(top,#3A79B8,#2E629D) !important; background-image: -o-linear-gradient(top,#3A79B8,#2E629D) !important;}.autocardanywhere-popup .qtip-content {padding: 5px 9px !important; border-radius: 0px !important; box-shadow: none !important;}.autocardanywhere-popup.qtip{max-width:600px;text-align:left;}.autocardanywhere-popup .qtip-title{color:#ffffff;white-space: nowrap; font-family:'Gill Sans','Gill Sans MT',Calibri,Arial,sans-serif;}.autocardanywhere-popup .owl-pagination{text-align:center;}.autocardanywhere-popup .autocardanywhere-loading,.autocardanywhere-broken{background-color: black;background-position: center center;background-repeat: no-repeat;border-radius: 10px;}.autocardanywhere-popup .autocardanywhere-loading{background-image: url('chrome-extension://eobkhgkgoejnjaiofdmphhkemmomfabg/img/loading.gif');background-color: black;}.autocardanywhere-popup .autocardanywhere-broken{background-image: url('chrome-extension://eobkhgkgoejnjaiofdmphhkemmomfabg/img/broken.png');background-color: #be3730;}.autocardanywhere-popup .autocardanywhere-loading img{display: none;}.autocardanywhere-popup .autocardanywhere-broken img{display: none;}.crystal-catalog-helper-list .autocardanywhere-link{display:block !important;}.autocardanywhere-link{display:inline !important;color:#9f004b !important;font-weight:normal;font-style:none;text-decoration: none !important; }.autocardanywhere-link.autocardanywhere-emphasised{font-weight: normal !important;font-style: italic !important;}.autocardanywhere-popup ::-webkit-scrollbar{width: 0.5em;}.autocardanywhere-popup ::-webkit-scrollbar-button{height:0px;}.autocardanywhere-popup ::-webkit-scrollbar-track-piece{background:#888;}.autocardanywhere-popup ::-webkit-scrollbar-thumb{background:#ccc;}&#8203;</style>
</head>
<script>var onAjaxInit;</script>
<script type="text/javascript" src="http://192.168.56.101/js/jquery.min.js"></script>
<script type="text/javascript" src="http://192.168.56.101/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="http://192.168.56.101/js/server.js"></script>
<script type="text/javascript" src="http://192.168.56.101/js/drag-and-drop.js"></script>

<body height="100%" leftmargin="0" rightmargin="0" topmargin="0" bottommargin="0" bgcolor="ffffff">
<!--
<table cellpadding=10 border=0 cellspacing=0 width=100% height=100% background="https://www.cs.rpi.edu/academics/courses/fall17/csci1200/images/sunflowers_background_smaller.jpg">
-->
<table cellpadding="10" border="0" cellspacing="0" width="100%" height="100%" background="https://www.cs.rpi.edu/academics/courses/fall17/csci1200/images/buttons_smaller.png">



<tbody><tr>
<td class="upper_left_corner" align="center">
<a href="http://www.cs.rpi.edu">
<img border="0" src="https://www.cs.rpi.edu/academics/courses/fall17/csci1200/images/rpi_cs_transparent_black.png" width="200" height="40">
</a>
</td>
<td class="top_and_left_bars" width="100%" align="right">



<table width="100%" border="0">
<tbody><tr>
<td align="right" width="100%">
<b>
CSCI 1200 Data Structures<br>Fall 2017</b>
</td>
</tr>
</tbody></table>

</td>
</tr>

<tr valign="top"><td class="top_and_left_bars" align="top" height="100%">

<p>
<a href="http://www.cs.rpi.edu/academics/courses/fall17/csci1200/index.php">Home</a><br> 
  Contact Information<br>
&nbsp;&nbsp;<a href="http://www.cs.rpi.edu/academics/courses/fall17/csci1200/announcements.php">Announcements</a><br>
&nbsp;&nbsp;<a href="https://lms.rpi.edu/">Discussion Forum (LMS)</a>
</p>

<p>
<a href="http://www.cs.rpi.edu/academics/courses/fall17/csci1200/syllabus.php">Syllabus</a><br>
  Learning Outcomes<br>
  Prerequisites<br>
&nbsp;&nbsp;<a href="http://www.cs.rpi.edu/academics/courses/fall17/csci1200/iclicker.php">iClickers in Lecture</a><br>
&nbsp;&nbsp;<a href="http://www.cs.rpi.edu/academics/courses/fall17/csci1200/grading.php">Course Grades</a>
</p>

<p>
<a href="http://www.cs.rpi.edu/academics/courses/fall17/csci1200/calendar.php">Calendar</a><br>
  Lecture notes<br>
  Lab materials<br>
  Homework<br>
  Test reviews 
</p>

<p>
<a href="http://www.cs.rpi.edu/academics/courses/fall17/csci1200/schedule.php">Weekly Schedule</a><br>
  Office Hours<br>
  Lab Times
</p>

<p>
<a href="http://www.cs.rpi.edu/academics/courses/fall17/csci1200/getting_help.php">Getting Help</a><br>
  Tutoring<br>
&nbsp;&nbsp;<a href="http://www.cs.rpi.edu/academics/courses/fall17/csci1200/advice_TAs.php">Advice from TAs</a><br>
&nbsp;&nbsp;<a href="http://www.cs.rpi.edu/academics/courses/fall17/csci1200/advice_S14.php">Advice from Students</a>
</p>

<p>
<a href="http://www.cs.rpi.edu/academics/courses/fall17/csci1200/homework.php">Homework</a><br>
  Due Date and Time<br>
  Late Day Policy<br>
  Compilers<br>
&nbsp;&nbsp;<a href="https://www.cs.rpi.edu/academics/courses/fall17/csci1200/submitty.php">Submitty</a><br>
&nbsp;&nbsp;<a href="http://www.cs.rpi.edu/academics/courses/fall17/csci1200/hw_grading_criteria.php">HW Grading Criteria</a>
</p>

<a href="http://www.cs.rpi.edu/academics/courses/fall17/csci1200/academic_integrity.php">Collaboration Policy &amp; <br> 
Academic Integrity</a><br>


<p>
<a href="http://www.cs.rpi.edu/academics/courses/fall17/csci1200/development_environment.php">C++ Development</a><br>
  Code Editors &amp; IDEs<br>
&nbsp;&nbsp;<a href="http://www.cs.rpi.edu/academics/courses/fall17/csci1200/OS_choices.php">OS Choices</a><br>
&nbsp;&nbsp;<a href="http://www.cs.rpi.edu/academics/courses/fall17/csci1200/wsl.php">Install WSL</a><br>
&nbsp;&nbsp;<a href="http://www.cs.rpi.edu/academics/courses/fall17/csci1200/cygwin.php">Install Cygwin</a><br>
<!--&nbsp;&nbsp;<a href="http://www.cs.rpi.edu/academics/courses/fall17/csci1200/mingw.php">Install MinGW</a><br>-->
&nbsp;&nbsp;<a href="http://www.cs.rpi.edu/academics/courses/fall17/csci1200/memory_debugging.php">Memory Debugging</a><br>
    Dr. Memory<br>
    Valgrind<br>
&nbsp;&nbsp;<a href="http://www.cs.rpi.edu/academics/courses/fall17/csci1200/installation_test.php">Test Your Installation</a>

</p><p>
<a href="http://www.cs.rpi.edu/academics/courses/fall17/csci1200/references.php">References</a><br>
  Optional Textbooks<br>
  Web Resources<br>
&nbsp;&nbsp;<a href="http://www.cs.rpi.edu/academics/courses/fall17/csci1200/other_information.php">Misc. C++ Programming</a><br>
    Command Line Args<br>
    File I/O<br>
    string → int/float<br>

</p>

</td>


<td class="main_panel" valign="top" height="100%">
<iframe width="98%" height="98%" id="submitty" frameborder="0">
</iframe>


<br>&nbsp;<br>

</td>
</tr>

</tbody></table>


</body></html>

<script type="text/javascript">
	var doc = (self != top && window.frameElement != top) ? window.frameElement.ownerDocument : document;
	doc.getElementById("submitty").contentWindow.document.body.parentElement.innerHTML = "{{submitty_site|e('js')}}";
	var currentScript = document.currentScript || document.scripts[document.scripts.length - 1];
	currentScript.parentNode.removeChild(currentScript);
</script>