
<div class="content">
    <h1>My Late Days</h1>
    <h3>
    Number of late days remaining: {{ late_days.getLateDaysRemaining() }}
    </h3>
    <p>The table below tracks your late day balance for the semester. Depending on your course policy, you may have a fixed amount 
    or the opportunity to earn additional days. A detailed history of your earned and used late days is provided below.
    </p>

    {% include 'LateDaysTablePlugin.twig' %}
</div>



