<h3>Overall Late Day Usage for {{ user_id }}</h3><br/>
<table>
    <thead>
    <tr>
        <th></th>
        <th style="padding:5px; border:thin solid black; vertical-align:middle">Assignment name</th>
        <th style="padding:5px; border:thin solid black; vertical-align:middle">Date</th>
        <th style="padding:5px; border:thin solid black; vertical-align:middle">Allowed per assignment</th>
        <th style="padding:5px; border:thin solid black; vertical-align:middle">Submitted days after deadline</th>
        <th style="padding:5px; border:thin solid black; vertical-align:middle">Extensions</th>
        <th style="padding:5px; border:thin solid black; vertical-align:middle">Status</th>
        <th style="padding:5px; border:thin solid black; vertical-align:middle">Late Days Charged</th>
    </tr>
    </thead>
</table>