{% if late_days is defined %}
<div class="content">
    <h1>My Late Days</h1>
    <h3>
    Number of late days remaining: {{ late_days.getLateDaysRemaining() }}<br> 
    </h3>
    <p>The table below describes your progression throughout the semester towards your late days. Depending on
    your course, you may have a fixed number of late days or you may be able to earn late days
    depending on your course.
    </p>

    {% include 'LateDaysTablePlugin.twig' %}
</div>

{% endif %}

