<style>
    input[type="checkbox"]:disabled {
        background: gray;
    }
</style>
<div class="content">
    <form method="post" action="{{ core.buildUrl({'component': 'notification', 'page': 'alter_notification_settings'}) }}" id="form_notification_settings">
        <div id="config">
            {% if email_enabled %}
                {% set header = "Notification/Email Settings" %}
            {% else %}
                {% set header = "Notification Settings" %}
            {% endif %}
            <div><h1>{{ header }}</h1></div>
            <div class="row">
                <div class="heading col-md-4">
                </div>
                <div class="heading col-md-3">
                    <h2>Notification Settings</h2>
                </div>
                {% if email_enabled %}
                    <div class="heading col-md-5">
                        <h2>Email Settings</h2>
                    </div>
                {% endif %}

            </div>
            <div class="option row">
                <div class="option-desc col-md-4">
                    <label for="forum_enabled">
                        <div class="option-title">New announcements</div>
                        <div class="option-alt">Receive a notification whenever an instructor posts a new announcement</div>
                    </label>
                </div>
                <div class="option-input col-md-3"><input type="checkbox" name="announcement" id="announcement" disabled checked></div>
                {% if email_enabled %}
                    <div class="option-input col-md-5"><input type="checkbox" name="announcement_email" id="announcement_email" disabled checked></div>
                {% endif %}
            </div>
            <div class="option row">
                <div class="option-desc col-md-4">
                    <label for="forum_enabled">
                        <div class="option-title">Replies to my thread</div>
                        <div class="option-alt">Receive a notification whenever a reply is posted in a thread that you created</div>
                    </label>
                </div>
                <div class="option-input col-md-3"><input type="checkbox" name="reply_thread" id="reply_thread" disabled checked></div>
                {% if email_enabled %}
                    <div class="option-input col-md-5"><input type="checkbox" name="reply_thread_email" id="reply_thread_email" disabled checked></div>
                {% endif %}
            </div>
            <div class="option row">
                <div class="option-desc col-md-4">
                    <label for="forum_enabled">
                        <div class="option-title">My post was modified</div>
                        <div class="option-alt">Receive a notification whenever one of your posts was edited, deleted, or merged</div>
                    </label>
                </div>
                <div class="option-input col-md-3"><input type="checkbox" name="reply_in_post_thread" id="reply_in_post_thread" disabled="true" checked></div>
                {% if email_enabled %}
                    <div class="option-input col-md-5"><input type="checkbox" name="reply_in_post_thread_email" id="reply_in_post_thread_email" disabled checked></div>
                {% endif %}
            </div>
            <div class="option row">
                <div class="option-desc col-md-4">
                    <label for="forum_enabled">
                        <div class="option-title">Replies to thread in which you have posted</div>
                        <div class="option-alt">Receive a notification whenever a reply is posted in a thread in which you also posted</div>
                    </label>
                </div>
                <div class="option-input col-md-3"><input type="checkbox" name="reply_in_post_thread" id="reply_in_post_thread" {% if notification_saves['reply_in_post_thread'] %}checked="true"{% endif %}></div>
                {% if email_enabled %}
                    <div class="option-input col-md-5"><input type="checkbox" name="reply_in_post_thread_email" id="reply_in_post_thread_email" {% if notification_saves['reply_in_post_thread_email'] %}checked="true"{% endif %}></div>
                {% endif %}
            </div>
            <div class="option row">
                <div class="option-desc col-md-4">
                    <label for="forum_enabled">
                        <div class="option-title">Merge threads</div>
                        <div class="option-alt">Receive a notification whenever a thread is merged</div>
                    </label>
                </div>
                <div class="option-input col-md-3"><input type="checkbox" name="merge_threads" id="merge_threads" {% if notification_saves['merge_threads'] %}checked="true"{% endif %}></div>
                {% if email_enabled %}
                    <div class="option-input col-md-5"><input type="checkbox" name="merge_threads_email" id="merge_threads_email" {% if notification_saves['merge_threads_email'] %}checked="true"{% endif %}></div>
                {% endif %}
            </div>
            <div class="option row">
                <div class="option-desc col-md-4">
                    <label for="forum_enabled">
                        <div class="option-title">All new threads</div>
                        <div class="option-alt">Receive a notification whenever a thread is created</div>
                    </label>
                </div>
                <div class="option-input col-md-3"><input type="checkbox" name="all_new_threads" id="all_new_threads" {% if notification_saves['all_new_threads'] %}checked="true"{% endif %}></div>
                {% if email_enabled %}
                    <div class="option-input col-md-5"><input type="checkbox" name="all_new_threads_email" id="all_new_threads_email" {% if notification_saves['all_new_threads_email'] %}checked="true"{% endif %}></div>
                {% endif %}
            </div>
            <div class="option row">
                <div class="option-desc col-md-4">
                    <label for="forum_enabled">
                        <div class="option-title">All new posts</div>
                        <div class="option-alt">Receive a notification whenever a post is created</div>
                    </label>
                </div>
                <div class="option-input col-md-3"><input type="checkbox" name="all_new_posts" id="all_new_posts" {% if notification_saves['all_new_posts'] %}checked="true"{% endif %}></div>

                {% if email_enabled %}
                    <div class="option-input col-md-5"><input type="checkbox" name="all_new_posts_email" id="all_new_posts_email" {% if notification_saves['all_new_posts_email'] %}checked="true"{% endif %}></div>
                {% endif %}
            </div>
            {% if core.getUser().accessFullGrading() %}
                <div class="option row">
                    <div class="option-desc col-md-4">
                        <label for="forum_enabled">
                            <div class="option-title">A thread/post has been altered</div>
                            <div class="option-alt">Receive a notification whenever a thread/post has been edited, deleted, or undeleted</div>
                        </label>
                    </div>
                    <div class="option-input col-md-3"><input type="checkbox" name="all_modifications_forum" id="all_modifications_forum" {% if notification_saves['all_modifications_forum'] %}checked="true"{% endif %}></div>
                    {% if email_enabled %}
                        <div class="option-input col-md-5"><input type="checkbox" name="all_modifications_forum_email" id="all_modifications_forum_email" {% if notification_saves['all_modifications_forum_email'] %}checked="true"{% endif %}></div>
                    {% endif %}
                </div>
            {% endif %}
        </div>
        {#<input class="btn btn-primary" type="submit" value="Save" />#}
    </form>
    <script>
        $('#form_notification_settings').on("change",function(e) {
            var f = $(this);
            var url = f.attr('action');
            e.preventDefault();
            $.ajax({
                type: "POST",
                data: f.serialize(),
                url: url,
                success: function(data) {
                    try {
                        var json = JSON.parse(data);
                        if(json['status'] == 'fail') {
                            var message ='<div class="inner-message alert alert-error" style="position: fixed;top: 40px;left: 50%;width: 40%;margin-left: -20%;" id="theid"><a class="fas fa-times message-close" onclick="removeMessagePopup(\'theid\');"></a><i class="fas fa-times-circle"></i>' + json['message'] + '</div>';
                        }else {
                            var message ='<div class="inner-message alert alert-success" style="position: fixed;top: 40px;left: 50%;width: 40%;margin-left: -20%;" id="theid"><a class="fas fa-times message-close" onclick="removeMessagePopup(\'theid\');"></a><i class="fas fa-times-circle"></i>' + json['data'] + '</div>';
                        }
                    } catch(err) {
                        var message ='<div class="inner-message alert alert-error" style="position: fixed;top: 40px;left: 50%;width: 40%;margin-left: -20%;" id="theid"><a class="fas fa-times message-close" onclick="removeMessagePopup(\'theid\');"></a><i class="fas fa-times-circle"></i>Error parsing data. Please try again.</div>';
                    }
                    $('#notification-settings').css('display', 'none');
                    $('#messages').empty();
                    $('#messages').append(message);
                }
            });

        });
    </script>
</div>
