<div class="content shadow" id="login-box">
    <div id="login-guest">
        <h1> Verify your Email
        <i style="font-style:normal;" class="fa-question-circle"></i>
        </a> </h1>
    </div>
    <p> Email may take up to 5 minutes to send </p>
    <br/>
    <form method="GET" class="verify-email" id="verify-email" action="{{ verify_email_url }}">
        Enter Verification Code
        <input type="text" placeholder="Enter verification code" class="verify-input" name="verification_code" required data-testid="verification-code" />
        <input type="submit" name="submit" value="Submit" class="btn btn-primary" data-testid="verify-email-button" />
    </form>
    <form id="resend-email" class="verify-email" action="{{ resend_email_url }}" >
        Resend Verification Code
        <input type="text" class="verify-input" name="email" placeholder="Enter Email" />
        <input type="submit" name="submit" value="Resend" class="btn btn-primary" />
    </form>
</div>
