<script> 
    $('document').ready(() => {
        window.submitty.render('[data-vuemount]', "{{ page }}",  {{ args | json_encode() | raw() }});
    })
</script>
<div class="content" data-vuemount>
    <noscript>You need Javascript enabled to see this page.</noscript>
</div>