<div>
    <script> 
        window.submitty.render(document.currentScript.parentElement, "{{ component }}",  {{ args | json_encode() | raw() }});
    </script>
    <noscript>You need Javascript enabled to see this page.</noscript>
</div>
