<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.8/phpunit.xsd"
        bootstrap="bootstrap.php"
        colors="true"
        verbose="true">
    <testsuites>
        <testsuite name="controller Tests">
            <directory suffix="Tester.php">controller</directory>
        </testsuite>
        <testsuite name="Library Tests">
            <directory suffix="Tester.php">TAGradingServer/lib</directory>
        </testsuite>
        <testsuite name="Model Tests">
            <directory suffix="Tester.php">TAGradingServer/app/models</directory>
        </testsuite>
        <testsuite name="e2e Tests">
            <directory suffix="Tester.php">e2e</directory>
        </testsuite>
    </testsuites>

    <logging>
        <log type="coverage-html" target="report" />
    </logging>

    <php>
        <env name="TEST_URL" value="http://localhost/"/>
    </php>
</phpunit>