public/js/admin-gradeable-updates.js
public/js/autosave-utils.js
public/js/code-mirror-utils.js
public/js/collapsible-panels.js
public/js/confetti.js
public/js/configuration.js
public/js/details.js
public/js/diff-viewer.js
public/js/directory.js
public/js/docker_interface.js
public/js/drag-and-drop.js
public/js/extensions.js
public/js/forum.js
public/js/grade-inquiry.js
public/js/gradeable-notebook.js
public/js/gradeable.js
public/js/latedays.js
public/js/menu.js
public/js/notebook_builder/*
public/js/notification-sound.js
public/js/pdf/PDFAnnotate.js
public/js/pdf/PDFAnnotateEmbedded.js
public/js/pdf/PDFInitToolbar.js
public/js/plagiarism.js
public/js/polls-dropdown.js
public/js/rainbow-customization.js
public/js/server.js
public/js/simple-grading.js
public/js/submission-page.js
public/js/system-update.js
public/js/ta-grading-keymap.js
public/js/ta-grading-rubric-conflict.js
public/js/ta-grading-rubric.js
public/js/ta-grading.js
public/js/user-profile.js
public/js/userform.js
