# CSS files to ignore
public/css/jquery-ui.min.css
public/css/reset.css
public/css/flatpickr.min.css
public/css/chosen.min.css
public/css/google
public/css/bootstrap.css
public/css/pdf/toolbar_fullscreen.css
public/css/pdf/toolbar_embedded.css
public/css/pdf/pdf_embedded.css
public/css/select2-override.css
public/css/highlightjs