vendor/**
tests/report/**
public/css/jquery-ui.min.css
public/css/reset.css
public/css/flatpickr.min.css
public/css/chosen.min.css
public/css/google/*
public/css/bootstrap.css
public/css/pdf/toolbar_fullscreen.css
public/css/pdf/toolbar_embedded.css
public/css/pdf/pdf_embedded.css
public/css/select2-override.css
public/css/highlightjs
public/css/activity-dashboard.css
public/css/admin-gradeable.css
public/css/autograding-status.css
public/css/calendar.css
public/css/colors.css
public/css/course-materials.css
public/css/details.css
public/css/directory.css
public/css/docker_interface.css
public/css/electronic.css
public/css/email-status.css
public/css/exceptionforms.css
public/css/forum.css
public/css/gradeable-notebook.css
public/css/gradeOverride.css
public/css/latedaystableplugin.css
public/css/menu.css
public/css/polls.css
public/css/rainbow-customization.css
public/css/rainbow-grades.css
public/css/select-widgets.css
public/css/server.css
public/css/sidebar.css
public/css/simple-grading.css
/*
