body{
	padding:0px;
	margin:0px;
	border-spacing: 0px;
	background-color: #eee;
	font-family: 'Varela Round', sans-serif;
}

.navbar{
	background-color: #ccc;
	height:80px;
	border-bottom:#888 1px solid;
}

#navbar-header{
	font-size:24px;
	color : #333;
	margin-left:100px;
	display:inline-block;
	line-height: 80px;
}

.navbar-button{
	display:inline-block;
	font-size:18px;
	padding:10px;
	padding-left: 15px;
	padding-right: 15px;
	float:right;
	text-align: center;
	height:25px;
	line-height: 25px;
	vertical-align: middle;
	min-width: 120px;
	margin-top:15px;
	color:#555;
}

.navbar-button i{
	margin-left:10px;
	color:#888;
}

.navbar-button:hover{
	cursor:pointer;
	background-color:#bbb;
}

#navbar-user{
	margin-left:50px;
	margin-right: 100px;
}

#homework-assignment{
}