includes:
    - %rootDir%/../../../phpstan-baseline.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon

parameters:
    ignoreErrors:
        - '#Access to an undefined property Ratchet\\ConnectionInterface::\$resourceId\.#'
        - '#Access to an undefined property Ratchet\\ConnectionInterface::\$httpRequest\.#'
    reportAlwaysTrueInLastCondition: true
    level: 6

services:
    - class: tests\phpstan\ModelClassExtension
      tags:
        - phpstan.broker.methodsClassReflectionExtension

