parameters:
	ignoreErrors:
		-
			message: "#^PHPDoc tag @param has invalid value \\(\\$show_all\\)\\: Unexpected token \"\\$show_all\", expected type at offset 18$#"
			count: 1
			path: app/controllers/NotificationController.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(\\$nid\\)\\: Unexpected token \"\\$nid\", expected type at offset 18$#"
			count: 2
			path: app/controllers/NotificationController.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(\\$seen\\)\\: Unexpected token \"\\$seen\", expected type at offset 37$#"
			count: 1
			path: app/controllers/NotificationController.php

		-
			message: "#^PHPDoc tag @param references unknown parameter\\: \\$gradeable$#"
			count: 1
			path: app/controllers/admin/AdminGradeableController.php

		-
			message: "#^Variable \\$repo_paths in isset\\(\\) always exists and is not nullable\\.$#"
			count: 1
			path: app/controllers/admin/AdminGradeableController.php

		-
			message: "#^Call to an undefined method app\\\\libraries\\\\Core\\:\\:buildNewCourseUrl\\(\\)\\.$#"
			count: 2
			path: app/controllers/admin/AdminGradeableController.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(\\$config_path\\)\\: Unexpected token \"\\$config_path\", expected type at offset 18$#"
			count: 1
			path: app/controllers/admin/AutogradingConfigController.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(\\$csv_option string csv_option_overwrite_all or csv_option_preserve_higher\\)\\: Unexpected token \"\\$csv_option\", expected type at offset 18$#"
			count: 1
			path: app/controllers/admin/LateController.php

		-
			message: "#^Variable \\$threshold might not be defined\\.$#"
			count: 1
			path: app/controllers/admin/PlagiarismController.php

		-
			message: "#^Variable \\$sequence_length might not be defined\\.$#"
			count: 1
			path: app/controllers/admin/PlagiarismController.php

		-
			message: "#^Variable \\$regex_for_selecting_files might not be defined\\.$#"
			count: 1
			path: app/controllers/admin/PlagiarismController.php

		-
			message: "#^Variable \\$instructor_provided_code_path might not be defined\\.$#"
			count: 1
			path: app/controllers/admin/PlagiarismController.php

		-
			message: "#^Variable \\$max_matching_version might not be defined\\.$#"
			count: 3
			path: app/controllers/admin/PlagiarismController.php

		-
			message: "#^Variable \\$tokens_user_2 might not be defined\\.$#"
			count: 6
			path: app/controllers/admin/PlagiarismController.php

		-
			message: "#^Variable \\$color might not be defined\\.$#"
			count: 1
			path: app/controllers/admin/PlagiarismController.php

		-
			message: "#^Variable \\$gg in PHPDoc tag @var does not match any variable in the foreach loop\\: \\$user_id$#"
			count: 1
			path: app/controllers/admin/ReportController.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(GradedGradeable\\[\\] The list of graded gradeables, indexed by gradeable id\\)\\: Unexpected token \"The\", expected variable at offset 127$#"
			count: 1
			path: app/controllers/admin/ReportController.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(GradedGradeable\\[\\] The list of graded gradeables, indexed by gradeable id\\)\\: Unexpected token \"The\", expected variable at offset 192$#"
			count: 1
			path: app/controllers/admin/ReportController.php

		-
			message: "#^Variable \\$file in isset\\(\\) is always null\\.$#"
			count: 1
			path: app/controllers/admin/UsersController.php

		-
			message: "#^Offset 4 does not exist on null\\.$#"
			count: 5
			path: app/controllers/admin/UsersController.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(integer\\(0/1/2\\) \\$modifyType \\- 0 \\=\\> delete, 1 \\=\\> edit content, 2 \\=\\> undelete\\)\\: Unexpected token \"\\(\", expected variable at offset 200$#"
			count: 1
			path: app/controllers/forum/ForumController.php

		-
			message: "#^Variable \\$content might not be defined\\.$#"
			count: 1
			path: app/controllers/forum/ForumController.php

		-
			message: "#^Variable \\$subject might not be defined\\.$#"
			count: 1
			path: app/controllers/forum/ForumController.php

		-
			message: "#^Variable \\$original_creator might not be defined\\.$#"
			count: 2
			path: app/controllers/forum/ForumController.php

		-
			message: "#^Variable \\$graded_component might not be defined\\.$#"
			count: 2
			path: app/controllers/grading/ElectronicGraderController.php

		-
			message: "#^Variable \\$team_users might not be defined\\.$#"
			count: 1
			path: app/controllers/grading/ElectronicGraderController.php

		-
			message: "#^Variable \\$all_teams might not be defined\\.$#"
			count: 2
			path: app/controllers/grading/ElectronicGraderController.php

		-
			message: "#^Offset 0 does not exist on array\\(\\)\\.$#"
			count: 1
			path: app/controllers/grading/ElectronicGraderController.php

		-
			message:
				"""
					#^PHPDoc tag @param has invalid value \\(\\$from This is the user that was being viewed when a navigation button was clicked on the TA grading
					                 interface\\.  Knowing who we were viewing allows us to decide who to view next\\.\\)\\: Unexpected token "\\$from", expected type at offset 236$#
				"""
			count: 1
			path: app/controllers/grading/ElectronicGraderController.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(\\$to Used to determine the direction to move in, either 'prev' or 'next'\\)\\: Unexpected token \"\\$to\", expected type at offset 452$#"
			count: 1
			path: app/controllers/grading/ElectronicGraderController.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(\\$to_ungraded Should the next student we go to be the next submission or next ungraded submission\\?\\)\\: Unexpected token \"\\$to_ungraded\", expected type at offset 538$#"
			count: 1
			path: app/controllers/grading/ElectronicGraderController.php

		-
			message:
				"""
					#^PHPDoc tag @param has invalid value \\(\\$who_id This is the user we wish to view, this field will only be passed on when the request originates
					                 on the grading index page\\)\\: Unexpected token "\\$who_id", expected type at offset 68$#
				"""
			count: 1
			path: app/controllers/grading/ElectronicGraderController.php

		-
			message: "#^Variable \\$goToStudent might not be defined\\.$#"
			count: 1
			path: app/controllers/grading/ElectronicGraderController.php

		-
			message: "#^PHPDoc tag @param references unknown parameter\\: \\$full_sets$#"
			count: 1
			path: app/controllers/grading/ElectronicGraderController.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(\\$gradeable_id\\)\\: Unexpected token \"\\$gradeable_id\", expected type at offset 18$#"
			count: 4
			path: app/controllers/grading/SimpleGraderController.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(\\$section\\)\\: Unexpected token \"\\$section\", expected type at offset 46$#"
			count: 1
			path: app/controllers/grading/SimpleGraderController.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(\\$section_type\\)\\: Unexpected token \"\\$section_type\", expected type at offset 69$#"
			count: 1
			path: app/controllers/grading/SimpleGraderController.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(\\$sort\\)\\: Unexpected token \"\\$sort\", expected type at offset 97$#"
			count: 1
			path: app/controllers/grading/SimpleGraderController.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(\\$sort\\)\\: Unexpected token \"\\$sort\", expected type at offset 66$#"
			count: 1
			path: app/controllers/grading/SimpleGraderController.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(\\$view\\)\\: Unexpected token \"\\$view\", expected type at offset 46$#"
			count: 1
			path: app/controllers/grading/SimpleGraderController.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(\\$gradeable_id\\)\\: Unexpected token \"\\$gradeable_id\", expected type at offset 18$#"
			count: 5
			path: app/controllers/student/GradeInquiryController.php

		-
			message: "#^Variable \\$body might not be defined\\.$#"
			count: 5
			path: app/controllers/student/GradeInquiryController.php

		-
			message: "#^Variable \\$subject might not be defined\\.$#"
			count: 3
			path: app/controllers/student/GradeInquiryController.php

		-
			message: "#^Variable \\$notifications might not be defined\\.$#"
			count: 1
			path: app/controllers/student/GradeInquiryController.php

		-
			message: "#^Variable \\$emails might not be defined\\.$#"
			count: 1
			path: app/controllers/student/GradeInquiryController.php

		-
			message: "#^Variable \\$teams might not be defined\\.$#"
			count: 1
			path: app/controllers/student/SubmissionController.php

		-
			message: "#^Variable \\$uploaded_file might not be defined\\.$#"
			count: 6
			path: app/controllers/student/SubmissionController.php

		-
			message: "#^Variable \\$uploaded_file in isset\\(\\) always exists and is not nullable\\.$#"
			count: 1
			path: app/controllers/student/SubmissionController.php

		-
			message: "#^Variable \\$team might not be defined\\.$#"
			count: 1
			path: app/controllers/student/SubmissionController.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(\\$core Core core\\)\\: Unexpected token \"\\$core\", expected type at offset 230$#"
			count: 1
			path: app/libraries/DateUtils.php

		-
			message: "#^Call to an undefined method Throwable\\:\\:getDetails\\(\\)\\.$#"
			count: 1
			path: app/libraries/ExceptionHandler.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(\\$mode\\)\\: Unexpected token \"\\$mode\", expected type at offset 38$#"
			count: 1
			path: app/libraries/FileUtils.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(\\$path\\)\\: Unexpected token \"\\$path\", expected type at offset 18$#"
			count: 1
			path: app/libraries/FileUtils.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(\\$zipname\\)\\: Unexpected token \"\\$zipname\", expected type at offset 18$#"
			count: 1
			path: app/libraries/FileUtils.php

		-
			message: "#^PHPDoc tag @param for parameter \\$type with type app\\\\libraries\\\\GradeableType\\|int is not subtype of native type int\\.$#"
			count: 1
			path: app/libraries/GradeableType.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(\\$string\\)\\: Unexpected token \"\\$string\", expected type at offset 18$#"
			count: 1
			path: app/libraries/GradeableType.php

		-
			message: "#^Access to an undefined property Ratchet\\\\ConnectionInterface\\:\\:\\$httpRequest\\.$#"
			count: 1
			path: app/libraries/socket/Server.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(\\$check_property\\)\\: Unexpected token \"\\$check_property\", expected type at offset 350$#"
			count: 1
			path: app/models/AbstractModel.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(\\$object\\)\\: Unexpected token \"\\$object\", expected type at offset 328$#"
			count: 1
			path: app/models/AbstractModel.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(\\$arguments\\)\\: Unexpected token \"\\$arguments\", expected type at offset 451$#"
			count: 1
			path: app/models/AbstractModel.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(\\$name\\)\\: Unexpected token \"\\$name\", expected type at offset 431$#"
			count: 1
			path: app/models/AbstractModel.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(\\$course_path\\)\\: Unexpected token \"\\$course_path\", expected type at offset 112$#"
			count: 1
			path: app/models/GradeableAutocheck.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(\\$details\\)\\: Unexpected token \"\\$details\", expected type at offset 89$#"
			count: 1
			path: app/models/GradeableAutocheck.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(\\$idx\\)\\: Unexpected token \"\\$idx\", expected type at offset 202$#"
			count: 1
			path: app/models/GradeableAutocheck.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(\\$results_path\\)\\: Unexpected token \"\\$results_path\", expected type at offset 139$#"
			count: 1
			path: app/models/GradeableAutocheck.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(\\$results_public_path\\)\\: Unexpected token \"\\$results_public_path\", expected type at offset 167$#"
			count: 1
			path: app/models/GradeableAutocheck.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(\\$component_id\\)\\: Unexpected token \"\\$component_id\", expected type at offset 89$#"
			count: 1
			path: app/models/GradingOrder.php

		-
			message: "#^Method app\\\\models\\\\GradingOrder\\:\\:getPrevSubmitterMatching\\(\\) should return app\\\\models\\\\gradeable\\\\Submitter but returns null\\.$#"
			count: 2
			path: app/models/GradingOrder.php

		-
			message: "#^Method app\\\\models\\\\GradingOrder\\:\\:getNextSubmitterMatching\\(\\) should return app\\\\models\\\\gradeable\\\\Submitter but returns null\\.$#"
			count: 2
			path: app/models/GradingOrder.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(\\$direction Direction of sort \\(ASC or DESC\\)\\)\\: Unexpected token \"\\$direction\", expected type at offset 225$#"
			count: 1
			path: app/models/GradingOrder.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(\\$sort Sort type\\)\\: Unexpected token \"\\$sort\", expected type at offset 195$#"
			count: 1
			path: app/models/GradingOrder.php

		-
			message: "#^PHPDoc tag @param references unknown parameter\\: \\$details$#"
			count: 1
			path: app/models/Notification.php

		-
			message: "#^PHPDoc tag @return has invalid value \\(\\$trimmed_message\\)\\: Unexpected token \"\\$trimmed_message\", expected type at offset 119$#"
			count: 1
			path: app/models/Notification.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(\\$display The item to add\\)\\: Unexpected token \"\\$display\", expected type at offset 67$#"
			count: 1
			path: app/models/RainbowCustomizationJSON.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(\\$label The label you would like to assign to the sectionID\\)\\: Unexpected token \"\\$label\", expected type at offset 91$#"
			count: 1
			path: app/models/RainbowCustomizationJSON.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(\\$sectionID The sectionID\\)\\: Unexpected token \"\\$sectionID\", expected type at offset 52$#"
			count: 1
			path: app/models/RainbowCustomizationJSON.php

		-
			message: "#^Argument of an invalid type app\\\\models\\\\RainbowCustomizationJSON supplied for foreach, only iterables are supported\\.$#"
			count: 1
			path: app/models/RainbowCustomizationJSON.php

		-
			message: "#^Method app\\\\libraries\\\\database\\\\DatabaseQueries\\:\\:threadExists\\(\\) invoked with 1 parameter, 0 required\\.$#"
			count: 1
			path: app/models/forum/Forum.php

		-
			message: "#^Call to an undefined method app\\\\models\\\\forum\\\\Forum\\:\\:checkPostEditAccess\\(\\)\\.$#"
			count: 1
			path: app/models/forum/Forum.php

		-
			message: "#^Call to an undefined method app\\\\models\\\\forum\\\\Forum\\:\\:modifyAnonymous\\(\\)\\.$#"
			count: 1
			path: app/models/forum/Forum.php

		-
			message: "#^Call to an undefined method app\\\\models\\\\forum\\\\Thread\\:\\:getContent\\(\\)\\.$#"
			count: 1
			path: app/models/forum/Forum.php

		-
			message: "#^Call to an undefined method app\\\\libraries\\\\database\\\\DatabaseQueries\\:\\:createEmail\\(\\)\\.$#"
			count: 1
			path: app/models/forum/Forum.php

		-
			message: "#^Call to an undefined method app\\\\models\\\\forum\\\\Forum\\:\\:isValidCategories\\(\\)\\.$#"
			count: 1
			path: app/models/forum/Forum.php

		-
			message: "#^Method app\\\\models\\\\gradeable\\\\AutoGradedGradeable\\:\\:getTotalPoints\\(\\) should return int but returns float\\.$#"
			count: 1
			path: app/models/gradeable/AutoGradedGradeable.php

		-
			message: "#^Comparison operation \"\\=\\=\" between \\(array\\|float\\|int\\) and 0 results in an error\\.$#"
			count: 1
			path: app/models/gradeable/AutoGradedVersion.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(\\$details\\)\\: Unexpected token \"\\$details\", expected type at offset 108$#"
			count: 1
			path: app/models/gradeable/Component.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(\\$details\\)\\: Unexpected token \"\\$details\", expected type at offset 69$#"
			count: 1
			path: app/models/gradeable/Component.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(\\$gc_id int Gradeable Component id\\)\\: Unexpected token \"\\$gc_id\", expected type at offset 95$#"
			count: 1
			path: app/models/gradeable/GradedGradeable.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(\\$status\\)\\: Unexpected token \"\\$status\", expected type at offset 68$#"
			count: 1
			path: app/models/gradeable/LateDays.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(\\$details\\)\\: Unexpected token \"\\$details\", expected type at offset 103$#"
			count: 1
			path: app/models/gradeable/Mark.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(\\$popup_css_file\\)\\: Unexpected token \"\\$popup_css_file\", expected type at offset 211$#"
			count: 1
			path: app/views/AutoGradingView.php

		-
			message: "#^Method app\\\\views\\\\AutoGradingView\\:\\:autoShouldDisplayPopup\\(\\) should return string but returns false\\.$#"
			count: 1
			path: app/views/AutoGradingView.php

		-
			message: "#^Method app\\\\views\\\\AutoGradingView\\:\\:autoShouldDisplayPopup\\(\\) should return string but returns true\\.$#"
			count: 1
			path: app/views/AutoGradingView.php

		-
			message: "#^Variable \\$row might not be defined\\.$#"
			count: 1
			path: app/views/grading/ElectronicGraderView.php

		-
			message: "#^PHPDoc tag @param references unknown parameter\\: \\$next_id$#"
			count: 1
			path: app/views/grading/ElectronicGraderView.php

		-
			message: "#^PHPDoc tag @param references unknown parameter\\: \\$prev_id$#"
			count: 1
			path: app/views/grading/ElectronicGraderView.php

		-
			message: "#^Result of method app\\\\libraries\\\\Output\\:\\:renderTwigOutput\\(\\) \\(void\\) is used\\.$#"
			count: 1
			path: app/views/submission/HomeworkView.php

		-
			message: "#^PHPDoc tag @param references unknown parameter\\: \\$can_inquirye$#"
			count: 1
			path: app/views/submission/HomeworkView.php

