includes:
    - %rootDir%/../../../phpstan-baseline.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-doctrine/rules.neon

parameters:
    ignoreErrors:
        - '#Access to an undefined property Ratchet\\ConnectionInterface::\$resourceId\.#'
        - '#Access to an undefined property Ratchet\\ConnectionInterface::\$httpRequest\.#'
    level: 4
    doctrine:
        objectManagerLoader: tests/phpstan/DoctrineExtensionTester.php
    excludePaths:
        - app/libraries/routers/Enabled.php
        - app/libraries/routers/FeatureFlag.php

services:
    - class: tests\phpstan\ModelClassExtension
      tags:
        - phpstan.broker.methodsClassReflectionExtension

