<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" convertDeprecationsToExceptions="true" bootstrap="./tests/bootstrap.php" colors="true" verbose="true">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">./app</directory>
      <directory suffix=".php">./tests/phpstan</directory>
    </include>
    <exclude>
      <directory suffix=".php">./app/views</directory>
    </exclude>
    <report>
      <clover outputFile="tests/report/clover.xml"/>
      <html outputDirectory="tests/report"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="Unit Tests">
      <directory suffix="Tester.php">./tests/app</directory>
    </testsuite>
    <testsuite name="phpstan extension">
      <directory suffix="Tester.php">./tests/phpstan</directory>
    </testsuite>
  </testsuites>
  <logging/>
</phpunit>
