<div class="content">

<img src="{{ path('display_banner_file', {'filename': 'pretty.png'}) }}" alt="Display Image">

<button class="Upload_Banner" onclick="newUploadBanner()"> Upload a Banner </button>

</div>


<script>




</script>



{{ include('banner/UploadBannerPopup.twig') }}