{% extends 'generic/Popup.twig' %}
{% block popup_id %}enlarged-banner{% endblock %}
{% block title %}Banner Displayed{% endblock %}
{% block body %}
    <a href="#" id="big-banner-link">
        <img id="big-banner"
            alt="Big-Banner"
            class="big-club-banners"
            src="" 
        />
    </a>

{% endblock %}
