{% extends 'generic/Popup.twig' %}
{% block popup_id %}upload-svg{% endblock %}
{% block title %}New Community Event{% endblock %}
{% block body %}
    <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
    <div> Select Banner Image </div>

    <div id="upload-boxes">
        <div id="upload1" class="file-input">
            <label class="label key_to_click" for="input-file1" tabindex="0">"Drag your file here or click to open file browser"</label>
            <input type="file" name="files" id="input-file1" onchange="addFilesFromInput(1,false)" multiple />
            <table class="file-upload-table" id="file-upload-table-1">
                <tr style="background:transparent; display:none;">
                    <th>File Name:</th>
                    <th>Size:</th>
                </tr>
            </table>
        </div>

    </div>

    <script>
        createArray(1);
        var dropzone = document.getElementById("upload1");
        dropzone.addEventListener("dragenter", draghandle, false);
        dropzone.addEventListener("dragover", draghandle, false);
        dropzone.addEventListener("dragleave", draghandle, false);
        dropzone.addEventListener("drop", dropWithMultipleZips, false);


    </script>


{% endblock %}
{% block buttons %}
    {{ block('close_button') }}
    <input class="close-button btn btn-primary" id="submit-banner" type="submit" value="Submit"/>
{% endblock %}