{% extends 'generic/Popup.twig' %}
{% block popup_id %}seating-assignment-email{% endblock %}
{% block title %}Send Seating Assignments{% endblock %}
{% block body %}
<div id="config">
{# 	<h3>Customize your message or leave blank to send this default message</h3>
 #}

	<p><b>Email Subject</b></p>
	<div class="option-input">
	<textarea name="room_seating_email_subject" id="room_seating_email_subject" rows="4">[Submitty {course_name}]: Seating Assignment for {gradeable_id}</textarea>
	</div>

	<p><b>Email Body</b></p>
	<div class="option-input"><textarea style="height: 200px" name="room_seating_email_body" id="room_seating_email_body" rows="4"/>
Hello,

Listed below is your seating assignment for the upcoming exam {gradeable_id} on {exam_date} at {exam_time}.

Location: {exam_building}
Exam Room: {exam_room}
Zone: {exam_zone}
Row: {exam_room}
Seat: {exam_seat}

Please email your instructor with any questions or concerns.

- Submitty</textarea>		
	</div>
	
    <input class="btn btn-primary" value="Preview" />
	<p><b>NOTE:</b> clicking send will email each student their seating assignment.</p>
</div>
{% endblock %}
{% block form %}
    <form method="post" action="{{ core.buildUrl({'component': 'seating_assignment_email', 'page': 'edit_seating_assignment_email'}) }}" id="form_seating_assignment_email">
    {{ parent() }}
    </form>
{% endblock %}
{% block buttons %}
    {{ block('close_button') }}
    <input class="btn btn-primary" type="submit" value="Send" />
{% endblock %}
