{% import _self as self %}

<div class="content">
	<h1>Email Room Seating Assignments</h1>

 <p>Customize an email to be sent to each student detailing their seating assignment for the selected seating configuration. Placeholder variables will be replaced with actual respective seating data upon successful submission of this form.</p>
 <form method="post" id="form_seating_assignment_email" action="{{ core.buildUrl({'component': 'admin', 'page': 'email_room_seating', 'action': 'send_email' }) }}">
	<p style="margin-top:15px;"><b>Email Subject</b></p>
	<div class="option-input">
	<textarea name="room_seating_email_subject" id="room_seating_email_subject" rows="10">{{ defaultSubject }}</textarea>
	</div>

	<p style="margin-top:15px;"><b>Email Body</b></p>
	<div class="option-input">
			<textarea name="room_seating_email_body" id="room_seating_email_body" class="fill-available post_content_reply" style="resize:none;min-height:250px;" rows="4">{{ defaultBody }}</textarea>
	</div>
	<p style="display: inline-block; margin-top:15px"><b>NOTE:</b> clicking send will email each student their seating assignment.</p>
	<button class="btn btn-primary" type="submit" style="margin-top:15px;width:100%;">Send</button>
</form>
</div>
