{% extends 'generic/Popup.twig' %}
{% block popup_id %}seating-assignment-email{% endblock %}
{% block title %}Send Seating Assignments{% endblock %}
{% block body %}

<script type="text/javascript">
	$('#form_seating_assignment_email').submit(function(e){
            var f = $(this);
            var url = f.attr('action');
            e.preventDefault(); 
            $.ajax({
                type: "POST",
                data: f.serialize(),
                url: url,
                success: function(data) {
                    try {
                        var json = JSON.parse(data);
                        if(json['error']) {
                            var message ='<div class="inner-message alert alert-error" style="position: fixed;top: 40px;left: 50%;width: 40%;margin-left: -20%;" id="theid"><a class="fas fa-times message-close" onclick="removeMessagePopup(\'theid\');"></a><i class="fas fa-times-circle"></i>' + json['error'] + '</div>';
                        } else {
                            var message ='<div class="inner-message alert alert-success" style="position: fixed;top: 40px;left: 50%;width: 40%;margin-left: -20%;" id="theid"><a class="fas fa-times message-close" onclick="removeMessagePopup(\'theid\');"></a><i class="fas fa-times-circle"></i>' + json['success'] + '</div>';
                        }
                    } catch(err) {
                        var message ='<div class="inner-message alert alert-error" style="position: fixed;top: 40px;left: 50%;width: 40%;margin-left: -20%;" id="theid"><a class="fas fa-times message-close" onclick="removeMessagePopup(\'theid\');"></a><i class="fas fa-times-circle"></i>Error parsing data. Please try again.</div>';
                    }
                    $('#seating-assignment-email').css('display', 'none');
                    $('#messages').empty();
                    $('#messages').append(message);
                }
            });
            
        });


</script>
<div id="config">
{# 	<h3>Customize your message or leave blank to send this default message</h3>
 #}

	<p><b>Email Subject</b></p>
	<div class="option-input">
	<textarea name="room_seating_email_subject" id="room_seating_email_subject" rows="4">[Submitty {course_name}]: Seating Assignment for {gradeable_id}</textarea>
	</div>

	<p><b>Email Body</b></p>
	<div class="option-input"><textarea style="height: 200px" name="room_seating_email_body" id="room_seating_email_body" rows="4"/>
Hello,

Listed below is your seating assignment for the upcoming exam {$gradeable_id} on {$exam_date} at {$exam_time}.

Location: {$exam_building}
Exam Room: {$exam_room}
Zone: {$exam_zone}
Row: {$exam_room}
Seat: {$exam_seat}

Please email your instructor with any questions or concerns.

- Submitty</textarea>

    <input class="btn btn-primary" value="Preview" id="PreviewCustomize"/>
		
{#  	<button class="btn btn-primary" id="PreviewCustomize">Preview</button>
 #}	</div>
		<p><b>NOTE:</b> clicking send will email each student their seating assignment.</p>
</div>
{% endblock %}
{% block form %}
    <form method="post" action="{{ core.buildUrl({'component': 'seating_assignment_email', 'page': 'edit_seating_assignment_email'}) }}" id="form_seating_assignment_email">
    {{ parent() }}
    </form>
{% endblock %}
{% block buttons %}
    {{ block('close_button') }}
    <input class="btn btn-primary" type="submit" value="Send" />
{% endblock %}
