<div class="content">
    <script>
        window.builder_params = {
            g_id: '{{ gradeable.getId() }}',
            mode: '{{ mode }}',
            config: JSON.parse(`{{ config_string|raw }}`),
        };
    </script>

    <h2>{{ gradeable.getTitle() }} Notebook Builder</h2>
    <div id="notebook-builder">
        <div id="reorderable-widgets"></div>
    </div>
    <button onclick="javascript:document.getElementById('holder').innerHTML=JSON.stringify(notebook_builder.getJSON(), null, 2)">Show JSON</button>
    <pre id="holder"></pre>
</div>
