<div class="content">
    <h2>Notebook Builder</h2>
    <div id="notebook-builder"></div>
    <button onclick="javascript:document.getElementById('holder').innerHTML=JSON.stringify(notebook_builder.getJSON(), null, 2)">Show JSON</button>
    <pre id="holder"></pre>
</div>
