{% extends 'generic/Popup.twig' %}
{% block popup_id %}Plagiarism-Highlighting-Key{% endblock %}
{% block title %}Plagiarism Highlighting Key{% endblock %}
{% block body %}
<div>
    <i style="color:white;" class="fas fa-square plag-legend" aria-label="White Box"></i> Unique <br />
    <i style="color:#cccccc;" class="fas fa-square plag-legend" aria-label="Gray Box"></i> Common (matches many/all students) <br />
    <i style="color:#b5e3b5;" class="fas fa-square plag-legend" aria-label="Green Box"></i> Matches instructor provided file <br />
    <i style="color:yellow;" class="fas fa-square plag-legend" aria-label="Yellow Box"></i> Matches other student(s) <br />
    <i style="color:#ffa500;" class="fas fa-square plag-legend" aria-label="Orange Box"></i> General match between selected users <br />
    <i style="color:red;" class="fas fa-square plag-legend" aria-label="Red Box"></i> Specific match between selected users <br />
</div>
{% endblock %}
{% block buttons %}
    {{ block('close_button') }}
{% endblock %}
