{% extends 'generic/Popup.twig' %}
{% block popup_id %}rename_config_popup{% endblock %}
{% block title %}What is the new name?{% endblock %}
{% block body %}
    <p id="alert_in_use"></p>
    <ol id="gradeables_using_config" style="margin-left:30px">
    </ol>
    <input name="new_config_name" id="new_config_name" value="" type="text">
    <input name="curr_config_name" type="hidden" value="" id="curr_config_name">
    <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
{% endblock %}
{% block form %}
    <form method="POST" enctype="multipart/form-data" action="{{ rename_url }}">
        {{ parent() }}
    </form>
{% endblock %}
{% block buttons %}
    {{ block('close_button') }}
    <input class="btn btn-primary" type="submit" value="Submit" />
{% endblock %}