<div id="grade-report-cont" class="content">
    <div id="grade-report">
        <h1>Grade Reports</h1>
        <hr>
        <div id="grade-report-rainbow" class="report-card">
            <div class="report-title-cont">
                Web interface for creation and customization of Rainbow Grades for this course.
                <a target=_blank
                   href="https://submitty.org/instructor/course_settings/rainbow_grades/"
                >
                    Rainbow Grades Documentation
                    <i style="font-style:normal;" class="fa-question-circle"></i>
                </a>
            </div>
            <div class="report-card-btn-cont">
                <button onclick="location.href='{{ rainbow_grades_customization_url }}'"
                        class="btn btn-primary"
                        tabindex="0"
                >
                    Web-Based Rainbow Grades Generation
                </button>
            </div>
        </div>
    </div>
</div>
