<div class="content">
    <h1>SQL Toolbox</h1>

    <div>
      Use this toolbox to run a SELECT query. You cannot run any other type of query, and may only run a single query at a time.
      You can download a CSV of the query results. Must Run Query before you can Download.
      <br /><br />

        <div>
            <button id="sql-database-schema" class="btn btn-primary">Database Schema Documentation</button>
            <div id="sql-database-schema-content" hidden>
                <p>Click on each table to see columns</p>
                <ul style="margin-left: 30px;">
                    {% for table in tables %}
                        <li><a class="sql-database-table">{{ table.getName }}</a>
                            <div class="sql-database-columns" hidden>
                                <ul style="margin-left: 15px">
                                    {% for column in table.getColumns %}
                                        <li>{{ column.getName }} - {{ column.getType }}</li>
                                    {% endfor %}
                                </ul>

                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <br>
      <textarea id="toolbox-textarea" name="sql" style="margin-bottom: 2px;" aria-label="Input SQL"></textarea>
      <br />
      <button id='run-sql-btn' class="btn btn-primary">Run Query</button>
      <button id='download-sql-btn' class="btn btn-primary" disabled>Download CSV</button>
      <hr>
      <h2>Load Queries</h2>
      <p>Any saved queries will appear here.</p>
      <div id="saved-queries">
      </div>
      <hr>
    </div>

    <div>
      <h2>Query Results</h2>
      <div id='query-results-error' class='red-message'><pre id='query-results-error-message'></pre></div>
      <table id="query-results" class="table table-striped mobile-table">
      </table>
    </div>
    <div>
        <hr>
      <h2>Save/Delete Queries</h2>
      In the box below, input the name of the query you'd like to save.
      <br>
      <textarea id="toolbox-namearea" name="saved-name" style="margin-bottom: 2px;" aria-label="Save SQL Name"></textarea>
      <br />
      In the box below, input the query you'd like to save. Once you've typed a name and query, press "Save Query".
      <br />
      <textarea id="toolbox-textarea" name="saved-sql" style="margin-bottom: 2px;" aria-label="Save SQL Query"></textarea>
      <button id='save-sql-btn' class="btn btn-primary">Save Query</button>
      <br />
      Alternatively, input the name of a query below and press "Delete Query" if you'd like to delete a query.
      <br />
      <textarea id="toolbox-namearea" name="removal-name" style="margin-bottom: 2px;" aria-label="Save SQL Name"></textarea>
      <button id='remove-sql-btn' class="btn btn-primary">Delete Query</button>
    </div>
</div>
