<div class="content">
    <h2 class="docker-header">SQL Toolbox</h2>

    <textarea id="toolbox-textarea" name="sql" ></textarea>
    <br />
    <button onclick="runSqlQuery()">Run Query</button>

    <div>
      <h3>Query Results</h3>
      <table id="query-results" class="table table-striped mobile-table">
      </table>
    </div>
</div>
