<div class="content">
    <h1>System Update</h1>
    <a target="_blank" href="https://submitty.org/sysadmin/update">Need help with updating Submitty? <i style="font-style:normal;" class="fa-question-circle"></i></a>

    <button 
        class="btn btn-primary float-right" 
        onclick="getReleases('{{latest_tag}}');">
        Check for Updates
    </button>

    <div id="update_status" class="box">
        <p id="current-version"> Current Version Installed: {{ latest_tag }} </p>
        <p id="tag"></p>
        <br> 
        <p id="text"></p>
    </div>

    <div class="box" id="release-notes" hidden>
    </div>
</div>