<div class="component-tabs">
    {% for component in gradeable_components %}
        <button class="component-tab component-{{ component.id }} btn" data-component_id="{{ component.id }}">{{ component.title }}</button>
    {% endfor %}
</div>
<script type="text/javascript">
    $(".component-tab").click(function() {
        onComponentTabClicked($(this))
    })
</script>
