<div class="component-tabs">
    {% for component in gradeable_components %}
        <button class="component-tab btn" data-component_id="{{ component.getId() }}">{{ component.getTitle() }}</button>
    {% endfor %}
</div>
<script type="text/javascript">
    $(".component-tab").click(function() {
        onComponentTabClicked($(this))
    })
</script>
