.annotationLayer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: url('https://www.bg-wiki.com/imagevags/d/d3/Demon_Pen_icon.png'), auto;
    cursor: default;
}

.pdfViewer {
    display: flex;
    flex-direction: column;
    --pdf-scale: 1;
}

.pdfViewer .canvasWrapper {
    box-shadow: 0 0 3px var(--standard-light-medium-gray);
}

.pdfViewer .canvasWrapper canvas {
    width: 100% !important;
    height: 100% !important;
}

.pdfViewer .page {
    /* describe all css properties independently so js can read it easily across all platforms */
    /* stylelint-disable-next-line declaration-no-important */
    margin-top: 5px !important;
    /* stylelint-disable-next-line declaration-no-important */
    margin-right: auto !important;
    /* stylelint-disable-next-line declaration-no-important */
    margin-bottom: 5px !important;
    /* stylelint-disable-next-line declaration-no-important */
    margin-left: auto !important;
    /* stylelint-disable-next-line declaration-no-important */
    border: none !important;
}
