.tool-selected {
    box-shadow: 0 0 3px 3px var(--standard-medium-dark-lime-green);
    background-color: var(--standard-medium-dark-lime-green);
}

.toolbar-action:not(button),
.toolbar-item {
    text-align: center;
    margin-left: 6px;
    font-size: 19px;
}

#pdf_annotation_icons {
    position: relative;
    display: block;
    width: fit-content;
}

#pdf_annotation_icons .btn {
    margin: 0 5px 0 5px;
} 

#pdf_annotation_bar {
    display: none;
    position: relative;
    left: 1%;
    z-index: 41;
    box-sizing: content-box;
    margin-bottom: 6px;
}

.toolbar-action[value^='color'] {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid var(--text-black);
    vertical-align: middle;
    margin-top: -5px;
}

.selection-menu {
    display: none;
    position: absolute;
    width: 150px;
    height: 80px;
    border: 1px solid var(--standard-medium-dark-lime-green);
    background: var(--standard-light-seafoam);
    top: auto;
}

#text_size_selector {
    padding: initial;
    font-size: initial;
    border: initial;
    height: initial;
    background-size: initial;
}

#color-selector-container {
    display: inline;
}

#color_selector_menu {
    left: 295px;
}

#size_selector_menu {
    left: 327px;
}

.color {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid var(--text-black);
    vertical-align: middle;
    margin: 2px;
}

#content-wrapper {
    position: relative;
}

#zoom-custom {
    width: 55px;
}

.input-suffix {
    display: inline-block;
    position: relative;
}

.input-suffix:after {
    position: absolute;
    top: 11px;
    right: 0.5em;
    transition: all 0.05s ease-in-out;
}

.input-suffix:hover::after,
.input-suffix:focus-within::after {
  right: 1.5em;
}

.suffix-percent::after {
    content: '%';
} 

@supports (-moz-appearance:none) {
    .input-suffix::after {
      right: 1.5em;
    }
}


#grading-pdf-repair {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 2% 0 2% 0;
    color: var(--danger-red);
    font-size: 16px;
}

#grading-pdf-repair-btn {
    margin-left: 8px;
}

#pdf-buttons {
    display: inline-block;
}

/* Notebook panel */
#notebook-main-view {
    padding: 10px;
}
