.tool-selected {
    box-shadow: 0 0 3px 3px var(--standard-medium-dark-lime-green);
    background-color: var(--standard-medium-dark-lime-green);
}

.toolbar-action,
.toolbar-item {
    text-align: center;
    margin-left: 6px;
    font-size: 19px;
}

#pdf_annotation_icons {
    position: relative;
    display: block;
    width: fit-content;
}

#pdf_annotation_bar {
    display: none;
    position: relative;
    left: 1%;
    z-index: 41;
    box-sizing: content-box;
    margin-bottom: 6px;
}

.toolbar-action[value^='color'] {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid var(--text-black);
    vertical-align: middle;
    margin-top: -5px;
}

.toolbar-action[value^='save'] {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
}

.selection-menu {
    display: none;
    position: absolute;
    width: 150px;
    height: 80px;
    border: 1px solid var(--standard-medium-dark-lime-green);
    background: var(--standard-light-seafoam);
    top: auto;
}

#text_size_selector {
    padding: initial;
    font-size: initial;
    border: initial;
    height: initial;
    background-size: initial;
}

#color_selector_menu {
    left: 295px;
}

#size_selector_menu {
    left: 327px;
}

.color {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid var(--text-black);
    vertical-align: middle;
    margin: 2px;
}
