.color {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid var(--text-black);
    vertical-align: middle;
    margin: 2px;
}

#content-wrapper {
    position: relative;
}

#grading-pdf-repair {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 2% 0 2% 0;
    color: var(--danger-red);
    font-size: 16px;
}

#grading-pdf-repair-btn {
    margin-left: 8px;
}

/* Notebook panel */
#notebook-main-view {
    padding: 10px;
}
