* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 40px 0;
}

.toolbar {
    background-color: var(--standard-pale-blue-gray);
    border-bottom: 1px solid var(--standard-light-gray);
    height: 35px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 5px;
    text-shadow: 1px 1px 0 var(--default-white);
    z-index: 100;
    -webkit-box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 1);
    -moz-box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 1);
    box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 1);
}

.toolbar .spacer {
    display: inline-block;
    border-left: 1px solid var(--standard-light-medium-gray);
    height: 34px;
    margin: 0 5px -11px;
}

.toolbar a {
    color: inherit;
    text-decoration: none;
}

.toolbar button {
    background-color: var(--standard-pale-blue-gray);
    border: 1px solid transparent;
    border-radius: 3px;
    font-size: 15px;
    padding: 3px;
    margin: 0;
    text-align: center;
    text-shadow: 1px 1px 0 var(--default-white);
    position: relative;
    min-width: 27px;
    min-height: 27px;
}

.toolbar button::after {
    content: ' ';
    display: block;
}

.toolbar button.active {
    border-color: var(--standard-light-medium-gray);
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.25);
}

.toolbar button:hover,
.toolbar button:focus {
    border-color: var(--standard-light-medium-gray);
}

.toolbar button.pen {
    font-size: 16px;
}

.toolbar button.comment {
    font-size: 10px;
    color: var(--default-white);
    text-shadow: 0 0 0 var(--text-black);
}

.toolbar button.rectangle::after {
    width: 15px;
    height: 15px;
    border: 1px solid var(--badge-backgroud-red);
    position: absolute;
    top: 4px;
    left: 4px;
}

.toolbar button.circle::after {
    width: 15px;
    height: 15px;
    border: 0 solid var(--badge-backgroud-red);
    position: absolute;
    top: 4px;
    left: 4px;
}

.toolbar button.highlight::after {
    width: 17px;
    height: 17px;
    background: var(--standard-vibrant-yellow);
    position: absolute;
    top: 4px;
    left: 4px;
}

.toolbar button.strikeout::after {
    width: 15px;
    height: 1px;
    background: var(--badge-backgroud-red);
    position: absolute;
    top: 12px;
    left: 4px;
}

.toolbar button.text::after {
    content: 'T';
    font-family: 'Times New Roman';
}

.color {
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 1px solid var(--text-black);
    vertical-align: middle;
}

.color-selected {
    border: 3px solid var(--standard-medium-dark-gray);
    width: 30px;
    height: 30px;
    margin-top: -1px;
    margin-left: -2px;
    margin-right: -2px;
}

.text-color,
.pen-color,
.hotspot-color {
    display: inline-block;
}
