<div class="content">
    <h1> Lecture Chat Room </h1>

    <a class="btn btn-primary newRoomBtn" onclick="(function(){$('#create-new-room').css('display', 'block');})">New Room</a>

    <div id="chatRoomContainer" style="display: none;">
        <div id="messages" style="height: 300px; overflow-y: scroll; border: 1px solid #ccc; margin-top: 20px;"></div>
        <form id="messageForm" style="margin-top: 20px;">
            <input type="text" id="messageInput" placeholder="Type your message here...">
            <button type="submit">Send</button>
        </form>
    </div>

</div>
