{# This is the control shown/hidden #}
<div class="popup-form" id="{% block popup_id %}#popup-form{% endblock %}" style="display: none;">
    {% block form %}
        {# This lets us center the window #}
        <div class="popup-box">
            {# Actual displayed window #}
            <div class="popup-window">
                {% block title_panel %}
                    <div class="form-title">
                        {% block title_tag %}
                            <h1>{% block title %}Untitled Form{% endblock %}</h1>
                        {% endblock %}
                    </div>
                {% endblock %}
                {% block body_panel %}
                    <div class="form-body">
                        {% block body %}Be sure to override the body block.{% endblock %}
                        {% block buttons_panel %}
                          <div class="form-buttons">
                                <div class="form-button-container">
                                    {% block buttons %}
                                        {% block close_button %}
                                            <a
                                              {% block close_button_id %}{% endblock %}
                                              onclick="{% block close_click_action %}closePopup('{{ block('popup_id') }}'){% endblock %}"
                                              class="btn {% block close_button_classes %}btn-default{% endblock %} close-button key_to_click"
                                              tabindex="0"
                                            >
                                              {% block close_button_text %}Close{% endblock %}
                                            </a>
                                            <script>
                                              //Detects if the escape key is pressed and if the popup is open. If so, close the popup
                                              $(document).on(
                                                'keydown',
                                                function(event) {
                                                    if (event.key == "Escape" && $("#{{ block('popup_id') }}").is(":visible")) {
                                                      {{ block('close_click_action') }}
                                                    }
                                              });
                                            </script>
                                        {% endblock %}
                                    {% endblock %}
                                </div>
                           </div>
                       {% endblock %}
                    </div>
                {% endblock %}
            </div>
        </div>
    {% endblock %}
</div>

<script>
    $(".popup-window").draggable();

    function closePopup(id) {
        $('#' + id).hide();
    }
</script>
