{% extends 'generic/Popup.twig' %}
{% block popup_id %}import-team-form{% endblock %}
{% block title %}Import Teams Members{% endblock %}
{% block body %}
    <p>Format of the teams should be csv with 7 columns:<br />
        First Name, Last Name, User ID, Team ID, Team Name, Team Registration Section, Team Rotating Section<br />
        The first row of the csv is assumed to be column headings and is ignored.<br /><br />
        Note: Imported Teams will be assigned new Team IDs, Team Registration Section, and Team Rotating Section.
    </p><br />
    <div>
        <input type="file" name="upload_team" accept=".csv">
    </div>
{% endblock %}
{% block form %}
    <form method="post" action="{{ team_import_url }}" enctype="multipart/form-data">
        {{ parent() }}
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
    </form>
{% endblock %}
{% block buttons %}
    {{ block('close_button') }}
    <input class="btn btn-primary" type="submit" value="Import">
{% endblock %}
