{% extends 'generic/Popup.twig' %}
{% block popup_id %}settings-popup{% endblock %}
{% block title %}Settings{% endblock %}
{% block body %}
    <h2>Hotkeys</h2>
    <br>
    <div id="hotkeys-list"></div>
{% endblock %}
