{% extends 'generic/Popup.twig' %}
{% block popup_id %}settings-popup{% endblock %}
{% block title %}Settings{% endblock %}
{% block body %}
    <div id="ta-grading-settings-list" data-full_access="{{ core.getUser().getGroup() <= 2 ? 'true' : 'false' }}">
        <div id="ta-grading-general-settings"></div>
    </div>
    <div class="hotkeys-header">
        <div class="hotkeys-title-buttons">
            <h2>Hotkeys</h2>
            <div class="hotkeys-buttons">
                <button id="restore-all-hotkeys" class="btn btn-primary hotkeys-button" data-testid="restore-all-hotkeys" onclick="restoreAllHotkeys()">Restore Default</button>
                <button id="remove-all-hotkeys" class="btn btn-danger hotkeys-button" data-testid="remove-all-hotkeys" onclick="removeAllHotkeys()">Remove All</button>
            </div>
        </div>
    </div>
    <div id="hotkeys-list"></div>
{% endblock %}
