{% extends 'generic/Popup.twig' %}
{% block popup_id %}settings-popup{% endblock %}
{% block title %}Settings{% endblock %}
{% block body %}
    <h3>Hotkeys</h3>
    <br>
    <table id="hotkeys-list"></table>
{% endblock %}