{% extends 'generic/Popup.twig' %}
{% block popup_id %}upload-images-form{% endblock %}
{% block title %}Upload Student Photos{% endblock %}
{% block body %}
    <p>
        Follow the instructions to download images of students on:<br>
        <a href="http://submitty.org/instructor/photo_scraper">Photo Scraper</a><br><br>
        Upload images by zipping up multiple course sections together,<br>
        zipping up each course section, or uploading the png image(s).<br><br>
        Total files cannot exceed 10 mb or 10000 kb.<br><br>
        Please wait 30 seconds for files to upload and hit refresh.<br>
    </p>
    <br/>
    <input type="hidden" name="csrf_token" value="{{ core.getCsrfToken() }}" />
    <div id="upload-boxes" style="display:table; border-spacing: 5px; width:100%">
        <div id="upload1" style="cursor: pointer; text-align: center; border: dashed 2px lightgrey; display:table-cell; height: 20px;">
            <h3 class="label" id="label">"Drag your file(s) here or click to open file browser"</h3>
            <input type="file" name="files" id="input_file1" style="display: none" onchange="addFilesFromInput(1,false)" multiple />
        </div>
    </div>
    <script type="text/javascript">
        function makeSubmission() {
            handleDownloadImages('{{ core.getCsrfToken() }}');
        }
        $(function() {
            $("#submit").click(function(e){ // Submit button
                makeSubmission();
                e.stopPropagation();
            });
        });
    </script>
    <script type="text/javascript">
        createArray(1);
        var dropzone = document.getElementById("upload1");
        dropzone.addEventListener("click", clicked_on_box, false);
        dropzone.addEventListener("dragenter", draghandle, false);
        dropzone.addEventListener("dragover", draghandle, false);
        dropzone.addEventListener("dragleave", draghandle, false);
        dropzone.addEventListener("drop", dropWithMultipleZips, false);
    </script>
{% endblock %}
{% block form %}
    <form method="post">
        {{ parent() }}
    </form>
{% endblock %}
{% block buttons %}
    {{ block('close_button') }}
    <input class="btn btn-primary" id="submit" type="submit" value="Submit" />
{% endblock %}
