<script type="text/javascript" src="{{ core.getConfig().getBaseUrl() }}/js/drag-and-drop.js"></script>
<div class="popup-form" id="upload-images-form">
    <h2>Upload Images</h2>
    <p>&emsp;</p>
    <p>
        Follow the instructions to download images of students on:<br>
        <a href="http://submitty.org/instructor/image_scraper">SIS Image Scraper</a><br><br>
        Zip up the each folder containing the images and upload the file(s).<br>
    </p>
    <br/>


    <form method="post" action="{{ core.buildUrl({'component': 'admin', 'page': 'users', 'action': 'upload_images'}) }}" enctype="multipart/form-data">
      <input type="hidden" name="csrf_token" value="{{ core.getCsrfToken() }}" />
      <div>
          <input type="file" name="upload" accept=".xlsx, .csv">
      </div>
      <div id="upload-boxes" style="display:table; border-spacing: 5px; width:100%">
        <div id="upload1" style="cursor: pointer; text-align: center; border: dashed 2px lightgrey; display:table-cell; height: 20px;">
          <h3 class="label" id="label">"Drag your file(s) here or click to open file browser"</h3>
          <input type="file" name="files" id="input_file1" style="display: none" onchange="addFilesFromInput(1)" multiple />
        </div>
      </div>
      <div style="float: right; width: auto">
          <a onclick="$('#upload-images-form').css('display', 'none');" class="btn btn-danger">Cancel</a>
          <input class="btn btn-primary" type="submit" value="Submit" />
      </div>
    </form>
    <script type="text/javascript">
        createArray(1);
        var dropzone = document.getElementById("upload1");
        dropzone.addEventListener("click", clicked_on_box, false);
        dropzone.addEventListener("dragenter", draghandle, false);
        dropzone.addEventListener("dragover", draghandle, false);
        dropzone.addEventListener("dragleave", draghandle, false);
        dropzone.addEventListener("drop", drop, false);
    </script>
</div>
