<div class="content">
    <strong class="fa-red">A broken gradeable was detected when collecting gradeable information from the database.  Contact the system administrator for assistance.</strong>
</div>
