<div class="content">
    You don't have access to this page. <br />
    Reason: <b>{{ error_message | replace({' ': '&nbsp;'}) | raw | nl2br }}</b><br />
    Please contact system administrators if you believe this is a mistake.<br />
    Click <a href = "{{ main_url }}"> here </a> to back to homepage and see your courses list.
</div>
