<!DOCTYPE html>
<html lang="en">
<head>
    <title>Submitty - Error</title>
</head>

<body>
  <main>
    <h1 style="margin-left: 20px; margin-top: 10px;">Server Error</h1>
    <div style="position: absolute; top: 144px; left: 362px; border: 1px dashed black; padding: 10px; font-family: monospace">
        Oh no! Something irrecoverable has happened...<br /><br />
        {{ error_message | replace({' ': '&nbsp;'}) | raw | nl2br }}
    </div>
    <pre>
                      ,--.    ,--.
                     (( O))--(( O))
                   ,'_`--'____`--'_`.
                  _:  ____________  :_      _____
                 | | ||::::::::::|| | |        \ \
                 | | ||::::::::::|| | |         \
                 | | ||::::::::::|| | |
                 |_| |/__________\| |_|
                   |________________|
                __..-'            `-..__
             .-| : .----------------. : |-.
           ,\ || | |\______________/| | || /.
          /`.\:| | ||  __  __  __  || | |;/,'\
         :`-._\;.| || '--''--''--' || |,:/_.-':
         |    :  | || .----------. || |  :    |
         |    |  | || '----SSt---' || |  |    |
         |    |  | ||   _   _   _  || |  |    |
         :,--.;  | ||  (_) (_) (_) || |  :,--.;
         (`-'|)  | ||______________|| |  (|`-')
          `--'   | |/______________\| |   `--'
                 |____________________|
                  `.________________,'
                   (_______)(_______)
                   (_______)(_______)
                   (_______)(_______)
                   (_______)(_______)
                  |        ||        |
                  '--------''--------'
    </pre>
  </main>
</body>
</html>
