{% extends 'generic/Popup.twig' %}
{% block popup_id %}category-list{% endblock %}
{% block title %}Categories{% endblock %}
{% block body %}
  {% include "forum/ShowCategories.twig" %}
{% endblock %}
{% block form %}
    {{ parent() }}
{% endblock %}
{% block buttons %}
    <a onclick="$('#ui-category-list').find('.fa-times').click();$('#category-list').css('display', 'none');" class="float-right btn btn-default close-button">Close</a>
{% endblock %}