{%  include "forum/CategoriesForm.twig" with {"categories": categories, "category_colors": category_colors} %}

<div class="content forum_content">

    {%  include "forum/ForumBar.twig" with {
        "forum_bar_buttons_right" : buttons,
        "forum_bar_buttons_left" : [],
        "show_threads" : false,
        "thread_exists" : thread_exists,
        "show_more" : false,
        "show_filter": false
    } %}
    {% if not create_thread_message is empty %}
        <div class="content create-thread-message">
            <span>{{ create_thread_message | markdown }}</span>
        </div>
    {% endif %}

    <h3 class="create-thread-title"> Create Thread </h3>

    <form id="thread_form" method="POST" action="{{ form_action }}" enctype="multipart/form-data">

        {%  include "forum/ThreadPostForm.twig" with {
            "show_title" : true,
            "show_post" : true,
            "post_textarea_large" : true,
            "show_lock_date" : true,
            "post_content_placeholder" : "Enter your post here...",
            "show_categories" : true,
            "post_box_id" : 1,
            "attachment_script" : true,
            "show_anon" : true,
            "show_thread_status" : true,
            "show_announcement" : true,
            "show_expiration" : true,
            "show_editcat" : true,
            "submit_label" : "Publish thread",
            "manage_categories_url" : manage_categories_url,
            "email_enabled": email_enabled,
            "expiration_placeholder" : expiration_placeholder
        } %}

    </form>
</div>

<script>
    $( document ).ready(function() {
        enableTabsInTextArea("[name=thread_post_content]");
        $("#thread_form").submit(() => {
            cancelDeferredSave(CREATE_THREAD_DEFER_KEY);
            clearCreateThreadAutosave();
        });
        $("#thread_form").submit(createThread);
        $("form").areYouSure();

        cleanupAutosaveHistory('-create-autosave');
        restoreCreateThreadFromLocal();
        $("#title").on("input", () => deferredSave(CREATE_THREAD_DEFER_KEY, saveCreateThreadToLocal, 1));
        $("input.thread-anon-checkbox").change(saveCreateThreadToLocal);
        $("div.cat-buttons").click(saveCreateThreadToLocal);
        $("#thread_status").change(saveCreateThreadToLocal);
        // Optional fields
        $("#pinThread").change(saveCreateThreadToLocal);
        $("#Announcement").change(saveCreateThreadToLocal);
        $("#lock_thread_date").change(saveCreateThreadToLocal);
        $("#expirationDate").change(saveCreateThreadToLocal);

        initSocketClient();
    });
</script>
