{% if post_attachment.params is defined %}
    <div id="display-existing-attachments">
        <table class="file-upload-table edit-imgs-table">
            <thead>
                <tr>
                    <th>Attached Images</th>
                </tr>
            </thead>
            <tbody>
            {% for row in post_attachment.params.unencoded_data %}
                {% if row[2] is defined %}
                <tr>
                    <td>
                        <img src="{{ row[0] }}" class="thumbnail" alt="{{ row[2] }}"/>
                    </td>
                    <td class="display-attachment-name">{{ row[2] }}</td>
                    <td class="file-trash">
                        <a class="btn btn-default" onclick="markForDeletion(this)" id="delete_{{ row[2] }}">Delete</a>
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}