<div class="popup-form" id="edit-user-post">
    <form method="post" action="{{ core.buildUrl({'component': 'forum', 'page': 'edit_post'})}}">
    <input type="hidden" id="edit_thread_id" name="edit_thread_id" value="" data-ays-ignore="true"/>
    <div id="edit_thread_form" style="width: 100%;">
        <h3 id="edit_thread_prompt">Update Thread</h3>
        New thread title :
        <input name="edit_thread_title" id="edit_thread_title" placeholder="Enter Here" style="margin-right:10px;width:98%;" required>
    </div>

    <h3 id="edit_user_prompt"></h3>
   
        <input type="hidden" id="edit_post_id" name="edit_post_id" value="" data-ays-ignore="true"/>
        <textarea name="edit_post_content" id="edit_post_content" style="margin-right:10px;resize:none;min-height:200px;width:98%;" placeholder="Enter your reply here..." required></textarea>

        <div style="float: right; width: auto; margin-top: 10px">
            <a onclick="$('#edit-user-post').css('display', 'none');
                        $('#edit_post_content').val('');$('#edit_post_content').trigger('checkform.areYouSure');
                        $('#edit_thread_title').val('');$('#edit_thread_title').trigger('checkform.areYouSure');"
                            class="btn btn-danger">Cancel</a>
            <input class="btn btn-primary" type="submit" value="Update Content" />
        </div>
    </form>
</div>