{% extends 'generic/Popup.twig' %}
{% block popup_id %}popup-post-history{% endblock %}
{% block title %}Edit History{% endblock %}
{% block body %}
    <div class="post_box" style="margin-left:0px;display: none;">
        <pre class="pre_forum"><span class="post_content" style="white-space: pre-wrap; "></span></pre>
        <hr style="margin-bottom:3px;">
        <div style="margin-top:8px;margin-left:10px;float:right;">
          <span class="edit_author" style="position:relative; right:5px;"><strong>Loading author</strong></span>
        </div>
    </div>
{% endblock %}
{% block buttons %}
    {{ block('close_button') }}
{% endblock %}
