{% extends "generic/Popup.twig" %}

{% block popup_id %}popup-post-likes{% endblock %}

{% block title %}Users Who Liked This Post{% endblock %}

{% block body %}
    <div class="form-body">
        <!-- This will be filled by showUpduckUsers() via AJAX -->
    </div>
{% endblock %}

{% block buttons %}
    <div class="form-buttons">
        <a class="btn btn-default close-button" onclick="$('#popup-post-likes').hide(); $('body').css('overflow','auto');">Close</a>
    </div>
{% endblock %}
