<div class="content">
    {%  include "forum/ForumBar.twig" with {
        "current_thread" : button_params.current_thread,
        "forum_bar_buttons_right" : button_params.forum_bar_buttons_right,
        "show_more" : button_params.show_more,
        "show_threads" : button_params.show_threads,
        "thread_exists" : button_params.thread_exists,
        "more_data" : button_params.more_data,
        "forum_bar_buttons_left" : button_params.forum_bar_buttons_left,
        "categories" : filterFormData.categories,
        "current_thread" : filterFormData.current_thread,
        "current_category_ids" : filterFormData.current_category_ids,
        "current_course" : filterFormData.current_course,
        "cookie_selected_categories" : filterFormData.cookie_selected_categories,
        "cookie_selected_thread_status" : filterFormData.cookie_selected_thread_status,
        "cookie_selected_unread_value" : filterFormData.cookie_selected_unread_value,
        "thread_exists" : filterFormData.thread_exists,
        "show_filter": true
    } %}
    {% include 'forum/displayThreadList.twig' %}
</div>
