<div class="content daylight" id="daylight" style="margin-bottom: 1em; background-color: var(--standard-light-gray); color: var(--default-black)">
    <p>
        WARNING: Daylight savings is THIS WEEK! Please note that a late day is 24 HOURS.
        <br>
        This means that if an assignment is due at 10 pm a day BEFORE daylight savings in the spring, and you plan to use a late day, you must submit your assignment before 9 pm.
        <br>
        As for when an assignment is due at 10 pm a day AFTER daylight savings ends in the fall, you must submit your assignment by 11 pm.
    </p>
</div>
