<div class="content daylight" id="daylight" data-testid="daylight-savings-banner" style="margin-bottom: 1em; background-color: var(--standard-light-gray); color: var(--default-black)">
    <p>
        WARNING: Daylight Savings will occur after the submission is due. <br />
        If you are planning to use a late day, please note that late days are EXACTLY 24 HOURS.
    </p>
</div>
