<div class="content daylight" id="daylight" data-testid="daylight-savings-banner" style="margin-bottom: 1em; background-color: var(--standard-vibrant-yellow); color: var(--default-black)">
    <p>
        WARNING: A change in daylight savings time (DST) will occur after the submission is due. <br />
        If you are planning to use one or more late days, note that each late day is EXACTLY 24 HOURS from the original due date and time.
    </p>
</div>
