<div class="content" id="gradeInquiryBoxSection" style="display: none">
    {{ render_template(['submission', 'Gradeable'], 'showGradeInquiryDiscussion', graded_gradeable, can_inquiry) }}
</div>
<script>
    $(initGradingInquirySocketClient);
</script>
