<div class="content">
    <h2 style="margin: 0px">
        <i class="fas fa-trophy" style="margin-right: 1rem"></i>
        There {{leaderboard_count}} leaderboards enabled for this gradeable!
        <a class="btn btn-primary">View Leaderboards</a>
    </h2>
</div>