<div class="content">
    {% if team_assignment %}
        <h3>Team{% if team_name is not null %} ({{ team_name }}){% endif %}: {{ member_list }}</h3><br />
    {% endif %}
    <span style="font-style: italic">No submissions for this assignment.</span>
</div>
