<div class="content">
    {% if team_assignment %}
        <h3>Team: {{ member_list }}</h3><br />
    {% endif %}
    <span style="font-style: italic">No submissions for this assignment.</span>
</div>
