<div class="content" id="regradeBoxSection" style="display: none">
    {{ render_template(['submission', 'Homework'], 'showRegradeDiscussion', graded_gradeable, can_inquiry) }}
</div>
<script>
    $(initGradingInquirySocketClient);
</script>
