<div class="content">
    {{ render_template(['submission', 'Homework'], 'showRegradeRequestForm', gradeable) }}
    {{ render_template(['submission', 'Homework'], 'showRegradeDiscussion', gradeable) }}
</div>