html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
  padding-top: 0px;
  min-height: 700px;
}
footer {
  padding: 30px 0;
}
.jumbotron {
    margin-top: 40px;
    min-height: 400px;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.word-wrap {
    word-wrap: break-word;
}
.container-main {
    padding-top: 20px;
}
.panel-col {
    padding-right: 5px;
    padding-left: 5px;
}
.sidebar {
    border-radius: 4px;
    border-color: #ddd;
    border-width: 1px;
    border-style: solid;
    border-top: 0;
    border-left: 0;
    top: -2px;
    left: -2px;
    padding-top: 20px;
    margin-right: 5px;
}
.no-margin {
    margin: 0;
}
.navbar {
    margin-bottom: 0;*/
}
.subnav {
    display: none;
}
.subnav-show:hover .subnav {
    display: block;
}
.container-navbar {
    padding-top: 5px;
    padding-bottom: 5px;
}
.perfect {
    background-color: #33FFFF;
}
.green {
    background-color: 
}
.blue {
    background-color: #66CCFF;
}
.yellow {
    background-color: #FFFF99;
}
.red {
    background-color: #E37575;
}
 
