{% extends 'generic/Popup.twig' %}
{% block popup_id %}edit-status-filter-form{% endblock %}
{% block title %}Edit Stats Filter{% endblock %}
{% block body %}
    <p class="std-margin">
    Modify/Filter output for the student grading statistics
    </p>

    <table class="table table-striped" style="width:100%;">
        <thead>
            <tr>
                <th scope="col" style="text-align: left;"> Filter </th>
                <th scope="col">Include?</th>
            </tr>
        </thead>

        <tbody>
            {% for filter_id,val in filters %}
                {% set filter_title = filter_id|replace({'_': ' '})|title %}
                {% set filter_id_name = filter_id|replace({'_': '-'}) %}

                <tr>
                    <td style="text-align: left;">
                        {{ filter_title }}
                    </td>

                    <td>
                        <input type="checkbox" class="toggle-filter-checkbox" aria-label="Toggle {{filter_title}}" id="toggle-filter-{{filter_id_name}}" {% if filters[filter_id] %} checked {% endif %} />
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block buttons %}
    {{ block('close_button') }}
    <button class="btn btn-primary" onclick="updateFilters()">
        Apply
    </button>
{% endblock %}
