<div class="popup-form" id="simple-stats-popup">
    {% if num_users > 0 %}
        <table class="table table-striped table-bordered persist-area">
            <thead class="persist-thead">
            <tr>
                <td width="33%">Component</td>
                <td width="33%">Average</td>
                <td width="33%">Std. Deviation</td>
            </tr>
            </thead>
            {% for component in gradeable.getComponents() %}
                {% set i = 0 %}
                {% if not component.getIsText() %}
                    <tbody>
                        <tr>
                            <td>{{ component.getTitle() }}</td>
                            <td id="avg-component-{{ i }}"></td>
                            <td id="stddev-component-{{ i }}"></td>
                        </tr>
                    </tbody>
                    {% set i = i + 1 %}
                {% endif %}
            {% endfor %}
            <tbody><tr>
                <td>Total</td>
                <td id="avg-total"></td>
                <td id="stddev-total"></td>
            </tr></tbody>
        </table>
        <p><br></p>
        <p id="num-graded"></p>
    {% else %}
        <p style="text-align: center">No Statistics To View.</p>
    {% endif %}
</div>