<div id="student-search">
	<label style="display:block;" for="student-search-input">Search for a student: </label>
	<input 
		type="text"
		class="ui-autocomplete-input" 
		autocomplete="off" 
		placeholder="Student search"
		id="student-search-input" 
	>
    
    <textarea style="display: none;" class="edit-zone custom-scrollbar" data-target=""> </textarea>
</div>
<script>
	var student_full = {{ student_full|raw }};
	$("#student-search-input").autocomplete({
        source: student_full,
        appendTo: "#student-search"
    });
</script>
