<div id="student-search" style="float: right;">
	<label for="student-search-input">Search for a student: </label>
	<input type="text" class="ui-autocomplete-input" autocomplete="off" id="student-search-input">
</div>
<script>
	var student_full = {{ student_full|raw }};
	$("#student-search-input").autocomplete({
        source: student_full,
        appendTo: "#student-search"
    });
</script>
