{% extends "Gradeable.twig" %}

{% block header_content %}
    {{ add_twig_module_js('grading/EditGradeable.js') }}
    {# This div acts as a flag to signal the js to use instructor edit mode #}
    <div id="edit-gradeable-instructor-flag" hidden></div>
{% endblock %}

{% block components_block %}
    {% for component in gradeable.components %}
        <div class="component-container edit-component-container{{ (component.peer_component) ? ' peer-component-container' : '' }}">
            {% include "EditComponent.twig" with {
                'precision': gradeable.precision,
                'show_mark_list': false,
                'peer_component' : component.peer_component,
                'itempool_available' : itempool_available,
                'itempool_options': itempool_options,
                'gradeable': gradeable
            } %}
        </div>
    {% endfor %}
{% endblock %}

{% block footer_content %}
    <input type="button" id="add-new-component" class="btn btn-primary key_to_click" tabindex="0" value="Add New Component"/>
    <input type="button" id="add-new-peer-component" class="btn peer-button key_to_click" tabindex="0" value="Add New Peer Component"/>
    <a href="{{ export_components_url }}" class="btn btn-default">Export Components</a>
    <label for="import-components-file" class="btn btn-default">Import Components</label>
    <input id="import-components-file" type="file" class="btn ignore" style="display: none;"/>
{% endblock %}
