{% extends 'generic/Popup.twig' %}
{% block popup_id %}edit-peer-components-form{% endblock %}
{% block title %}Edit Peer Components Form{% endblock %}
{% block body %}
    <div id="edit-components-form" class="flex-col flex-col-space">
        CHECK
    </div>   
{% endblock %}