{% extends "Mark.twig" %}

{% block checkbox_classes %}
    mark-uneditable
{% endblock %}

{% block points_extra_properties %}
{% endblock %}

{% block extra_content %}
    <td>
        <span id="mark_delete_id-{{ component_id }}-{{ mark.id }}"
              onclick="deleteMark({{ component_id }}, {{ mark.id }}); event.stopPropagation();"
        >
            <i class="fa fa-trash"></i>
        </span>
    </td>
{% endblock %}