{% extends "Gradeable.twig" %}

{% block header_content %}
    {# This div acts as a flag to signal the js to use instructor edit mode #}
    <div id="edit-gradeable-instructor-flag" hidden></div>
{% endblock %}

{% block components_block %}
    {% for component in gradeable.components %}
        <div class="component-container edit-component-container{{ (component.peer) ? ' peer-component-container' : '' }}">
            {% include "EditComponent.twig" with {
                'precision': gradeable.precision,
                'show_mark_list': false,
                'peer_component' : component.peer,
            } %}
        </div>
    {% endfor %}
{% endblock %}

{% block footer_content %}
    <input type="button" class="btn btn-primary key_to_click" tabindex="0" value="Add New Component" onclick="onAddComponent(false)" />
    <input type="button" class="btn peer-button key_to_click" tabindex="0" value="Add New Peer Component" onclick="onAddComponent(true)"  />
    <a href="{{ export_components_url }}" class="btn btn-default">Export Components</a>
    <label for="import-components-file" class="btn btn-default">Import Components</label>
    <input id="import-components-file" type="file" class="btn ignore" onchange="importComponentsFromFile();" style="display: none;"/>
{% endblock %}
