{% extends "Gradeable.twig" %}

{% block header_content %}
    <span id="anon-id" data-anon_id="{{ graded_gradeable.anon_id }}" hidden></span>
{% endblock %}

{% block components_block %}
    {% for component in gradeable.components %}
        <div class="component-container">
            {% set graded_component = graded_gradeable.graded_components[component.id] %}
            {% include "GradingComponent.twig" with {
                'precision': gradeable.precision,
                'show_mark_list': false
            } %}
        </div>
    {% endfor %}
{% endblock %}

{% block footer_content %}
{# General Comment #}
    <div id="overall-comment-container">
        {% include "OverallComment.twig" with {
                'disabled': grading_disabled,
                'editable': false,
                'overall_comment': overall_comment
        } only %}
    </div>
{# /General Comment #}

{# Total Box #}
    <div id="total-score-container">
        {% include "TotalScoreBox.twig" with {
            'auto_grading_earned': auto_grading_earned,
            'auto_grading_total': auto_grading_total,
            'ta_grading_earned': ta_grading_earned,
            'ta_grading_total': ta_grading_total
        } only %}
    </div>
{# /Total Box #}
{% endblock %}