{{ add_twig_module_js('grading/Gradeable.js') }}
<div id="gradeable-rubric" class="gradeable" data-gradeable_id="{{ gradeable.id }}"  data-gradeable_custom_marks="{{ gradeable.allow_custom_marks }}">
    {% block header_content %}
    {% endblock %}
{# Components #}
    {# twig.js doesn't support blocks inside of for loops ... ANNOYING #}
    <div id="component-list">
        {% block components_block %}
            {% for component in gradeable.components %}
                <div class="component-container">
                    {% set graded_component = graded_gradeable.graded_components[component.id] %}
                    {% include "GradingComponent.twig" with {
                        'precision': gradeable.precision,
                        'show_mark_list': false,
                        'component_version_conflict': graded_component.graded_version is defined and graded_component.graded_version != display_version,
                    } %}
                </div>
            {% endfor %}
        {% endblock %}
    </div>
{# /Components #}

    {% block footer_content %}
    {% endblock %}
</div>