{#
Required Parameters:
-disabled: if the the element should be inactive
-editable: if the element is in edit mode
-overall_comment: the text to show in box

#}
{% set break_onclick = disabled ? "return false;" : "" %}
<div class="box general-comment" onclick="{{ break_onclick }}; onClickOverallComment(this);">
    <div class="box-title">
            <span id="title-general">
                <b>General Comment</b>
            </span>
        <span class="save-info-overall-container">
            <span id="save-info-overall-open" hidden>
                <span id="save-info-overall-cancel" onclick="{{ break_onclick }}; onCancelOverallComment(this);">
                    <i class="fa fa-times cancel-button" aria-hidden="true">Cancel</i>
                </span>
                <span id="save-info-overall-save" style="display: none;">
                    <i class="fa fa-check save-button" aria-hidden="true">Save</i>
                </span>
            </span>
            <span id="save-info-overall-closed">
                <span id="save-info-overall-done">
                    <i class="fa fa-check save-button" aria-hidden="true">Done</i>
                </span>
                <span id="save-info-overall-saving" hidden>
                    <i class="fa fa-check save-button" aria-hidden="true">Saving...</i>
                </span>
            </span>
        </span>
    </div>
    <div>
        {% if editable %}
            <textarea id="overall-comment" rows="5" class="general-comment-entry"
                      onkeyup="autoResizeComment(event);"
                      placeholder="Overall message for student about the gradeable..."
            >{{ overall_comment }}</textarea>
        {% else %}
            <span id="overall-comment" class="rubric-textarea">{{ overall_comment }}</span>
        {% endif %}
    </div>
</div>