{#
Required Parameters:
-grading_disabled: if the the element should be inactive
-editable: if the element is in edit mode
-overall_comment: the text to show in box

#}
<div class="box general-comment container key_to_click" tabindex="0"
     onclick="{{ grading_disabled ? '' : 'onClickOverallComment(this)'}}">
    <div class="row">
        <div class="col">
            <b>Overall Comment</b>
        </div>
        {% if not grading_disabled %}
            <div class="col-no-gutters">
                {% include "SavingTools.twig" with {
                    'show_save_tools': editable,
                    'cancel_on_click': 'onCancelOverallComment(this)'
                } only %}
            </div>
        {% endif %}
    </div>
    <div class="row">
        {% if editable %}
            <textarea id="overall-comment"
                      rows="5"
                      class="general-comment-entry noscroll key_to_click" tabindex="0"
                      onclick="event.stopPropagation()"
                      onkeyup="auto_grow(this)"
                      placeholder="Overall message for student about the gradeable..."
            >{{ overall_comment|escape }}</textarea>
        {% else %}
            <span id="overall-comment-collapsed">{{ overall_comment|nl2br }}</span>
        {% endif %}
    </div>
</div>
