{#
Required Parameters:
-disabled: if the the element should be inactive
-editable: if the element is in edit mode
-overall_comment: the text to show in box

#}
<div class="box general-comment"
     onclick="{{ disabled ? '' : 'onClickOverallComment(this)'}}">
    <div class="box-title">
        <span id="title-general">
            <b>General Comment</b>
        </span>
        {% include "SavingTools.twig" with {
            'editable': editable,
            'cancel_on_click': disabled ? '' : 'onCancelOverallComment(this)'
        } only %}
    </div>
    <div>
        {% if editable %}
            <textarea id="overall-comment"
                      rows="5"
                      class="general-comment-entry"
                      onkeyup="autoResizeComment(event);"
                      placeholder="Overall message for student about the gradeable..."
            >{{ overall_comment }}</textarea>
        {% else %}
            <span id="overall-comment" class="rubric-textarea">{{ overall_comment }}</span>
        {% endif %}
    </div>
</div>