{% extends "Gradeable.twig" %}

{% block header_content %}
{% endblock %}

{% block components_block %}
    {% for component in gradeable.components %}
        {% if component.peer_component %}
            <div class="component-container">
                {% include "PeerComponent.twig" with {
                    'precision': gradeable.precision,
                    'show_mark_list': false,
                    'peer_details' : peer_details[component.id],
                    'peer_panel' : true,
                    'peer_component' : true
                } %}
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block footer_content %}
{# No General Comment #}

{# Total Box #}
    <div id="total-score-container">
        {% include "TotalPeerScoreBox.twig" with {
            'user_group' : graded_gradeable.user_group,
            'peer_total' : graded_gradeable.peer_total,
            'peer_grade_earned' : graded_gradeable.see_peer_grade,
            'auto_grading_earned': graded_gradeable.auto_grading_earned,
            'auto_grading_total': graded_gradeable.auto_grading_total,
            'ta_grading_earned': graded_gradeable.ta_grading_earned,
            'ta_grading_total': graded_gradeable.ta_grading_total,
            'decimal_precision': decimal_precision,
            'combined_peer_score' : graded_gradeable.combined_peer_score
        } only %}
    </div>
{# /Total Box #}
{% endblock %}
