{% import "Functions.twig" as functions %}
<span class="col-no-gutters badge-container">
    <strong id="grading_total"
            class="badge {{ functions.getBadgeStyle(peer_score, component.max_value) }}">
        {{ peer_score | round(decimal_precision) }} / {{ component.max_value|round(decimal_precision) }}
    </strong>
</span>

<span class="component-title col-no-gutters">
    <b>{{ component.title|escape }}</b>
        <a class="key_to_click" tabindex="0" title="Edit Peer Marks" aria-label="edit peer marks" onclick = "newEditPeerComponentsForm()"><i class="fas fa-pencil-alt black-btn" aria-hidden="true" style="font-size: 16px; margin: 5px;"></i></a>
</span>

