{#
Renders the 'Save' 'Cancel' 'Saving...' and 'Done' bits that are on the right side
    of components and the overall comment

Required Parameters:
-show_save_tools: true to show the 'save/cancel' text, otherwise show 'done' text
-cancel_on_click: callback for the cancel button's on-click event
#}
<span class="save-tools">
    {% if show_save_tools %}
        <span class="btn btn-default save-tools-cancel key_to_click" tabindex="0" onclick="{{ cancel_on_click }} ;event.stopPropagation()">
            Cancel
        </span>
        <span class="btn btn-primary save-tools-save">
            Save
        </span>
    {% endif %}
    <span class="save-tools-in-progress" hidden>
        <i class="fas fa-circle-notch fa-spin save-button"></i>Loading...
    </span>
</span>
