{% import "Functions.twig" as functions %}
{#
Required Parameters:
-auto_grading_earned
-auto_grading_total
-ta_grading_earned
-ta_grading_total

#}
<div class="box-title badge-container">
        <strong id="score_total" class="badge {{ functions.getBadgeStyle(peer_grade_earned,  peer_total,  peer_total) }}">
            {{ peer_grade_earned is defined ? (peer_grade_earned)|round(decimal_precision) : '&minus;' }} / {{ peer_total|round(decimal_precision) }}
        </strong>
        <strong>Combined Peer Grading Total</strong>
</div>
