#HWsubmission {
/*
    background-image: url("glitter.jpg");
    background-repeat:repeat;
    background-size:80%;
*/
    font-family: 'Source Sans Pro', sans-serif;
    padding-left: 10px;
}


#HWsubmission .confetti {
    background:rgba(255,255,255,0.3);

}



#HWsubmission h1, #HWsubmission h2, #HWsubmission h3, #HWsubmission h4, #HWsubmission b, #HWsubmission em, #HWsubmission p{
    margin: 0;
    color: black;
    font-family: 'Source Sans Pro', sans-serif;

}

#HWsubmission div{
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
}

#HWsubmission .diff{
    padding-left: 20px;
    padding-right: 20px;
}

#HWsubmission .diff-block{
    vertical-align: top;
    display: block;
    width: 100%;
    overflow:hidden;
}

#HWsubmission .diff-block div{
    float: left;
}

#HWsubmission .diff-element{
    margin-left: 20px;

}

#HWsubmission .diff-element div{
    display: block;
    float: none;
}

#HWsubmission .diff-row {
    vertical-align: top;
}

#HWsubmission .diff-row-none {
    vertical-align: top;
    display: none;
}

#HWsubmission .spacer{
    padding-top: 10px;
    width: 100%;
    display: block;
    vertical-align: top;
}

#HWsubmission .panel {
    margin: 10px 0 10px 10px;
    border-radius: 0;
    background-color: #F8F8F8;
    overflow-x: auto;
}

#HWsubmission .panel-body{
    text-align: left;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

#HWsubmission .row{
    margin: 0;
}

#HWsubmission .view_diff{
    float: left;
}
#HWsubmission .badge{
    /*margin:auto;*/
    display: inline-block;
    position: relative;
}
#HWsubmission .badge-cont{
    margin-right: 10px;
    min-width: 67px;
    display: inline-block;
    text-align: center;

}

#HWsubmission .view_file{
    float: right;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    margin-left: .5em;
}

#HWsubmission .test_type{
    text-decoration: none;
    margin-right: 5px;
    font-style: italic;
}

#HWsubmission .hidden{
    color: #999999;
    text-decoration: none;
}

#HWsubmission .hidden:hover{
    color: #999999;
    text-decoration: none;
}
#HWsubmission .hidden:active{
    color: #999999;
    text-decoration: none;
}
#HWsubmission .hidden:visited{
    color: #999999;
    text-decoration: none;
}

#HWsubmission .label{
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    margin-top: .5em;
    margin-right: 0;
    margin-left: 0;
}
#HWsubmission .label2{
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    margin-top: .5em;
    margin-bottom: .5em;

    margin-right: 0;
    margin-left: 0;
}

#HWsubmission a.label{
    display: inline;
}

#HWsubmission a:link {
    color: #3276b1;
    text-decoration: none;

}

/* visited link */
#HWsubmission a:visited {
    color: #3276b1;
    text-decoration: none;

}

/* mouse over link */
#HWsubmission a:hover {
    color: #234b66;
    text-decoration: underline;

}

/* selected link */
#HWsubmission a:active {
    color: #234b66;
    text-decoration: underline;

}

#HWsubmission .sub{
    margin-top: 1%;
    margin-bottom: 1%;
}
#HWsubmission .sub2{
    margin-left: 20px;
}
#HWsubmission .sub-text{
    margin-left: 20px;
    margin-top: 10px;

}

#HWsubmission .form_submit{
    display: inline;
    margin: 0;
}


#HWsubmission .outer_box {
    border-radius: 3px;
    padding: 20px;
    border: 2px solid #F0F0F0;
    margin: 0;
    margin-bottom: 5px;
    background:rgba(255,255,255,0.8);
}


/*#HWsubmission .outer_box_confetti_a {
    background:rgba(240,255,255,0.3);
    border-radius: 3px;
    padding: 20px;
    border: 2px solid #F0F0F0;
    margin: 0;
    margin-bottom: 5px;
}
*/

#HWsubmission .box {
    border-radius: 3px;
    padding: 0px;
    border: 1px solid #dddddd;
    width: 100%;
    margin-left: 0;
    margin-top:  3px;
    margin-bottom:  3px;
    position: relative;
    float: left;
    background:rgba(255,255,255,0.8);
    box-shadow: 2px 2px 4px -3px #dddddd;

}

#HWsubmission .diff-header {
    padding-left: 10px;
    padding-right: 10px;

    padding-top: 15px;
    padding-bottom: 15px;
    text-align: left;
    display:inline-block;
    box-sizing: border-box;

    min-width: 100%
}

#HWsubmission .diff-header a{
    font-weight: 400;
}

#HWsubmission .file-header {
    padding-left: 10px;
    padding-right: 10px;

    padding-top: 7.5px;
    padding-bottom: 7.5px;
    text-align: left;
    display:inline-block;
    box-sizing: border-box;

    min-width: 100%
}

#HWsubmission .file-header a{
    font-weight: 400;
}

#HWsubmission .file-header span{
    margin-left: .5em;
}

#HWsubmission .message{
    font-style: italic;
    font-weight: bold;
    color: #008800;
}

#HWsubmission .error_mess{
    font-style: italic;
    color: #af0000;
}

#HWsubmission .error_mess_diff{
    font-style: italic;
    font-weight: bold;
    margin-left: 20px;
    color: #af0000;
}

#HWsubmission .complation_mess{
    font-style: pre;
    margin-left: 40px;
}

#HWsubmission .display-none {
    display: none;
}

#HWsubmission .green-background {
    background-color: #006600;
}

#HWsubmission .yellow-background {
    background-color: #eac73d;
    color: #000000;
}

#HWsubmission .red-background {
    background-color: #c00000;
}

#HWsubmission .file-display{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    box-sizing: border-box;
    /*vertical-align: top;*/
    /*word-wrap: break-word*/
    /*overflow:hidden;*/
    width: 100%;
    overflow-x:auto;
    font-family: "Lucida Console", Monaco, monospace;
    /* Unselectable text */
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;

}
