body{
    height: 100%;
    background-color: #B6CECE;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans Condensed', sans-serif;
}

.title-box{
    background-color: #EDF6F6; 
    padding:2%;
    margin: 0;
    box-shadow: 0px 2px 15px -5px #888888;
    display: block;
}

.title{
    font-weight: 300;
    text-align: center;
    margin: 0;
}

.subtext{
    font-style: italic;
    text-align: center;
    font-weight: 300;
    margin: 0;
}

.submissions{
    background-color: #E9EFEF;
    margin: 2%;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding:1%;
    margin-right: 2%;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    box-shadow: 0px 2px 15px -5px #888888;
}


