<div class="{{div_class}}" id="{{div_id}}">
    <label for="show-menu">Show On Calendar: </label>
    <select name="show-menu" id="show-menu">
        <option value="none">None</option>
        <option value="gradeable">On Gradeable</option>
        <option value="date">On Date</option>
    </select>

    <div id="cal-gradeable-div">
        <label for="associated-gradeable">Associated Gradeable: </label>
        {% include "misc/GradeableSelect.twig" with {
            "gradeables" : gradeables,
            "current_gradeable" : current_gradeable,
        } only %}
    </div>
    <div id="cal-date-div">
        <label for="associated-date">Associated Date: </label>
        <input id="associated-date" class="date_picker flatpickr-input" type="text">
    </div>
</div>

<script>
    flatpickr('.date_picker', {
        plugins: [ShortcutButtonsPlugin(
            {
                button: [
                    { label: "Beginning of time" },
                    { label: "Now" },
                    { label: "Tomorrow" },
                    { label: "End of time" }
                ],
                onClick: (index, fp) => {
                    let date;
                    switch (index) {
                        case 0:
                            date = new Date('{{ beginning_of_time_date }}');
                            break;
                        case 1:
                            date = new Date();
                            break;
                        case 2:
                            date = new Date();
                            date.setDate(date.getDate() + 1);
                            break;
                        case 3:
                            date = new Date("9998-01-01T00:00:00");
                            break;
                    }
                    fp.setDate(date);
                }
            }
        )],
        position: "above right",
        allowInput: true,
        enableTime: true,
        enableSeconds: true,
        time_24hr: true,
        dateFormat: "Y-m-d H:i:S",
        onReady: (a, b, fp) => {
            fp.calendarContainer.firstChild.childNodes[1].firstChild.firstChild.setAttribute('aria-label', 'Month');
            fp.calendarContainer.childNodes[2].childNodes[4].firstChild.setAttribute('aria-label', 'Seconds');
        }
    });
</script>