{% extends 'generic/Popup.twig' %}
{% block popup_id %}delete-course-material-form{% endblock %}
{% block title %}Delete Course Materials{% endblock %}
{% block body %}
    <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
    Are you sure you want to delete
    <div name="delete-course-material-message">
    </div><br />
{% endblock %}
{% block form %}
    <form name="delete-confirmation" method="post" action="">
        {{ parent() }}
    </form>
{% endblock %}
{% block buttons %}
    {{ block('close_button') }}
    <input class="btn btn-danger" type="submit" value="Submit" />
{% endblock %}
