{% extends 'generic/Popup.twig' %}
{% block popup_id %}overwrite-course-material-form{% endblock %}
{% block title %}Existing Material {% endblock %}
{% block body %}
    <div id="overwrite-confirmation">
        <div>
            The directory already contains a file with the following name:
        </div>
        <br>
        <div>
            <ol id="existing-names">
            </ol>
        </div>
        <br>
        <em>Rename the file before uploading to avoid this popup or click on 'Overwrite All' to replace the old file with the new one.</em>
     </div>
{% endblock %}
{% block buttons %}
    {{ block('close_button') }}
    <input class="btn btn-danger" type="submit" id="overwrite-submit" value="Overwrite All">
    <script>
    $('#overwrite-submit').click((e) => {
        let form = $('#material-upload-form');
        let submit_button = $('#submit-materials');
        if ($('#overwrite-submit').attr('is-edit-form') === "1") {
            form = $('#material-edit-form');
            submit_button = $('#submit-edit');
        }
        form.append('<input name="overwrite-all" value="true" id="overwrite-materials-flag" type="hidden">');
        submit_button.trigger('click');
    });
    </script>
{% endblock %}
