{% extends 'generic/Popup.twig' %}
{% block popup_id %}unregister-user-form{% endblock %}
{% block title %}Unregister{% endblock %}
{% block body %}
    <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
    <p>Are you sure you want to unregister from this course?<br/> You can re-register if you change your mind later.</p>
{% endblock %}
{% block form %}
    <form method="post" action="{{ unregister_url }}">
        {{ parent() }}
    </form>
{% endblock %}
{% block buttons %}
    {{ block('close_button') }}
    <input class="btn btn-primary" type="submit" value="Confirm" data-testid="unregister-confirm" />
{% endblock %}