{% extends 'generic/Popup.twig' %}
{% block popup_id %}upload-course-materials-form{% endblock %}
{% block title %}Upload Course Materials{% endblock %}
{% block body %}
    <p>
        Total files cannot exceed 10 mb or 10240 kb.<br>
    </p>
    <br/>

    <b>Full path to the directory containing the course material file(s):</b><br>
    <fieldset>
        <p><br>Add folder(s) to the course_materials folder if necessary: <br>
        (ex: homework1 or homework1/classes/pokemon) <br><br>
        Current folder setting:</p>
        {{ folderPath~'/'~courseMaterial }}
        <input style='width: auto' type='text' id='input_provide_full_path' name='eg_config_path' value="" placeholder="(Optional)"/>
    </fieldset>
    <br /> <br />
    <input type="hidden" name="csrf_token" value="{{ core.getCsrfToken() }}" />
    <div id="upload-boxes" style="display:table; border-spacing: 5px; width:100%">
        <div id="upload1" style="cursor: pointer; text-align: center; border: dashed 2px lightgrey; display:table-cell; height: 20px;">
            <h3 class="label" id="label">"Drag your file(s) here or click to open file browser"</h3>
            <input type="file" name="files" id="input_file1" style="display: none" onchange="addFilesFromInput(1,false)" multiple />
        </div>
    </div>
    <script type="text/javascript">
        function makeSubmission(requestedPath) {
            handleUploadCourseMaterials("{{ core.getCsrfToken() }}", requestedPath);
        }
        $(function() {
            $("#submit").click(function(e){ // Submit button
                var requestedPath = document.getElementById("input_provide_full_path").value;
                makeSubmission(requestedPath);
                e.stopPropagation();
            });
        });
    </script>
    <script type="text/javascript">
        createArray(1);
        var dropzone = document.getElementById("upload1");
        dropzone.addEventListener("click", clicked_on_box, false);
        dropzone.addEventListener("dragenter", draghandle, false);
        dropzone.addEventListener("dragover", draghandle, false);
        dropzone.addEventListener("dragleave", draghandle, false);
        dropzone.addEventListener("drop", dropWithMultipleZips, false);
    </script>
{% endblock %}
{% block buttons %}
    {{ block('close_button') }}
    <input class="btn btn-primary" id="submit" type="submit" value="Submit" />
{% endblock %}
