<script type="text/javascript" src="{{ core.getConfig().getBaseUrl() }}/js/drag-and-drop.js"></script>
<div class="popup-form" id="upload-course-materials-form">
    <h2>Upload Course Materials</h2>
    <p>&emsp;</p>
    <p>
        Total files cannot exceed 10 mb or 10240 kb.<br>
    </p>
    <br/>

    <b>Full path to the directory containing the course material file(s):</b><br>
    <fieldset>

        <p><br>Add folder(s) to the course_materials folder if necessary: <br>
        (ex: homework1 or homework1/classes/pokemon) <br><br>
        Current folder setting:</p>
        <input style='width: 90%' type='text' id='input_provide_full_path' name='eg_config_path' value="{{ folderPath~'/'~courseMaterial }}" placeholder="(Optional)"/>

    </fieldset>
    <br /> <br />
    <form method="post">
      <input type="hidden" name="csrf_token" value="{{ core.getCsrfToken() }}" />
      <div id="upload-boxes" style="display:table; border-spacing: 5px; width:100%">
        <div id="upload1" style="cursor: pointer; text-align: center; border: dashed 2px lightgrey; display:table-cell; height: 20px;">
          <h3 class="label" id="label">"Drag your file(s) here or click to open file browser"</h3>
          <input type="file" name="files" id="input_file1" style="display: none" onchange="addFilesFromInput(1,false)" multiple />
        </div>
      </div>
      <div style="float: right; width: auto">
          <a onclick="$('#upload-course-materials-form').css('display', 'none');" class="btn btn-danger">Cancel</a>
          <input class="btn btn-primary" id="submit" type="submit" value="Submit" />
      </div>
    </form>
    <script type="text/javascript">
        function makeSubmission(requestedPath) {

				    var testString = requestedPath;
            handleUploadCourseMaterials("{{ core.getCsrfToken() }}", testString);
        }
        $(function() {
            $("#submit").click(function(e){ // Submit button
				var requestedPath = document.getElementById("input_provide_full_path").value;
                makeSubmission(requestedPath);
                e.stopPropagation();
            });
        });
    </script>
    <script type="text/javascript">
        createArray(1);
        var dropzone = document.getElementById("upload1");
        dropzone.addEventListener("click", clicked_on_box, false);
        dropzone.addEventListener("dragenter", draghandle, false);
        dropzone.addEventListener("dragover", draghandle, false);
        dropzone.addEventListener("dragleave", draghandle, false);
        dropzone.addEventListener("drop", dropWithMultipleZips, false);
    </script>
    <script type="text/javascript">
        var blankQuestion =
            {
                'id': 'NEW',
                'title': '',
                'ta_comment': '',
                'student_comment': ''
            };

        function onPdfChange() {
            if($('#yes_pdf_page').is(':checked')) {
                // $('#pdf_page').show();
                // $('.pdf_page_input').show();
                disableElementChildren('#pdf_page', false);
                disableElementChildren('.pdf_page_input', $('#yes_pdf_page_student').is(':checked'));
            }
            else {
                // $('#pdf_page').hide();
                // $('.pdf_page_input').hide();
                disableElementChildren('#pdf_page', true);
                disableElementChildren('.pdf_page_input', true);
            }
        }

        function onConfigChange(){
            $('.config_option').not(this).prop('checked', false);
            if($('#existing_paths').is(':checked')) {
                $('.div_select_config').hide();
                $('#div_default_configs').show();
                $('#input_provide_full_path').prop('disabled', true);
                $("#select_default_config").val($("#select_default_config option:first").val());
            } else {
                $('.div_select_config').hide();
                $('#input_provide_full_path').prop('disabled', false);
            }
        }
        $(document).ready(function() {

            // Hide PDF settings if not in use
            //onPdfChange();
            //$('[name="eg_pdf_page"]').change(onPdfChange);

            // Hide PDF pages in Rubric if students assign them
            //$('[name="eg_pdf_page_student"]').change(onPdfChange);

            // Only show the settings if the setting is enabled
            //onStudentViewChange();
            //$('[name="eg_student_view"]').change(onStudentViewChange);
            $('.config_option').change(onConfigChange);
            //$('.select_config_path').change(onConfigPathChange);
        });
    </script>
</div>
