---
# Assumes that local user accounts for instructor already exist.

- name: Add instructors to the course groups.
  ansible.builtin.user:
    name: "{{ instructor }}"
    groups: "{{ submitty_course_add_instructor_groups }}"
    append: yes
  loop:
    - "{{ course }}"
    - "{{ course }}_tas_www"
    - "{{ course }}_archive"
  loop_control:
    loop_var: submitty_course_add_instructor_groups

- name: Give course management permissions to "{{ instructor }}".
  ansible.builtin.user:
    name: "{{ submitty_course_add_instructor_users }}"
    groups: "submitty_course_builders"
    append: yes
  loop:
    - "{{ instructor }}"
  loop_control:
    loop_var: submitty_course_add_instructor_users
  notify: reload fpm

- name: Add instructors to submitty users.
  ansible.builtin.expect:
    command: ./adduser.py "{{ instructor }}"
    chdir: /usr/local/submitty/sbin/
    echo: yes
    responses:
      (?m)^User givenname: "{{ firstname }}"
      (?m)^User preferred name: "{{ firstname }}"
      (?m)^User familyname: "{{ lastname }}"
      (?m)^User email: "{{ email }}"
      (?m)^User password: NotUsedWithLdap
  become: yes
  become_user: root

- name: Add existing instructors to the course database.
  ansible.builtin.command:
    cmd: ./adduser_course.py "{{ instructor }}" "{{ semester }}" "{{ course }}"
    chdir: /usr/local/submitty/sbin/
  become: yes
  become_user: root
