<div class="content">
{% if gradeable_id == null %}
    No gradeable id specified. Contact your instructor if you think this is an error.
{% else %}
    {{ gradeable_id }} is not a valid electronic submission gradeable. Contact your instructor if you think this is an error.
{% endif %}
</div>
