{% if show_edit_warning %}
    <h3 style='color: red;'>(Grading has started! Edit Questions At Own Peril!)</h3>
    <br/>
    <br/>
{% endif %}
{% if gradeable.getType() == 0 %}
    {{ include('admin/admin_gradeable/rubric/ElectronicFileRubric.twig')   }}
{% else %}
    <label for="ta-instructions">What overall instructions should be provided to the TA?:</label><br />
    {# NOTE: "textarea" contents (space between <textarea> and </textarea>") should not have any extra characters
                    (that's why the '>' is on the next line) #}
    <textarea rows="4" cols="200" name="ta_instructions" id="ta-instructions" placeholder="(Optional)" style="width: 500px;"
    >{{ gradeable.getTaInstructions() }}</textarea>
    <br /><br />
    {% if gradeable.getType() == 1 %}
        {{ include('admin/admin_gradeable/rubric/CheckpointsRubric.twig')   }}
    {% else %}
        {{ include('admin/admin_gradeable/rubric/NumericRubric.twig')   }}
    {% endif %}
{% endif %}
