{% extends 'generic/Popup.twig' %}
{% block popup_id %}edit-chatroom-form{% endblock %}
{% block title %}Edit Chatroom{% endblock %}
{% block body %}
    <form id="chatroom-edit-form" method="post">
        <div class="flex-col flex-col-space">
            <input type="hidden" name="csrf_token" value="{{ csrf_token }}"/>
            <label for="chatroom-title-input" id="chatroom-title-label">
                Chatroom Title:
            </label>
            <input type="text" name="title" id="chatroom-title-input" placeholder="Enter name here..."/>
            <label for="chatroom-description-input" id="chatroom-description-label">
                Description:
            </label>
            <input type="text" name="description" id="chatroom-description-input" placeholder="Enter description here...">
            <label for="chatroom-allow-anon" id="allow-anon-label">
                Allow people to join anonymously?
                <input type="checkbox" name="allow-anon" id="chatroom-anon-allow">
            </label>
        </div>
    </form>
    <script>
        function edit_room() {
            let form = document.getElementById("chatroom-edit-form");
            form.submit();
        }
    </script>
{% endblock %}
{% block buttons %}
    {{ block('close_button') }}
    <input type="submit" class="btn btn-primary" onclick="edit_room()">
{% endblock %}
