{% extends 'generic/Popup.twig' %}
{% block popup_id %}edit-chatroom-form{% endblock %}
{% block title %}Edit Chatroom{% endblock %}
{% block body %}
    <form id="chatroom-edit-form" method="post">
        <div class="flex-col flex-col-space">
            <input type="hidden" name="csrf_token" value="{{ csrf_token }}"/>
            <label for="chatroom_name" class="option-title">
                Chatroom Title:
            </label>
            <input type="text" name="title" class="chatroom-title" placeholder="Enter name here..."/>
            <label for="chatroom_description">
                Description:
            </label>
            <textarea name="description" class="chatroom-description" placeholder="Enter description here..."></textarea>
            <button type="submit" class="btn">Save Changes</button>
        </div>
    </form>
{% endblock %}