<div class="content">
    <h2 style="margin: 0px">
        <i class="fas fa-trophy" style="margin-right: 1rem"></i>
        There are {{leaderboard_count}} leaderboard(s) enabled for this gradeable!
        <a class="btn btn-primary" href="{{ url }}">View Leaderboards</a>
    </h2>
</div>