<br />
How many numeric items? <input style="width: 50px" id="numeric_num-items" name="num_numeric_items" type="text" value="0" class="int_val" onchange="calculateTotalScore();"/>
&emsp;&emsp;

How many text items? <input style="width: 50px" id="numeric_num_text_items" name="num_text_items" type="text" value="0" class="int_val"/>
<br /> <br />

<div class="multi-field-wrapper-numeric">
    <h5>Numeric Items</h5>
    <table class="numerics-table table table-bordered" style=" border: 1px solid #AAA; max-width:50% !important;">
        <!-- Headings -->
        <thead style="background: #E1E1E1;">
        <tr>
            <th> Label </th>
            <th> Max Score </th>
            <th> Extra Credit?</th>
        </tr>
        </thead>
        <!-- Footers -->
        <tfoot style="background: #E1E1E1;">
        <tr>
            <td><strong> Total </strong></td>
            <td><strong id="totalScore"></strong></td>
            <td><strong id="totalEC"></strong></td>
        </tr>
        </tfoot>
        <tbody style="background: #f9f9f9;">
        <!-- This is a bit of a hack, but it works (^_^) -->
        <tr class="multi-field" id="mult-field-0" style="display:none;">
            <td>
                <input style="width: 200px" name="numeric_label_0" type="text" class="numeric_label" value="0" />
            </td>
            <td>
                <input style="width: 60px" type="text" name="max_score_0" class="max_score" value="0" onchange="calculateTotalScore();"/>
            </td>
            <td>
                <input type="checkbox" name="numeric_extra_0" class="numeric_extra extra" value="" onchange="calculateTotalScore();"/>
            </td>
        </tr>
    </table>

    <h5>Text Items</h5>
    <table class="text-table table table-bordered" style=" border: 1px solid #AAA; max-width:25% !important;">
        <thead style="background: #E1E1E1;">
        <tr>
            <th> Label </th>
        </tr>
        </thead>
        <tbody style="background: #f9f9f9;">
        <!-- This is a bit of a hack, but it works (^_^) -->
        <tr class="multi-field" id="mult-field-0" style="display:none;">
            <td>
                <input style="width: 200px" name="text_label_0" type="text" class="text_label" value="0"/>
            </td>
        </tr>
    </table>
</div>
<br />
<!--Do you want a box for an (optional) message from the TA to the student?
<input type="radio" name="opt_ta_messg" value="yes" /> Yes
<input type="radio" name="opt_ta_messg" value="no" /> No-->

<script type="text/javascript">
    function calculateTotalScore() {
        var total_score = 0;
        var total_ec = 0;

        $('.numerics-table').find('.multi-field').each(function() {
            var max_score = parseFloat($(this).find('.max_score').val());
            var extra_credit = $(this).find('.numeric_extra').is(':checked');

            if (extra_credit === true) total_ec += max_score;
            else total_score += max_score;
        });

        $("#totalScore").html(total_score);
        $("#totalEC").html("(" + total_ec + ")");
    }

    $(document).ready(function() {

        var numNumeric = 0;
        var numText = 0;

        function addNumeric(label, max_score, extra_credit) {
            var wrapper = $('.numerics-table');
            numNumeric++;
            $('#mult-field-0', wrapper).clone(true).appendTo(wrapper).attr('id', 'mult-field-' + numNumeric).find('.numeric_label').val(label).focus();
            $('#mult-field-' + numNumeric, wrapper).find('.numeric_extra').attr('name', 'numeric_extra_' + numNumeric);
            $('#mult-field-' + numNumeric, wrapper).find('.numeric_label').attr('name', 'numeric_label_' + numNumeric);
            $('#mult-field-' + numNumeric, wrapper).find('.max_score').attr('name', 'max_score_' + numNumeric).val(max_score);
            if (extra_credit) {
                $('#mult-field-' + numNumeric, wrapper).find('.numeric_extra').attr('checked', true);
            }
            $('#mult-field-' + numNumeric, wrapper).show();
            calculateTotalScore();
        }

        function removeNumeric() {
            if (numNumeric > 0) {
                $('#mult-field-' + numNumeric, '.numerics-table').remove();
            }
            --numNumeric;
        }

        function addText(label) {
            var wrapper = $('.text-table');
            numText++;
            $('#mult-field-0', wrapper).clone(true).appendTo(wrapper).attr('id', 'mult-field-' + numText).find('.text_label').val(label).focus();
            $('#mult-field-' + numText, wrapper).find('.text_label').attr('name', 'text_label_' + numText);
            $('#mult-field-' + numText, wrapper).show();
        }

        function removeText() {
            if (numText > 0) {
                $('#mult-field-' + numText, '.text-table').remove();
            }
            --numText;
        }

        $('#numeric_num_text_items').on('input', function (e) {
            var requestedText = this.value;
            if (isNaN(requestedText) || requestedText < 0) {
                requestedText = 0;
            }
            while (numText < requestedText) {
                addText('');
            }
            while (numText > requestedText) {
                removeText();
            }
        });

        $('#numeric_num-items').on('input', function (e) {
            var requestedNumeric = this.value;
            if (isNaN(requestedNumeric) || requestedNumeric < 0) {
                requestedNumeric = 0;
            }
            while (numNumeric < requestedNumeric) {
                addNumeric(numNumeric + 1, 0, false);
            }
            while (numNumeric > requestedNumeric) {
                removeNumeric();
            }
        });

        if ($('#radio_numeric').is(':checked')) {
            var components = {{ admin_gradeable.getOldComponentsJson()|raw }};
            $.each(components, function(i,elem) {
                if(i < {{ admin_gradeable.getNumNumeric() }}) {
                    var extra_credit = false;
                    if (elem.gc_upper_clamp > elem.gc_max_value){
                        addNumeric(elem.gc_title,elem.gc_upper_clamp,true);
                    }
                    else{
                        addNumeric(elem.gc_title,elem.gc_max_value,false);
                    }
                }
                else {
                    addText(elem.gc_title);
                }
            });
            $('#numeric_num-items').val({{ admin_gradeable.getNumNumeric() }});
            $('#numeric_num_text_items').val({{ admin_gradeable.getNumText() }});
            $('#numeric').show();
            $('#grading_questions').show();
        }
    });

    function checkFormRubric() {
        var numOfNumeric = 0;
        var wrapper = $('.numerics-table');

        for (var i = 0; i < $('#numeric_num-items').val(); i++) {
            numOfNumeric++;
            if ($('#mult-field-' + numOfNumeric,wrapper).find('.max_score').attr('name','max_score_'+numOfNumeric).val() == 0) {
                alert("Max score cannot be 0 [Question " + numOfNumeric + "]");
                return false;
            }
        }
        return true;
    }
</script>