{% extends 'generic/Popup.twig' %}
{% block popup_id %}demote-grader-form{% endblock %}
{% block title %}Demote Grader{% endblock %}
{% block body %}
    <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
    <input type="hidden" name="user_id" />
    <input type="hidden" name="displayed_fullname" />
    {# Javascript will fill in user's fullname within <span> #}
    <p class="black-message">Demote <span class="red-message" id="grader-fullname"></span> to a student?
{% endblock %}
{% block form %}
    <form method="post" action="{{ demote_grader_url }}">
        {{ parent() }}
    </form>
{% endblock %}
{% block buttons %}
    {{ block('close_button') }}
    <input class="btn btn-primary" type="submit" value="Confirm" />
{% endblock %}
