{% extends 'generic/Popup.twig' %}
{% block popup_id %}more_extension_popup{% endblock %}
{% block title %}Team Update{% endblock %}
{% block body %}
    <h3>This student has one or more teammates, should this apply to them as well?</h3>
    <p>Team member list: </p>
    <ul>
    {% for id, user in member_list %}
        <li>{{ user }} ({{ id }})</li>
    {% endfor %}
    </ul>
{% endblock %}
{% block close_button_id %}id="team-extension-cancel"{% endblock %}
{% block close_click_action %}javascript:confirmExtension(0){% endblock %}
{% block close_button_text %}No{% endblock %}
{% block buttons %}
    {{ block('close_button') }}
    <a class="btn btn-primary" href="javascript:confirmExtension(1)">Yes</a>
{% endblock %}
