{% extends 'generic/Popup.twig' %}
{% block popup_id %}more_extension_popup{% endblock %}
{% block title %}Team Extension{% endblock %}
{% block body %}
    <h3>This student has one or more teammates, should the extension apply to them as well?</h3>
    <p>Team member list: </p>
    {% for id, user in member_list %}
        <p>{{ user }} ({{ id }})</p>
    {% endfor %}
{% endblock %}
{% block buttons %}
    <a class="btn btn-default" onclick="confirmExtension(0)">No</a>
    <a class="btn btn-primary" onclick="confirmExtension(1)">Yes</a>
{% endblock %}