{% extends 'generic/Popup.twig' %}
{% block popup_id %}settings-form{% endblock %}
{% block title %}Settings{% endblock %}
{% block body %}
    <div style="width: 300px">
        <h2>Select which columns to flag</h2>
        <input type="checkbox" id="gradeable_access"><label for="gradeable_access">Gradeable Access</label>
        <input type="checkbox" id="gradeable_submission"><label for="gradeable_submission">Gradeable Submission</label>
        <input type="checkbox" id="forum_view"><label for="forum_view">Forum View</label>
        <input type="checkbox" id="forum_post"><label for="forum_post">Forum Post</label>
        <input type="checkbox" id="number_of_poll_responses"><label for="number_of_poll_responses">Number of Poll Responses</label>
        <input type="checkbox" id="office_hours_queue"><label for="office_hours_queue">Office Hours Queue</label>
    </div>
{% endblock %}
{% block buttons %}
    <div class="btn-wrapper wrap-reverse float-right">
        {{ block('close_button')}}
        <input class="btn btn-primary key_to_click" tabindex="0" type="button" value="Apply" onclick="applyFlags()">

    </div>
{% endblock %}