<div id="data_dump">
    {{data}}
</div>
<div>
    This is a div with some words for testing purposes!</div>

{# This is a data table #}



<table id="data-table" class="table table-striped mobile-table directory-table">
    <caption>Student Activity Dashboard{{data_dump[0]}}</caption>
    <thead>
        <tr>
            <th>Registration Section</th>
            <th>User ID</th>
            <th>User Firstname </th>
            <th>User Lastname</th>
            <th>Gradeable Access</th>
            <th>Gradeable Submission</th>
            <th>Forum View</th>
            <th>Forum Post</th>
            <th>Number of Poll Responses</th>
            <th>Office Hours Queue</th>
        </tr>
    </thead>
    {#
    <tbody id="table-body">
        {% for student in data_dump %}
        <tr>
            <td>
                N/A
            </td>
            <td>
                {{student.user_id}}
            </td>

        </tr>

    </tbody>
    #}

</table>



