{% extends 'generic/Popup.twig' %}
{% block popup_id %}toggle-columns-form{% endblock %}
{% block title %}Toggle Columns{% endblock %}
{% block body %}
    <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
    <p>
        Select which columns you would like to display.
    </p>
    <br>
    <div class="toggle-columns-menu">
        <input type="checkbox" class="toggle-columns-box" id="checkbox-registration-section">
        <label>Registration Section</label>
        <br>
        <input type="checkbox" class="toggle-columns-box" id="checkbox-user-id">
        <label>User ID</label>
        <br>
        <input type="checkbox" class="toggle-columns-box" id="checkbox-first-name">
        <label>First Name</label>
        <br>
        <input type="checkbox" class="toggle-columns-box" id="checkbox-last-name">
        <label>Last Name</label>
        <br>
        <input type="checkbox" class="toggle-columns-box" id="checkbox-pronouns">
        <label>Pronouns</label>
        <br>
        <input type="checkbox" class="toggle-columns-box" id="checkbox-rotation-section">
        <label>Rotating Section</label>
        <br>
        <input type="checkbox" class="toggle-columns-box" id="checkbox-time-zone">
        <label>UTC Offset / Time Zone</label>
        <br>
        <input type="checkbox" class="toggle-columns-box" id="checkbox-view-grades">
        <label>View Grades</label>
        <br>
        <input type="checkbox" class="toggle-columns-box" id="checkbox-registration-type">
        <label>Registration Type</label>
        <br>
        <input type="checkbox" class="toggle-columns-box" id="checkbox-edit-student">
        <label>Edit Student</label>
        <br>
        <input type="checkbox" class="toggle-columns-box" id="checkbox-delete-student"x>
        <label>Delete Student</label>
    </div>
    <a href="javascript:fillAllCheckboxes(true)" class="btn btn-primary">All On</a>
    <a href="javascript:fillAllCheckboxes(false)" class="btn btn-primary">All Off</a>
{% endblock %}

{% block buttons %}
    {{ block('close_button') }}
    <input name="submit" class="btn btn-primary key_to_click" type="submit" value="Submit" onclick="updateManageStudentsColumns()"/>

{% endblock %}
