html,body {
    margin:0;
    padding:0;
    height:100%;
    width:100%;
    overflow: hidden;
}

header {
    width:100%;
    height: 41px;
    border-bottom: #AAA solid 2px;
}

#container {
    display : inline-block;
}

#inner-container {
    width: 95%;
    margin: auto auto auto auto;
    /*height: 100%;*/
    margin-bottom: 20px;
}

div.span3.left {
    float:left;
    border-right:#DDD solid 1px;
}

div.span3.right {
    float:right;
    border-left:#DDD solid 1px;
    color: white;
}

span#left.resbox {
    border-right:#AAA solid 1px;
}

span#right.resbox {
    border-left:#AAA solid 1px;
}

#inner-container-spacer {
    height: 25px;
    width: 100%;
}

#inner-container-seperator {
    height: 1px;
    width: 100%;
    background-color: #DDD;
    margin: 75px 0px;
}

#content {
    background: #FFF;
    width: 100%;
    height: 100%;
    float: left;
    overflow:scroll;
    overflow-x: hidden;
}

#rubric {
    background: #E1E1E1;
    width: 100%;
    height: 100%;
    float: right;
    /*overflow:hidden;*/
}

.progress {
    display: inline-block;
    width: 100%;
    margin: auto;
    position:absolute;
    bottom: 0;
    left: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

#progress-icon {
    margin-top:-0.5px;
}

.navigation {
    line-height: 0;
    position:absolute;
    bottom: 0;
    right: 0;
    padding-left: 30px;
}

.btn-group .btn {
    padding: 0 12px;
    line-height: 18px;
}

.container-fluid {
    padding-right: 0;
}

ul.dropdown-menu li#logout a:hover {
    background-image: -webkit-linear-gradient(top, #DA4F49, #CC4A44);
}

#pane {
    cursor: col-resize;
    display : inline-block;
    margin-left: -5px;
    padding-right: 2px;
    height : 100%;
    width: 5px;
    vertical-align : top;
    background: url("../../images/handle-v2.png") no-repeat 150% 50%;
}

#panemover {
    cursor: col-resize;
    position:absolute;
    margin-left: -2px;
    width : 10px;
    height : 80%;
    vertical-align : top;
}

/*======================================*/
#grade {
    position:absolute;
    bottom: 5%;
    left: 40%;
    /*height: 5%;*/
    /*width: 20%;*/
    height: 60px;
    /*width: 286px;*/
    width: 290px;
    background: #C3BEFF;
    opacity:0.5;
    z-index: 201;
}
.draggable {
    cursor: move;
}
#rubric {
    position:absolute;
    left: 40%;
    top: 15%;
    width: 45%;
    height: 80%;
    background: #C3BEFF;
    opacity:0.9;
    border-width: 2px 5px 5px 5px;
    border-color: #99cccc;
    border-style:solid;
    display:none;
    z-index: 199;
}
#stats {
    position:absolute;
    left: 10%;
    top: 55%;
    width: 20%;
    height: 40%;
    background: #C3BEFF;
    opacity:0.9;
    border-width: 2px 5px 5px 5px;
    border-color: #99cccc;
    border-style:solid;
    display:none;
    z-index: 200;
}
/*************************************/
.resbox {
    display : inline-block;
    height : 100%;
    overflow:hidden;
}

.CodeMirror {
    border: #DDD solid 1px;
}

select {
    margin-bottom: 0;
    width: 20%;
    min-width: 150px;
    /*height:20px;*/
}

#settings {
    overflow: hidden;
    border: none;
    height: 100%;
    width: 100%;
}

#myModal {
    height: 450px;
}

.modal-body {
    max-height:none;
}

.source-info {
    height: 20px;
    width: 99%;
    border: #DDD solid 1px;
    border-bottom: none;
    text-align: center;
    font-weight: bold;
    color: #444;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    border-top-right-radius: 4px;
}

[class*="span"] {
    margin-left: 0;
}

#rubric #inner-container a.btn.btn-large, input.btn.btn-large {
    width: 100%;
    padding: 15px 0 15px 0;
}

.accordion-group {
    margin-right: -2px;
    margin-bottom: 2px;
    border:#DDD solid 1px;
    border-top: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    border-bottom-right-radius: 4px;
}

.accordion {
    text-align: center;
    margin-bottom: 0;
}

.accordion-heading:hover {
    background-color: #F1F1F1;
}

.accordion-heading .accordion-toggle {
    color: #444;
    text-decoration: none;
    padding: 1px 15px;
}

.nav-tabs {
    color: #444;
    border-bottom: 1px solid #DDD;
}

.nav-tabs > li {
    margin-bottom: -2px;
    width: 200px;
}

.nav-tabs > li > a {
    color: #444;
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
    border: 1px solid #DDD;
    border-bottom: 1px solid #FFF;
}

.tabbable {
    margin-right: -4px;
    position: relative;
}

.tabbable .CodeMirror {
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    border-bottom-right-radius: 4px;
}

form {
    margin: 0;
}

.table-bordered {
    border: 1px solid #AAA;
    border-left: 0;
}

.table-bordered th, .table-bordered td {
    border-left: 1px solid #AAA;
}

#rubric-title {
    height: 30px;
    margin-top: 30px;
    /*margin-top: 80px;*/
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#left .popover-title {
    background-color: #DA4F49;
    color: white;
}

#left .popover {
    width:75%;
}

table {
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.table {
  width: 100%;
  margin-bottom: 20px;
}

.table th,
.table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}

.table th {
  font-weight: bold;
}

.table thead th {
  vertical-align: bottom;
}

.table caption + thead tr:first-child th,
.table caption + thead tr:first-child td,
.table colgroup + thead tr:first-child th,
.table colgroup + thead tr:first-child td,
.table thead:first-child tr:first-child th,
.table thead:first-child tr:first-child td {
  border-top: 0;
}

.table-bordered {
  border: 1px solid #dddddd;
  border-collapse: separate;
  *border-collapse: collapse;
  border-left: 0;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.table-bordered th,
.table-bordered td {
  border-left: 1px solid #dddddd;
}

.table-striped tbody > tr:nth-child(odd) > td,
.table-striped tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}

.icon-ok {
    background: url('../../bootstrap/img/glyphicons-halflings-white.png') no-repeat -288px 0px;
    color: rgb(51, 51, 51);
    display: inline-block;
    height: 14px;
    width: 14px;
}

.icon-time {
    background: url('../../bootstrap/img/glyphicons-halflings.png') no-repeat -48px -24px;
    color: rgb(51, 51, 51);
    display: inline-block;
    height: 14px;
    width: 14px;
}

.icon-print {
    background: url('../../bootstrap/img/glyphicons-halflings.png') no-repeat -96px -48px;
    color: rgb(51, 51, 51);
    display: inline-block;
    height: 14px;
    width: 14px;
}

.icon-plus {
    background-image: url('../../bootstrap/img/glyphicons-halflings.png');
    background-position: 0px -96px;
    background-repeat: no-repeat;
    color: rgb(51, 51, 51);
    display: inline-block;
    height: 14px;
    width: 14px;
}

.icon-minus {
    background-image: url('../../bootstrap/img/glyphicons-halflings.png');
    background-position: -24px -96px;
    background-repeat: no-repeat;
    color: rgb(51, 51, 51);
    display: inline-block;
    height: 14px;
    width: 14px;
}

.icon-folder-closed {
    background: url('../../bootstrap/img/glyphicons-halflings.png') no-repeat -384px -120px;
    color: rgb(51, 51, 51);
    display: inline-block;
    height: 14px;
    width: 14px;
}

.icon-folder-open {
    background: url('../../bootstrap/img/glyphicons-halflings.png') no-repeat -410px -120px;
    color: rgb(51, 51, 51);
    display: inline-block;
    height: 14px;
    width: 14px;
}
/******************************************************************************/
.icon-status {
    background: url('../../bootstrap/img/glyphicons-4-user.png') no-repeat;
    display: inline-block;
    height: 22px;
    width: 22px;
    margin: 5px;
}
.icon-grading-panel {
    background: url('../../bootstrap/img/glyphicons-151-edit.png') no-repeat;
    display: inline-block;
    height: 22px;
    width: 22px;
    margin: 5px;
}
.icon-auto-grading-results {
    background: url('../../bootstrap/img/glyphicons-40-notes.png') no-repeat;
    display: inline-block;
    height: 22px;
    width: 22px;
    margin: 5px;
}
.icon-files {
    background: url('../../bootstrap/img/glyphicons-145-folder-open.png') no-repeat;
    display: inline-block;
    height: 22px;
    width: 22px;
    margin: 5px;
}
.icon-toolbar-up {
    /*background: url('../../bootstrap/img/glyphicons-416-disk-open.png') no-repeat -1px 0px;*/
    background: url('../../bootstrap/img/glyphicons-336-pushpin.png') no-repeat;
    display: inline-block;
    height: 22px;
    width: 22px;
    margin: 5px;
}
.icon-pin {
    background: url('../../bootstrap/img/glyphicons-336-pushpin.png') no-repeat;
    display: inline-block;
    height: 22px;
    width: 22px;
    margin: 5px;
}
.icon-unpin {
    background: url('../../bootstrap/img/unpin.png') no-repeat;
    display: inline-block;
    height: 22px;
    width: 22px;
    margin: 5px;
}
.icon-left {
    background: url('../../bootstrap/img/glyphicons-225-chevron-left.png') no-repeat;
    display: inline-block;
    height: 22px;
    width: 22px;
    margin: 5px;
}
.icon-right {
    background: url('../../bootstrap/img/glyphicons-224-chevron-right.png') no-repeat;
    display: inline-block;
    height: 22px;
    width: 22px;
    margin: 5px;
}
.icon-home {
    background: url('../../bootstrap/img/glyphicons-21-home.png') no-repeat -2px -1px;
    display: inline-block;
    height: 22px;
    width: 22px;
    margin: 5px;
}
.icon-down {
    background: url('../../bootstrap/img/glyphicons-602-chevron-down.png') no-repeat 0px 2px;
    height: 18px;
    width: 22px;
    cursor: pointer;
    float: right;
    opacity: 0.5
}
.icon-down:hover{
    background-color: red;
}
#grade i:not(.icon-disabled):hover{
    cursor: pointer;
    box-shadow: 0px 0px 5px 5px yellow;
    background-color: yellow;
}
.icon-selected {
    box-shadow: 0px 0px 5px 5px aqua;
    background-color: aqua;

}

#grade a, div{
    cursor: default;
}
/******************************************************************************/
.file-viewer{
    float: left;
    margin-right: 10px;
    cursor: pointer;
}

.file-viewer a,
.file-viewer a:link,
.file-viewer a:visited,
.file-viewer a:active {
    color: #005c83;
}

.file-viewer a:hover {
    /*color: #6db7ff;*/
    color: #6db7ff;
    text-decoration: none;
}

#page-info {
    visibility: hidden;
    position: absolute;
    top: 40px;
    left: 40px;
    z-index:1000;
    background: #fff;
    border: 1px solid #000;
    height: 500px;
    width: 80%;
    overflow-y: scroll;
}

.diff {
    width: 13px;
    height: 12px;
    display: inline;
    /* Hide the text. */
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    float: right;
    margin-right: 40px;
    margin-top: 10px;
}

.check-partial {
    background: url('../img/buttons.png') 26px 0;
}

.check-full {
    background: url('../img/buttons.png') 0 0;
}

.cross {
    background: url('../img/buttons.png') 13px 0;
}

.loading-gif {
    /*position: absolute;
    top: 50%;
    left: 50%;*/
    float: right;
    margin: -10px 60px 0px 0px;
    width: 40px;
}

.part_submission_id {
    display: none;
}

.striped-table>tbody>tr:nth-of-type(odd) {
    background-color:#f9f9f9
}

