<div id="superuser-email" class="content">
    <h1> System Wide Email</h1>
    <form>
        <div class="checkbox-options">
            Recipients:
            <input type="checkbox" id="email-instructor" name="email-instructor" checked> Email to instructors </input>
            <input type="checkbox" id="email-full-access" name="email-full-access" checked> Email to Full Access Graders </input>
            <input type="checkbox" id="email-limited-access" name="email-limited-access" checked> Email to Limited Access Graders</input>
            <input type="checkbox" id="email-student" name="email-student" checked> Email to students </input>
        </div>
        <div class="checkbox-options">
            Additional Options:
            <input type="checkbox" id="email-to-secondary" name="email-to-secondary"> Force send to secondary email</input>
        </div>
        <label for="email-subject"> Subject of your email:</label>
        <br>
        <textarea type="text" id="email-subject" class="email-subject custom-scrollbar" style="width:100%;"></textarea>
        <label for="email-content"> Content of your email:</label>
        <br>
        <textarea type="text" id="email-content" class="email-content custom-scrollbar" style="width:100%;"></textarea>
    </form>
    <button class="btn btn-primary" id="send-email" onclick="sendEmail({{"\"" ~ sendUrl ~ "\""}})"> Send</button>
</div>
