<div id="superuser-email" class="content">
    <h1> System Wide Email</h1>
    <form>
        <label for="emailContent"> Content of your email:</label>
        <br>
        <textarea type="text" id="emailContent" class="email-content" style="width:100%;"></textarea>
    </form>
    <button class="btn btn-primary" id="send-email"> Send</button>
</div>