{% extends 'generic/Popup.twig' %}
{% block popup_id %}new-proxy-user-form{% endblock %}
{% block title %}New Proxy User{% endblock %}
{% block body %}
    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
    <label for="form-user-id">User ID:</label>
    <input type="text" id="form-user-id" placeholder="(Required)" name="user_id"><br>
    <label for="form-user-num-id">User Numeric ID:</label>
    <input type="text" id="form-user-num-id" placeholder="(Required)" name="user_numeric_id"><br>
    <label for="form-user-given-name">User Given Name:</label>
    <input type="text" id="form-user-given-name" placeholder="(Required)" name="user_given_name"><br>
    <label for="form-user-family-name">User Family Name:</label>
    <input type="text" id="form-user-family-name" placeholder="(Required)" name="user_family_name"><br>
    <label for="form-user-email">User Email:</label>
    <input type="text" id="form-user-email" placeholder="(Optional)" name="user_email"><br>
    <label for="form-user-saml">SAML ID to map:</label>
    <input type="text" id="form-user-saml" placeholder="(Required)" name="user_saml"><br>
{% endblock %}
{% block form %}
    <form method="POST" action="{{ new_proxy_user_url }}">
        {{ parent() }}
    </form>
{% endblock %}
{% block buttons %}
    {{ block('close_button') }}
    <button class="btn btn-primary">Submit</button>
{% endblock %}
