<!doctype html>
<html>
<head>
    <title>{{ filename }}</title>
    <script type="text/javascript">
        $(document).ready(function() {
            $('body').css("height", ($('.CodeMirror').height()) + "px");
        });
    </script>
</head>
<body>
    <textarea id="code0">{{ file_contents }}</textarea>
    {% include 'misc/SourceSettings.twig' with { type: file_type, number: 0 } %}
</body>
</html>
