<a tabindex="0" class="btn btn-default key_to_click {{ classes|default('') }}" data-fullscreen-toggle onclick="toggleGlobalFullScreenMode()" aria-label="Toggle Full Screen" title="Toggle Full Screen"><i class="fas fa-expand"></i></a>
