<select name="g_id" id="gradeable-select">
    <option disabled {% if current_gradeable is null %} selected {% endif %} value> -- select an option -- </option>
    {% for index, value in gradeables %}
        <option
                value="{{value['g_id']}}"
                {% if current_gradeable is not null and current_gradeable['g_id'] == value['g_id'] %} selected {% endif %}
        >
            {{ value['g_title'] }}
        </option>
    {% endfor %}
</select>