<div class="markdown" style="{{ style ? style : '' }}">{{ content | markdown }}</div>
<script>
    $('.markdown code').parent().css('background-color', 'var(--standard-hover-light-gray');
    $('.markdown code').parent().css('padding', '5px');
    $('.markdown code').parent().css('white-space', 'pre');
    $('.markdown code').parent().css('overflow-x', 'scroll');

    $('.markdown code').each( function(index, code_area) {
        const textarea = document.createElement('textarea');
        textarea.innerHTML = code_area.innerHTML;
        $(textarea).insertAfter(code_area);
        $(code_area).remove();
        const editor = CodeMirror.fromTextArea(textarea, {
            lineNumbers: true,
            mode: "text/x-c++src",
        });

        //set timeout to ensure refresh happens after new content has been set
        //using 1 ms works, but 10 ms is used to be safe
        setTimeout(function() {
            editor.refresh();
        },10);
    });

</script>