{% extends 'generic/Popup.twig' %}
{% block popup_id %}admin-gradeable-peers-form2{% endblock %}
{% block title_tag %}<h1 id="admin-gradeable-peers2-title">Add New Grader to Matrix</h1>{% endblock %}
{% block body %}
	<input type="hidden" id="peer-grader-submit-url" value='{{ peer_grader_submit_url }}'/>
	<input type="hidden" id="csrf-token2" value='{{ csrf_token }}'/>
	<div id="new-grader" class="left-panel"></div>
	<div id="new-grader-students" class="right-panel"></div>
{% endblock %}
{% block buttons %}
	<span id="submit-error2" style="float:left;color:red;">Please enter a valid new grader that is not already in the matrix.</span>
    {{ block('close_button') }}
    <input onclick="submitFormAjax2();" class="btn btn-primary" type="submit" value="Submit" id="admin-gradeable-peers2-submit" />
{% endblock %}
