{% extends 'generic/Popup.twig' %}
{% block popup_id %}admin-gradeable-peers-form{% endblock %}
{% block title_tag %}<h1 id="admin-gradeable-peers-title"></h1>{% endblock %}
{% block body %}

{% endblock %}
{% block buttons %}
    {{ block('close_button') }}
    <input class="btn btn-primary" type="submit" value="Submit" id="admin-gradeable-peers-submit" />
{% endblock %}