<fieldset>
    <legend>Upload a csv file dictating grader-student pairs for peer grading. The csv file must contain a labelled 'student' column and a 'grader' column:</legend>

    <label for="peer_graders_list">Select CSV file to upload for grader-student pairs</label>
    <input type="file" name="peer_graders_list" id="peer_graders_list">

    </br>
        <div class="table-wrapper">
            <table id="peer-table" class = "table table-striped mobile-table directory-table">
                <thead>
                    <tr>
                        <th>Grader</th>
                        <th>Students</th>
                        <th>Edit Students</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key,value in peer_grader_pairs %}
                        <tr>
                            <td class="peer-table-grader">{{key}}</td>
                            <td class="peer-table-students">
                                {% for entry in value %}
                                    <span>{{entry}} </span>
                                {% endfor %}
                            </td>
                            <td>
                                <a aria-label="edit {{key.getDisplayedFirstName()}} {{key.getDisplayedLastName()}}'s students"><i class="fas fa-pencil-alt"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
</fieldset>

<script>

    function adminGradeablePeerForm() {
        $('.popup-form').css('display', 'none');
        var form = $("#admin-gradeable-peers-form");
        form.css("display", "block");
        captureTabInModal("admin-gradeable-peers-form");

        let grader_to_edit = $(this).parents('tr').find('.peer-table-grader').text();
        let title_div = $("#admin-gradeable-peers-title");
        title_div.empty();
        title_div.append('Edit Students for ' + grader_to_edit);

        let peer_grader_pairs = JSON.parse($('#peer_grader_pairs').val());
        let len = peer_grader_pairs[grader_to_edit].length;

        let students_div = $("#students-to-edit");
        students_div.empty();
        students_div.append("Edit Current Students:<br />")
        for (var i = 0; i < len; i++) {
            students_div.append('<input class="readonly peerstudents" type="text" name="user_id_' + i + '" readonly="readonly" value="' + peer_grader_pairs[grader_to_edit][i] + '" /> \
                <input id="remove_member_'+i+'" class = "btn btn-danger" value="Remove" onclick="" \
                style="cursor:pointer; width:80px; padding-top:3px; padding-bottom:3px;" aria-hidden="true"></input><br />');
        }

        let add_students_div = $("#students-to-add");
        add_students_div.empty();
        add_students_div.append("Add New Students:<br />")
        let student_autofill = JSON.parse($('#student_full_id').val());
        add_students_div.append('<input type="text" name="user_id_' + i + '" /><br />');
        $('[name="user_id_'+i+'"]', form).autocomplete({
            source: student_autofill
        });
        $('[name="user_id_'+i+'"]').autocomplete( "option", "appendTo", form );
        add_students_div.append('<span style="cursor: pointer;" onclick="" aria-label="Add More Users"><i class="fas fa-plus-square"></i> \
        Add More Users</span>');
    }

    $(document).ready(function() {
        $("#peer-table").on("click", ".fa-pencil-alt", adminGradeablePeerForm);
    });
</script>