<fieldset>
    <legend>Upload a csv file dictating grader-student pairs for peer grading. The csv file must contain a labelled 'student' column and a 'grader' column:</legend>
    <label for="peer_graders_list">Select CSV file to upload for grader-student pairs</label>
    <input type="file" name="peer_graders_list" id="peer_graders_list">
    </br>
    <div id="peer_loader" class="loader hide"></div>
    <div class="table-wrapper">
        <table class = "peer table">
            <tr>
                <th> grader </th>
                <th> student </th>
            </tr>
            {% for key,value in peer_grader_pairs %}
            <tr>
                <td>{{key}}</td>
                <td>{% for entry in value %}<span>{{entry}} </span>{% endfor %}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="btn-container" >
        <input type="text" id="number_to_peer_grade" placeholder="Enter Number of Students to Grade">
        <input type="button" name="random_peer_graders_list" class="btn btn-primary key_to_click" id="random_peer_graders_list" tabindex="0" value="Generate random assignments"></input>
    </div>
</fieldset>

