{% extends 'generic/Popup.twig' %}
{% block popup_id %}admin-gradeable-peers-form{% endblock %}
{% block title_tag %}<h1 id="admin-gradeable-peers-title">Edit Students For Unknown</h1>{% endblock %}
{% block body %}
	<input type="hidden" id="peer_grader_pairs" value='{{ pair_grader_pairs }}'/>
	<input type="hidden" id="student_autofill" value='{{ student_autofill }}'/>
	<div id="students-to-edit" class="left-panel"></div>
	<div id="students-to-add" class="right-panel"></div>
	<div id="removed-all"></div>
{% endblock %}
{% block buttons %}
    {{ block('close_button') }}
    <input onclick="submitFormAjax();" class="btn btn-primary" type="submit" value="Submit" id="admin-gradeable-peers-submit" />
{% endblock %}
