<fieldset>
    <legend>Upload a csv file dictating grader-student pairs for peer grading. The csv file must contain a labelled 'student' column and a 'grader' column:</legend>

    <label for="peer_graders_list">Select CSV file to upload for grader-student pairs</label>
    <input type="file" name="peer_graders_list" id="peer_graders_list">

    </br>
        <div class="table-wrapper">
            <table id="peer-table" class = "table table-striped mobile-table directory-table">
                <thead>
                    <tr>
                        <th>Grader</th>
                        <th>Students</th>
                        <th>Edit Students</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key,value in peer_grader_pairs %}
                        <tr>
                            <td>{{key}}</td>
                            <td class="peer-table-students">
                                {% for entry in value %}
                                    <span>{{entry}} </span>
                                {% endfor %}
                            </td>
                            <td>
                                <a aria-label="edit {{key.getDisplayedFirstName()}} {{key.getDisplayedLastName()}}'s students"><i class="fas fa-pencil-alt"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
</fieldset>

<script>

    function adminGradeablePeerForm() {
        $('.popup-form').css('display', 'none');
        var form = $("#admin-gradeable-peers-form");
        form.css("display", "block");
        captureTabInModal("admin-gradeable-peers-form");
    }

    $(document).ready(function() {
        $("#peer-table").on("click", ".fa-pencil-alt", adminGradeablePeerForm);
    });
</script>