What <a target=_blank href="http://submitty.org/instructor/rainbow_rainbow_grades">syllabus category</a> does this item belong to?:

{% set valid_assignment_type = ['homework','assignment','problem-set',
    'quiz','test','exam',
    'exercise','lecture-exercise','reading','lab','recitation',
    'project',
    'participation','note',
    'none (for practice only)'] %}

<select name="gradeable_buckets" style="width: 170px;">
    {% for type in valid_assignment_type %}
        <option value="{{ type }}" {{ admin_gradeable.getGSyllabusBucket() == type ? 'selected' : '' }}>
            {{ type | title }}
        </option>
    {% endfor %}
</select>