<div class="electronic_file">
    {{ include('admin/admin_gradeable/rubric/ElectronicFileRubric.twig')   }}
</div>
<div class="checkpoints">
    {{ include('admin/admin_gradeable/rubric/CheckpointsRubric.twig')   }}
</div>
<div class="numeric">
    {{ include('admin/admin_gradeable/rubric/NumericRubric.twig')   }}
</div>

<script type="text/javascript">
    function checkFormRubric() {
        var elec  = $('#radio_electronic_file').is(':checked');
        var check = $('#radio_checkpoints').is(':checked');
        var num   = $('#radio_numeric').is(':checked');

        if(elec) {
            return checkFormRubricElec();
        }
        else if (check) {
            return checkFormRubricCheck();
        }
        else if(num) {
            return checkFormRubricNum();
        }

        // This condition will be caught by a previous check function
        alert('No Gradeable Type Selected!');
        return false;
    }
</script>