<div class="content">
    <h1> Add a New Poll </h1>

    <form method="post" action="{{base_url}}/newPoll">
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}"/>
        <input type="hidden" name="response_count" id="response-count" value="0"/>

        <label for="poll_name">
            <span> Poll Name: </span>
        </label>
        <input type="text" name="name" id="poll_name"/>
        <br/>

        <label for="poll_question">
            <span> Question: </span>
        </label>
        <input type="text" name="question" id="poll_question"/>
        <br/>

        <hr>
        <h2> Responses: </h2>
        <div id="responses">

        </div>
        <br/>
        <button type="button" class="btn btn-primary" onclick="addResponse()">+</button>
        <button type="button" class="btn btn-primary" onclick="removeResponse()">-</button>
        <br/> <br/>

        

        <button type="submit" class="btn btn-primary">Add Poll</button>
    </form>
</div>


<script>
    function addResponse() {
        console.log("adding")
        count = $(".poll_response").length
        $("#responses").append(`
            <div id="response_${count}_wrapper">
                <input type=text class="poll_response" name="response_${count}"/> 
                <input type=checkbox name="is_correct_${count}"/>
                <br/>
            </div>
        `);
        count += 1
        $("#response-count").val("" + count)
    }

    function removeResponse() {
        console.log("removing")
        count = $(".poll_response").length
        count -= 1
        $(`#response_${count}_wrapper`).remove()
        $("#response-count").val("" + count)
    }

</script>