{% extends 'generic/Popup.twig' %}
{% block popup_id %}poll-preview{% endblock %}
{% block title %}Student view of the poll:{% endblock %}
{% block body %}
<div>
    <div class="content">
        <h1 id="poll-preview-name"></h1>
        <div id="poll-preview-question"></div>
        <div id="poll-preview-image-wrapper">
            <img id="poll-preview-image" src="{{ file_data }}">
        </div>
        <form>
            <input type="hidden" name="csrf_token" value="{{ csrf_token }}"/>
            <input type="hidden" name="poll_id" value="{{ poll.getId() }}"/>
            <fieldset id="poll-preview-answers">
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}
{% block buttons %}
    {{ block('close_button') }}
{% endblock %}
