<script>
    window.onload = function() {
        const xPoints = [];
        const yPoints = [];
        let string;
        {% for option in poll.getOptions() %}
            xPoints.push("{{ option.getResponse() }}");
            yPoints.push({{ option.getUserResponses() | length }});
        {% endfor %}
        const data = [
          {
            x: xPoints,
            y: yPoints,
            type: 'bar'
          }
        ];
        const layout = {
          title: "{{ poll.getName() }}",
        }
        console.log(layout);
        Plotly.newPlot("chartContainer", data, layout);
    }
</script>

<div class="content">
    <h1> Viewing poll results for {{ poll.getName() }} </h1>

    <h2> Question: </h2>
    {% include "misc/Markdown.twig" with {
      "content" : poll.getQuestion()
    } only %}
    <br/>
    <div id="chartContainer" style="height: 370px; width: 100%;"></div>
</div>
