<script>
    window.onload = function() {
        const data = [
          {
            type: "bar",
            x: [],
            y: [],
          }
        ];
        {% for answer, number in results %}
            data[0].x.push("{{ poll.getResponseString(answer) }}");
            data[0].y.push({{ number }});
        {% endfor %}
        const layout = {
          title: "{{ poll.getName() }}",
        }
        Plotly.newPlot("chartContainer", data, layout);
    }
</script>

<div class="content">
    <h1> Viewing poll results for {{ poll.getName() }} </h1>

    <h2> Question: </h2>
    {% include "misc/Markdown.twig" with {
      "content" : poll.getQuestion()
    } only %}
    <br/>
    <div id="chartContainer" style="height: 370px; width: 100%;"></div>
</div>
