<script>
    window.onload = function() {
        const xPoints = [];
        const yPoints = [];
        let string;
        {% for answer, number in results %}
            string = "{{ poll.getResponseString(answer) }}";
            xPoints.push(string);
            yPoints.push({{ number }});
        {% endfor %}
        const title = "{{ poll.getName() }}"
        const data = [
          {
            x: xPoints,
            y: yPoints,
            type: 'bar'
          }
        ];
        const layout = {
          title: "{{ poll.getQuestion() }}"
        }
        Plotly.newPlot("chartContainer", data, layout);
    }
</script>

<div class="content">
    <div id="chartContainer" style="height: 370px; width: 100%;"></div>
</div>
