{% extends 'generic/Popup.twig' %}
{% block popup_id %}clustering-warning-popup{% endblock %}
{% block title %}Clustering Mode Warning{% endblock %}
{% block body %}

<div class="content gradeable_message">
    <p>
        In clustering mode, any student you grade within a cluster, the grade of that student applies to all the students within that cluster.
    </p>
</div>

{% endblock %}
{% block buttons %}
    <button class="btn btn-default close-button" onclick="clusteringWarningMessageCancel()" type="button">Cancel</button>
    <button class="btn btn-primary" onclick="clusteringWarningMessageAgree()" type="button" data-testid="agree-popup-btn">Agree</button>
{% endblock %}
