{% import _self as self %}
<div id="discussion_browser" class="draggable rubric_panel" style="display:block;">
        <div class="draggable_content" style="width:100%">
            {{ discussion_forum_content|raw }}
        </div>
    
</div>

<script>

	
		$('#posts_list').css('min-width', '-webkit-fill-available');
	

</script>