{% import _self as self %}
<div id="submission_browser" class="draggable rubric_panel">
    <div id="directory_view">
        <div class="draggable_content">
            <span class="grading_label">Submissions and Results Browser</span>
            {{ discussion_forum_content }}
        </div>
    </div>
</div>