<div id="edit-peer-components-form"></div>
<script>
    window.editPeerComponentsFormArgs = {{ { peers: peers, submitterId: submitter_id, gradeableId: gradeable_id, csrfToken: csrf_token, components: components, componentScores: component_scores, peerDetails: peer_details, marks: marks } | json_encode() | raw() }};
    window.editPeerComponentsFormEvents = {
        'clear-marks': '(detail) => { clearPeerMarks(detail.submitterId, detail.gradeableId, detail.peer, detail.csrfToken); }',
    };
    void window.submitty.render('#edit-peer-components-form', 'component', 'ta_grading/EditPeerComponentsForm', window.editPeerComponentsFormArgs, window.editPeerComponentsFormEvents);
</script>