<div id="bar_banner" class="banner">
    {{ message }}
</div>
<script>
    $('body').css('background', '{{ color }}');
    $('#bar_banner').css('background-color', '{{ color }}');
    $('#bar_banner').css('color', 'black');
</script>
