<script>
    $('body').css('background', '{{ color }}');
    $('#bar_wrapper').append("<div id='bar_banner' class='banner'>{{ message }}</div>");
    $('#bar_banner').css('background-color', '{{ color }}');
    $('#bar_banner').css('color', 'black');
</script>
