{% extends 'generic/Popup.twig' %}
{% block popup_id %}mark-conflict-popup{% endblock %}
{% block title %}Mark Conflicts{% endblock %}
{% block body %}
    <h3 class="component-title"></h3>
    <h4>
        It looks like someone else also edited the rubric.  Choose the changes you want to keep.
    </h4>
    <div class="legend container">
        <div class="row mark-resolve-dom">
            <span class="color-swatch"></span>Your Version
        </div>
        <div class="row mark-resolve-old-server">
            <span class="color-swatch"></span>Original
        </div>
        <div class="row mark-resolve-server">
            <span class="color-swatch">e</span>Server Version
        </div>
    </div>
    <div class="conflict-marks-container">
    </div>
{% endblock %}
{% block buttons %}
    <a class="btn btn-primary resolve-button">Submit</a>
    <a class="btn btn-default close-button">Close</a>
{% endblock %}
