{% extends 'generic/Popup.twig' %}
{% block popup_id %}mark-conflict-popup{% endblock %}
{% block title %}Mark Conflicts: <span class="component-title"></span>{% endblock %}
{% block body %}
    <h4>
        It looks like someone else also edited the rubric.  Choose the changes you want to keep.
    </h4>
    <div class="conflict-marks-container">
    </div>
{% endblock %}
{% block buttons %}
{% endblock %}
