<div id="bar_wrapper" class="draggable">
    <div class="grading_toolbar">

        {# Nav buttons #}

        {# If the student is in our section, add a clickable previous arrow, else add a grayed out one. #}
        {% if studentNotInSection %}
            <i title="Go to the previous student" class="fa fa-chevron-left icon-header" style="color:grey"></i>
        {% else %}
            <a href="javascript:void(0);" onclick="gotoPrevStudent();" data-href="{{ core.buildUrl({'component': 'grading', 'page': 'electronic', 'action': 'grade', 'gradeable_id': gradeable.getId(), 'who_id': prev_id}) }}" id="prev-student"><i title="Go to the previous student" class="fa fa-chevron-left icon-header"></i></a>
        {% endif %}

        {# Back to list button #}
        <a href="{{ core.buildUrl({'component': 'grading', 'page': 'electronic', 'action': 'details', 'gradeable_id': gradeable.getId()}) }}"><i title="Go to the main page" class="fa fa-home icon-header" ></i></a>

        {# If the student is in our section, add a clickable next arrow, else add a grayed out one. #}
        {% if studentNotInSection %}
            <i title="Go to the next student" class="fa fa-chevron-right icon-header" style="color:grey"></i>
        {% else %}
            <a href="javascript:void(0);" onclick="gotoNextStudent();" data-href="{{ core.buildUrl({'component': 'grading', 'page': 'electronic', 'action': 'grade', 'gradeable_id': gradeable.getId(), 'who_id': next_id}) }}" id="next-student"><i title="Go to the next student" class="fa fa-chevron-right icon-header"></i></a>
        {% endif %}

        {# /Nav buttons #}

        {# Panel buttons #}
        <i title="Reset Rubric Panel Positions (Press R)" class="fa fa-refresh icon-header" onclick="resetModules(); updateCookies();"></i>
        <i title="Show/Hide Auto-Grading Testcases (Press A)" class="fa fa-list-alt icon-header" onclick="toggleAutograding(); updateCookies();"></i>
        {% if gradeable.useTAGrading() %}
            <i title="Show/Hide Grading Rubric (Press G)" class="fa fa fa-pencil-square-o icon-header" onclick="toggleRubric(); updateCookies();"></i>
        {% endif %}
        <i title="Show/Hide Submission and Results Browser (Press O)" class="fa fa-folder-open icon-header" onclick="toggleSubmissions(); updateCookies();"></i>
        {% if not peer %}
            <i title="Show/Hide Student Information (Press S)" class="fa fa-user icon-header" onclick="toggleInfo(); updateCookies();"></i>
        {% endif %}
        {# /Panel buttons #}
    </div>

    <div class="progress_bar">
        <progress class="progressbar" max="100" value="{{ progress }}" style="width:70%; height: 100%;"></progress>
        <div class="progress-value" style="display:inline;"></div>
    </div>
</div>