<div id="bar_wrapper" class="draggable">
    <div class="grading_toolbar">

        {# Nav buttons #}

        {# If the student is in our section, add a clickable previous arrow, else add a grayed out one. #}
        {% if studentNotInSection %}
            <i title="Go to the previous student" class="fas fa-chevron-left icon-header" style="color:grey"></i>
        {% else %}
            <a href="javascript:void(0);" onclick="gotoPrevStudent();" data-href="{{ prev_student_url }}" id="prev-student"><i title="Go to the previous student" class="fas fa-chevron-left icon-header"></i></a>
        {% endif %}

        {# Back to list button #}
        <a href="{{ home_url }}"><i title="Go to the main page" class="fas fa-home icon-header" ></i></a>

        {# If the student is in our section, add a clickable next arrow, else add a grayed out one. #}
        {% if studentNotInSection %}
            <i title="Go to the next student" class="fas fa-chevron-right icon-header" style="color:grey"></i>
        {% else %}
            <a href="javascript:void(0);" onclick="gotoNextStudent();" data-href="{{ next_student_url }}" id="next-student"><i title="Go to the next student" class="fas fa-chevron-right icon-header"></i></a>
        {% endif %}

        {# /Nav buttons #}

        {# Panel buttons #}
        <button title="Reset Rubric Panel Positions (Press R)" class="invisible-btn" onclick="resetModules(); updateCookies();"> <i class="fas fa-redo icon-header" ></i> </button>
        <button title="Show/Hide Autograding Testcases (Press A)" class="invisible-btn" onclick="toggleAutograding(); updateCookies();"> <i class="fas fa-list icon-header" ></i> </button>
        <button title="Show/Hide Grading Rubric (Press G)" class="invisible-btn" onclick="toggleRubric(); updateCookies();"> <i class="fas fa-edit icon-header" ></i> </button>
        <button title="Show/Hide Submission and Results Browser (Press O)" class="invisible-btn" onclick="toggleSubmissions(); updateCookies();"> <i class="fas fa-folder-open icon-header" ></i> </button>
        {% if not peer %}
            <button title="Show/Hide Student Information (Press S)" class="invisible-btn" onclick="toggleInfo(); updateCookies();"> <i class="fas fa-user icon-header" ></i> </button>
        {% endif %}
        {% if discussion_based %}
            <button title="Show/Hide Discussion Posts" class="invisible-btn" onclick="toggleDiscussion(); updateCookies();"> <i class="fas fa-comment-alt icon-header" ></i> </button>
        {% endif %}
        {% if regrade_panel_available %}
            <button title="Show/Hide Regrade Information (Press X)" class="invisible-btn" onclick="toggleRegrade(); updateCookies();"> <i class="fas fa-hand-paper icon-header" ></i> </button>
        {% endif %}
        <button title="Show Grading Settings" class="invisible-btn" onclick="showSettings();"> <i class="fas fa-wrench icon-header" ></i> </button>
        {# /Panel buttons #}
    </div>

    <div class="progress_bar">
        <progress class="progressbar" max="100" value="{{ progress }}" style="width:70%; height: 100%;"></progress>
        <div class="progress-value" style="display:inline;"></div>
    </div>
</div>