{% extends 'generic/Popup.twig' %}
{% block popup_id %}mark-creation-popup{% endblock %}
{% block title %}New Mark{% endblock %}
{% block body %}
    <div style="width: auto; height: 450px; overflow-y: auto;" id="mark-creation-popup-content">
        Amount of points:<br>
        <input id="mark-creation-popup-points" type="number" value="0"><br>
        <br>
        Note:
        <input id="mark-creation-popup-note" type="text" oninput="$('#mark-creation-popup-error').css('display', 'none');" value="">
        <br>
        <span id="mark-creation-popup-error" class="alert-error" style="display: none;">
            Note cannot be blank!
        </span>
    </div>
{% endblock %}
{% block buttons %}
    {{ block('close_button') }}
    <input id="mark-creation-popup-confirm" class="btn btn-primary" type="submit" value="Submit" />
{% endblock %}