{% import _self as self %}

{% from 'notebook/Notebook.twig' import renderNotebook as renderNotebook %}


<div id="notebook-view" class="draggable rubric_panel" style="display:none">
	{% include 'notebook/Notebook.twig' with {
        "notebook": notebook,
        "testcase_messages" : testcase_messages,
        "image_data" : image_data,
        "numberUtils" : numberUtils,
        "student_id" : student_id,
        "gradeable_id" : gradeable_id,
        "highest_version" : highest_version,
        "max_file_uploads" : max_file_uploads,
        "old_files" : old_files,
        'viewing_inactive_version' : false
    } %}
    {% include "grading/electronic/FileView.twig" with {
        "panel": "notebook",
        "panelTitle": "Notebook",
        "file_view_id": "notebook-file-view",
        "grading_file_name_id": "notebook_grading_file_name",
        "save_status_id": "notebook_save_status",
        "file_content_id": "notebook-file-content",
        "show_pdf_bar": false,
        "toolbar_css": toolbar_css
    } %}
</div>

