<div
    id="panels-selector-modal-wrapper"
    style="display: none;"
>
    {% include 'Vue.twig' with {
        'type': 'component',
        'name': 'ta_grading/PanelSelectorModal',
        'args': {},
        'events': {
            'select-layout': '({ panels, isLeftTaller, twoInRight }) => { window.changePanelsLayout(panels, isLeftTaller, twoInRight); document.getElementById("panels-selector-modal-wrapper").style.display = "none"; }',
            'close': '() => { document.getElementById("panels-selector-modal-wrapper").style.display = "none"; }'
        }
    } %}
</div>
