{% import _self as self %}
{# This is the control shown/hidden #}
<div class="popup-form hide" id="panels-selector-modal">
    {# This lets us center the window #}
    <div class="popup-box">
        {# Actual displayed window #}
        <div class="popup-window panels-selector-window">
            <div class="form-title">
                <h1>Panel Selector</h1>
            </div>
            <div class="layouts-cont">
                <div class="layout-option" id="layout-option-1">
                    <div class="layout-option-title">
                        Single panel mode
                    </div>
                    <hr/>
                    <div class="layout-option-cont">
                        <div class="layout-option-item">
                            <canvas id="single-panel"></canvas>
                            <div class="flex-col">
                                <span>Single Panel</span>
                                <button
                                        type="button"
                                        class="btn btn-primary"
                                        onclick="changePanelsLayout(1, false)"
                                >Apply</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layout-option" id="layout-option-2">
                    <div class="layout-option-title">
                        Two panel mode options
                    </div>
                    <hr/>
                    <div class="layout-option-cont">
                        <div class="layout-option-item">
                            <canvas id="equal-height"></canvas>
                            <div class="flex-col">
                                <span>Equal Heights</span>
                                <button
                                        type="button"
                                        class="btn btn-primary"
                                        onclick="changePanelsLayout(2, false)"
                                >Apply</button>
                            </div>
                        </div>
                        <div class="layout-option-item">
                            <canvas id="tall-left"></canvas>
                            <div class="flex-col">
                                <span>Taller Left</span>
                                <button
                                        type="button"
                                        class="btn btn-primary"
                                        onclick="changePanelsLayout(2, true)"
                                >Apply</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layout-option" id="layout-option-3">
                    <div class="layout-option-title">
                        Three panel mode options
                    </div>
                    <hr/>
                    <div class="layout-option-cont">
                        <div class="layout-option-item">
                            <canvas id="equal-two-in-left"></canvas>
                            <div class="flex-col">
                                <span>2 on left, 1 on right</span>
                                <button
                                        type="button"
                                        class="btn btn-primary"
                                        onclick="changePanelsLayout(3, false)"
                                >Apply</button>
                            </div>
                        </div>
                        <div class="layout-option-item">
                            <canvas id="equal-two-in-right"></canvas>
                            <div class="flex-col">
                                <span>One on left. 2 on right</span>
                                <button
                                        type="button"
                                        class="btn btn-primary"
                                        onclick="changePanelsLayout(3, false, true)"
                                >Apply</button>
                            </div>
                        </div>
                        <div class="layout-option-item">
                            <canvas id="tall-left-two-in-left"></canvas>
                            <div class="flex-col">
                                <span>Taller Left, 2 on left</span>
                                <button
                                        type="button"
                                        class="btn btn-primary"
                                        onclick="changePanelsLayout(3, true)"
                                >Apply</button>
                            </div>
                        </div>
                        <div class="layout-option-item">
                            <canvas id="tall-left-two-in-right"></canvas>
                            <div class="flex-col">
                                <span>Taller Left, 2 on right</span>
                                <button
                                        type="button"
                                        class="btn btn-primary"
                                        onclick="changePanelsLayout(3, true, true)"
                                >Apply</button>
                            </div>
                        </div>
                    </div>
                </div>
                {# Cancel Button #}
                <div class="form-buttons">
                    <div class="form-button-container">
                        <a onclick="togglePanelSelectorModal(false)" class="btn btn-default close-button key_to_click" tabindex="0">Close</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
