{% extends 'generic/Popup.twig' %}
{% block popup_id %}panels-selector-modal{% endblock %}
{% block title %}Panel Selector{% endblock %}
{% block body %}
<div class="layout-option" id="layout-option-1">
    <div class="layout-option-title">
        <h2>Single panel option</h2>
    </div>
    <hr/>
    <div class="layout-option-cont">
        <div class="layout-option-item">
            <canvas id="single-panel"></canvas>
            <div class="flex-col">
                <span>single panel</span>
                <button
                        type="button"
                        class="btn btn-primary"
                        onclick="changePanelsLayout(1, false)"
                        data-testid="layout-single-panel-apply"
                >Apply</button>
            </div>
        </div>
    </div>
</div>
<div class="layout-option" id="layout-option-2">
    <div class="layout-option-title">
        <h2>Two panel options</h2>
    </div>
    <hr/>
    <div class="layout-option-cont">
        <div class="layout-option-item">
            <canvas id="equal-height"></canvas>
            <div class="flex-col">
                <span>side-by-side</span>
                <button
                        type="button"
                        class="btn btn-primary"
                        onclick="changePanelsLayout(2, false)"
                        data-testid="layout-two-panel-equal-apply"
                >Apply</button>
            </div>
        </div>
        <div class="layout-option-item">
            <canvas id="tall-left"></canvas>
            <div class="flex-col">
                <span>side-by-side, taller left</span>
                <button
                        type="button"
                        class="btn btn-primary"
                        onclick="changePanelsLayout(2, true)"
                        data-testid="layout-two-panel-tall-left-apply"
                >Apply</button>
            </div>
        </div>
    </div>
</div>
<div class="layout-option" id="layout-option-3">
    <div class="layout-option-title">
        <h2>Three panel options</h2>
    </div>
    <hr/>
    <div class="layout-option-cont">
        <div class="layout-option-item">
            <canvas id="equal-two-in-left"></canvas>
            <div class="flex-col">
                <span>two on left, one on right</span>
                <button
                        type="button"
                        class="btn btn-primary"
                        onclick="changePanelsLayout(3, false)"
                        data-testid="layout-three-panel-two-left-apply"
                >Apply</button>
            </div>
        </div>
        <div class="layout-option-item">
            <canvas id="tall-left-two-in-left"></canvas>
            <div class="flex-col">
                <span>two on left, one on right, taller left</span>
                <button
                        type="button"
                        class="btn btn-primary"
                        onclick="changePanelsLayout(3, true)"
                        data-testid="layout-three-panel-two-left-tall-left-apply"
                >Apply</button>
            </div>
        </div>
        <div class="layout-option-item">
            <canvas id="equal-two-in-right"></canvas>
            <div class="flex-col">
                <span>one on left, two on right</span>
                <button
                        type="button"
                        class="btn btn-primary"
                        onclick="changePanelsLayout(3, false, true)"
                        data-testid="layout-three-panel-two-right-apply"
                >Apply</button>
            </div>
        </div>
        <div class="layout-option-item">
            <canvas id="tall-left-two-in-right"></canvas>
            <div class="flex-col">
                <span>one on left, two on right, taller left</span>
                <button
                        type="button"
                        class="btn btn-primary"
                        onclick="changePanelsLayout(3, true, true)"
                        data-testid="layout-three-panel-two-right-tall-left-apply"
                >Apply</button>
            </div>
        </div>
    </div>
</div>
<div class="layout-option" id="layout-option-4">
    <div class="layout-option-title">
        <h2>Four panel options</h2>
    </div>
    <hr/>
    <div class="layout-option-cont">
        <div class="layout-option-item">
            <canvas id="equal-four-panel"></canvas>
            <div class="flex-col">
                <span>two on left, two on right</span>
                <button
                        type="button"
                        class="btn btn-primary"
                        onclick="changePanelsLayout(4, false)"
                        data-testid="layout-four-panel-equal-apply"
                >Apply</button>
            </div>
        </div>
        <div class="layout-option-item">
            <canvas id="tall-left-four-panel"></canvas>
            <div class="flex-col">
                <span>two on left, two on right, taller left</span>
                <button
                        type="button"
                        class="btn btn-primary"
                        onclick="changePanelsLayout(4, true)"
                        data-testid="layout-four-panel-tall-left-apply"
                >Apply</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
