<link rel="stylesheet" type="text/css" href="css/pdf/toolbar_embedded.css"/>

<div id="pdf_annotation_bar">
    <div id="pdf_annotation_icons">
        <a value="cursor" class="fa fa-mouse-pointer toolbar-item"></a>
        <a value="pen" class="fa fa-pencil toolbar-item"></a>
        <a value="eraser" class="fa fa-eraser toolbar-item"></a>
        {#TODO: In the future, we want a erase function rather than a clear function#}
        {#<a value="clear" class="fa fa-ban toolbar-action" style="text-align: center; margin-left: 8px; font-size: 25px; padding-bottom: 10px"></a>#}
        {#<a value="rect" class="fa fa-object-group toolbar-item"></a>#}
        <a value="rotate" class="fa fa-rotate-right toolbar-action"></a>
        <a value="text" class="fa fa-font toolbar-item"></a>
        <a value="zoomin" class="fa fa-plus toolbar-action"></a>
        <a value="zoomcustom" class="toolbar-action">100%</a>
        <a value="zoomout" class="fa fa-minus toolbar-action"></a>
        <a value="save" class="fa fa-file toolbar-action"></a>
        {#<a value="download" class="fa fa-download toolbar-action"></a>#}
        <a value="color" id="color_selector" class="toolbar-action"></a>
    </div>
</div>

