<link rel="stylesheet" type="text/css" href="css/pdf/toolbar_embedded.css"/>
<div id="pdf_annotation_bar" class="draggable">
    <div class="grading_toolbar">
        <a value="cursor" class="fa fa-mouse-pointer toolbar-item" style="text-align: center; margin-left: 10px; font-size: 25px; padding-bottom: 10px"></a>
        <a value="pen" class="fa fa-pencil toolbar-item" style="text-align: center; margin-left: 8px; font-size: 25px; padding-bottom: 10px"></a>
        {#TODO: In the future, we want a erase function rather than a clear function#}
        {#<a value="clear" class="fa fa-ban toolbar-action" style="text-align: center; margin-left: 8px; font-size: 25px; padding-bottom: 10px"></a>#}
        <a value="rect" class="fa fa-object-group toolbar-item" style="text-align: center; margin-left: 6px; font-size: 25px; padding-bottom: 10px"></a>
        <a value="zoomin" class="fa fa-plus toolbar-action" style="text-align: center; margin-left: 8px; font-size: 25px; padding-bottom: 10px"></a>
        <a value="zoomout" class="fa fa-minus toolbar-action" style="text-align: center; margin-left: 8px; font-size: 25px; padding-bottom: 10px"></a>
        <a value="text" class="fa fa-font toolbar-item" style="text-align: center; margin-left: 8px; font-size: 25px; padding-bottom: 10px"></a>
        <a value="save" class="fa fa-file toolbar-action" style="text-align: center; margin-left: 8px; font-size: 25px; padding-bottom: 10px"></a>
        <a value="download" class="fa fa-download toolbar-action" style="text-align: center; margin-left: 8px; font-size: 25px;"></a>
    </div>
</div>

