<div id="peer_info" class="draggable rubric_panel {{ is_ta_grading ? "" : "empty" }}" style="right:15px; top:140px; width:48%; height:42%;">
    <div class="draggable_content">
        {% if is_ta_grading %}
            <div id="rubric-container" class="container">
                <span class="col grading_label">Peer Grading</span>
                <div class="inner-container" id="peer-grading-box">
                    {% if has_active_version %}
                        <script>
                            $(document).ready(function () {
                                loadTemplates().then(function() {
                                    return reloadPeerRubric('{{ gradeable_id }}', '{{ anon_id }}');
                                });
                            });
                        </script>
                    {% else %}
                        <h4>No Submission</h4>
                    {% endif %}
                </div>
            </div>
        {% else %}
            <div id="no-manual-grading-container">
                <h3> No Manual Grading For This Assignment </h3>
            </div>
        {% endif %}
    </div>
</div>
