{% extends 'generic/Popup.twig' %}
{% block popup_id %}student-marklist-popup{% endblock %}
{% block title %}Mark Statistics{% endblock %}
{% block body %}
    <h3>
        <span id="student-marklist-popup-question-name"></span>:
        <em id="student-marklist-popup-mark-note"></em>
    </h3>
    <br>
    <strong># of students with mark:</strong>
    <span id="student-marklist-popup-student-amount">0</span>
    <br>
    <strong># of graded components:</strong>
    <span id="student-marklist-popup-graded-components">0</span>
    <br>
    <strong># of total components:</strong>
    <span id="student-marklist-popup-total-components">0</span>
    <br>
    <br>
    <strong>Students:</strong>
    <br>
    <span id="student-marklist-popup-student-names">
        <br>Name1
    </span>
{% endblock %}
