{% extends 'functions/Popup.twig' %}
{% block popup_id %}student-marklist-popup{% endblock %}
{% block title %}Received Mark{% endblock %}
{% block body %}
    <h3>Students who received
        <br><br>
        <span id="student-marklist-popup-question-name">Name:</span>
        <br>
        <em id="student-marklist-popup-mark-note">"Title"</em>
    </h3>
    <br>
    # of students with mark: <span id="student-marklist-popup-student-amount">0</span>
    <br>
    # of graded components: <span id="student-marklist-popup-graded-components">0</span>
    <br>
    # of total components: <span id="student-marklist-popup-total-components">0</span>
    <br>
    <span id="student-marklist-popup-student-names">
            <br>Name1
        </span>
{% endblock %}
{% block buttons %}
    {{ block('close_button') }}
{% endblock %}
