<div class="popup-form" id="student-marklist-popup" style="display: none; width: 500px; margin-left: -250px;">
    <div style="width: auto; height: 450px; overflow-y: auto;" id="student-marklist-popup-content">
        <h3>Students who received
            <br><br>
            <span id="student-marklist-popup-question-name">Name:</span>
            <br>
            <em id="student-marklist-popup-mark-note">"Title"</em>
        </h3>
        <br>
        # of students with mark: <span id="student-marklist-popup-student-amount">0</span>
        <br>
        # of graded components: <span id="student-marklist-popup-graded-components">0</span>
        <br>
        # of total components: <span id="student-marklist-popup-total-components">0</span>
        <br>
        <span id="student-marklist-popup-student-names">
            <br>Name1
        </span>
    </div>
    <div style="float: right; width: auto">
        <a onclick="$('#student-marklist-popup').css('display', 'none');" class="btn btn-danger">Cancel</a>
    </div>
</div>
</div>
