<div class="popup-form" id="settings-popup" style="display: none; width: 500px; margin-left: -250px;">
    <h2>Settings</h2>
    <hr>
    <div style="height: 400px; overflow-y: auto;">
        <h3>Hotkeys</h3>
        <br>
        <table id="hotkeys-list"></table>
    </div>
    <hr>
    <div>
        <a onclick="$('#settings-popup').hide();" class="btn btn-primary">Close</a>
    </div>
</div>
</div>
