<div class="popup-form" id="settings-popup" style="display: none; width: 500px; margin-left: -250px;">
    <h2>Settings</h2>
    <hr style="margin-bottom: 0;">
    <div id="settings-content">
        <h3>Hotkeys</h3>
        <br>
        <table id="hotkeys-list"></table>
    </div>
    <hr style="margin-top: 0;">
    <div>
        <a id="settings-close" onclick="hideSettings();" class="btn btn-primary">Close</a>
    </div>
</div>
