{% import _self as self %}
<div id="solution_ta_notes" class="rubric_panel">
    <div class="row">
        <span class="grading_label">Solution/TA Notes</span>
    </div>
    <div>
        No Solutions or TA notes for  {{ gradeable_id }}
    </div>
</div>
