<div class="popup-form"  style="display: none;" id="delete-plagiarism-result-and-config-form">
    <form id="delete-config-form" name="delete" method="post">
        <div class="popup-box">
            <div class="popup-window ui-draggable ui-draggable-handle" style="position: relative;">
                <div class="form-title">
                    <h1>Delete Plagiarism Results</h1>
                </div>
                <div class="form-body">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
                    <p>Note: Deleting plagiarism results will also delete the saved configuration for the gradeable.</p><br>
                    Are you sure you wish to delete Plagiarism Results for "<div style="display: inline;" name="gradeable_title"></div>"?
                    <div class="form-buttons">
                        <div class="form-button-container">
                            <a onclick="$('#delete-plagiarism-result-and-config-form').css('display', 'none');" class="btn btn-default">Cancel</a>
                            <input id="submit-form" class="btn btn-danger" type="submit" value="Delete" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    $(".popup-window").draggable();

    $(document).ready(function() {
        $('#delete-config-form').submit(function () {
            $('#submit-form').attr('disabled', true);
        });
    });
</script>
