<div id="message"></div>
<div class="content">
    <div class="column-wrapper" style="margin: 1em 0;">
        <h1 style="margin:0px;">Bulk Late Day Usage</h1>

        <div id="rebuild-status-panel" style="left:0px;display:none">
            <span id="rebuild-status-label">Build Status: </span>
            <div id="rebuild-status"></div>
        </div>

        <div class="column-wrapper">
            <button class="btn btn-default key_to_click" tabindex="0" id="calculate-btn" onclick="calculateLateDayCache()">Calculate Cache</button>
            <button class="btn btn-danger key_to_click" tabindex="0" id="flush-btn" onclick="flushLateDayCache()">Flush Cache</button>
            </form>
        </div>
    </div>

    <div class="page-content">{{ include('admin/late_day_cache/LateDayCacheTablePlugin.twig') }}</div>
</div>
