{% if viewer.getQueueAnnouncementMessage() | length > 0 %}
    <div id="announcement">
        <h2>Office Hours Queue Announcements:</h2>
        {% include "misc/Markdown.twig" with {
            content: viewer.getQueueAnnouncementMessage()
        } only %}
    </div>
{% endif %}
