{% extends 'generic/Popup.twig' %}
{% block popup_id %}new-queue{% endblock %}
{% block title %}Create Queue{% endblock %}

{% block body %}
    <form method="post" id="open_new_queue" action="{{base_url}}" style="height:auto;">
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}"/>
        <input type="text" id="new_queue_code" name="code" placeholder="New Queue Name" aria-label="New Queue Name" required="required" maxlength="2048" style="margin-top: 1rem;" data-testid="new-queue-code"><br>
        <div class="access-code-input" style="margin-top: 1rem;">
            <input type="text" id="new-queue-token" name="token" placeholder="Access Code" aria-label="Access Code" maxlength="2048" data-testid="new-queue-token">
            <a id="new_queue_rand_token" onclick="genRandCode('new-queue-token')" onkeypress="genRandCode('new-queue-token')" title="Generate random access code" aria-label="Generate random access code" tabindex="0" style="padding:.5rem;" data-testid="new-queue-rand-token">
                <i class="fas fa-dice"></i>
            </a><br>
            <p>NOTE: Access Codes are optional</p>
        </div>
    <br>
    Require contact information
    <input type="checkbox" name="require_contact_information" onclick="toggleQueueRegex()"><br>
    <div class="contact-information-regex" style="display: none">
        <input type="text" id="regex" name="regex" placeholder="Contact Info Regex Pattern" aria-label="Regex" style="min-width: 45%; margin-top: 1rem;">
        <div class="regex-help">
            <br>You may optionally specify a regular expression to ensure your students enter the requested
            format for the contact information.  For example: <br>
            <b>Gmail:&nbsp;&nbsp;</b> .+@gmail.com<br>
            <b>Email:&nbsp;&nbsp;</b> .+@.+\..+<br>
            <b>Webex Personal Room:&nbsp;&nbsp;</b> ^https:\/\/.+\.webex\.com\/.+\/.*<br>
            <b>Webex Meeting:&nbsp;&nbsp;</b> ^https:\/\/.+\.webex\.com\/.*<br>
            <b>Skype link:&nbsp;&nbsp;</b> .*join\.skype\.com.*<br>
            <b>Zoom link:&nbsp;&nbsp;</b> .*zoom\.us.* <br><br>
        </div>
    </div>
    <button id="open_new_queue_btn" type="submit" class="btn btn-primary" data-testid="open-new-queue-btn" >Create Queue</button>
    </form>
    <script>
        let queueDraggable = $(".popup-window").draggable();
        //allow users to copy regex patterns from office hours queue settings
        $('.regex-help', queueDraggable).mousedown(function(ev) {
            queueDraggable.draggable('disable');
        }).mouseup(function(ev) {
            queueDraggable.draggable('enable');
        });

        function toggleQueueRegex(){
            $('.contact-information-regex').toggle();
        }
    </script>
{% endblock %}
{% block form %}
    <div style="height: 100%">
        {{ parent() }}
    </div>
{% endblock %}
{% block buttons %}
    <button type="button" class="btn btn-primary" onclick="$('#new-queue').hide()">Close</button>
    <script>
        $(document).keyup(function(e) {
            if (e.key == "Escape" && $("#{{ block('popup_id') }}").is(":visible")) {

                window.location.reload();
            }
        });
    </script>
{% endblock %}
