{% extends 'generic/Popup.twig' %}
{% block popup_id %}announcement-settings{% endblock %}
{% block title %}Announcement{% endblock %}
{% block body %}
  <input type="hidden" name="csrf_token" value="{{ csrf_token }}"/>
  <label for="queue-announcement-message" class="announcement-setting">
    <span class="option-title">Edit Office Hours Queue Announcements</span>
    <br>
    <span class="option-alt">
      Messages typed here will appear to all students.<br>
      Leave it empty to hide the announcement.<br>
    </span>
  </label>
  <br/>
  {% include "misc/MarkdownArea.twig" with {
    "markdown_area_id" : "queue-announcement-message",
    "markdown_area_query" : "$('#queue-announcement-message')",
    "markdown_area_name" : "queue_announcement_message",
    "markdown_area_value" : viewer.getQueueAnnouncementMessage(),
    "placeholder" : "Enter announcement here...",
    "preview_div_id" : "queue_announcement_message_preview",
    "preview_div_name" : "queue_announcement_message_preview",
    "onclick" : "previewQueueMarkdown.call(this)",
    "render_buttons" : true,
    "min_height" : min_height,
  } only %}
{% endblock %}
{% block form %}
  <form method="post" id="announcement_form" action="{{base_url}}/update_announcement">
    {{ parent() }}
  </form>
{% endblock %}
{% block buttons %}
  {{ block('close_button') }}
  <button id="save_announcement" type="submit" class="btn btn-primary">Save</button>
{% endblock %}
