{% if viewer.isGrader()%}
  {% include('officeHoursQueue/QueueFilter.twig') %}
  {% include('officeHoursQueue/QueueWhiteboard.twig') %}

  <p>
    For more information: <a target=_blank href="https://submitty.org/grader/queue">
    Managing the Office Hours Queue <i style="font-style:normal;" class="fa-question-circle"></i></a>
    <br><br>
  </p>
  <div>
    <button id="toggle_filter_settings" class="btn btn-primary filter_btn" type="button" onclick="$('#filter-settings').show()">
      Filter Settings
    </button>
    <button id="toggle_whiteboard_settings" class="btn btn-primary filter_btn" type="button" onclick="$('#whiteboard-settings').show()">
      Edit Whiteboard
    </button>
    <button id="auto_refresh_btn" class="btn btn-default filter_btn" type="button" onclick="toggleAutoRefresh()">
      Turn On Auto Refresh
    </button>
    <button id="notification_btn" class="btn btn-default filter_btn" type="button" onclick="enableNotifications()">
      Enable Notifications
    </button>
  </div>

  <style>
    {% for color in viewer.getColors() %}
      .row_color_{{loop.index0}}{
        background: {{color}}!important;
      }
    {% endfor %}
  </style>
{% endif %}
