<div id='student_queue_history'>
    <br>
    <h2>Student's Queue History</h2>
    <p>Student ID</p>
    <div id='search-student-queue'>
        <input id='search-student-queue-input' data-testid='search-student-queue-input' type='text' placeholder="Enter student's name">
        <button id='search-student-queue-btn' data-testid='search-student-queue-btn' class="btn btn-primary">Search</button>
    </div>
    <table id='student-queue-table'>
        <caption></caption>
        <thead>
            <tr>
                <th scope='col'>#</th>
                <th scope='col'>Current state</th>
                <th scope='col'>Queue</th>
                <th scope='col'>Time Entered</th>
                <th scope='col'>Time In Queue</th>
                <th scope='col'>Time Helped</th>
                <th scope='col'>Help Started By</th>
                <th scope='col'>Removal Type</th>
            </tr>
        </thead>
        <tbody id="search-student-tbody">

        </tbody>
    </table>
</div>

<script>
    $('#search-student-queue-input').autocomplete({
        source: {{ student_full| raw }}
    });
    const url = buildCourseUrl(['queue', 'student_search']);
    const search_student_queue = $('#search-student-queue-input');
    const search_student_queue_btn = $('#search-student-queue-btn');

    const table_body = $('#search-student-tbody');
    const table_caption = $('#student-queue-table caption')
    const times_helped_row = $('<tr class="times_helped_row"></tr>');
    const times_helped_cell = times_helped_row.append('<td class="times_helped_cell" colspan="8"></td>');
    times_helped_row.append(times_helped_cell);

    search_student_queue_btn.on('click', event => {
        $.ajax({
            url: url,
            type: 'POST',
            data: {
                student_id: search_student_queue.val(),
                // eslint-disable-next-line no-undef
                csrf_token: csrfToken
            },
            success: function(response) {
                let i = 0;
                let help_counter = 0;
                console.log(response);
                const data = JSON.parse(response).data;
                const student_data = JSON.parse(data);
                table_caption.text(`${student_data[0].name} - (ID:${student_data[0].user_id}) - Contact: ${student_data[0].contact_info}`);

                student_data.forEach(function(student, i) {
                    if (student.removal_type === 'helped') {
                        help_counter++;
                    }
                    const time_start = student.time_in;
                    const time_end = student.time_out === null ? '-' : student.time_out;
                    const removed_by = student.removed_by === null ? '-' : student.removed_by;
                    const helper = student.help_started_by === null ? '-' : student.help_started_by;
                    const removal_method = student.removal_type === null ? '-' : student.removal_type;

                    table_body.append($('<tr></tr>')
                        .append($('<td></td>').attr('data-testid', 'student-row').text(i+1))
                        .append($('<td></td>').text(student.current_state))
                        .append($('<td></td>').text(student.queue_code))
                        .append($('<td></td>').text(time_start))
                        .append($('<td></td>').text(time_end))
                        .append($('<td></td>').text(removed_by))
                        .append($('<td></td>').text(helper))
                        .append($('<td></td>').text(removal_method)));
                    i++;
                });

                times_helped_cell.text(`${help_counter} times helped.`);
                table_body.append(times_helped_row);
            },
            error: function() {
                window.alert('Something went wrong while searching for students!');
            },
        });
    });
</script>

