<div id='student_queue_history'>
    <br>
    <h2>Student's Queue History</h2>
    <p>Student ID</p>
    <div id='search-student-queue'>
        <input id='search-student-queue-input' data-testid='search-student-queue-input' type='text' placeholder="Enter student's name">
        <button id='search-student-queue-btn' data-testid='search-student-queue-btn' class="btn btn-primary">Search</button>
    </div>
    <table id='student-queue-table' class="table table-striped" style="margin-top: 15px;">
        <caption style="padding: 5px; border: 1px solid var(--standard-light-gray); font-weight: 600;"></caption>
        <thead>
            <tr>
                <th scope='col'>#</th>
                <th scope='col'>Current state</th>
                <th scope='col'>Queue</th>
                <th scope='col'>Time Entered</th>
                <th scope='col'>Time In Queue</th>
                <th scope='col'>Time Helped</th>
                <th scope='col'>Help Started By</th>
                <th scope='col'>Removal Type</th>
            </tr>
        </thead>
        <tbody id="search-student-tbody">

        </tbody>
    </table>
</div>

<script>
    const search_student_queue = document.getElementById('search-student-queue-input');
    const search_student_queue_btn = document.getElementById('search-student-queue-btn');
    const table_body = document.getElementById('search-student-tbody');
    const table_caption = document.querySelector('#student-queue-table caption')
    const times_helped_row = document.createElement('tr');
    const times_helped_cell = document.createElement('td');
    times_helped_cell.setAttribute('colspan', '8');
    times_helped_cell.style.backgroundColor = 'var(--standard-vibrant-green)';
    times_helped_row.appendChild(times_helped_cell);
    const url = buildCourseUrl(['queue', 'student_search']);
    search_student_queue_btn.addEventListener('click', event => {
        table_body.textContent = '';
        table_caption.textContent = '';
        $.ajax({
            url: url,
            type: 'POST',
            data: {
                student_id: search_student_queue.value,
                // eslint-disable-next-line no-undef
                csrf_token: csrfToken
            },
            success: function(response) {
                let i = 0;
                let help_counter = 0;
                const data = JSON.parse(response).data;
                const student_data = JSON.parse(data);
                table_caption.textContent = `${student_data[0].name} - (ID:${student_data[0].user_id}) - Contact: ${student_data[0].contact_info}`;
                while (i < student_data.length){
                    const detail_row = document.createElement('tr');
                    let j = i + 1;
                    if (student_data[i].removal_type === 'helped') {
                        help_counter++;
                    }
                    const time_start = student_data[i].time_in;
                    const time_end = student_data[i].time_out === null ? '-' : student_data[i].time_out;
                    const removed_by = student_data[i].removed_by === null ? '-' : student_data[i].removed_by;
                    const helper = student_data[i].help_started_by === null ? '-' : student_data[i].help_started_by;
                    const removal_method = student_data[i].removal_type === null ? '-' : student_data[i].removal_type;

                    const row_index = document.createElement('td');
                    row_index.setAttribute('data-testid', 'student-row');
                    row_index.textContent = j;
                    detail_row.appendChild(row_index);

                    const row_current_state = document.createElement('td');
                    row_current_state.textContent = student_data[i].current_state;
                    detail_row.appendChild(row_current_state);

                    const row_queue_code = document.createElement('td');
                    row_queue_code.textContent = student_data[i].queue_code;
                    detail_row.appendChild(row_queue_code);

                    const row_time_start = document.createElement('td');
                    row_time_start.textContent = time_start;
                    detail_row.appendChild(row_time_start);

                    const row_time_end = document.createElement('td');
                    row_time_end.textContent = time_end;
                    detail_row.appendChild(row_time_end);

                    const row_removed_by = document.createElement('td');
                    row_removed_by.textContent = removed_by;
                    detail_row.appendChild(row_removed_by);

                    const row_helper = document.createElement('td');
                    row_helper.textContent = helper;
                    detail_row.appendChild(row_helper);

                    const row_removal_method = document.createElement('td');
                    row_removal_method.textContent = removal_method;
                    detail_row.appendChild(row_removal_method);

                    table_body.appendChild(detail_row);
                    i++;
                }
                times_helped_cell.textContent = help_counter + ' times helped.';
                table_body.appendChild(times_helped_row);
            },
            error: function() {
                window.alert('Something went wrong while searching for students!');
            },
        });
    });
</script>

