<script>
  var title = "Darrin 308"
  note_left = "reserved for left-handed students"
  note_right = "skip every other seat"

  var red = "#d00000";
  var blue = "#0400d0";
  var green = "#0b8f0a";
  var yellow = "#e4c012";

  var config = {
    "left": {
      "J": {
        "rows": [13,14],
        "color": red,
      },
      "K": {
        "rows": [9,10,11],
        "color": green,
      },
      "L": {
        "rows": [5,6,7],
        "color": blue,
      },
      "M": {
        "rows": [1,2,3],
        "color": yellow,
      },
    },

    "middle": {
      "N": {
        "rows": [12,13],
        "color": blue,
      },
      "O": {
        "rows": [9,10],
        "color": yellow
      },
      "P": {
        "rows": [5,6,7],
        "color": red,
      },
      "Q": {
        "rows": [1,2,3],
        "color": green,
      },
    },

    "right": {
      "R": {
        "rows": [13,14],
        "color": red,
      },
      "S": {
        "rows": [9,10,11],
        "color": green,
      },
      "T": {
        "rows": [5,6,7],
        "color": blue,
      },
      "U": {
        "rows": [1,2,3],
        "color": yellow,
      },
    }
  }
</script>