<script>
  var title = "Darrin 318"
  note_left = "reserved for left-handed students"
  note_right = "skip every other seat"

  var red = "#d00000";
  var blue = "#0400d0";
  var green = "#0b8f0a";
  var yellow = "#e4c012";
  var magenta = "#d000d0";

  var config = {
    "left": {
      "A": {
        "rows": [7,8,9,10,11],
        "color": red,
      },
      "B": {
        "rows": [1,2,3,4,5],
        "color": green,
      },
    },

    "middle": {
      "C": {
        "rows": [10,11],
        "color": blue,
      },
      "D": {
        "rows": [7,8],
        "color": green,
      },
      "E": {
        "rows": [4,5],
        "color": yellow,
      },
      "F": {
        "rows": [1,2],
        "color": red,
      },
    },

    "right": {
      "G": {
        "rows": [7,8,9,10,11],
        "color": yellow,
      },
      "H": {
        "rows": [1,2,3,4,5],
        "color": blue,
      },
    }
  }
</script>
