name: Localization Update

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  dispatch-update:
    name: Dispatch Update
    runs-on: ubuntu-latest
    steps:
      - uses: Submitty/peter-evans-repository-dispatch@v24.07.00
        with:
          event-type: version-up
          token: ${{ secrets.SUBMITTYBOT_DEPENDENCY_TOKEN }}
          repository: ${{ github.repository_owner }}/Localization
          client-payload: '{ "ref": "${{ github.ref }}", "ref_name": "${{ github.ref_name }}" }'
