<div id="grading-panel-header">
    <div class="panel-header-box">
        <span class="grade-panel">
            <button title="Show/Hide Autograding Testcases (Press A)"
                    class="invisible-btn key_to_click"
                    tabindex="0"
                    onclick="toggleAutograding(); updateCookies()";
            >
                <i class="fas fa-list"></i>Autograding Testcases
            </button>
        </span>
        <span class="grade-panel">
            <button title="Show/Hide Grading Rubric (Press G)"
                    class="invisible-btn key_to_click"
                    tabindex="0"
                    onclick="toggleRubric(); updateCookies();"
            >
                <i class="fas fa-edit"></i>Grading Rubric
            </button>
        </span>
        <span class="grade-panel">
            <button title="Show/Hide Submission and Results Browser (Press O)"
                    class="invisible-btn key_to_click"
                    tabindex="0"
                    onclick="toggleSubmissions(); updateCookies();"
            >
                <i class="fas fa-folder-open"></i>Submission and Results Browser
            </button>
        </span>
        {% if ((not peer_gradeable) or (peer_gradeable and not i_am_a_peer )) or true %}
            <span class="grade-panel">
                <button title="Show/Hide Student Information (Press S)"
                        class="invisible-btn key_to_click"
                        tabindex="0"
                        onclick="toggleInfo(); updateCookies();"
                >
                    <i class="fas fa-user"></i>Student Information
                </button>
            </span>
        {% endif %}
        {% if peer_gradeable and not i_am_a_peer or true %}
            <span class="grade-panel">
                <button title="Show/Hide Peer Information (Press P)"
                        class="invisible-btn key_to_click"
                        tabindex="0"
                        onclick="togglePeer(); updateCookies();"
                >
                    <i class="fas fa-users"></i>Peer Information
                </button>
            </span>
        {% endif %}
        {% if discussion_based or true %}
            <span class="grade-panel">
                <button title="Show/Hide Discussion Posts"
                        class="invisible-btn key_to_click"
                        tabindex="0"
                        onclick="toggleDiscussion(); updateCookies();"
                >
                    <i class="fas fa-comment-alt"></i>Discussion Posts
                </button>
            </span>
        {% endif %}
        {% if regrade_panel_available or true %}
            <span class="grade-panel">
                <button title="Show/Hide Grade Inquiry Information (Press X)"
                        class="invisible-btn key_to_click"
                        tabindex="0"
                        onclick="toggleRegrade(); updateCookies();"
                >
                   <i class="fas {{ grade_inquiry_pending ? 'fa-exclamation' : 'fa-hand-paper' }} grade_inquiry_icon"></i>
                   Grade Inquiry Information
                </button>
            </span>
        {% endif %}
    </div>
</div>
